@import 'part:@sanity/base/theme/variables-style';

.root {
}

.content {
  position: relative;

  @nest &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1px var(--hairline-color);
    pointer-events: none;
    border-radius: var(--input-border-radius);
  }

  @nest .root.focused &::after {
    box-shadow: inset 0 0 0 1px var(--focus-color), 0 0 0 1px var(--focus-color);
  }
}

.functions {
  margin-top: var(--small-padding);

  @media (--screen-medium) {
    margin-top: var(--medium-padding);
  }
}

.uploadState {
  background-color: color(var(--component-bg) a(90%));
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;

  @nest & > div {
    width: 90%;
  }
}

.cancelButton {
  margin-top: var(--medium-padding);
}

.assetWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  position: relative;
  transition: background-color 0.1s linear;
  max-height: 10rem;
  overflow: hidden;
  flex-grow: 1;
  box-sizing: border-box;
  background-color: color(var(--gray-lightest) alpha(50%));
  border-radius: var(--input-border-radius);

  @media (--screen-medium) {
    min-height: 12rem;
    max-height: 27rem;
    min-width: 12rem;
    height: auto;

    @nest .noContent & {
      flex-basis: 100%;
    }
  }

  @nest .root.readOnly & {
    background-image: none;
    background: var(--input-bg-disabled);
    color: var(--gray-dark);
  }
}

.previewAsset {
  text-align: center;
  display: flex;
  align-items: center;

  @nest & a {
    display: block;
  }
}

.fileIcon {
  font-size: 3em;
  margin-right: var(--medium-padding);
  display: flex;
  align-items: center;
}

.fileLabel {
  font-size: var(--font-size-small);
  font-weight: 600;
  margin-bottom: var(--small-padding);
}
