@import 'part:@sanity/base/theme/variables-style';

:root {
  --checkbox-off-color: var(--gray-light);
  --checkbox-color: var(--brand-primary);
  --checkbox-button-size: 1em;
  --checkbox-top-offset: 0;
  --checkbox-focus-color: var(--brand-primary);
  --checkbox-disabled-border: var(--input-bg-disabled);
  --checkbox-disabled-background: var(--input-color-disabled);
}

.root {
  position: relative;
  display: flex;
  margin-bottom: var(--small-padding);
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  outline: none;
  z-index: 1;
}

.checkbox {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--checkbox-button-size);
  width: var(--checkbox-button-size);
  border: 1px solid var(--checkbox-off-color);
  border-radius: 3px;
  margin-top: 1px;
  margin-right: var(--small-padding);
  line-height: 1;

  @nest & .mark {
    position: absolute;
    top: calc((100% - var(--checkbox-button-size)) / 2);
    left: calc((100% - var(--checkbox-button-size)) / 2);
    transform: scale(0.5);
    opacity: 0;
    flex: 1;
    height: var(--checkbox-button-size);
    width: var(--checkbox-button-size);
  }
}

.input:indeterminate + .checkbox {
  @nest & .indeterminate {
    display: block;
    opacity: 1;
    transform: scale(0.6);
  }
}

.input:focus + .checkbox {
  border-color: transparent;

  @nest &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border: 2px solid var(--checkbox-focus-color);
    border-radius: 5px;
    box-sizing: border-box;
    background: var(--component-bg);
  }
}

.input:checked + .checkbox {
  @nest & .checkmark {
    opacity: 1;
    transform: scale(0.8);
  }
}

.input:disabled + .checkbox {
  background: var(--checkbox-disabled-border);

  @nest & svg {
    color: var(--checkbox-disabled-background);
  }
}
