@import 'part:@sanity/base/theme/variables-style';
@import 'part:@sanity/base/theme/animation-style';

:root {
  --switch-color: var(--brand-primary);
  --focus-color: var(--brand-primary);

  /* Thumb */
  --thumb-size: calc(var(--track-height) * 0.7);
  --thumb-color: var(--switch-color);
  --thumb-off-color: var(--white);
  --thumb-on-color: var(--white);
  --thumb-disabled-color: var(--input-color-disabled);
  --thumb-offset: 4px;
  /* Track */
  --track-height: 1.4em;
  --track-width: 2.5em;
  --track-disabled-color: var(--input-bg-disabled);
  --track-color: var(--gray-light);
  --track-off-color: var(--gray);
  --track-on-color: var(--state-success-color);

}

.root {
  position: relative;
  display: flex;
}

.input {
  /* Hide input element, while still making it respond to focus. */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  outline: none;
  z-index: 1;
}

.switchWrapper {
  flex-shrink: 0;
  position: relative;
  margin-right: var(--small-padding);
  height: var(--track-height);
  width: var(--track-width);
  border-radius: var(--track-height);
  border: 2px solid transparent;
}

.thumb {
  background: var(--thumb-off-color);
  position: absolute;
  left: var(--thumb-offset);
  top: calc((100% - var(--thumb-size)) / 2);
  height: var(--thumb-size);
  width: var(--thumb-size);
  border-radius: var(--thumb-size);
  cursor: default;
  composes: animation-default from 'part:@sanity/base/theme/animation-style';
  transform-origin: left;
  transition-property: transform;
}

.track {
  background: var(--track-off-color);
  position: absolute;
  left: 0;
  top: 0;
  height: var(--track-height);
  width: var(--track-width);
  border-radius: var(--track-height);
  cursor: default;
  border: 1px solid var(--white);
  box-sizing: border-box;
}

.input:focus + .switchWrapper {
  border-color: var(--focus-color);
}

.input:checked + .switchWrapper {
  @nest & .thumb {
    background: var(--thumb-on-color);
    transform: translate3d(
      calc(var(--track-width) - var(--thumb-size) - (var(--thumb-offset) * 2)),
      0,
      0
    );
  }

  @nest & .track {
    background: var(--track-on-color);
  }
}

.input:disabled + .switchWrapper {
  @nest & .thumb {
    background: var(--thumb-disabled-color);
    cursor: auto;
    opacity: 0.8;
  }

  @nest & .track {
    background: var(--track-disabled-color);
    cursor: default;
    border: 1px solid var(--gray-light);
  }
}

.input:indeterminate + .switchWrapper {
  @nest & .thumb {
    transform: translate3d(
      calc((var(--track-width) - var(--thumb-size) - (var(--thumb-offset) * 2)) / 2),
      0,
      0
    );
  }
}
