@import 'part:@sanity/base/theme/variables-style';

:root {
  --history-circle-size: calc(0.5em + 1px);
  --history-line-top: var(--small-padding);
  --history-line-left: calc(var(--medium-padding) + 3px);
}

.root {
  position: relative;
  padding: var(--medium-padding);
  padding-top: calc(var(--small-padding) * 1.75);
  padding-left: calc(var(--medium-padding) * 2);
  box-sizing: border-box;
  width: 100%;
}

.unSelected {
  composes: root;
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
}

.selected {
  composes: root;
  composes: selected from 'part:@sanity/base/theme/layout/selectable-style';
}

.disabled {
  composes: root;
}

.startLine {
  height: calc(var(--small-padding) + var(--history-line-top) - 1px);
  width: 0;
  position: absolute;
  top: 0;
  left: var(--history-line-left);
  border-left: 1px solid currentColor;
  opacity: 0.2;

  @nest .root:first-child & {
    display: none;
  }

  @nest .selected & {
    opacity: 1;
  }
}

.endLine {
  height:
    calc(
      100% - var(--small-padding) - var(--history-circle-size) - var(--history-line-top) + 1px
    );
  width: 0;
  position: absolute;
  top: calc(var(--small-padding) + var(--history-circle-size) + var(--history-line-top) - 1px);
  left: var(--history-line-left);
  border-left: 1px solid currentColor;
  opacity: 0.2;

  @nest .root:last-child & {
    display: none;
  }

  @nest .selected & {
    opacity: 1;
  }
}

.icon {
  position: absolute;
  top: calc(var(--small-padding) + var(--history-line-top) - 1px);
  left: calc(var(--history-line-left) - var(--history-circle-size) / 2 + 0.5px);
}

.status {
  text-transform: uppercase;
  font-size: var(--font-size-xsmall, 0.75rem);
  letter-spacing: 0.5px;
  line-height: 1;
}

.users {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: var(--font-size-large);
}

.userIcons {
  display: flex;
}

.user {
  width: 0.5em;
  height: 0.5em;
  position: relative;
}

.user + .user {
  margin-left: 1px;
}

.userInner {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-25%);
}

.userInner > * {
  box-sizing: border-box;
  border-radius: 50%;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.user:last-child .userInner {
  clip-path: none !important;
}

.userName {
  margin-left: var(--medium-padding);
  font-size: var(--font-size-xsmall, 0.75rem);
}

.title {
  font-weight: 600;
  margin-bottom: var(--small-padding);
  margin-top: 1px;
}

.children {
  padding: var(--medium-padding) 0;
}

.truncatedInfo {
  margin: var(--small-padding) 0 var(--medium-padding) 0;

  @nest & p {
    font-size: var(--font-size-xsmall, 0.75rem);
    margin: 0 0 var(--small-padding);
  }

  @nest .selected & a {
    color: inherit;
  }
}
