:root {
  --zindex-pane: 900;
  --zindex-navbar: 1000;
  --zindex-navbar-fixed: 1010;
  --zindex-dropdown: 1010;
  --zindex-fullscreen-edit: 1050;
  --zindex-portal: 1060;
  --zindex-popover-background: 1060;
  --zindex-popover: 1070;
  --zindex-tooltip: 1100;
  --zindex-modal-background: 2000;
  --zindex-modal: 2010;
  --zindex-moving-item: 3000;
  --zindex-spinner: 3000;
  --zindex-drawershade: 4000;
  --zindex-drawer: 4001;
}
