@import 'part:@sanity/base/theme/variables/brand-colors-style';
@import 'part:@sanity/base/theme/variables/gray-colors-style';

:root {
  /* Selectable item */
  --selectable-item-base: var(--brand-primary);
  --selectable-item-color: var(--component-bg);
  --selectable-item-color--inverted: var(--text-color);
  --selectable-item-color-hover: color(var(--component-bg) blend(var(--selectable-item-base) 10%));
  --selectable-item-color-hover--inverted: var(--selectable-item-color--inverted);
  --selectable-item-color-focus: color(var(--component-bg) blend(var(--selectable-item-base) 25%));
  --selectable-item-color-focus--inverted: var(--selectable-item-color--inverted);
  --selectable-item-color-active: color(var(--component-bg) blend(var(--selectable-item-base) 25%));
  --selectable-item-color-active--inverted: var(--selectable-item-color--inverted);
  --selectable-item-color-highlighted: color(
    var(--component-bg) blend(var(--selectable-item-base) 30%)
  );

  /* Selected Item */
  --selected-item-color: var(--selectable-item-base);
  --selected-item-color--inverted: color(var(--selectable-item-base) contrast(80%));
  --selected-item-color-hover: var(--selected-item-color);
  --selected-item-color-hover--inverted: var(--selected-item-color--inverted);
}
