@import 'part:@sanity/base/theme/variables-style';

.card {
  display: inline-block;
  padding: calc(var(--small-padding) - 3px) var(--small-padding) calc(var(--small-padding) - 2px);
  word-wrap: break-word;
}
