@use postcss-cssnext;

.root {
  composes: root from 'style:@sanity/base/theme/forms/control';
}

.inner {
  composes: inner from 'style:@sanity/base/theme/forms/control';
}

.input {
  composes: textInput from 'style:@sanity/base/theme/forms/text-input';
}

.clearButton {
  composes: textInput from '../../styles/ClearButton.css';
}
