@use postcss-cssnext;

.root {
  composes: root from '../../styles/Control.css';
}

.inner {
  composes: inner from '../../styles/Control.css';
}

.input {
  composes: textInput from '../../styles/TextInput.css';
}

.inputError {
  composes: error from '../../styles/TextInput.css';
}

.clearButton {
  composes: textInput from '../../styles/ClearButton.css';
}

.error {
  composes: root;
}
