@import 'style:@sanity/base/theme/variables';

@use postcss-cssnext;

.root {
  position: relative;
}

.inner {

}

.textarea {
  width: 100%;
  max-width: 100%;
  outline: 0;
  box-sizing: border-box;
  resize: vertical;
  padding: 0.5em;
  font-size: 1em;

  &:hover {
    border-color: var(--input-border-color-hover);
  }

  &:focus {
    border-width: 3px;
    border-color: var(--input-border-color-focus);
  }

  &:active {
    border-color: var(--input-border-color-active);
  }

}

.clearButton {
  composes: TopRight from '../../styles/ClearButton.css';
}
