@import 'part:@sanity/base/theme/variables-style';

.frosted {
  background-color: color(var(--component-bg) a(95%));

  @supports (backdrop-filter: blur(10px)) {
    background-color: color(var(--component-bg) a(50%));
    backdrop-filter: blur(5px)
  }
}
