.recipe {
  margin: 2rem;
  text-align: center;
  width: auto;
  background-color: #000;
  color: #eee;
  padding: 2em;
}

.sanityIcons {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 3em;
  margin-bottom: 2rem;
}

.item {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.iconName {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1em;
  color: #000;
}

.icon {
  text-align: center;
}

.icon svg {
  display: inline-block;
  height: 3em;
  width: 3em;
}

.sanityIcon {
  display: block;
  padding-top: 1em;
  color: inherit;
}

.part {
  composes: root from 'part:@sanity/base/theme/typography/code-style';
  font-size: 0.5em;
  background-color: inherit;
  color: inherit;
}

/* .iconPreview {
  color: inherit;
}

.iconPreviewXL {
  composes: iconPreview;
  font-size: 4em;
}

.iconPreviewL {
  composes: iconPreview;
  font-size: 3em;
}

.iconPreviewM {
  composes: iconPreview;
  font-size: 2em;
}

.iconPreviewS {
  composes: iconPreview;
  font-size: 1em;
}

.iconPreviewXS {
  composes: iconPreview;
  font-size: 0.5em;
} */
