@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
}

.list {
  /* overide default list */
  @nest .root & {
    user-select: none;
  }
}

.item {
  padding-bottom: var(--extra-small-padding);
}

.inputLabel {
  display: none;
}

.functions {
  @nest .list + & {
    margin-top: calc(var(--medium-padding) - var(--extra-small-padding));
  }

  &:empty {
    display: none;
  }
}
