.items {
  padding: 0;
  overflow-y: auto;
}

.item {
  display: inline-block;
  list-style-type: none;
  padding: 2px 10px;
  margin: 8px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 1px 0 rgba(217, 217, 217, 1);
}

.itemSelected {
  composes: item;
  background-color: #0b97c4;
}

.itemCurrent {
  composes: item;
  background-color: #b0b1ac;
}

.item:hover {
  background-color: #ace1ea;
  color: #fff;
}
