@import 'part:@sanity/base/theme/variables-style';

:root {
  --pi: 3.14159265359;
  --circumference: calc(var(--pi) * 100);
  --stroke-width: 1px;
}

@keyframes finish {
  0% {
    stroke-width: 1em;
  }

  10% {
    stroke-width: 0.5em;
  }

  90% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(2);
    opacity: 0;
    stroke-width: 1px;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes strokeWidth {
  0% {
    stroke-width: 0;
  }

  50% {
    stroke-width: var(--stroke-width);
  }

  100% {
    stroke-width: 0;
  }
}

@keyframes strokeDash {
  0% {
    stroke-dasharray: 0, var(--circumference);
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: var(--circumference), 0;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: var(--circumference), var(--circumference);
    stroke-dashoffset: calc(var(--circumference) * -1);
  }
}

.root {
  width: 100%;
  display: block;
}

.completed {
  composes: root;
}

.unCompleted {
  composes: root;
}

.svg {
  display: block;
  margin: 0 auto;
}

.background {
  stroke: var(--black);
  stroke-width: 0.5em;
  opacity: 0.05;
  fill: none;
  transition: opacity 0.2s linear;

  @nest .completed & {
    opacity: 0;
  }
}

.foreground {
  transform-origin: center center;
  stroke: var(--black);
  fill: none;
  stroke-width: 0.5em;
  transition: stroke 0.2s linear, opacity 0.3s linear;

  @nest .completed & {
    stroke: var(--state-success-color);
    animation-name: finish;
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @nest .hundredPercent & {
    stroke: var(--state-success-color);
  }
}

.activeCircle {
  transform-origin: center center;
  stroke: var(--black);
  fill: none;
  stroke-width: var(--stroke-width);
  stroke-dasharray: 0, var(--circumference);
  animation: strokeDash 6s ease-out infinite, strokeWidth 3s ease-out infinite,
    rotate 18s linear infinite;

  @nest .completed & {
    opacity: 0;
  }
}

.text {
  font-weight: 400;
  font-size: 1em;
  fill: inherit;
  transform-origin: center center;

  @nest .completed & {
    animation-name: finish;
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.percent {
  composes: text;
  font-weight: 400;
}

.status {
  composes: text;
  fill: inherit;
  font-weight: 400;
  font-size: 0.7em;

  @nest .completed & {
    animation-name: finish;
    animation-delay: 0.2s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}
