@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  position: relative;
}

.list {
  user-select: none;
}

.listReadOnly {
  composes: list;
  opacity: 0.5;
}

.functions {
  composes: functions from 'part:@sanity/components/fieldsets/default-style';
}

.list + .functions {
  padding-top: var(--small-padding);

  @media (--screen-medium) {
    padding-top: var(--medium-padding);
  }
}

.popupAnchor {
  position: absolute;
  top: 75%;
  left: 2em;
}

.movingItem {
  composes: movingItem from 'part:@sanity/base/theme/layout/helpers';
}

.listItem {
  composes: listItemStates from 'part:@sanity/base/theme/layout/backgrounds-style';
  composes: lineBetween from 'part:@sanity/components/lists/default-item-style';
  padding: 0;
  cursor: default;
}

.listItemMute {
  composes: lineBetween from 'part:@sanity/components/lists/default-item-style';
}

.gridItem {
  display: block;
}

.popupAnchorRelative {
  margin-left: calc(var(--medium-padding) * -1);
  margin-right: calc(var(--medium-padding) * -1);

  /* Hack for the draghandle */
  @nest &.sortable {
    margin-left: calc(var(--medium-padding) * -1 - 2.5rem);
  }
}

.warning {
  composes: root from 'part:@sanity/components/fieldsets/default-style';
  padding: var(--medium-padding);
  border: 2px dashed var(--state-warning-color);
}

.missingKeysWarning {
  composes: warning;
  padding: 1em;
}

.fixMissingKeysButtonWrapper {
  margin: 1em 0;
}

.nonObjectsWarning {
  composes: warning;
  padding: 1em;
}

.removeNonObjectsButtonWrapper {
  composes: fixMissingKeysButtonWrapper;
}
