@import 'part:@sanity/base/theme/variables-style';

.root {
  display: inline-block;
  position: relative;
}

.popoverAnchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
}

.wrapper {
  padding: var(--medium-padding);
}
