@import 'part:@sanity/base/theme/variables-style';

.root {
  display: inline-block;
  position: relative;

  @nest &:hover {
    color: var(--state-danger-color);
  }
}

.wrapper {
  padding: var(--small-padding);
}
