@import 'part:@sanity/base/theme/variables-style';

.root {
  display: inline-block;
  position: relative;

  @nest &:hover {
    color: var(--state-danger-color);
  }
}

.popoverAnchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
}

.wrapper {
  padding: var(--medium-padding);
}

.captureTabFocus {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
