@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--extra-small-padding) 0;
}

.innerWithError {
  composes: inner;
}

.listItem {
  composes: root;
}

.gridItem {
  composes: root;
}

.popupAnchor {
  /*
    This is where the popover sticks to
  */
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--selectable-item-color-highlighted);
}

.editRootFold {
  position: relative;
  width: calc(100% + var(--medium-padding) * 2);
  margin-left: calc(var(--medium-padding) * -1);
}

.missingKeyMessage {
  color: var(--state-warning-color);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
  padding: var(--extra-small-padding) var(--small-padding);
  background-color: var(--input-bg);
}

.dragHandle {
  display: block;
  flex-grow: 0;
  margin-right: var(--extra-small-padding);

  @nest & > button {
    cursor: ns-resize;
  }
}

.linkToReference {
}

.previewWrapper {
  composes: listItemStates from 'part:@sanity/base/theme/layout/backgrounds-style';
  border-radius: var(--border-radius-base);
  flex-grow: 1;
  outline: none;
  user-select: none;
  min-width: 0;

  @nest &:focus {
    box-shadow: var(--input-box-shadow--focus);
  }
}

.previewWrapperHelper {
  outline: none;
}

.previewWrapperHelper:focus {
  @nest .innerWithError & {
    box-shadow: var(--input-box-shadow--invalid-focus);
  }
}

.functions {
  display: flex;
  align-items: center;
  flex-grow: 0;
  color: var(--text-color-secondary);
  margin-left: var(--extra-small-padding);
}

.functionsInGrid {
  composes: functions;
  position: absolute;
  top: var(--extra-small-padding);
  right: var(--extra-small-padding);
  z-index: 1;
  color: var(--text-color);

  @nest & > * {
    margin: 0;
  }

  @media (hover: hover) {
    display: none;

    @nest .root:hover & {
      display: block;
    }
  }
}

.validationIconError {
  composes: validationIconError from 'part:@sanity/base/theme/forms/validation-style';
}
