@import 'part:@sanity/base/theme/variables-style';

.root {
  color: inherit;
  line-height: 1em;
}

.input {
  border: none;
  outline: none;
  color: inherit;
  width: 100%;
  background-color: transparent;
  padding-left: 1.2em;
  line-height: 1em;
  font-size: inherit;
}

.listContainer {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: auto;
  backdrop-filter: blur(10px);
  composes: shadow-5dp from "part:@sanity/base/theme/shadows-style";
}

.listContainerClosed {
  display: none;
}

.label {
  font-size: inherit;
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-60%);
}

.icon {
  font-size: 1em;
}

.spinner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5em;
}

.labelText {
  display: none;
}

.topItems {
  background-color: #ccc;
}

.items {
  background-color: color(var(--component-bg) a(90%));
  composes: resetList from "part:@sanity/base/theme/layout/helpers";
}

.item {
  composes: resetListItem from "part:@sanity/base/theme/layout/helpers";
  background-color: transparent;
  cursor: default;

  @nest &:hover {
    background-color: var(--gray-light--transparent);
  }
}

.topItem {
  composes: item;
  background-color: var(--gray-darker-transparent);
  color: var(--brand-white);

  @nest &:hover {
    background-color: var(--gray-darkest--transparent);
  }
}

.selectedItem {
  composes: item;
  background-color: var(--selected-item-color-hover);
  color: var(--selected-item-color-hover--inverted);
}

.selectedTopItem {
  composes: selectedItem;
}
