:root {
  /* Brand colors */
  --brand-primary: #ffed00;
  --brand-primary--inverted: black;
  --brand-secondary: #222;
  --brand-secondary--inverted: #ccc;
  /* Typography */
  /*
  --font-family-sans-serif: 'Nunito';
  --font-size-base: 18px;
  */
  --text-color: #222;
  /* Main Navigation */
  --main-navigation-color: purple;
  /* --main-navigation-color--inverted: white; */

  --gray-base: #777;
}
