@import 'part:@sanity/base/theme/variables-style';

.root {
  box-sizing: border-box;
  min-height: 100%;
  padding: var(--medium-padding);
  display: flex;
  align-items: center;
  justify-content: center;

  @nest & > * {
    min-width: 0;
  }
}
