@import 'part:@sanity/base/theme/variables-style';

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: var(--medium-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--body-bg);
}

.card {
  background-color: var(--component-bg);
  border-radius: var(--border-radius-base);
  width: 100%;
  min-width: 0;
  max-width: 540px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: calc(100% - (var(--medium-padding) * 2));
  display: flex;
  flex-direction: column;

  @nest .color_info & {
    color: var(--state-info-color);
  }

  @nest .color_success & {
    color: var(--state-success-color);
  }

  @nest .color_warning & {
    color: var(--state-warning-color);
  }

  @nest .color_danger & {
    color: var(--state-danger-color);
  }
}

.cardHeader {
  padding: var(--medium-padding);
  border-bottom: 1px solid var(--hairline-color);
  display: flex;
}

.cardTitle {
  composes: heading4 from 'part:@sanity/base/theme/typography/text-blocks-style';
  margin: 0;
  flex: 1;
}

.cardHeaderActions {
  margin: -2px -2px -1px;

  @nest & button {
    appearance: none;
    border: 0;
    background: none;
    color: inherit;
    padding: 0;
    border-radius: var(--border-radius-small);
    font: inherit;
    padding: var(--extra-small-padding);

    @nest & > svg {
      font-size: calc(25 / 16 * 1em);
      display: block;
    }
  }
}

.cardContent {
  -webkit-overflow-scrolling: touch;
  flex: 1;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  padding: var(--medium-padding);
  overflow: auto;

  @nest & p {
    margin: var(--medium-padding) 0;

    @nest & code {
      font-family: var(--font-family-monospace);
      background: var(--code-bg);
      color: var(--code-color);
      border-radius: var(--border-radius-small);
    }
  }

  @nest & pre {
    font-family: var(--font-family-monospace);
    background: var(--code-bg);
    color: var(--code-color);
    padding: var(--small-padding);
    overflow: auto;
    border-radius: var(--border-radius-small);
    margin: var(--medium-padding) 0;

    @nest & code {
      font-family: var(--font-family-monospace);
    }
  }

  @nest & pre, & p {
    @nest &:first-child {
      margin-top: 0;
    }

    @nest &:last-child {
      margin-bottom: 0;
    }
  }
}

.cardButtons {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: var(--small-padding);
  padding: var(--medium-padding);
  border-top: 1px solid var(--hairline-color);
}
