@import 'part:@sanity/base/theme/variables-style';

:root {
  --array--add-item-color: var(--brand-primary);
  --array--add-item-triangle-color: color(
    var(--form-builder--array--add-item-color) lightness(- 20%)
  );
}

.root {
  width: 100%;

  @nest .root[data-color='danger'] & > div {
    background-color: var(--state-danger-color);
    color: var(--state-danger-color--inverted);
  }

  @nest &[data-size='small'] {
    max-width: 20rem !important;
  }

  @nest &[data-size='medium'] {
    max-width: 35rem !important;
  }

  @nest &[data-size='large'] {
    max-width: 50rem !important;
  }
}

.closeButtonContainer {
  margin-left: var(--medium-padding);
}

.closeButton {
  @nest .header & {
    margin: calc(0 - var(--medium-padding) + var(--small-padding));
  }
}

.floatingCloseButtonContainer {
  /* Override Sanity UI */
  @nest &.floatingCloseButtonContainer {
    position: absolute;
  }

  composes: shadow-6dp from 'part:@sanity/base/theme/shadows-style';
  border: 0;
  top: 0;
  right: 0;
  background: var(--component-bg);
  transform: translate(50%, -50%);
  border-radius: 50%;

  @nest & > button > span {
    border-radius: 50% !important;
  }
}

.content {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.contentWrapper {
  @nest .root[data-padding='small'] & {
    padding: var(--medium-padding) var(--small-padding);
  }

  @nest .root[data-padding='medium'] & {
    padding: var(--large-padding) var(--medium-padding);
  }

  @nest .root[data-padding='large'] & {
    padding: var(--extra-large-padding) var(--large-padding);
  }
}

.header {
  /* Override Sanity UI */
  @nest &.header {
    position: relative;
  }

  display: flex;
  line-height: 0;

  @nest &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-bottom: 1px solid var(--hairline-color);
    pointer-events: none;
  }

  @nest .root[data-padding='small'] & {
    padding: var(--small-padding);
  }

  @nest .root[data-padding='medium'] & {
    padding: var(--medium-padding);
  }

  @nest .root[data-padding='large'] & {
    padding: var(--large-padding);
  }
}

.title {
  flex: 1;
  min-width: 0;

  @nest & > h3 {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: 700;
    margin: -2px 0 -1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.footer {
  composes: footer from 'part:@sanity/components/dialogs/default-style';

  @nest .root[data-padding='small'] & {
    padding: var(--small-padding);
  }

  @nest .root[data-padding='medium'] & {
    padding: var(--medium-padding);
  }

  @nest .root[data-padding='large'] & {
    padding: var(--large-padding);
  }
}

.card {
  display: flex;
  flex-direction: column;
}
