@import 'part:@sanity/base/theme/variables-style';

.wrapper {
  height: 100%;
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.searchInput {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 220px;
}

.input {
  composes: textInput from 'part:@sanity/base/theme/forms/text-input-style';
}

:global(.pac-container) {
  /**
   * Google maps renders the "search results" container at the root of the body,
   * and we can't control the placement, so we need to just assume a high z-index works.
   * Because modals can be nested and adds to the z-index, we need a fairly high number
   * to be sure. Important to note that the search results dialog closes automatically
   * (with display: none) once the input loses focus, so it _shouldn't_ cause any
   * "bleed through" issues. In a future version we may consider handling the
   * search/rendering ourselves, which would solve this in a more coherent fashion.
   */
  z-index: calc(var(--zindex-modal) + 10000);
}
