.root {
  /* border: 1px solid #ccc; */
}

.itemList {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 0.25em;
}

.diffItemContainer {
  display: flex;
}

.diffItemIndexes {
  background: #eee;
  width: 1.25em;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
}

.diffItemBox {
  flex: 1;
  min-width: 0;
  /* border-left: 1px solid #ccc; */
  padding-left: 0.25em;
}

.item {
  background: #f1f3f6;
  margin: 0;
  padding: 0.5em;
  font-size: 14px;
  /* border-radius: 4px; */
  overflow: auto;
}

.addedItem {
  composes: item;
  background: #d0f4dc;
}

.changedItem {
  composes: item;
  background: #fdefb6;
}

.removedItem {
  composes: item;
  background: #fcd8d5;
}

.arrayDiffIndexes {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
