@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  position: relative;
  outline: none;
  color: inherit;
}

.hasFocus {
  composes: root;
}

.root:hover .arrow {
  color: var(--link-color);
  
  @nest & svg {
    color: inherit;
    opacity: 1;
    transform: scale(1.1  );
  }
}

.root:focus-within .arrow {
  color: var(--link-color);

  @nest & svg {
    color: inherit;
    opacity: 1;
    transform: scale(1.1  );
  }
}

.select {
  composes: root from 'part:@sanity/base/theme/forms/text-input-style';
  box-sizing: border-box;
  min-width: 7rem;
  appearance: none;
  position: relative;
  overflow: hidden;
  height: 2.5em;
  margin-right: 2.5em;

  @nest &:not(:disabled) {
    @nest &:hover {
      box-shadow: var(--input-box-shadow--hover);
      border-color: var(--input-border-color-hover);
    }

    @nest &:focus, &:focus-within {
      box-shadow: var(--input-box-shadow-thin--focus);
      border-color: var(--input-border-color-focus);
    }

    @nest &:active {
      border-color: var(--input-border-color-active);
    }

    @nest &:invalid {
      border-color: var(--input-border-color-invalid);
      background-color: var(--input-bg-invalid);
      box-shadow: var(--input-box-shadow--invalid);
    }
  }

  @nest &:disabled {
    opacity: 1;
    color: var(--input-color-read-only);
    background: var(--input-bg-disabled);

    @nest & + .functions {
      color: var(--input-color-read-only);
    }
  }
}

.invalid:not(:disabled) {
  border-color: var(--input-border-color-invalid);
  background-color: var(--input-bg-invalid);
  @nest &:hover:not(:focus) {
    border-color: var(--input-border-color-invalid);
  }
  @nest &:focus {
    box-shadow: var(--input-box-shadow--invalid-focus);
  }
}

.disabled:hover {
  @nest & .arrow {
    color: var(--input-color-read-only);
  }
}

.selectContainer {
  position: relative;
  color: var(--input-border-color);

  @nest &:hover {
    color: var(--input-border-color-focus);
  }

  @nest .hasFocus & {
    color: var(--input-border-color-focus);
  }
}

.selectContainerDisabled {
  composes: selectContainer;
  color: var(--input-color);

  @nest &:hover {
    color: inherit;
  }

  @nest .root:hover & {
    border-color: var(--input-border-color-hover);
  }

  @nest .hasFocus & {
    color: inherit;
  }

  @nest &:focus {
    border-color: var(--input-border-color-focus);
    box-shadow: var(--input-box-shadow--focus);
  }
}

.functions {
  display: flex;
  align-items: stretch;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  cursor: default;
  z-index: 1;
  pointer-events: none;
  color: var(--input-color);

  @nest & > * {
    pointer-events: initial;
  }

  @nest & .arrow {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    color: inherit;
    font-size: var(--font-size-large);
  }

  @nest & > *:not(:first-child) {
    margin-left: 0.5em;
  }

  @nest & svg {
    color: inherit;
  }
}
