@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  background: var(--white);
  z-index: 10;
  border-radius: 50%;
  box-sizing: border-box;
}

.root:not(:last-child) {
  margin-right: -0.75rem;
}

.root[data-dock]::before {
  content: '';
  height: 15px;
  width: 15px;
  position: absolute;
  left: calc((100% - 15px) / 2);
  background: var(--brand-primary);
  transform: rotate(45deg);
  border-radius: 2px;
}

.root[data-dock='top']::before {
  top: -3px;
}

.root[data-dock='bottom']::before {
  bottom: -3px;
}

.avatar {
  position: relative;
  background-color: var(--white);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 2px solid var(--brand-primary);
  display: flex;
  justify-content: center;
  align-items: center;

  @nest & .inner {
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 50%;
    background: var(--gray-light);
  }
}

.avatar[data-status='active'] {
  /* solid border */
  border-style: solid;
}

.avatar[data-status='inactive'] {
  /* faded */
}

.avatar[data-status='syncing'] {
  /* dashed border */
  border-style: dashed;
}

.avatar[data-status='attention'] {
  /* pulsing, box-shadow */
}

.avatarImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--white);
  border-radius: 50%;
  overflow: hidden;

  @nest & img {
    height: 100%;
    display: flex;
  }
}

.root[data-hidden] {
  opacity: 0;
}
