@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  background: var(--white);
  z-index: 10;
  border-radius: 50%;
  box-sizing: border-box;
  fill: currentColor;
  pointer-events: auto;
}

.root:not(:last-child) {
  margin-right: -0.75rem;
}

.avatar {
  position: relative;
  background-color: var(--white);
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 2px solid currentColor;
  display: flex;
  justify-content: center;
  align-items: center;

  @nest & .inner {
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 50%;
    background: var(--gray-light);
  }
}

.avatar[data-status='active'] {
  /* solid border */
  border-style: solid;
}

.avatar[data-status='inactive'] {
  /* faded */
}

.avatar[data-status='syncing'] {
  /* dashed border */
  border-style: dashed;
}

.avatar[data-status='attention'] {
  /* pulsing, box-shadow */
}

.avatarImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--white);
  border-radius: 50%;
  overflow: hidden;

  @nest & img {
    height: 100%;
    display: flex;
  }
}

.arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: none;
  fill: currentColor;

  @nest & > svg {
    width: 6px;
    height: 6px;
    position: absolute;
    top: -5px;
    left: calc(50% - 3px);
  }
}

.arrow[data-dock="top"] {
  top: 0;
  display: block;
}

.arrow[data-dock="bottom"] {
  bottom: 0;
  display: block;
  transform: rotate(180deg);
}
