@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  z-index: 10;
  border-radius: 50%;
  box-sizing: border-box;
  fill: currentColor;
  pointer-events: auto;
}

.avatar {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @nest & svg {
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 1;
  }

  @nest & .border {
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 0;
  }

  @nest & .isAnimating {
    transform-origin: center;
    animation: spinning 16s infinite linear;
  }

  @nest & .avatarImage {
    color: var(--gray-light);
  }
}

.avatar[data-status='inactive'] {
  opacity: 0.6;
}

.avatar[data-status='editing'] {
  @nest & .border {
    stroke-dasharray: 12%;
  }
}

.size_small {
  width: 1.8em;
  height: 1.8em;
}

.size_medium {
  width: 2.2em;
  height: 2.2em;
}

.arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: none;
  fill: currentColor;
  z-index: 0;

  @nest & > svg {
    width: 9px;
    height: 9px;
    position: absolute;
    top: -7px;
    left: calc((100% - 9px) / 2);
  }
}

.arrow[data-dock='top'] {
  top: 1px;
  display: block;
}

.arrow[data-dock='bottom'] {
  bottom: 1px;
  display: block;
  transform: rotate(180deg);
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
