@import 'part:@sanity/base/theme/variables-style';

.root {
  color: var(--text-color);
  user-select: none;
}

.inner {
  display: flex;
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  white-space: nowrap;
  position: relative;
  padding: var(--small-padding) var(--medium-padding);
  padding-right: var(--large-padding);
}

.avatar {
  display: flex;
  align-items: center;
}

.userInfo {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-weight: 600;
}

.status {
  font-style: italic;
  text-transform: capitalize;
  font-size: var(--font-size-small);
  color: var(--gray-darkest--transparent);
}

.sessions {
  margin: 0;
  padding: 0;
  list-style: none;
}

.intentLink {
  font-size: var(--font-size-small);
  text-decoration: none;
  color: var(--gray-darkest--transparent);
}

.locationLabel {
  font-weight: 600;
}

.location {
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
