@import 'part:@sanity/base/theme/variables-style';

.root {
  color: var(--text-color);
  user-select: none;
}

.inner {
  display: flex;
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  white-space: nowrap;
  position: relative;
  padding: var(--small-padding) var(--medium-padding);
  padding-right: var(--large-padding);
}

.avatar {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

.userInfo {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-weight: 600;
}

.status {
  text-transform: capitalize;
  font-size: var(--font-size-small);
  color: var(--gray-darkest--transparent);
}
