@import 'part:@sanity/base/theme/variables-style';

.root {
  color: var(--text-color);
  user-select: none;
}

.intentLink {
  color: inherit;
  text-decoration: none;
}

.inner {
  display: flex;
  white-space: nowrap;
  position: relative;
  padding: var(--small-padding) var(--medium-padding);
}

.inner:hover {
  background: var(--gray-lighter);
}

.avatar {
  display: flex;
  align-items: center;
  padding-right: var(--small-padding);
}

.userInfo {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: var(--small-padding);
}

.name {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13ch;
}
