@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  padding: 1rem 0;
}

.dock {
  position: sticky;
  z-index: 10000;
  display: flex;
  justify-content: flex-end;
}

.top {
  top: 0;
  margin-top: -1rem;
  padding-top: var(--small-padding);
}

.bottom {
  bottom: 0;
  padding-bottom: var(--small-padding);
}
