:root {
  color-scheme: dark;
  font-family: Inter, system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  background: #0d0e12;
}

.viewer-page {
  margin: 0 auto;
  max-width: 880px;
  min-height: 100vh;
}

.viewer-page-report {
  max-width: 1280px;
}
