@import 'part:@sanity/base/theme/variables-style';

.itemWrapperVertical {
  display: block;
}

.itemWrapperHorizontal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: var(--medium-padding);
}
