.error {
  font-size: 0.8rem;
  padding: 1em;
  margin-bottom: 0.5rem;
}

.itemWrapperVertical {
  display: block;
  margin-bottom: 0.5rem;
}

.itemWrapperHorizontal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1em;
}
