@import 'part:@sanity/base/theme/variables-style';

.root {
  width: 100%;
  display: grid;
  grid-gap: var(--small-padding);
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));

  &[data-buttons='1'] {
    display: block;
    grid-template-columns: unset;
  }

  &[data-buttons='4'] {
    @media (max-width: 520px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  /* When buttons are alone */
  @nest & > * {
    min-width: 6rem;
  }

  /* Stretch buttons to fit grid when not alone */
  @nest &:not([data-buttons='1']) > * {
    margin: 0 !important;
    width: stretch;
    display: flex;
  }
}

.alignStart {
  composes: root;
  direction: ltr;
}

.alignEnd {
  composes: root;
  direction: rtl;
}

/* reset direction */
.root > * {
  direction: ltr;
}

.small {
  font-size: var(--font-size-small);
}

.secondary {
  display: contents;

  @nest &:not([data-buttons='1']) > * {
    margin: 0 !important;
    width: stretch;
  }

  @media (--screen-medium) {
    display: flex;
    grid-column: span 1 / -1;
  }
}
