@import "part:@sanity/base/theme/variables-style";

.modal {
  display: flex;
}

.contentWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.listContainer {
  width: 100vw;
  max-width: 70rem;
}
