@import "part:@sanity/base/theme/variables-style";

.root {
  display: flex;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  height: 100%;
  outline: none;
  padding: var(--extra-small-padding) var(--medium-padding);
  padding-right: var(--extra-small-padding);
  box-sizing: border-box;
  position: relative;
  max-height: var(--nav-bar-box);
}

.projectNameContainer {
  display: flex;
  align-items: center;
}

.projectName {
  color: inherit;
  font-size: inherit;
  margin: 0;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.brandLogoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: inherit;
  flex-grow: 1;

  @nest & * {
    max-height: 100%;
    height: 100%;
    width: auto;
    max-width: 12em;
    min-width: var(--nav-bar-box);
    flex-grow: 1;
  }

  @nest & img {
    height: auto;
  }
}
