@import "part:@sanity/base/theme/variables-style";

@keyframes loadingScreen {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

:global([data-env='development'] .undefined)::before {
  position: absolute;
  background-color: color(red a(50%));
  color: white;
  content: 'FIXME: "undefined" as className!';
  z-index: 1000;
  font-size: 12px;
  line-height: 1.2;
  padding: 2px 4px;
}

.root {
  display: flex;
  padding: 0;
  max-width: 100%;
  width: 100vw;
  flex-direction: column;
  box-sizing: border-box;
  min-height: calc(100vh - var(--header-height));

  @media (--screen-medium) {
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    min-height: 100vh;
  }
}

.navBar {
  position: fixed;
  width: 100%;
  z-index: 10;
  color: var(--white);
  background-color: var(--main-navigation-background-color);

  @media (--screen-medium) {
    position: relative;
  }
}

.loadingScreen {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.5s linear;
  z-index: 5000;
  animation-name: loadingScreen;
  animation-duration: 1s;
  animation-delay: 1s;
}

.loadingScreenLoaded {
  display: none;
}

.navigation {
  border-bottom: 1px solid var(--component-border-color);
}

.toolContainer {
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  flex-grow: 1;
  display: block;
  margin-top: 0;

  @media (--screen-medium) {
    max-height: 100%;
    overflow-y: auto;
  }
}

.menu {
  composes: shadow-10dp from 'part:@sanity/base/theme/shadows-style';
  z-index: 10;
  display: flex;
  overflow: hidden;
  background-color: var(--main-navigation-background-color);
  transition: 0.15s all ease-in-out;
  position: fixed;
  top: 6rem;
  left: 0;
  width: auto;
  height: 100%;
  flex-direction: column;

  @media (--screen-medium) {
    box-shadow: none;
    position: relative;
    top: initial;
    left: initial;
    width: initial;
    height: initial;
  }
}

.menuIsOpen {
  composes: menu;
  transform: translate(0);

  @media (--screen-medium) {
    min-width: 200px;
    max-width: 400px;
    width: auto;
  }
}

.menuIsClosed {
  composes: menu;
  transform: translate(-100%);

  @media (--screen-medium) {
    max-width: 0;
    transform: translate(0);
  }
}

.menuBottom {
  margin-top: auto;
}

.mainArea {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  padding-top: 6rem;

  @media (--screen-medium) {
    padding-top: 0;
  }
}

.sanityStudioLogoContainer {
  color: inherit;
  opacity: 0.5;
  padding: var(--small-padding);

  @nest & svg {
    height: 0.8rem;
    width: auto;
    color: #fff;
  }
}
