@import "part:@sanity/base/theme/variables-style";
@import "part:@sanity/base/theme/body-style";

:global(body) {
  overflow-x: hidden;
  @media (--screen-medium) {
    max-height: 100%;
    overflow: hidden;
  }
}

:global([data-env='development'] .undefined)::before {
  position: absolute;
  background-color: color(red a(50%));
  color: white;
  content: 'FIXME: "undefined" as className!';
  z-index: 1000;
  font-size: 12px;
  line-height: 1.2;
  padding: 2px 4px
}

:root {
  --tool-switcher-width: 3rem;
}

.defaultLayout {
  box-sizing: border-box;
  padding: var(--small-padding);

  @media (--screen-medium) {
    padding: var(--medium-padding);
    padding-top: var(--small-padding);
    max-width: 100%;
    width: 100vw;
    overflow: hidden;
  }
}

.toolContainer {
  position: relative;
  max-width: 100%;

  @media (--screen-medium) {
    float: left;
    width: calc(100vw - var(--tool-switcher-width) - var(--medium-padding) * 3);
    height: calc(100vh - var(--header-height) - var(--medium-padding));
    box-sizing: border-box;
  }
}

.desktopNavigation {
  display: none;
  border-bottom: 1px solid #ccc;
  lost-utility: clearfix;
  @media (--screen-medium) {
    display: block;
  }
}

.mobileNavigation {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  @media (--screen-medium) {
    display: none;
  }
}

.secondaryNavigation {
  position: relative;
  width: calc(var(--tool-switcher-width) + var(--medium-padding));
  margin-right: var(--medium-padding);
  margin-left: calc(var(--medium-padding) * -1);
  padding-top: var(--medium-padding);
  height: 100vh;
  float: left;
  font-size: var(--font-size-xsmall);
  z-index: var(--zindex-navbar);
  background-color: var(--body-bg);
  display: none;


  @media (--screen-medium) {
    display: block;
  }
}

.createButton {
  display: block;
  color: var(--brand-danger);
  text-align: center;
  margin-bottom: var(--medium-padding);
}

.createButtonIcon {
  display: block;
  font-size: 1.5em;
}

.createButtonText {
  display: block;
  font-size: 1em;
}

.sanityStudioLogoContainer {
  position: fixed;
  height: 1rem;
  width: 10em;
  bottom: 1rem;
  left: 1rem;
  z-index: 5000;
  opacity: 0.5;

  @nest &:hover {
    opacity: 1;
  }

  @nest & svg {
    height: 0.75rem;
  }
}
