@import "part:@sanity/base/theme/variables-style";
@import "part:@sanity/base/theme/body-style";

:global(body) {
  overflow-x: hidden;

  @media (--screen-medium) {
    max-height: 100%;
    overflow: hidden;
  }
}

:global([data-env='development'] .undefined)::before {
  position: absolute;
  background-color: color(red a(50%));
  color: white;
  content: 'FIXME: "undefined" as className!';
  z-index: 1000;
  font-size: 12px;
  line-height: 1.2;
  padding: 2px 4px;
}

:root {
  --tool-switcher-width: 5rem;
}

.defaultLayout {
  padding: var(--small-padding);
  max-width: 100%;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 100vh;

  @media (--screen-medium) {
    padding: 0;
  }
}

.toolContainer {
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  margin-top: var(--header-height);
  margin-top: 0;
  flex-grow: 1;
  overflow: hidden;
  display: block;
  max-height: 100%;
  overflow-y: auto;
}

.desktopNavigation {
  display: none;

  @media (--screen-medium) {
    display: block;
    border-bottom: 1px solid var(--component-border-color);
  }
}

.mobileNavigation {
  border-bottom: 1px solid var(--component-border-color);

  @media (--screen-medium) {
    display: none;
  }
}

.mainArea {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.secondaryNavigation {
  display: none;

  @media (--screen-medium) {
    display: block;
    position: relative;
    width: var(--tool-switcher-width);
    font-size: var(--font-size-xsmall);
    background-color: #333;
  }
}

.createButton {
  display: block;
  color: var(--state-danger-color);
  text-align: center;
  margin-bottom: var(--medium-padding);
}

.createButtonIcon {
  display: block;
  font-size: 1.5em;
}

.createButtonText {
  display: block;
  font-size: 1em;
}

.sanityStudioLogoContainer {
  position: fixed;
  height: 1rem;
  width: 10em;
  bottom: 1rem;
  left: 1rem;
  z-index: var(--zindex-navbar);
  opacity: 0.5;

  @nest &:hover {
    opacity: 1;
  }

  @nest & svg {
    height: 0.75rem;
  }
}
