@import "part:@sanity/base/theme/variables-style";
@import "part:@sanity/base/theme/body-style";

:global(body) {
  overflow-x: hidden;
  @media (--screen-medium) {
    max-height: 100%;
    overflow: hidden;
  }
}

:root {
  --tool-switcher-width: 4rem;
}

.defaultLayout {
  padding: var(--medium-padding);
  box-sizing: border-box;


  @media (--screen-medium) {
    max-width: 100%;
    width: 100vw;
    overflow-x: hidden;
  }
}

.toolContainer {
  position: relative;
  max-width: 100%;

  @media (--screen-medium) {
    float: left;
    width: calc(100vw - var(--tool-switcher-width) - var(--medium-padding) * 2);
    height: calc(100vh - var(--header-height));
    box-sizing: border-box;
  }
}

.desktopNavigation {
  display: none;
  border-bottom: 1px solid #ccc;
  lost-utility: clearfix;
  @media (--screen-medium) {
    display: block;
  }
}

.mobileNavigation {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  @media (--screen-medium) {
    display: none;
  }
}

.secondaryNavigation {
  width: var(--tool-switcher-width);
  height: 100%;
  float: left;
  @media (--screen-medium) {
    font-size: var(--font-size-small);
  }
}

.createButton {
  display: block;
  color: var(--brand-danger);
  text-align: center;
}

.createButtonIcon {
  display: block;
  font-size: 1.5em;
}

.createButtonText {
  display: block;
  font-size: 1em;
}

.sanityStudioLogoContainer {
  position: fixed;
  height: 1rem;
  width: 10em;
  bottom: 1rem;
  left: 1rem;
  z-index: 5000;
  opacity: 0.5;

  @nest &:hover {
    opacity: 1;
  }

  @nest & svg {
    height: 0.75rem;
  }
}
