@import "part:@sanity/base/theme/variables-style";

:root {
  --nav-bar-box: 3.0625em; /* 49px */
}

@keyframes loadingScreen {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

:global([data-env='development'] .undefined)::before {
  position: absolute;
  background-color: color(red a(50%));
  color: white;
  content: 'FIXME: "undefined" as className!';
  z-index: 1000;
  font-size: 12px;
  line-height: 1.2;
  padding: 2px 4px;
}

.root {
  display: flex;
  padding: 0;
  max-width: 100%;
  width: 100vw;
  flex-direction: column;
  box-sizing: border-box;
  min-height: calc(100vh - var(--nav-bar-box));

  @nest &::before {
    content: '';
    display: block;
    z-index: var(--zindex-drawershade);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.24);
    pointer-events: none;
    opacity: 0;
    transition: 150ms opacity ease-in-out;
  }

  @nest &.isOverlayVisible::before {
    pointer-events: all;
    opacity: 1;

    @media (--screen-medium) {
      opacity: 0.5;
    }
  }

  @media (--screen-medium) {
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
  }
}

.navBar {
  background-color: var(--main-navigation-color);
  color: var(--main-navigation-color--inverted);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.loadingScreen {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.5s linear;
  z-index: 5000;
  animation-name: loadingScreen;
  animation-duration: 1s;
  animation-delay: 1s;
}

.loadingScreenLoaded {
  display: none;
}

.navigation {
  border-bottom: 1px solid var(--component-border-color);
}

.toolContainer {
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  flex-grow: 1;
  display: block;
  margin-top: 0;
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);

  @media (--screen-medium) {
    max-height: calc(100vh - var(--nav-bar-box));
    overflow-y: auto;
  }
}

.sideMenuContainer {
  color: #444;
}

.mainArea {
  flex-grow: 1;
  display: flex;
  flex-direction: row;

  @media (--screen-medium) {
    padding-top: 0;
  }

  @nest .root.isOverlayVisible & {
    overflow: hidden;
    height: calc(100vh - var(--nav-bar-box));
  }
}
