.root {
  display: block;
  position: relative;
  width: 100%;
}

.toolSwitcher {
  float: left;
}

.loginStatus {
  float: right;
}

.searchContainer {
  float: right;
  padding: 1rem;
  z-index: 100;
  width: 20em;
  margin-right: 1em;
  position: relative;
  transition: background-color 0.2s linear;

  @nest &:hover {
    background-color: #efefef
  }
}
