@import 'part:@sanity/base/theme/variables-style';
@import 'part:@sanity/base/theme/responsive-style';

.root {
  display: block;
  @media (--screen-medium) {
    
  }
}

.content {
  display: block;
}

.button {
  display: block;
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 1.5em;
  outline: none;
  cursor: pointer;

  @nest .isOpen & {
    color: #fff;
  }
  @media (--screen-medium) {
    display: none;
  }
}

.isClosed {
  composes: root;
}

.isOpen {
  composes: root;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  width: 100%;
  @media (--screen-medium) {
    position: relative;
    height: auto;
    width: auto;
    background-color: transparent;
  }
}

.content {
  @nest .isClosed & {
    display: none;
    @media (--screen-medium) {
      display: block;
    }
  }
}
