@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  text-align: center;
  align-items: center;

  @nest & > div:first-child {
    position: relative;
    padding: 0.5em;

    @nest &::after {
      content: '';
      position: absolute;
      display: block;
      box-sizing: border-box;
      top: 0.5em;
      left: 0.5em;
      width: calc(100% - 1em);
      height: calc(100% - 1em);
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 50%;
    }
  }
}

.userImage {
  display: block;
  height: 2.0625em;
  width: 2.0625em;
  border-radius: 50%;
}

.userName {
  display: none;
}

.userMenu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
}
