@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  text-align: center;
  align-items: center;
}

.userImage {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.userName {
  display: none;
}

.userMenu {
  position: absolute;
  top: 3em;
  right: 0;
  z-index: 10;
}
