@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  text-align: center;

  @media (--screen-medium) {
    text-align: left;
    line-height: var(--header-height);
  }
}

.userImage {
  display: block;
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  border-radius: 50%;
}

.userName {
  display: none;
}

.userMenu {
  position: absolute;
  top: 3em;
  right: 0;
  z-index: 10;
}

.logoutButton {
  @media (--screen-medium) {
    display: inline-block;
  }
}
