@import 'part:@sanity/base/theme/variables-style';

.root {
  composes: frosted from "part:@sanity/base/theme/layout/backgrounds-style";
  display: block;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid #ccc;
}

.searchContainer {
  position: absolute;
  width: calc(100vw - 2rem);
  top: var(--small-padding);
  left: var(--small-padding);
  z-index: 100;
}

.root {
  display: block;
}

.content {
  display: block;
}

.hamburgerButton {
  position: absolute !important;
  padding: 1em;
  top: 0;
  right: 0;
  z-index: 100;
  display: block;
}

.menu {
  composes: frosted from "part:@sanity/base/theme/layout/backgrounds-style";
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}

.menuClosed {
  display: none;
}

.menuOpen {
  composes: menu;
  display: block;
}

.toolSwitcher {
  margin-top: 2rem;
}

.content {
  @nest .isClosed & {
    display: none;
  }
}
