@import "part:@sanity/base/theme/variables-style";

:root {
  --nav-bar-box: 3.0625em; /* 49px */
}

.root {
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: var(--nav-bar-box) var(--nav-bar-box) auto var(--nav-bar-box) var(--nav-bar-box);
  grid-template-rows: var(--nav-bar-box);
  box-sizing: border-box;
  align-items: stretch;
  grid-template-areas: "hamburger createButton branding extras searchButton";

  @media (--screen-medium) {
    grid-template-rows: var(--nav-bar-box);
    grid-template-areas: " hamburger   branding    createButton       search               toolSwitcher extras      loginStatus";
    grid-template-columns: max-content max-content var(--nav-bar-box) minmax(150px, 400px) auto         max-content var(--nav-bar-box);
    padding-right: 0.5em;
  }

  @nest & a {
    text-decoration: none;
    color: inherit;
  }
}

.branding {
  grid-area: branding;
  display: flex;
  align-items: stretch;
  padding: 1em;
}

a.branding {
  @nest &:hover {
    color: color(var(--white) a(80%));
    background-color: color(var(--white) a(10%));
  }

  @nest &:active {
    color: var(--white);
  }
}

.hamburger {
  grid-area: hamburger;
  display: flex;
  align-items: stretch;
}

.hamburgerButton {
  -webkit-font-smoothing: antialiased;
  -webkit-apperance: none;
  outline: none;
  border: 0;
  border-radius: 0;
  padding: 0.75em;
  margin: 0;
  background: none;
  color: inherit;
  font: inherit;

  @nest & > svg {
    font-size: calc(25 / 16 * 1em);
  }

  @nest &:hover {
    background-color: color(var(--white) a(10%));
  }

  @nest &:active {
    background-color: color(var(--brand-primary) a(20%));
  }
}

.toolSwitcher {
  display: none;

  @media (--screen-medium) {
    grid-area: toolSwitcher;
    display: flex;
  }
}

.loginStatus {
  grid-area: loginStatus;
  display: none;
  align-items: stretch;

  @media (--screen-medium) {
    display: flex;
  }
}

.extras {
  grid-area: extras;
}

.search {
  grid-area: search;

  @media (--max-screen-medium) {
    position: absolute;
    z-index: 15;
    width: 100%;

    @nest & > div {
      display: none;
      background: #fff;
      color: #444;
    }

    @nest &.searchIsOpen > div {
      display: block;
    }
  }

  @media (--screen-medium) {
    position: relative;
    justify-self: stretch;
    padding: var(--small-padding);

    @nest &.searchIsOpen {
      z-index: 15;
    }
  }
}

.createButton {
  display: flex;
  grid-area: createButton;
  text-align: center;
  user-select: none;
  cursor: default;
  position: relative;
  align-items: center;
  padding: 0.75em;

  @nest &:hover {
    background-color: color(var(--white) a(10%));
  }

  @nest &:active {
    background-color: color(var(--brand-primary) a(20%));
  }
}

.createButtonIcon {
  display: inline-block;
  font-size: calc(25 / 16 * 1em);
  line-height: 1;

  @nest & > svg {
    display: block;
  }

  @media (--screen-medium) {
    display: block;
  }
}

.createButtonText {
  display: none;
  font-size: 1em;
}

.sanityStudioLogoContainer {
  opacity: 0.5;
  color: #fff;
  padding: var(--small-padding);

  @nest &:hover {
    opacity: 1;
  }

  @nest & svg {
    height: 0.6rem;
  }
}

.searchButton {
  display: flex;
  grid-area: searchButton;
  text-align: center;
  user-select: none;
  cursor: default;
  position: relative;
  align-items: center;
  padding: 0.75em;

  @nest &:hover {
    background-color: color(var(--white) a(10%));
  }

  @nest &:active {
    background-color: color(var(--brand-primary) a(20%));
  }

  @media (--screen-medium) {
    display: none;
  }

  @nest .root[data-search-open='true'] & {
    display: none;
  }
}

.searchButtonIcon {
  display: inline-block;
  font-size: calc(25 / 16 * 1em);
  line-height: 1;

  @nest & > svg {
    display: block;
  }

  @media (--screen-medium) {
    display: block;
  }
}

.searchButtonText {
  display: none;
}
