@import "part:@sanity/base/theme/variables-style";

:root {
  --nav-bar-box: 3.0625em; /* 49px */
}

.root {
  display: grid;
  grid-template-areas:   "hamburger         createButton       branding     extras   searchButton        sidecarStatus";
  grid-template-columns: var(--nav-bar-box) var(--nav-bar-box) auto         auto     var(--nav-bar-box)  min-content;
  grid-template-rows: var(--nav-bar-box);
  box-sizing: border-box;
  align-items: stretch;

  @media (--screen-medium) {
    grid-template-rows: var(--nav-bar-box);
    grid-template-areas: " hamburger   branding    createButton       search               extras      sidecarStatus";
    grid-template-columns: max-content max-content var(--nav-bar-box) minmax(240px, 100%) max-content  min-content;

    @nest &.withToolSwitcher {
      grid-template-areas: " branding    createButton       search               spaceSwitcher toolSwitcher extras      sanityStatus loginStatus sidecarStatus";
      grid-template-columns: max-content var(--nav-bar-box) minmax(240px, 400px) max-content   auto         max-content max-content calc(var(--nav-bar-box) + 1em) min-content;
    }
  }

  @nest & > a {
    text-decoration: none;
    color: inherit;
  }
}

.branding {
  grid-area: branding;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  @media (--screen-medium) {
    display: flex;
    align-items: stretch;
    overflow: visible;
  }
}

a.branding {
  outline: none;

  @nest &:focus {
    background-color: color(var(--brand-primary) a(20%));
  }
}

.hamburger {
  grid-area: hamburger;
  display: flex;
  align-items: stretch;

  @media (--screen-medium) {
    @nest .withToolSwitcher & {
      display: none;
    }
  }
}

.hamburgerButton {
  -webkit-font-smoothing: inherit;
  appearance: none;
  display: flex;
  align-items: center;
  outline: none;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;

  @media (hover: hover) {
    opacity: 0.7;

    @nest &:hover {
      opacity: 1;
    }
  }

  @nest &:focus {
    opacity: 1;
    background-color: color(var(--brand-primary) a(20%));
  }
}

.hamburgerButtonInner {
  outline: none;
  display: flex;
  align-items: center;
  padding: 0.75em;

  @nest & > svg {
    font-size: calc(25 / 16 * 1em);
  }
}

.spaceSwitcher {
  display: none;
  grid-area: spaceSwitcher;
  font-size: calc(13 / 16 * 1em);
  padding: var(--small-padding);
  box-sizing: border-box;

  @media (--screen-medium) {
    @nest .withToolSwitcher & {
      display: flex;
    }
  }
}

.toolSwitcher {
  display: none;
  grid-area: toolSwitcher;

  @media (--screen-medium) {
    @nest .withToolSwitcher & {
      display: flex;
    }
  }
}

.sanityStatus {
  grid-area: sanityStatus;
  display: none;
  align-items: stretch;

  @media (--screen-medium) {
    @nest .withToolSwitcher & {
      display: flex;
    }
  }
}

.loginStatus {
  grid-area: loginStatus;
  display: none;
  align-items: stretch;

  @media (--screen-medium) {
    @nest .withToolSwitcher & {
      display: flex;
    }
  }
}

.sidecarStatus {
  grid-area: sidecarStatus;
  display: flex;
  justify-content: center;
}

.extras {
  grid-area: extras;
}

.search {
  grid-area: search;

  @media (--max-screen-medium) {
    position: absolute;
    z-index: var(--zindex-drawer);
    width: 100%;

    @nest & > div {
      display: none;
      background: var(--body-bg);
      color: var(--gray-base);
    }

    @nest &.searchIsOpen > div {
      display: block;
    }
  }

  @media (--screen-medium) {
    position: relative;
    justify-self: stretch;
    padding: var(--small-padding);

    @nest &.searchIsOpen {
      z-index: var(--zindex-drawer);
    }
  }
}

.createButton {
  grid-area: createButton;
  -webkit-font-smoothing: inherit;
  appearance: none;
  outline: none;
  border: 0;
  border-radius: 0;
  background: none;
  color: inherit;
  font: inherit;
  display: flex;
  user-select: none;
  cursor: default;
  position: relative;
  margin: 0;
  padding: 0;

  @media (hover: hover) {
    opacity: 0.7;

    @nest &:hover {
      opacity: 1;
    }
  }

  @nest &:focus {
    opacity: 1;
    background-color: color(var(--brand-primary) a(20%));
  }

  @nest > [data-tooltipped] {
    display: flex !important;
  }
}

.createButtonInner {
  outline: none;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.75em;
}

.createButtonIcon {
  display: inline-block;
  font-size: calc(25 / 16 * 1em);
  line-height: 1;

  @nest & > svg {
    display: block;
  }

  @media (--screen-medium) {
    display: block;
  }
}

.createButtonText {
  display: none;
  font-size: 1em;
}

.searchButton {
  -webkit-font-smoothing: inherit;
  appearance: none;
  outline: none;
  border: 0;
  border-radius: 0;
  background: none;
  color: inherit;
  font: inherit;
  display: flex;
  grid-area: searchButton;
  text-align: center;
  user-select: none;
  cursor: default;
  position: relative;
  align-items: center;
  margin: 0;
  padding: 0;

  @media (hover: hover) {
    opacity: 0.7;

    @nest &:hover {
      opacity: 1;
    }
  }

  @nest &:focus {
    opacity: 1;
    background-color: color(var(--brand-primary) a(20%));
  }

  @media (--screen-medium) {
    display: none;
  }

  @nest .root[data-search-open='true'] & {
    display: none;
  }
}

.searchButtonInner {
  outline: none;
  display: flex;
  align-items: center;
  padding: 0.75em;

  @nest & > svg {
    font-size: calc(25 / 16 * 1em);
  }
}

.searchButtonIcon {
  display: inline-block;
  font-size: calc(25 / 16 * 1em);
  line-height: 1;

  @nest & > svg {
    display: block;
  }

  @media (--screen-medium) {
    display: block;
  }
}

.searchButtonText {
  display: none;
}
