@import "part:@sanity/base/theme/variables-style";

.root {
  display: flex;
  position: relative;
  width: 100%;

  @media (--screen-medium) {
    height: 3rem;
  }
}

.loginStatus {
  display: block;
}

.search {
  flex-grow: 1;
  position: relative;
  transition: background-color 0.2s linear;
}
