.root {

}

.list {
  list-style: none;
  margin-left: 0;
}

.listItem {
  list-style: none;
  padding: 0.5em;
}

.pathSegmentTypeName {
  margin-left: 0.2em;
  composes: root;
  color: black;
  font-weight: bold;
}

.pathSegmentTypeType {
  composes: root;
  margin-left: 0.2em;
  font-size: 75%;
  color: #647d85;
  font-style: italic;
}

.pathSegmentProperty {
  composes: root;
  color: gray;
}
