@import "part:@sanity/base/theme/variables-style";

.root {
  list-style: none;
  margin: 0;
  padding: 0;
}

.root.isLoading {
  height: 8em;
}

.root.noResults {
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item {
  composes: resetListItem from "part:@sanity/base/theme/layout/helpers";
  cursor: default;
  position: relative;
}

.link {
  composes: resetLink from "part:@sanity/base/theme/layout/helpers";
  composes: listItemStates from 'part:@sanity/base/theme/layout/backgrounds-style';
  display: block;
  padding: var(--small-padding);
}

.activeItem {
  background-color: var(--selected-item-color-hover);
  color: var(--brand-lightest);
}
