@import "part:@sanity/base/theme/variables-style";

.root {
  display: flex;
  color: inherit;
  position: relative;
  align-items: stretch;
  width: 100%;
}

.inner {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: color(var(--white) a(5%));

  @nest &:hover {
    background-color: color(var(--white) a(10%));
  }

  @nest &:focus-within {
    background-color: color(var(--white) a(15%));
  }
}

.input {
  border: none;
  outline: none;
  color: inherit;
  width: 100%;
  margin: 0;
  background-color: transparent;
  font-size: inherit;

  @nest &::placeholder {
    color: inherit;
    opacity: 0.4;
  }

  @nest &:hover::placeholder {
    opacity: 1;
  }
}

.result {
  composes: shadow-10dp from "part:@sanity/base/theme/shadows-style";
  composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
  min-height: 8rem;
  width: 100vw;
  background-color: var(--component-bg);
  box-sizing: border-box;
  left: 0;
  padding: 0;

  @media (--screen-medium) {
    padding-bottom: 0;
    width: 100%;
    max-width: 100%;
    max-height: 70vh;
    min-height: 4rem;
  }
}

.noHits {
  box-sizing: border-box;
  margin: 2rem;
  text-align: center;
  color: var(--text-color-secondary);

  @nest & strong {
    color: var(--text-color);
  }
}

.listContainer {
  composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
}

.hits {
  color: var(--text-color);
  composes: resetList from "part:@sanity/base/theme/layout/helpers";
  width: 100%;
}

.hit {
  composes: resetListItem from "part:@sanity/base/theme/layout/helpers";
  background-color: transparent;
  cursor: default;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.link {
  composes: resetLink from "part:@sanity/base/theme/layout/helpers";
  composes: listItemStates from 'part:@sanity/base/theme/layout/backgrounds-style';
  display: block;
  padding: var(--small-padding);
}

.activeLink {
  composes: link;
  background-color: var(--selected-item-color-hover);
}

.spinner {
  composes: absoluteCenter from 'part:@sanity/base/theme/layout/positioning-style';
}

.itemType {
  position: absolute;
  top: 50%;
  color: var(--gray);
  right: var(--small-padding);
  text-transform: uppercase;
  font-size: var(--font-size-tiny);
  transform: translateY(-50%);
}

.label {
  font-size: inherit;
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 0 var(--small-padding);
}

.icon {
  display: block;
}

.hotkeys {
  margin-left: auto;
  display: flex;
  box-sizing: border-box;
  font-size: 0.7em;
  align-items: center;
  padding-right: var(--small-padding);
  opacity: 0.5;
}
