@import 'part:@sanity/base/theme/variables-style';

:root {
  --nav-bar-box: 3.0625em; /* 49px */
}

.root {
  position: relative;

  @nest &:not(.isBleeding) {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    height: 33px;
  }

  @nest &.isFocused:not(.isBleeding) {
    background: #fff;
    color: #444;
  }

  @nest &.isOpen:not(.isBleeding) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.inputField {
  display: flex;

  @nest .isBleeding & {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 160;
  }

  @nest .root.isBleeding.isOpen &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  @nest .root:not(.isBleeding) & {
    height: 100%;
  }
}

.label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @nest & > svg {
    font-size: calc(20 / 16 * 1em);
    opacity: 0.6;
  }

  @nest .isBleeding & {
    display: none;
  }
}

.input {
  -webkit-font-smoothing: inherit;
  appearance: none;
  border: none;
  border-radius: 0;
  outline: none;
  color: inherit;
  width: 100%;
  margin: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: 0.9375em;
  line-height: calc(17 / 15);
  padding-left: 33px;
  padding-bottom: 2px;
  box-sizing: border-box;
  white-space: nowrap;

  @nest &::placeholder {
    color: inherit;
    opacity: 0.6;
  }

  @nest .isBleeding & {
    font-size: 1em;
    line-height: 1.25;
    padding: calc(1em - 2px) 1em calc(1em - 1px);
  }

  @nest &::-ms-clear {
    display: none;
  }
}

.clearButton {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 33px;
  opacity: 0.6;

  & > svg {
    font-size: 1.5625em;
  }

  @nest .root:not(.isBleeding):not(.hasValue) & {
    display: none;
  }

  @nest .root:not(.isBleeding) & > svg {
    font-size: 20px;
  }

  @nest .isBleeding & {
    min-width: var(--nav-bar-box);
  }
}

.clearButtonWithValue {
  composes: clearButton;
  display: flex;

  @media (--screen-medium) {
    display: flex;
  }
}

.hotkeys {
  display: none;
  margin-left: auto;
  box-sizing: border-box;
  font-size: 0.7em;
  align-items: center;
  opacity: 0.6;

  @nest .root:not(.isBleeding):not(.hasValue) & {
    padding-right: 0.75em;
  }

  @media (--screen-medium) {
    @nest .isFocused & {
      display: flex;
    }
  }
}

.results {
  composes: shadow-12dp from "part:@sanity/base/theme/shadows-style";
  display: none;
  position: absolute;
  background: #fff;
  color: #444;
  top: 33px;
  left: 0;
  width: 100%;
  z-index: 150;

  @nest .root.isBleeding & {
    top: var(--nav-bar-box);
    box-shadow: none;
  }

  @nest .root:not(.isBleeding) & {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    max-height: 80vh;
    overflow: auto;

    @media (max-height: 429px) {
      max-height: calc(100vh - 33px - 16px);
    }
  }

  @nest .root.isOpen & {
    display: block;
  }
}
