@import 'part:@sanity/base/theme/variables-style';

.toolSwitcher {
  position: relative;
}

.toolList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  align-content: flex-start;

  @media (--screen-medium) {
    flex-direction: column;
  }
}

.item {
  display: block;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  color: color(var(--white) a(40%));
  width: 50vw; /* mobile size */
  height: 50vw;
  overflow: hidden;

  @media (--screen-medium) {
    display: block;
    width: 100%;
    height: auto;
  }
}

.activeItem {
  composes: item;
  color: color(var(--white) a(100%));
  background-color: color(var(--white) a(10%));
}

.iconContainer {
  display: block;
  font-size: 2.5em;
  line-height: 1em;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (--screen-medium) {
    position: static;
    transform: none;
  }
}

.toolName {
  display: block;
  margin-top: 60%;

  @media (--screen-medium) {
    margin-top: 0.5em;
  }
}

.toolLink {
  color: inherit;
  text-decoration: none;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;

  @nest &:hover {
    color: color(var(--white) a(80%));
    background-color: color(var(--white) a(2%));
  }

  @nest &:active {
    color: color(var(--white) a(100%));
  }

  @media (--screen-medium) {
    position: static;
    padding: var(--medium-padding) 0;
    font-size: 1em;
  }
}
