@import 'part:@sanity/base/theme/variables-style';

.root {
  @media (hover: hover) {
    opacity: 0.6;

    @nest &:hover {
      opacity: 1;
    }
  }

  @nest a:focus & {
    opacity: 1;
  }
}

.inner {
  position: relative;
  display: flex;
  text-decoration: none;
  padding: 0.75em;
  white-space: nowrap;
  outline: none;
  flex-direction: row;
  align-items: center;
}

.horizontal {
  align-items: center;
}

.vertical {
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.rootActive {
  composes: root;
  opacity: 1;
}

.iconContainer {
  display: block;
  font-size: calc(25 / 16 * 1em);
  line-height: 1;

  @nest & > svg {
    display: block;
  }
}

.toolName {
  font-size: calc(14 / 16 * 1em);
  line-height: calc(17 / 14);
  padding: 0 0.25em;

  @nest .vertical & {
    padding-left: 0.5em;
  }
}
