@import 'part:@sanity/base/theme/variables-style';

.toolSwitcher {
  position: relative;
}

.toolList {
  display: block;
  margin: 0;
  padding: 0;
}

.item {
  display: block;
  position: relative;
  text-align: center;
  color: var(--selectable-item-color);
  margin-bottom: var(--medium-padding);
}

.activeItem {
  composes: item;
  color: var(--selected-item-color);
}

.iconContainer {
  display: block;
  font-size: 2em;
  margin: 0 auto;
}

.toolName {
  display: block;
}

.toolLink {
  color: inherit;
  text-decoration: none;
  display: block;

  @nest &:hover {
    color: var(--selectable-item-color-hover);
  }

  @nest &:active {
    color: var(--black);
  }
}
