@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  align-self: stretch;
}

.rootVertical {
  composes: root;
  flex-direction: column;
}

.rootHorizontal {
  composes: root;
  align-content: flex-start;
  align-self: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
}

.item {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  position: relative;
  text-align: center;

  @nest .rootVertical & {
    width: 100%;
  }
}

.link {
  composes: item;
  text-decoration: none;
  color: inherit;
  outline: none;

  @media (hover: hover) {
    color: var(--gray);

    @nest &:hover {
      color: inherit;
    }
  }

  @nest &:focus {
    color: var(--main-navigation-color--inverted);
    background-color: color(var(--focus-color) a(20%));
  }
}

.activeItem {
  composes: item;
}
