@import 'part:@sanity/base/theme/variables-style';

.root {
}

.inner {
  position: relative;
  text-decoration: none;
  padding: var(--medium-padding);
  white-space: nowrap;
  outline: none;
  flex-direction: row;

  @nest & > div {
    margin: calc(0 - var(--extra-small-padding));
    display: flex;
    align-items: center;
  }
}

.horizontal {
  align-items: center;
}

.vertical {
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.rootActive {
  composes: root;
  color: var(--main-navigation-color--inverted);
}

.iconContainer {
  display: block;
  font-size: calc(25 / 16 * 1em);
  line-height: 1;

  @nest & > svg {
    display: block;
  }
}

.toolName {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  padding: 0 var(--extra-small-padding);
  margin-top: -1px;

  @nest .vertical & {
    padding-left: var(--small-padding);
  }
}
