@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  display: flex;
  align-items: center;
  color: color(var(--white) a(50%));
  text-decoration: none;
  padding: 0.75em;
  white-space: nowrap;

  @nest .default & {
    padding: 1em;
    width: 100%;
  }

  @nest &:hover {
    color: color(var(--white) a(80%));
    background-color: color(var(--white) a(10%));
  }

  @nest &:active {
    color: var(--white);
  }

  @nest .default & {
    flex-direction: row;
    align-items: center;
  }
}

.rootActive {
  composes: root;
  color: var(--white);
}

.iconContainer {
  display: block;
  font-size: calc(25 / 16 * 1em);
  line-height: 1;

  @nest & > svg {
    display: block;
  }
}

.toolName {
  display: none;
  font-size: calc(14 / 16 * 1em);
  line-height: calc(17 / 14);
  padding-left: 0.25em;

  @media (--screen-medium) {
    display: block;
  }
}
