@import 'part:@sanity/base/theme/variables-style';

.root {
  margin-top: auto;
  line-height: 3em;
  padding: 0 1em;
}

.button {
  color: inherit;
  font-size: 0.75em;
  cursor: default;
  text-align: left;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: none !important;
  border: none;
  width: 100%;
  opacity: 0.6;

  @nest &:active {
    opacity: 1;
  }

  @nest &:hover {
    opacity: 1;
  }
}

.warningIcon {
  font-size: 1.5em;
}

.critical {
  composes: button;
  color: var(--state-danger-color);
  opacity: 1;
}

.warning {
  composes: button;
  color: var(--state-warning-color);
  opacity: 1;
}

.notice {
  composes: button;
}

.upToDateText {
  /* color: color(var(--white) a(40%)); */
}
