@import 'part:@sanity/base/theme/variables-style';

.content {
  text-align: center;
  margin: var(--large-padding);
}

.versionsTable {
  border-collapse: collapse;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: calc(var(--large-padding) * 2);
}

.versionsTable td,
.versionsTable th {
  padding: var(--small-padding);
  text-align: left;
}

.versionsTable tr td {
  border-top: 1px solid #ccc;
}

.upgradeText {
  margin-bottom: calc(var(--large-padding) * 2);
}

.code {
  background: #333;
  color: #fff;
  padding: 0.5rem;
}
