@import 'part:@sanity/base/theme/variables-style';

.dialogHeading {
  margin: 0;
}

.versionsTable {
  border-collapse: collapse;
  border-bottom: 1px solid #ccc;
  margin: 0;
  width: 100%;
  margin-top: var(--medium-padding);
}

.versionsTable td,
.versionsTable th {
  padding: var(--small-padding);
  text-align: left;
}

.versionsTable tr td {
  border-top: 1px solid #ccc;
}

.details {
  margin-bottom: var(--medium-padding);

  @nest & .versionsTable {
    margin-top: 0;
  }
}

.summary {
  transition: all 0.3s linear;
}

.summary:focus {
  outline: 0;
  font-weight: bold;
}

.upgradeText {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--medium-padding);
  @nest & p {
    margin-bottom: 0;
  }
}

.code {
  align-self: center;
  background: #333;
  color: #fff;
  margin-top: var(--medium-padding);
  padding: var(--small-padding);
  border-radius: var(--border-radius-base);
}
