@import 'part:@sanity/base/theme/variables-style';

.container {
  padding: 0;
}

.title {
  composes: title from 'part:@sanity/dashboard/widget-styles';
}

.table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  word-break: break-word;

  @nest & th {
    font-weight: 500;
  }

  @nest & td, & th {
    min-width: 5em;
    padding: var(--small-padding) var(--medium-padding);
  }

  @nest & tr {
    border-bottom: 1px solid #eee;
  }

  @nest & td {
    font-family: var(--font-family-monospace);
  }

  @nest & td a {
    color: inherit;
    text-decoration: inherit;
  }

  @nest & .sectionHeader {
    text-align: left;
    text-transform: uppercase;
    padding-left: var(--medium-padding);
    padding-bottom: var(--small-padding);
    padding-top: var(--large-padding);
    font-size: var(--font-size-small);
    color: var(--text-color-secondary);
    width: 100%;
  }
}

.button {
  composes: bottomButtonContainer from 'part:@sanity/dashboard/widget-styles';
}
