{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "node": "6",
        "chrome": "59",
        "safari": "10",
        "firefox": "56",
        "edge": "16"
      }
    }]
  ],
  "plugins": [
    "lodash",
    "syntax-class-properties",
    "transform-class-properties",
    "syntax-flow",
    "transform-flow-comments"
  ]
}
