{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "12",
          "chrome": "59",
          "safari": "10",
          "firefox": "56",
          "edge": "14"
        }
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": ["lodash", "@babel/plugin-proposal-class-properties"]
}
