export SANITY_CLI_RUN_FROM_SOURCE=1
export PATH="`pwd`/node_modules/.bin:$PATH"

# /---
# Source env vars in .env & .env.local
env_files=(".env" ".env.local")
set -a
for env_file in "${env_files[@]}"; do
  if [ -f "$env_file" ]; then
    source_env "$env_file"
    echo "Sourced environment variables from $env_file"
  fi
done
set +a
# /---
