/packages/*/node_modules
/packages/@sanity/*/node_modules
/packages/*/dist
/packages/@sanity/*/dist
/packages/*/lib
/packages/*/coverage
/packages/@sanity/*/lib
/packages/@sanity/*/coverage
/packages/@sanity/client/umd
/packages/@sanity/cli/bin/sanity-cli.js
*.json
