{
  "env": {
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": [
    "sanity",
    "sanity/react",
    "prettier"
  ],
  "rules": {
    "newline-per-chained-call": 0,
    "sort-imports": 0,
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          ".*:.*"
        ]
      }
    ],
    "prettier/prettier": "off", // set to error to enable project wide prettier
    "import/no-extraneous-dependencies": "off",
    "array-element-newline": "off",
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1
  },
  "globals": {
    "__DEV__": true
  },
  "settings": {
    "import/resolver": "webpack",
    "import/ignore": [
      "\\.css$",
      "*node_modules*",
      ".*:.*"
    ]
  },
  "plugins": [
    "flowtype",
    "import",
    "prettier",
    "react"
  ]
}
