/dev/*/dist
/dev/*/node_modules
/dev/*/public

/dev/workshop/__legacy/parts.js
/dev/workshop/src/scopes.js

/examples/*/dist
/examples/*/node_modules

/packages/*/coverage
/packages/*/lib
/packages/*/node_modules
/packages/*/dist

/packages/@sanity/*/coverage
/packages/@sanity/*/dist
/packages/@sanity/*/lib
/packages/@sanity/*/node_modules
/packages/@sanity/client/umd
/packages/@sanity/cli/bin/sanity-cli.js

*.json
*.css
*.snap
*.md
