; Note: this is needed to avoid build error when building CommonJS (CJS) bundles.
; When bundling `sanity/presentation` for CJS, the `sanity` package is bundled with it,
; and since @sanity/presentation is an external module, this causes the bundler to look for `sanity` package when bundling,
; which again requires sanity to be a dependency of itself.
; Having `sanity` as a dependency of `sanity` works fine with pnpm, but turborepo will fail hard if it
; encounters a package that depends on itself.
; Once we drop CJS support, we'll likely be able to remove the following line.

public-hoist-pattern[]=sanity
public-hoist-pattern[]=@million/lint

; This is needed for prettier to be able to use the plugin specified by the `@sanity/prettier-config` preset
public-hoist-pattern[]=prettier-plugin-packagejson

prefer-workspace-packages = true
link-workspace-packages = deep

; Used so that the Million Lint instrumentation to `packages/sanity` and ``packages/sanity/vision` done in the test studio works, without having to add the dependency everywhere
public-hoist-pattern[]=@million/lint
