/.vscode

/dev/*/.next
/dev/*/.sanity
/dev/*/build
/dev/*/dist
/dev/*/node_modules
/dev/*/public
/dev/*/static
/dev/test-studio/sanity.theme.mjs

/etc

/examples/*/.sanity
/examples/*/dist
/examples/*/node_modules
/examples/*/static

/packages/*/coverage
/packages/*/lib
/packages/*/node_modules

/packages/@sanity/*/coverage
/packages/@sanity/*/lib
/packages/@sanity/*/node_modules
/packages/@sanity/block-tools/test/**/input.html
/packages/@sanity/client/umd
/packages/@sanity/cli/bin/sanity-cli.js
/packages/@sanity/cli/templates

/test/v2-studio/dist
/turbo.json
/packages/*/turbo.json
/packages/@sanity/*/turbo.json
