.root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.image {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.landscape {
  composes: image;
  height: 100%;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
}

.portrait {
  composes: image;
  height: auto;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
