@import 'part:@sanity/base/theme/variables-style';

.root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.image {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.landscape {
  composes: image;
  height: 100%;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
}

.portrait {
  composes: image;
  height: auto;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.noMediaContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--gray-lighter);
}

.noMedia {
  position: absolute;
  font-size: var(--font-size-xsmall);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.noImageIcon {
  font-size: 2rem;
  opacity: 0.2;
  text-align: center;
}

.noMediaText {
  display: block;
  text-align: center;
  opacity: 0.5;
  font-size: 0.6rem;
  line-height: 1em;
}
