@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.hasFocus {
  composes: root;
}

.noFocus {
  composes: root;
}

.iconContainer {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--small-padding);
}

.strong {
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.dropFile,
.pasteFile {
  padding: 1rem;
  display: none;

  @media (--screen-medium) {
    display: block;
  }
}

.pasteFile {
  opacity: 0.2;
  transition: opacity linear 0.1s;

  @nest .hasFocus & {
    opacity: 1;
  }
}
