@import 'part:@sanity/base/theme/variables-style';

:root {
  --radio-button-size: calc(17 / 16 * 1em);
  --radio-top-offset: 0;
  --radio-focus-color: var(--focus-color);
  --radio-disabled-border: var(--input-bg-disabled);
  --radio-disabled-background: var(--input-color-disabled);
}

.root {
  position: relative;
  display: flex;
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  outline: none;
  z-index: 1;
}

.radio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--radio-button-size);
  width: var(--radio-button-size);
  box-shadow: inset 0 0 0 1px var(--input-border-color);
  border-radius: calc(var(--radio-button-size) / 2);
  margin-right: var(--small-padding);

  @nest &::after {
    position: absolute;
    content: '';
    height: 9px;
    width: 9px;
    box-sizing: border-box;
    background: var(--text-color);
    border-radius: 4.5px;
    opacity: 0;
  }
}

.input:focus + .radio {
  border-color: transparent;

  @nest &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border: 2px solid var(--radio-focus-color);
    border-radius: 50%;
    box-sizing: border-box;
    background: var(--component-bg);
  }
}

.input:checked + .radio::after {
  opacity: 1;
}

.input:disabled + .radio {
  background: var(--radio-disabled-border);

  @nest &::after {
    background: var(--radio-disabled-background);
  }
}
