.root {
  position: relative;
  overflow: hidden;
  height: calc(1.5625em + 0.5em);

  @nest &:before, &:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    width: 0.5em;
    pointer-events: none;
  }

  @nest &:before {
    left: 0;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  }

  @nest &:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
  }

  @nest & > div {
    white-space: nowrap;
    overflow: auto;
    padding: 0.25em 0.5em 100px;
    -webkit-overflow-scrolling: touch;
  }
}
