@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  position: relative;
}

.inner {
  min-width: 0;
}

.list {
  /* overide default list */
  @nest .root & {
    user-select: none;
  }
}

.grid {
  /* overide default list */
  @nest .root & {
    user-select: none;
  }
}

.functions {
  @nest .list + & {
    margin-top: calc(var(--medium-padding) - var(--extra-small-padding));
  }

  @nest .grid + & {
    margin-top: var(--medium-padding);
  }

  &:empty {
    display: none;
  }
}

.popupAnchor {
  position: absolute;
  top: 75%;
  left: 2em;
}

.listItem {
  padding-bottom: var(--extra-small-padding);
}

.gridItem {
}

.popupAnchorRelative {
  margin-left: calc(var(--medium-padding) * -1);
  margin-right: calc(var(--medium-padding) * -1);

  /* Hack for the draghandle */
  @nest &.sortable {
    margin-left: calc(var(--medium-padding) * -1 - 2.5rem);
  }
}

.warning {
  composes: root from 'part:@sanity/components/fieldsets/default-style';

  padding: var(--medium-padding);
  border: 2px dashed var(--state-warning-color);
}

.missingKeysWarning {
  composes: warning;
  padding: var(--medium-padding);
}

.fixMissingKeysButtonWrapper {
  margin: var(--medium-padding) 0;
}

.nonObjectsWarning {
  composes: warning;
  padding: var(--medium-padding);
}

.removeNonObjectsButtonWrapper {
  composes: fixMissingKeysButtonWrapper;
}
