@import 'part:@sanity/base/theme/variables-style';

.root {
  background-color: #fff;
  composes: shadow-3dp from 'part:@sanity/base/theme/shadows-style';
}

.title {
  composes: heading5 from 'part:@sanity/base/theme/typography/headings-style';
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 0.75em;
  text-transform: none;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.date {
  font-weight: 100;
  composes: small from 'part:@sanity/base/theme/typography/text-blocks-style';
  float: right;
}

.media {
  @nest & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.description {
  font-size: var(--font-size-xsmall);
  color: var(--text-color);
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.meta {
  padding: 1em;
}
