.root {
  display: block;
  padding: 0.5em;
  user-select: none;
  overflow: hidden;
}

.heading {
  vertical-align: baseline;
  overflow: hidden;
}

.title {
  padding: 0;
  font-weight: 600;
  display: inline;
  padding-right: 0.25em;
}

.subtitle {
  padding: 0;
  font-weight: 100;
  display: inline;
}

.description {
  padding: 0;
  margin: 0;
  font-size: 0.75em;
}
