.root {
  background-color: #fff;
  composes: shadow-3dp from 'part:@sanity/base/theme/shadows-style';
  position: relative;
  overflow: hidden;
  width: 100%;
}

.title {
  font-size: 1em;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
}

.subtitle {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
}

.description {
  composes: small from 'part:@sanity/base/theme/typography/text-blocks-style';
  max-width: 80%;
  color: #fff;
  font-weight: 100;
  margin: 1em auto;
  opacity: 0.5;
}

.mediaContainer {
  display: block;
}

.meta {
  composes: frosted from "part:@sanity/base/theme/layout/backgrounds-style";
  display: flex;
  display: none;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  transition: opacity 0.3s ease-out;

  @nest .root:hover & {
    transition-duration: 0.1s;
    opacity: 100;
  }
}

.metaInner {
  padding: 0.5em;
}
