:root {
  --black: #121923;
  --white: #fff;
  --brand-darkest: var(--black);
  --brand-darkest--inverted: color(var(--brand-darkest) contrast(80%));
  --brand-lightest: var(--white);
  --brand-primary: #2276fc;
  --brand-primary--inverted: color(var(--brand-primary) contrast(80%));
  --brand-secondary: #f03e2f;
  --brand-secondary--inverted: var(--brand-lightest);

  /* Base */
  --brand-faded: color(var(--brand-primary) blend(var(--white) 60%));
  --gray-base: color(var(--black) blend(var(--brand-faded) 50%));
}
