:root {
  --brand-darkest: #000;
  --brand-lightest: #fff;
  --gray-base: #323232;
  --brand-primary: #24a3e3;
  --brand-primary--inverted: #fff;
  --brand-secondary: #f43;
  --brand-secondary--inverted: #fff;
}
