:root {
  --brand-darkest: #000;
  --brand-lightest: #fff;
  --gray-base: #323232;
  --brand-primary: #24a3e3;
  --brand-primary--text: #fff;
  --brand-primary-light: color(var(--brand-primary) lightness(+ 15%) saturation(- 10%));
  --brand-primary-light--text: #fff;
  --brand-primary-lighter: color(var(--brand-primary) lightness(+ 30%) saturation(- 15%));
  --brand-primary-light--text: #000;
  --brand-secondary: #f43;
  --brand-primary--text: #fff;
  --brand-secondary-light: color(var(--brand-secondary) lightness(+ 5%) saturation(- 10%));
  --brand-secondary-light--text: var(--white);
  --brand-secondary-lighter: color(var(--brand-secondary) lightness(+ 25%) saturation(- 10%));
  --brand-secondary-lighter--text: var(--black);
}
