@import 'part:@sanity/base/theme/variables/gray-colors-style';

:root {
  /* Code */
  --code-bg: var(--gray-lightest);
  --code-color: var(--gray-darker);

  /* KBD */
  --kbd-bg: var(--gray-lighter);
  --kbd-color: var(--gray-darker);

  /* Pre */
  --pre-bg: var(--gray-lightest);
  --pre-color: var(--gray-darker);
  --pre-border-color: var(--gray-lighter);
  --pre-scrollable-max-height: 20em;
}
