@import 'part:@sanity/base/theme/variables/gray-colors-style';
@import 'part:@sanity/base/theme/variables/globals-style';

:root {
  /* Input */
  --input-bg: var(--component-bg);
  --input-bg-focus: var(--input-bg);
  --input-bg-invalid: var(--component-bg);
  --input-bg-disabled: color(var(--gray-lightest) blend(var(--white) 75%));
  --input-color: var(--text-color);
  --input-color-disabled: var(--gray);
  --input-color-read-only: var(--gray-darker);
  --input-border-color: var(--gray-lighter);
  --input-border-size: 1px;
  --input-line-height: var(--line-height-base);
  --input-padding-vertical: calc(var(--medium-padding) - var(--extra-small-padding));
  --input-padding-horizontal: calc(var(--medium-padding) - var(--extra-small-padding));
  --input-border-radius: var(--border-radius-small);
  --input-border-radius-large: var(--border-radius-large);
  --input-border-radius-small: var(--border-radius-small);
  --input-border-color-hover: var(--gray-light);
  --input-border-color-focus: transparent;
  --input-border-color-active: color(var(--brand-primary) a(50%));
  --input-border-color-invalid: color(var(--state-danger-color) a(50%));
  --input-color-placeholder: var(--gray-lighter);
  --input-box-shadow-base: var(--gray);
  --input-box-shadow: none;
  --input-box-shadow--hover: none;
  --input-box-shadow--focus: 0 0 0 1px var(--component-bg),
    0 0 0 3px color(var(--brand-primary) a(50%));
  --input-box-shadow--invalid: none;
  --input-box-shadow--invalid-focus: 0 0 0 1px var(--component-bg),
    0 0 0 3px color(var(--state-danger-color) a(50%));

  /* Focus */
  --focus-color: color(var(--brand-primary) alpha(40%));

  /* Label */
  --label-color: var(--text-color);

  /* Legend */
  --legend-color: var(--text-color);

  /* Cursor */
  --cursor-disabled: not-allowed;

  /* Clear cross */
  --clear-cross-color: var(--input-color);
  --clear-cross-color-hover: var(--state-danger-color);

  /* fieldset */
  --fieldset-border: var(--input-border-size) solid var(--hairline-color);
  --fieldset-box-shadow: none;
  --fieldset-box-shadow--hover: none;
  --fieldset-box-shadow--invalid: none;
  --fieldset-box-shadow--focus: var(--input-box-shadow--focus);
  --fieldset-box-shadow--invalid-focus: var(--input-box-shadow--invalid-focus);
  --fieldset-bg: transparent;

  /* Form builder */
  --form-builder-block-border-color: var(--component-border-color);
  --form-builder-block-border-color--hover: var(--gray-light);
  --form-builder-block-border-color-focus: var(--input-border-color-focus);
  --form-builder-block-border-color-error: var(--input-border-color-invalid);
  --form-builder-block-background: color(var(--gray-lightest) alpha(50%));
  --form-builder-block-background-hover: transparent;
  --form-builder-block-background-selected: var(--text-selection-color);
  --form-builder-block-shadow--focus: var(--input-box-shadow--focus);
  /* deprecated: */
  --form-builder-block-shadow: var(--input-box-shadow);
  --form-builder-block-shadow--hover: var(--input-box-shadow--hover);
  --form-builder-block-shadow--invalid: var(--input-box-shadow--invalid);
  --form-builder-block-shadow--invalid-focus: var(--input-box-shadow--invalid-focus);
  --form-builder-block-border-radius: var(--border-radius-small);
}
