@import 'part:@sanity/base/theme/variables/gray-colors-style';
@import 'part:@sanity/base/theme/variables/globals-style';

:root {

  --default-button-color: var(--gray-lighter);
  --default-button-color--text: var(--brand-black);
  --default-button-color--hover: var(--gray-light);
  --default-button-color--active: var(--gray);

  --input-bg: #fff;
  --input-bg-disabled: var(--gray-lighter);
  --input-color: var(--gray-light);
  --input-border-color: var(--gray-light);
  --input-border-size: 1px;
  --input-line-height: 2em;
  --input-padding-vertical: 0.5em;
  --input-padding-horizontal: 0.2em;

  --input-border-radius: var(--border-radius-base);
  --input-border-radius-large: var(--border-radius-large);
  --input-border-radius-small: var(--border-radius-small);

  --input-border-color-hover: var(--gray-darker);
  --input-border-color-focus: var(--brand-primary);
  --input-border-color-active: var(--brand-primary);
  --focus-color: color(var(--brand-primary) alpha(40%));

  --input-color-placeholder: var(--gray-lighter);
  --form-group-margin-bottom: 1em;
  --legend-color: var(--gray-dark);

  --input-group-addon-bg: var(--gray-lighter);
  --input-group-addon-border-color: var(--input-border);

  --cursor-disabled: not-allowed;

  --clear-cross-color: var(--gray-light);
  --clear-cross-color-hover: var(--brand-danger);

  --form-builder-block-border-color: color(var(--gray-light) alpha(80%));
  --form-builder-block-border-color-focus: var(--brand-primary);
  --form-builder-block-background-hover: var(--gray-lighter);
  --form-builder-block-background-selected: var(--text-selection-color);

}
