@import 'part:@sanity/base/theme/variables/gray-colors-style';
@import 'part:@sanity/base/theme/variables/globals-style';

:root {
  --default-button-color: var(--gray-lighter);
  --default-button-color--text: var(--black);
  --default-button-color--hover: var(--gray-light);
  --default-button-color--active: var(--gray);
  --button-border-radius: var(--border-radius-base);
  --input-bg: var(--component-bg);
  --input-bg-error: var(--component-bg);
  --input-bg-disabled: var(--gray-lighter);
  --input-color: var(--text-color);
  --input-border-color: color(var(--component-border-color));
  --input-border-size: 1px;
  --input-line-height: 2em;
  --input-padding-vertical: 0.5em;
  --input-padding-horizontal: 0.2em;
  --input-border-radius: var(--border-radius-small);
  --input-border-radius-large: var(--border-radius-large);
  --input-border-radius-small: var(--border-radius-small);
  --input-border-color-hover: var(--gray);
  --input-border-color-focus: var(--brand-primary);
  --input-border-color-active: var(--brand-primary);
  --input-border-color-invalid: var(--state-danger-color);
  --focus-color: color(var(--brand-primary) alpha(40%));
  --input-color-placeholder: var(--gray-lighter);
  --form-group-margin-bottom: 1em;
  --legend-color: var(--gray-dark);
  --input-group-addon-bg: var(--gray-lighter);
  --input-group-addon-border-color: var(--input-border);
  --cursor-disabled: not-allowed;
  --clear-cross-color: var(--gray-light);
  --clear-cross-color-hover: var(--state-danger-color);
  --form-builder-block-border-color: color(var(--gray-light) alpha(80%));
  --form-builder-block-border-color-focus: var(--brand-primary);
  --form-builder-block-background: var(--gray-lighter);
  --form-builder-block-background-hover: color(var(--gray-light) alpha(5%));
  --form-builder-block-background-selected: var(--text-selection-color);
  --input-box-shadow-base: var(--gray-base);
  --input-box-shadow: none;
  --input-box-shadow--hover: none;
  --input-box-shadow--focus:
    0 0 2px 0 color(var(--input-border-color-focus) a(42%)),
    0 2px 5px 0 color(var(--input-border-color-focus) a(45%)),
    0 0 1px 1px color(var(--input-border-color-focus) a(80%));
  --input-box-shadow--error: none;
  --input-box-shadow--error-focus:
    0 0 2px 0 color(var(--state-danger-color) a(42%)),
    0 2px 5px 0 color(var(--state-danger-color) a(45%)),
    0 0 1px 1px color(var(--state-danger-color) a(80%));
  --form-builder-block-shadow--focus: var(--input-box-shadow--focus);
}
