@import 'part:@sanity/base/theme/variables/gray-colors-style';
@import 'part:@sanity/base/theme/variables/globals-style';

:root {
  --default-button-color: var(--text-color);
  --default-button-color--inverted: var(--white);
  --default-button-color--hover: var(--text-color);
  --default-button-color--active: var(--text-color);
  --button-border-radius: var(--border-radius-medium);
  --input-bg: var(--component-bg);
  --input-bg-focus: var(--input-bg);
  --input-bg-invalid: var(--component-bg);
  --input-bg-disabled: var(--gray-lighter);
  --input-color: var(--text-color);
  --input-border-color: var(--component-border-color);
  --input-border-size: 1px;
  --input-line-height: 2em;
  --input-padding-vertical: 0.5em;
  --input-padding-horizontal: 0.2em;
  --input-border-radius: var(--border-radius-small);
  --input-border-radius-large: var(--border-radius-large);
  --input-border-radius-small: var(--border-radius-small);
  --input-border-color-hover: var(--gray);
  --input-border-color-focus: var(--brand-primary);
  --input-border-color-active: var(--brand-primary);
  --input-border-color-invalid: var(--state-danger-color);
  --focus-color: color(var(--brand-primary) alpha(40%));
  --input-color-placeholder: var(--text-color-secondary);
  --label-color: var(--text-color);
  --legend-color: var(--text-color);
  --cursor-disabled: not-allowed;
  --clear-cross-color: var(--input-color);
  --clear-cross-color-hover: var(--state-danger-color);
  --input-box-shadow-base: var(--gray-base);
  --input-box-shadow: none;
  --input-box-shadow--hover: none;
  --input-box-shadow--focus: 0 0 0 3px color(var(--input-border-color-focus) a(42%));
  --input-box-shadow--invalid: none;
  --input-box-shadow--invalid-focus: 0 0 0 3px color(var(--input-border-color-invalid) a(42%));

  /* fieldset */
  --fieldset-border: var(--input-border-size) solid var(--hairline-color);
  --fieldset-box-shadow: none;
  --fieldset-box-shadow--hover: none;
  --fieldset-box-shadow--invalid: none;
  --fieldset-box-shadow--focus: var(--input-box-shadow--focus);
  --fieldset-box-shadow--invalid-focus: var(--input-box-shadow--invalid-focus);
  --fieldset-bg: transparent;
  --form-builder-block-border-color: var(--component-border-color);
  --form-builder-block-border-color-focus: var(--input-border-color-focus);
  --form-builder-block-border-color-error: var(--input-border-color-invalid);
  --form-builder-block-background: var(--gray-lighter);
  --form-builder-block-background-hover: color(var(--brand-primary) a(20%));
  --form-builder-block-background-selected: var(--text-selection-color);
  --form-builder-block-shadow: var(--input-box-shadow);
  --form-builder-block-shadow--hover: var(--input-box-shadow--hover);
  --form-builder-block-shadow--focus: var(--input-box-shadow--focus);
  --form-builder-block-shadow--invalid: var(--input-box-shadow--invalid);
  --form-builder-block-shadow--invalid-focus: var(--input-box-shadow--invalid-focus);
  --form-builder-block-border-radius: var(--border-radius-small);
}
