:root {
  /* Colors */
  --body-bg: var(--gray-lightest);
  --body-text: #111;
  --component-bg: #fff;
  --component-border-color: color(var(--gray) lightness(+ 30%));
  --component-box-shadow: 0 1px 3px color(var(--component-border-color) a(50%));
  --component-box-shadow--focus: 0 1px 5px color(var(--input-border-color-focus) a(70%));
  --backdrop-background-color: color(var(--brand-primary-lighter) a(40%));
  --main-navigation-background-color: color(var(--brand-primary) shade(70%) saturation(20%));
  --header-height: 3rem;

  /* Border radius */
  --border-radius-base: 0;
  --border-radius-large: 0;
  --border-radius-small: 0;

  /* Padding */
  --extra-small-padding: 0.25rem;
  --small-padding: 0.5rem;
  --medium-padding: 1rem;
  --large-padding: 1.5rem;
  --extra-large-padding: 3rem;
  --text-selection-color: color(var(--brand-primary) alpha(20%));
}
