:root {

  /* Colors */
  --body-bg: #fafafa;
  --body-text: #111;

  --component-bg: #fff;
  --component-border-color: #ccc;
  --component-box-shadow: 0 1px 3px color(var(--component-border-color) a(50%));

  --backdrop-background-color: color(var(--brand-primary-lighter) a(40%));

  --header-height: 3rem;

  /* Border radius */
  --border-radius-base: 0;
  --border-radius-large: 0;
  --border-radius-small: 0;

  /* Padding */
  --extra-small-padding: 0.25rem;
  --small-padding: 0.5rem;
  --medium-padding: 1rem;
  --large-padding: 1.5rem;
  --extra-large-padding: 3rem;
  --text-selection-color: color(var(--brand-primary) alpha(20%));
}
