:root {
  /* Colors */
  --body-bg: var(--gray-lightest);
  --body-text: var(--gray-darkest);
  --component-bg: var(--white);
  --component-text-color: var(--gray-darkest);
  --preview-placeholder-color: var(--gray-lightest);
  --component-border-color: color(var(--component-bg) contrast(80%) alpha(20%));
  --backdrop-color: color(var(--brand-darkest) alpha(12%));

  /* Main navigation */
  --main-navigation-color: var(--gray-darkest);
  --main-navigation-color--inverted: var(--gray-lightest);

  /* Dialog */
  --dialog-header-color: var(--component-bg);
  --dialog-header-color--inverted: var(--body-text);

  /* Header */
  --header-height: 3.0625rem;

  /* Checkerboard */
  --checkerboard-color: color(var(--component-text-color) alpha(5%));

  /* Hairline */
  --hairline-color: color(var(--gray-base) alpha(25%));

  /* Buttons */
  --default-button-primary-color: var(--brand-primary);
  --default-button-primary-color--inverted: var(--white);
  --default-button-danger-color: var(--state-danger-color);
  --default-button-danger-color--inverted: var(--white);
  --default-button-success-color: var(--state-success-color);
  --default-button-success-color--inverted: var(--white);
  --default-button-warning-color: var(--state-warning-color);
  --default-button-warning-color--inverted: var(--state-warning-color--inverted);

  /* Shadows */
  --shadow-base: var(--gray-darkest);
  --shadow-color-umbra: color(var(--shadow-base) alpha(10%));
  --shadow-color-penumbra: color(var(--shadow-base) alpha(8%));
  --shadow-color-ambient: color(var(--shadow-base) alpha(2%));

  /* Border radius */
  --border-radius-base: 4px;
  --border-radius-large: calc(var(--border-radius-base) * 1.5);
  --border-radius-medium: var(--border-radius-base);
  --border-radius-small: calc(var(--border-radius-base) / 2);

  /* Padding */
  --extra-small-padding: 0.25rem;
  --extra-small-padding--em: 0.25em;
  --small-padding: 0.5rem;
  --small-padding--em: 0.5em;
  --medium-padding: 1rem;
  --medium-padding--em: 1em;
  --large-padding: 1.5rem;
  --large-padding--em: 1.5em;
  --extra-large-padding: 2rem;
  --extra-large-padding--em: 2em;

  /* Text selection */
  --text-selection-color: color(var(--brand-primary) alpha(20%));

  /* Block editor */
  --block-editor-base-font-family: inherit;
  --block-editor-header-font-family: inherit;
  --block-extras-width: 10rem;
  --block-extras-border-color: var(--gray-lighter);
  --block-extras-background-color: var(--gray-lightest);

  /* Others */
  --pane-header-height: 3.4375rem; /* 55px */
}
