:root {
  /* Colors */
  --body-bg: #fff;
  --body-text: color(var(--body-bg) contrast(80%));
  --component-bg: var(--body-bg);
  --component-text-color: color(var(--component-bg) contrast(80%));
  --preview-placeholder-color: color(var(--component-bg) contrast(80%) alpha(10%));
  --component-border-color: color(var(--component-bg) contrast(80%) a(20%));
  --backdrop-background-color: color(var(--gray-base) a(20%));
  --main-navigation-background-color: color(var(--brand-primary) shade(70%) saturation(20%));
  --main-navigation-text-color: color(var(--main-navigation-background-color) contrast(80%));
  --dialog-header-background-color: color(var(--brand-primary) shade(20%) saturation(30%));
  --dialog-header-text-color: var(--main-navigation-text-color);
  --header-height: 3rem;
  --checkerboard-color: color(var(--component-text-color) a(5%));

  /* Shadows */
  --shadow-base: color(var(--gray-base) shade(30%));
  --shadow-color-umbra: color(var(--shadow-base) a(2%));
  --shadow-color-penumbra: color(var(--shadow-base) a(14%));
  --shadow-color-ambient: color(var(--shadow-base) a(12%));

  /* Border radius */
  --border-radius-base: 3px;
  --border-radius-large: 5px;
  --border-radius-small: 2px;

  /* Padding */
  --extra-small-padding: 0.25rem;
  --small-padding: 0.5rem;
  --medium-padding: 1rem;
  --large-padding: 1.5rem;
  --extra-large-padding: 3rem;
  --text-selection-color: color(var(--brand-primary) alpha(20%));
}
