:root {
  /* Colors */
  --body-bg: #fff;
  --body-text: color(var(--body-bg) contrast(80%));
  --component-bg: var(--body-bg);
  --component-text-color: color(var(--component-bg) contrast(80%));
  --preview-placeholder-color: color(var(--component-bg) contrast(80%) alpha(10%));
  --component-border-color: color(var(--component-bg) contrast(80%) a(20%));
  --component-box-shadow-base: var(--component-text-color);
  --component-box-shadow: 0 0 2px 0 color(var(--component-box-shadow-base) a(35%));
  --component-box-shadow--hover:
    0 1px 2px 0 color(var(--component-box-shadow-base) a(15%)),
    0 2px 5px 0 color(var(--component-box-shadow-base) a(17%)),
    0 1px 1px 1px color(var(--component-box-shadow-base) a(15%));
  --component-box-shadow--focus:
    0 0 2px 0 color(var(--input-border-color-focus) a(42%)),
    0 0 3px 0 color(var(--input-border-color-focus) a(45%)),
    0 0 1px 1px color(var(--input-border-color-focus) a(50%));
  --component-box-shadow--error:
    0 0 2px 0 color(var(--state-danger-color) a(42%)),
    0 2px 5px 0 color(var(--state-danger-color) a(45%)),
    0 0 1px 1px color(var(--state-danger-color) a(80%));
  --backdrop-background-color: color(var(--gray-base) a(40%));
  --main-navigation-background-color: color(var(--brand-primary) shade(70%) saturation(20%));
  --main-navigation-text-color: color(var(--main-navigation-background-color) contrast(80%));
  --header-height: 3rem;
  --checkerboard-color: color(var(--component-text-color) a(5%));

  /* Shadows */
  --shadow-base: var(--component-text-color);
  --shadow-color-umbra: color(var(--shadow-base) a(2%));
  --shadow-color-penumbra: color(var(--shadow-base) a(14%));
  --shadow-color-ambient: color(var(--shadow-base) a(12%));

  /* Border radius */
  --border-radius-base: 3px;
  --border-radius-large: 5px;
  --border-radius-small: 2px;

  /* Padding */
  --extra-small-padding: 0.25rem;
  --small-padding: 0.5rem;
  --medium-padding: 1rem;
  --large-padding: 1.5rem;
  --extra-large-padding: 3rem;
  --text-selection-color: color(var(--brand-primary) alpha(20%));
}
