:root {
  /* Colors */
  --body-bg: #f5f5f5;
  --body-text: color(var(--body-bg) contrast(57%));
  --component-bg: #fff;
  --component-text-color: color(var(--component-bg) contrast(80%));
  --preview-placeholder-color: color(var(--component-bg) contrast(80%) alpha(10%));
  --component-border-color: color(var(--component-bg) contrast(80%) a(20%));
  --backdrop-color: color(var(--brand-darkest) a(12%));
  --main-navigation-color: color(var(--brand-primary) shade(70%) saturation(20%));
  --main-navigation-color--inverted: color(var(--main-navigation-color) contrast(80%));
  --dialog-header-color: var(--component-bg);
  --dialog-header-color--inverted: var(--body-text);
  --header-height: 3rem;
  --checkerboard-color: color(var(--component-text-color) a(5%));
  --selectable-item-base: var(--brand-primary);
  --brand-darkest--inverted: color(var(--brand-darkest) contrast(80%));

  /* Hairline */
  --hairline-color: color(var(--component-bg) contrast(80%) a(10%));

  /* Buttons */
  --default-button-primary-color: var(--brand-primary);
  --default-button-primary-color--inverted: #fff;
  --default-button-danger-color: var(--state-danger-color);
  --default-button-danger-color--inverted: #fff;
  --default-button-success-color: var(--state-success-color);
  --default-button-success-color--inverted: #fff;

  /* Shadows */
  --shadow-base: var(--brand-darkest);
  --shadow-color-umbra: color(var(--shadow-base) a(10%));
  --shadow-color-penumbra: color(var(--shadow-base) a(8%));
  --shadow-color-ambient: color(var(--shadow-base) a(2%));

  /* Border radius */
  --border-radius-base: 4px;
  --border-radius-large: calc(var(--border-radius-base) * 1.5);
  --border-radius-medium: var(--border-radius-base);
  --border-radius-small: calc(var(--border-radius-base) / 2);

  /* Padding */
  --extra-small-padding: 0.25rem;
  --small-padding: 0.5rem;
  --medium-padding: 1rem;
  --large-padding: 1.5rem;
  --extra-large-padding: 3rem;
  --extra-small-padding--em: 0.25em;
  --small-padding--em: 0.5em;
  --medium-padding--em: 1em;
  --large-padding--em: 1.5em;
  --extra-large-padding--em: 3em;
  --text-selection-color: color(var(--brand-primary) alpha(20%));

  /* Block editor */
  --block-editor-base-font-family: inherit;
  --block-editor-header-font-family: inherit;
  --block-extras-width: 10rem;
  --block-extras-border-color: #ccc;
  --block-extras-background-color: #eee;
}
