/*
  NOTE: most browsers operate with a max. z-index of 2147483647
  – the maximum positive value for a 32-bit signed binary integer.
  NOTE: Safari 0–3 operate with a max. z-index of 16777271
*/

:root {
  --zindex-navbar: 200;
  --zindex-navbar-popover: 500000;
  --zindex-navbar-dialog: 500001;

  --zindex-pane: 100;
  --zindex-pane-resizer: 150;

  --zindex-portal: 200;
  --zindex-popover: 200;
  --zindex-modal: 200;

  --zindex-moving-item: 10000;

  --zindex-drawershade: 1000000;
  --zindex-drawer: 1000001;

  /* NOT IN USE */
  --zindex-dropdown: 200;
  --zindex-navbar-fixed: 1010;
  --zindex-fullscreen-edit: 1050;
  --zindex-popover-background: 1060;
  --zindex-tooltip: 200;
  --zindex-modal-background: 2000;
  --zindex-spinner: 3000;
}
