/*
  This needs to be empty.
  It is used to override variables externally via a part
*/

:root {
  /* Base */
  --black: #121923;
  --white: #fff;
  --gray-base: #7b8ca8;

  /* Brand */
  --brand-primary: #2276fc;
  --brand-primary--inverted: #fff;
  --brand-secondary: #f03e2f;
  --brand-secondary--inverted: #fff;

  /* Focus */
  --focus-color: #4e91fc;

  /* Gray */
  --gray-darkest: #262f3d;
  --gray-darker: #3c4758;
  --gray-dark: #66758d;
  --gray: #7b8ca8;
  --gray-light: #95a3b9;
  /* @todo: deprecate */
  --gray-ligther: #cad1dc;
  --gray-lighter: #cad1dc;
  --gray-lightest: #e4e8ed;

  /* Navbar */
  --main-navigation-color: #121923;
  --main-navigation-color--inverted: #fff;

  /* Selectable item */
  --selectable-item-color-hover: #f1f3f6;
  --selectable-item-color-focus: #e4e8ed;
  --selectable-item-color-active: #f1f3f6;
  --selectable-item-color-highlighted: #e4e8ed;
}
