/*
  This needs to be empty.
  It is used to override variables externaly via a part
*/

:root {
  --selectable-item-base: #156dff;
  --default-button-primary-color: #156dff;
  --default-button-danger-color: #e0322d;
  --default-button-success-color: #308654;
  --selectable-item-color-hover: color(var(--brand-primary) a(15%));
  --selectable-item-color-focus: color(var(--brand-primary) a(25%));
  --selectable-item-color-active: color(var(--brand-primary) a(25%));
  --selectable-item-color-highlighted: color(var(--brand-primary) a(25%));
}
