@import 'part:@sanity/base/theme/variables/brand-colors-style';
@import 'part:@sanity/base/theme/variables/globals-style';

:root {
  --progress-bg: #f5f5f5;
  --progress-bar-color: var(--white);
  --progress-border-radius: var(--border-radius-base);
  --progress-bar-bg: var(--brand-primary);
  --progress-bar-success-bg: var(--state-success-color);
  --progress-bar-warning-bg: var(--state-warning-color);
  --progress-bar-danger-bg: var(--state-danger-color);
  --progress-bar-info-bg: var(--state-info-color);
}
