@import 'part:@sanity/base/theme/variables/brand-colors-style';
@import 'part:@sanity/base/theme/variables/gray-colors-style';

:root {
  --selectable-item-color: var(--gray-darker);
  --selectable-item-color--inverted: var(--white);
  --selectable-item-color-hover: var(--gray-lighter);
  --selectable-item-color-hover--inverted: var(--white);
  --selectable-item-color-active: var(--brand-primary);
  --selectable-item-color-active--inverted: var(--white);
  --selected-item-color: color(var(--brand-primary) lightness(-20%) a(60%));
  --selected-item-color--inverted: var(--white);
  --selected-item-color-hover: color(var(--brand-primary) lightness(+ 10%));
  --selected-item-color-hover--inverted: var(--white);
}
