@import 'part:@sanity/base/theme/variables/brand-colors-style';
@import 'part:@sanity/base/theme/variables/gray-colors-style';

:root {
  /*
    Selectable item
  */
  --selectable-item-base: var(--brand-primary);
  --selectable-item-color: color(var(--selectable-item-base) a(0%));
  --selectable-item-color--inverted: var(--text-color);
  --selectable-item-color-hover: color(var(--selectable-item-base) a(15%));
  --selectable-item-color-hover--inverted: var(--selectable-item-color--inverted);
  --selectable-item-color-focus: color(var(--selectable-item-base) a(25%));
  --selectable-item-color-focus--inverted: var(--selectable-item-color--inverted);
  --selectable-item-color-active: color(var(--selectable-item-base) a(25%));
  --selectable-item-color-active--inverted: var(--selectable-item-color--inverted);
  --selectable-item-color-highlighted: color(var(--selectable-item-base) a(30%));

  /*
    Selected Item
  */
  --selected-item-color: var(--selectable-item-base);
  --selected-item-color--inverted: color(var(--selectable-item-base) contrast(80%));
  --selected-item-color-hover: var(--selectable-item-base);
  --selected-item-color-hover--inverted: color(var(--selectable-item-base) contrast(80%));
}
