@import "part:@sanity/base/theme/variables/brand-colors-style";

:root {
  --state-success-color: #19b366;
  --state-success-color--text: #fff;
  --state-info-color: #2097ac;
  --state-info-color--text: #fff;
  --state-warning-color: #ffba00;
  --state-warning-color--text: var(--black);
  --state-danger-color: #e66666;
  --state-danger-color--text: var(--white);
}
