@import 'part:@sanity/base/theme/variables-style';

.colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-gap: 1rem;
}

.shadows {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(3, 1fr);

  @nest & > div {
    padding: 2rem;
    background-color: var(--component-bg);
  }
}

.color {
  composes: shadow-1dp from 'part:@sanity/base/theme/shadows-style';
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-family-monospace);

  @nest &::before {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding: 5rem 1rem;
    flex-basis: 5rem;
  }

  @nest &::after {
    display: block;
    font-size: 0.9rem;
    white-space: pre-wrap;
    background-color: white;
    padding: 1rem;
    color: black;
    flex-grow: 1;
  }
}

.grayBase {
  composes: color;
  background-color: var(--gray-base);
  color: color(var(--gray-base) contrast(100%));

  @nest &::before {
    content: '--gray-base';
  }

  @nest &::after {
    content: 'var(--gray-base)';
  }
}

.brandPrimary {
  composes: color;
  background-color: var(--brand-primary);
  color: var(--brand-primary--inverted);

  @nest &::before {
    content: '--brand-primary';
  }

  @nest &::after {
    content: 'var(--brand-primary)\A Inverted: var(--brand-primary--inverted)';
  }
}

.brandSecondary {
  composes: color;
  background-color: var(--brand-secondary);
  color: var(--brand-secondary--inverted);

  @nest &::before {
    content: '--brand-secondary';
  }

  @nest &::after {
    content: 'var(--brand-secondary)\A Inverted:  var(--brand-secondary--inverted)';
  }
}

.selectableItemBase {
  composes: color;
  background-color: var(--selectable-item-base);

  @nest &::before {
    content: '--selectable-item-base';
  }

  @nest &::after {
    content: 'var(--selectable-item-base)';
  }
}

.selectableItem {
  composes: color;
  background-color: var(--selectable-item-color);
  color: var(--selectable-item-color--inverted);

  @nest &::before {
    content: '--selectable-item-color';
  }

  @nest &::after {
    content: 'var(--selectable-item-color)\A Inverted: var(--selectable-item-color--inverted)';
  }
}

.selectableItemHover {
  composes: color;
  background-color: var(--selectable-item-color-hover);
  color: var(--selectable-item-color-hover--inverted);

  @nest &::before {
    content: '--selectable-item-color-hover';
  }

  @nest &::after {
    content: 'var(--selectable-item-color-hover)\A Inverted: var(--selectable-item-color-hover--inverted)';
  }
}

.selectableItemFocus {
  composes: color;
  background-color: var(--selectable-item-color-focus);
  color: var(--selectable-item-color-focus--inverted);

  @nest &::before {
    content: '--selectable-item-color-focus';
  }

  @nest &::after {
    content: 'var(--selectable-item-color-focus)\A Inverted: var(--selectable-item-color-focus--inverted)';
  }
}

.selectableItemActive {
  composes: color;
  background-color: var(--selectable-item-color-active);
  color: var(--selectable-item-color-active--inverted);

  @nest &::before {
    content: '--selectable-item-color-active';
  }

  @nest &::after {
    content: 'var(--selectable-item-color-active)\A Inverted: var(--selectable-item-color-active--inverted)';
  }
}

.selectableItemHighlighted {
  composes: color;
  background-color: var(--selectable-item-color-highlighted);

  @nest &::before {
    content: '--selectable-item-highlighted';
  }

  @nest &::after {
    content: 'var(--selectable-item-color-highlighted)';
  }
}

.selectedItem {
  composes: color;
  background-color: var(--selected-item-color);
  color: var(--selected-item-color--inverted);

  @nest &::before {
    content: '--selected-item-color';
  }

  @nest &::after {
    content: 'var(--selected-item-color)\A Inverted: var(--selected-item-color--inverted)';
  }
}

.selectedHover {
  composes: color;
  background-color: var(--selected-item-color-hover);
  color: var(--selected-item-color-hover--inverted);

  @nest &::before {
    content: '--selected-item-color-hover';
  }

  @nest &::after {
    content: 'var(--selected-item-color-hover)\A Inverted:  inverted: var(--selected-item-color-hover--inverted)';
  }
}

.stateSuccess {
  composes: color;
  background-color: var(--state-success-color);
  color: var(--state-success-color--inverted);

  @nest &::before {
    content: '--state-success-color';
  }

  @nest &::after {
    content: 'var(--state-success-color)\A Inverted: var(--state-success-color--inverted)';
  }
}

.stateSuccessFaded {
  composes: color;
  background-color: var(--state-success-color--faded);
  color: var(--state-success-color--inverted);

  @nest &::before {
    content: '--state-success-color--faded';
  }

  @nest &::after {
    content: 'var(--state-success-color--faded)';
  }
}

.stateSuccessStrong {
  composes: color;
  background-color: var(--state-success-color--strong);
  color: var(--state-success-color--inverted);

  @nest &::before {
    content: '--state-success-color--strong';
  }

  @nest &::after {
    content: 'var(--state-success-color--strong)';
  }
}

.stateInfo {
  composes: color;
  background-color: var(--state-info-color);
  color: var(--state-info-color--inverted);

  @nest &::before {
    content: '--state-info-color';
  }

  @nest &::after {
    content: 'var(--state-info-color) \A inverted: var(--state-info-color--inverted)';
  }
}

.stateInfoFaded {
  composes: color;
  background-color: var(--state-info-color--faded);
  color: var(--state-info-color--inverted);

  @nest &::before {
    content: '--state-info-color--faded';
  }

  @nest &::after {
    content: 'var(--state-info-color--faded)';
  }
}

.stateInfoStrong {
  composes: color;
  background-color: var(--state-info-color--strong);
  color: var(--state-info-color--inverted);

  @nest &::before {
    content: '--state-info-color--strong';
  }

  @nest &::after {
    content: 'var(--state-info-color--strong)';
  }
}

.stateWarning {
  composes: color;
  background-color: var(--state-warning-color);
  color: var(--state-warning-color--inverted);

  @nest &::before {
    content: '--state-warning-color';
  }

  @nest &::after {
    content: 'var(--state-warning-color)\A Inverted:  var(--state-warning-color--inverted)';
  }
}

.stateWarningFaded {
  composes: color;
  background-color: var(--state-warning-color--faded);
  color: var(--state-warning-color--inverted);

  @nest &::before {
    content: '--state-warning-color--faded';
  }

  @nest &::after {
    content: 'var(--state-warning-color--faded)';
  }
}

.stateWarningStrong {
  composes: color;
  background-color: var(--state-warning-color--strong);
  color: var(--state-warning-color--inverted);

  @nest &::before {
    content: '--state-warning-color--strong';
  }

  @nest &::after {
    content: 'var(--state-warning-color--strong)';
  }
}

.stateDanger {
  composes: color;
  background-color: var(--state-danger-color);
  color: var(--state-danger-color--inverted);

  @nest &::before {
    content: '--state-danger-color';
  }

  @nest &::after {
    content: 'var(--state-danger-color)\A Inverted: var(--state-danger-color--inverted)';
  }
}

.stateDangerFaded {
  composes: color;
  background-color: var(--state-danger-color--faded);
  color: var(--state-danger-color--inverted);

  @nest &::before {
    content: '--state-danger-color--faded';
  }

  @nest &::after {
    content: 'var(--state-danger-color--faded)';
  }
}

.stateDangerStrong {
  composes: color;
  background-color: var(--state-danger-color--strong);
  color: var(--state-danger-color--inverted);

  @nest &::before {
    content: '--state-danger-color--strong';
  }

  @nest &::after {
    content: 'var(--state-danger-color--strong)';
  }
}
