@import 'part:@sanity/base/theme/variables/brand-colors-style';
@import 'part:@sanity/base/theme/variables/gray-colors-style';

:root {
  --text-color: var(--body-text);
  --text-color-secondary: var(--gray-darker);
  --text-muted: var(--gray-dark);
  --link-color: var(--brand-primary);
  --link-hover-color: color(var(--state-info-color) saturation(+5%) lightness(-4%));

  /* Font families */
  --font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-serif: Georgia, 'Times New Roman', Times, serif;
  --font-family-monospace: -apple-system-ui-monospace, 'SF Mono', Menlo, Monaco, Consolas, monospace;
  --font-family-base: var(--font-family-sans-serif);

  /* Huge */
  --font-size-huge: 1.3125rem; /* 21px */
  --line-height-huge: calc(28 / 21); /* 28px */

  /* Large */
  --font-size-large: 1.125rem; /* 18px */
  --line-height-large: calc(24 / 18); /* 24px */
  --font-size-large--relative: 1.125em; /* @todo: deprecate */

  /* Base */
  --font-size-base: 1rem; /* 16px */
  --line-height-base: calc(20 / 16); /* 20px */
  --font-size-base--relative: 1em; /* @todo: deprecate */

  /* Small */
  --font-size-small: 0.8125rem; /* 13px */
  --line-height-small: calc(16 / 13); /* 16px */

  /* Xsmall */
  --font-size-xsmall: 0.625rem; /* 10px */
  --line-height-xsmall: calc(12 / 10); /* 12px */
  --font-size-xsmall--relative: 0.625em; /* @todo: deprecate */

  /* Xsmall (uppercase) */
  --font-size-xsmall--uppercase: 0.6875rem; /* 11px */
  --line-height-xsmall--uppercase: calc(12 / 10); /* 12px */
  --font-size-xsmall--relative-uppercase: 0.6875em; /* @todo: deprecate */

  /* Tiny */
  --font-size-tiny: 0.625rem; /* 10px */
  --line-height-tiny: calc(12 / 10); /* 12px */
  --font-size-tiny--relative: 0.625em; /* @todo: deprecate */

  /* Heading 1 */
  --font-size-h1: 2.0625rem; /* 33px */
  --line-height-h1: calc(40 / 33); /* 40px */

  /* Heading 2 */
  --font-size-h2: 1.6875rem; /* 27px */
  --line-height-h2: calc(36 / 27); /* 36px */

  /* Heading 3 */
  --font-size-h3: 1.3125rem; /* 21px */
  --line-height-h3: calc(28 / 21); /* 28px */

  /* Heading 4 */
  --font-size-h4: 1rem; /* 16px */
  --line-height-h4: calc(20 / 16); /* 20px */

  /* Heading 5 */
  --font-size-h5: 0.8125rem; /* 13px */
  --line-height-h5: calc(16 / 13); /* 16px */

  /* Heading 6 */
  --font-size-h6: 0.8125rem;
  --line-height-h6: calc(16 / 13); /* 16px */

  /* Blockquote */
  --blockquote-font-family: var(--font-family-sans-serif);
  --blockquote-color: var(--text-color-secondary);
  --blockquote-font-size: var(--font-size-base);
  --blockquote-line-height: var(--line-height-base);
  --blockquote-font-style: normal;
  --blockquote-border-color: var(--hairline-color);

  /* Page header */
  --page-header-border-color: var(--gray-lighter);

  /* HR */
  --hr-border: var(--gray-lighter);

  /* Preview */
  --preview-placeholder-text-color: color(var(--gray-light) a(50%));

  /* Icon */
  --icon-size: calc(25 / 16 * 1rem); /* 25px based on 16px */

  /* Misc */
  --line-height-computed: calc(var(--font-size-base) * var(--line-height-base));
  --headings-font-family: inherit;
  --headings-font-weight: 700;
  --headings-line-height: 1.1;
  --headings-color: inherit;
}
