@import 'part:@sanity/base/theme/variables-style';

.root {
  padding: var(--small-padding);
  border-radius: var(--border-radius-small);
  min-width: 0;

  @nest del & {
    text-decoration: line-through;
  }
}
