@import 'part:@sanity/base/theme/variables-style';

.itemStatus {
  z-index: 2;
  position: relative;
  opacity: 0.7;
  transition: opacity 0.15s linear;

  @nest &:hover {
    opacity: 1;
  }

  @nest .selectedItem & {
    color: var(--selected-item-color--inverted);
  }

  @nest & > i {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.draftBadge {
  font-size: var(--font-size-tiny--relative);
  opacity: 0.75;
}
