
.root {
  composes: root from 'part:@sanity/components/lists/default-style';
}

.item {
  composes: lineBetween from 'part:@sanity/components/lists/default-item-style';
  padding: 1px 0;
}

.link {
  color: inherit;
}
