.root {
  margin: 0em;
  overflow: auto;
  height: calc(100vh - 3rem);
}

.row {
  display: flex;
  padding: 0.5rem;
}

.column {
  flex: 1;
  padding: 0.5rem;
  box-sizing: border-box;

  @nest & > * {
    outline: 1px solid #f00;
  }
}
