.errorContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.iframeContainer iframe {
  border: 0;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}