@import 'part:@sanity/base/theme/variables-style';

.root {
  text-decoration: none;
  display: inline;
  position: relative;
  border: 0;
  padding: 0;
  border-bottom: 2px dotted color(var(--text-color) a(100%));

  box-shadow: inset 0 0 0 1px var(--hairline-color);
  white-space: nowrap;
  align-items: center;
  background-color: color(var(--text-color) a(10%));

  @nest &:hover {
    background-color: color(var(--text-color) a(20%));
    border-color: color(var(--text-color) a(100%));
  }
}

.isChanged {
  cursor: pointer;
}

.removed {
  text-decoration: line-through;
}

.empty {
  color: var(--text-muted);
  font-size: var(--font-size-xsmall--uppercase);
  line-height: var(--line-height-xsmall--uppercase);
  text-transform: uppercase;
  font-weight: 600;
}

.popoverContainer {
  min-width: 160px;
  padding: calc(var(--medium-padding) - var(--extra-small-padding));
  @nest & .popoverContent {
  }
}

.previewContainer {
  padding-left: var(--extra-small-padding);
  display: inline-flex;
  @nest & > svg {
    display: block;
    font-size: 17px;
    line-height: var(--line-height-base);
    margin: 2px 0 -2px 2px;
    opacity: 0.5;

    @nest .root:hover & {
      opacity: 1;
    }
  }
}
