@import 'part:@sanity/base/theme/variables-style';

.root {
  border-radius: var(--border-radius-small);
  box-shadow: inset 0 0 0 1px var(--hairline-color);
  padding: 0 2px;
  cursor: pointer;
}

.removed {
  /* opacity: 0.5; */
  text-decoration: line-through;
}
