@import 'part:@sanity/base/theme/variables-style';

.root {
  border: 1px solid var(--hairline-color);
  border-radius: var(--border-radius-small);
  margin: 0 2px;
  padding: 0 2px;
  cursor: pointer;
}

.removed {
  opacity: 0.5;
  text-decoration: line-through;
}
