@import 'part:@sanity/base/theme/variables-style';

.root {
  composes: paragraph from 'part:@sanity/base/theme/typography/text-blocks-style';
  text-transform: none;
  white-space: wrap;
  overflow-wrap: break-word;
  margin: 0;

  @nest div[class~='pt-list-item-inner'] > & {
    margin: 0;
  }
}
