@import 'part:@sanity/base/theme/variables-style';

@keyframes appear {
  0% {
    opacity: 0;
    max-height: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    max-height: 100vh;
    transform: scaleY(1);
  }
}

:root {
  --array--add-item-color: var(--brand-primary);
  --array--add-item-triangle-color: color(var(--form-builder--array--add-item-color) lightness(- 20%));
}

.root {
  padding: 0;

  @nest &::before {
    content: "shouldReposition";
    display: none;
  }

  @media (--max-screen-medium) {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
  }
}

.arrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;

  @media (--max-screen-medium) {
    display: none;
  }

  @nest &::before {
    content: "";
    z-index: 5;
    position: absolute;
    height: 1em;
    width: 1em;
    background-color: var(--component-bg);
    transform: translateX(-0.4em) rotate(45deg);
  }
}

.filledArrow {
  composes: arrow;

  @nest &::before {
    background-color: var(--brand-primary);
  }
}

.popover {
  composes: shadow-5dp from "part:@sanity/base/theme/shadows-style";
  background-color: var(--component-bg);
  border-radius: var(--border-radius-base);
  z-index: 2;
  padding: 0;
  margin-bottom: var(--large-padding);
  box-sizing: border-box;
  position: relative;
  transform: translateY(0.5rem);
  min-width: 30em;
  max-width: 80vw;
  transition: transform 0.25s cubic-bezier(0.77, 0, 0.175, 1); /* easeInOutQuart */

  @nest .fullWidth & {
    min-width: 100%;
    max-width: calc(100vw - 4rem);
    width: calc(100vw - 4rem);
  }

  @media (--max-screen-medium) {
    box-shadow: none;
    position: fixed !important;
    box-sizing: border-box;
    top: 0 !important;
    left: 0 !important;
    height: 100vh !important;
    width: 100vw !important;
    margin: 0 !important;
    transform: translate(0, 0) !important;
    min-width: 100vw !important;
    padding-bottom: 3rem;
    overflow: hidden;
  }
}

.close {
  position: absolute;
  border: 0;
  background: transparent;
  font-size: 1.5em;
  cursor: pointer;
  outline: none;
  padding-right: 0.25em;
  color: var(--text-color);
  top: var(--small-padding);
  right: var(--small-padding);
  background-color: color(var(--component-bg) a(50%));
  z-index: 1;

  @nest &:hover {
    color: var(--black);
  }
}

.closeInverted {
  composes: close;
  color: #fff;
  top: calc(var(--small-padding) / 2);
  right: 0;

  @media (--max-screen-medium) {
    top: var(--small-padding);
    right: var(--small-padding);
  }
}

.content {
  padding: 1em;
  max-height: 100%;
  box-sizing: border-box;

  @media (--max-screen-medium) {
    max-height: calc(100vh - var(--header-height)) !important;
  }
}

.contentIsResizing {
  composes: content;
  overflow: hidden;
}

.head {
  /* Mobile header */
  font-size: 1em;
  padding: 0.5em;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 2;

  @media (--screen-medium) {
    display: none;
  }
}

.title {
  margin: 0;
  background-color: var(--array--add-item-color);
  color: var(--component-bg);
  padding: var(--small-padding);
  font-size: 1rem;
  font-weight: 400;
  border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;

  @media (--max-screen-medium) {
    height: var(--header-height);
    line-height: var(--header-height);
    padding: 0 var(--small-padding);
  }
}

.primaryFunctions {
  margin-top: 1em;
}

.paddingDummy {
  padding: 0;
  margin: 0;
}
