@import 'part:@sanity/base/theme/variables-style';

:root {
  --edit-item-fold-border-color: var(--brand-primary);
  --edit-item-fold-dark-color: color(var(--edit-item-fold-border-color) lightness(-20%));
  --edit-item-fold-padding: var(--small-padding);
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.root {
  display: block;
  width: 100%;
  height: 0;
  clear: both;
  position: relative;
  /*transition: all 0.2s ease;*/
}

.wrapper {
  composes: shadow-10dp from "part:@sanity/base/theme/shadows-style";
  position: fixed;
  border: 1px solid var(--edit-item-fold-border-color);
  box-sizing: border-box;
  background-color: var(--component-bg);
  z-index: var(--zindex-popover);
  animation: appear 0.2s linear;
  margin-left: calc(var(--edit-item-fold-padding) * -1);
  margin-right: calc(var(--edit-item-fold-padding) * -1);

  @nest &::after {
    content: '';
    box-sizing: content-box;
    display: block;
    position: absolute;
    top: calc(var(--edit-item-fold-padding) * -1);
    left: 0;
    height: 0;
    width: 0;
    margin-left: -1px;
    margin-top: -1px;
    border-color: transparent;
    border-bottom: var(--edit-item-fold-padding) solid var(--edit-item-fold-dark-color);
    border-left: var(--edit-item-fold-padding) solid transparent;
    z-index: -1;
  }

  @nest &::before {
    content: '';
    box-sizing: content-box;
    display: block;
    position: absolute;
    top: calc(var(--edit-item-fold-padding) * -1);
    right: 0;
    height: 0;
    width: 0;
    margin-right: -1px;
    margin-top: -1px;
    border-color: transparent;
    border-bottom: var(--edit-item-fold-padding) solid var(--edit-item-fold-dark-color);
    border-right: var(--edit-item-fold-padding) solid transparent;
    z-index: -1;
  }
}

.head {
  background-color: var(--edit-item-fold-border-color);
  padding: var(--small-padding);
  height: 1.5em;
  color: var(--white);
}

.close {
  outline: none;
  color: var(--white);
  display: block;
  border: none;
  background-color: transparent;
  float: right;
}

.closeDark {
  composes: close;
  color: var(--black);
}

.content {
  padding: var(--medium-padding);
}
