@import 'part:@sanity/base/theme/variables-style';

/*
  Never use transform on this component. It destroys the layering combined with overlay
*/

@keyframes appear {
  0% {
    opacity: 0;
    max-height: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    max-height: 100vh;
    transform: scaleY(1);
  }
}

:root {
  --array--add-item-color: var(--brand-primary);
  --array--add-item-triangle-color: color(var(--form-builder--array--add-item-color) lightness(-20%));
}

.root {
  padding: 0;

  @nest &::before {
    content: "shouldReposition";
    display: none;
  }

  @media (--max-screen-medium) {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;

    @nest &::before {
      content: "shouldNotReposition";
    }
  }
}

.portal {
  z-index: var(--zindex-popover);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.inner {
  display: block;
}

.autoWidth {
  composes: inner;
}

.fullWidth {
  composes: inner;
}

.overlay {
  background-color: var(--backdrop-background-color);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  cursor: default;
  z-index: 1;

  @media (--max-screen-medium) {
    display: none;
  }
}

.arrow {
  position: absolute;
  top: -0.35em;
  left: 2em;
  z-index: 2;

  @nest &:before {
    content: "";
    z-index: 3;
    position: absolute;
    height: 1em;
    width: 1em;
    background-color: #fff;
    transform: rotate(45deg);
  }
}

.portalModal {
  composes: shadow-5dp from "part:@sanity/base/theme/shadows-style";
  background-color: #fff;
  z-index: calc(var(--zindex-popover) + 3);
  padding: var(--medium-padding);
  margin-bottom: var(--large-padding);
  box-sizing: border-box;
  position: relative;
  min-width: 30em;
  max-width: 80vw;
  transition: transform 0.25s cubic-bezier(0.77, 0, 0.175, 1);

  @nest .fullWidth & {
    min-width: 100%;
    max-width: calc(100vw - 4rem);
    width: calc(100vw - 4rem);
  }

  @media (--max-screen-medium) {
    position: fixed;
    box-sizing: border-box;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: scroll;
  }
}

.portalModalFullHeight {
  composes: portalModal;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  overflow-y: scroll;
}

.close {
  position: absolute;
  top: 0.15em;
  right: 0;
  border: 0;
  background: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
  outline: none;
  z-index: 2;

  @media (--screen-medium) {
    color: var(--text-color);
    top: 0;
    right: 0;

    @nest &:hover {
      color: #000;
    }
  }
}

.content {
  padding: 1em;
  padding-top: 5em;

  @media (--screen-medium) {
    padding: 0;
  }
}

.head {
  /* Mobile header */
  font-size: 1em;
  padding: 0.5em;
  overflow: hidden;
  background-color: var(--array--add-item-color);
  color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;

  @media (--screen-medium) {
    display: none;
  }
}

.title {
  margin: 0;
  padding: 0;
}

.primaryFunctions {
  margin-top: 1em;
}
