@import 'part:@sanity/base/theme/variables-style';

/*
  Never use transform on this component. It destroys the layering combined with overlay
*/

@keyframes appear {
  0% {
    opacity: 0;
    max-height: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    max-height: 100vh;
    transform: scaleY(1);
  }
}

:root {
  --array--add-item-color: var(--brand-primary);
  --array--add-item-triangle-color: color(var(--form-builder--array--add-item-color) lightness(-20%));
}

.root {
  padding: 0;

  @nest &::before {
    content: "shouldReposition";
    display: none;
  }

  @media (--max-screen-medium) {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;

    @nest &::before {
      content: "shouldNotReposition";
    }
  }
}

.inner {
  display: block;
  z-index: var(--zindex-popover);
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;

  /* @media (--screen-medium) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
  } */
}

.autoWidth {
  composes: inner;
  width: auto;
}

.fullWidth {
  composes: inner;
}

.overlay {
  background-color: var(--backdrop-background-color);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  cursor: default;
  z-index: 1;

  @media (--max-screen-medium) {
    display: none;
  }
}

.arrow {
  position: absolute;
  top: -0.35em;
  left: 2em;
  z-index: 2;

  @media (--max-screen-medium) {
    display: none;
  }

  @nest &:before {
    content: "";
    z-index: 3;
    position: absolute;
    height: 1em;
    width: 1em;
    background-color: var(--component-bg);
    transform: rotate(45deg);
  }
}

.portalModal {
  composes: shadow-5dp from "part:@sanity/base/theme/shadows-style";
  background-color: var(--component-bg);
  z-index: calc(var(--zindex-popover) + 3);
  padding: 0;
  margin-bottom: var(--large-padding);
  box-sizing: border-box;
  position: relative;
  min-width: 30em;
  max-width: 80vw;
  transition: transform 0.25s cubic-bezier(0.77, 0, 0.175, 1); /* easeInOutQuart */

  @nest .fullWidth & {
    min-width: 100%;
    max-width: calc(100vw - 4rem);
    width: calc(100vw - 4rem);
  }

  @media (--max-screen-medium) {
    box-shadow: none;
    position: fixed !important;
    box-sizing: border-box;
    top: 0 !important;
    left: 0 !important;
    height: 100vh !important;
    width: 100vw !important;
    margin: 0 !important;
    transform: translate(0, 0) !important;
    min-width: 100vw !important;
    padding-bottom: 3rem;
    overflow: hidden;
  }
}

.portalModalFullHeight {
  composes: portalModal;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  overflow-y: scroll;
}

.close {
  position: absolute;
  top: 0.15em;
  right: 0;
  border: 0;
  background: transparent;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
  outline: none;
  z-index: calc(var(--zindex-popover) + 1);
  padding-right: 0.25em;

  @media (--screen-medium) {
    color: var(--text-color);
    top: 0;
    right: 0;

    @nest &:hover {
      color: var(--brand-black);
    }
  }
}

.content {
  padding: 1em;
  max-height: 100%;
  box-sizing: border-box;
}

.contentWithScroll {
  composes: content;
  composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
  composes: lightScrollbars from "part:@sanity/base/theme/layout/scrolling-style";
}

.head {
  /* Mobile header */
  font-size: 1em;
  padding: 0.5em;
  overflow: hidden;
  background-color: var(--array--add-item-color);
  color: var(--component-bg);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: var(--zindex-popover);

  @media (--screen-medium) {
    display: none;
  }
}

.title {
  margin: 0;
  padding: 0;
}

.primaryFunctions {
  margin-top: 1em;
}

.paddingDummy {
  padding: 0;
  margin: 0;
}
