@import 'part:@sanity/base/theme/variables-style';

.intentLink {
  display: flex;
  outline: none;
  color: inherit;
  text-decoration: none;
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
}

.root {
  display: flex;
  white-space: nowrap;
  position: relative;
  padding: var(--small-padding) var(--medium-padding);
  flex: 1;
  min-width: 0;
}

.root[data-size='small'] {
  font-size: var(--font-size-small);
}

.avatar {
  display: flex;
  align-items: center;
  padding-right: var(--small-padding);
}

.inner {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
}

.userName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -1px;
}

.linkIcon {
  display: flex;
  align-items: center;
  margin-left: calc(var(--medium-padding) - var(--extra-small-padding));
  transition: transform 0.1s linear, opacity 0.1s linear;
  align-self: center;
  color: var(--gray);

  @nest & > svg {
    font-size: calc(17 / 16 * 1em); /* 17px */
    display: block;
    font-size: calc(17 / 16 * 1em); /* 17px */

    @nest &[data-sanity-icon='true'] {
      font-size: calc(25 / 16 * 1em); /* 25px */
      margin: calc(4 / 25 * -1em); /* -4px */
    }
  }
}
