@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  align-items: center;
}

.popoverContent {
  max-width: 280px;
}

.header {
  padding: var(--medium-padding) var(--medium-padding) var(--small-padding);
}

.title {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: 700;
  margin: 0;
}

.subtitle {
  margin: 0.25rem 0 0;
  padding-bottom: var(--small-padding);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  color: var(--text-muted);
}

.avatarList {
  max-height: calc(100vh - 130px);
  overflow: auto;
  padding: 0.25em 0;
}

.inner {
  outline: none;
}

.avatars {
  display: none;
  outline: none;

  @media (--screen-medium) {
    display: block;
  }
}

.manageMembers {
  border-top: 1px solid var(--hairline-color);
  padding: var(--extra-small-padding) 0;
  position: sticky;
  bottom: 0;
}

.manageLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--medium-padding);
  line-height: 1;
  color: inherit;
  text-decoration: none;
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  outline: none;

  @nest & > svg {
    color: var(--gray);
    font-size: calc(17 / 16 * 1em); /* 17px */
    display: block;
    font-size: calc(17 / 16 * 1em); /* 17px */

    @nest &[data-sanity-icon='true'] {
      font-size: calc(25 / 16 * 1em); /* 25px */
      margin: calc(4 / 25 * -1em); /* -4px */
    }
  }
}

.narrowButton {
  @media (--screen-medium) {
    display: none;
  }
}

.wideButton {
  display: none;

  @media (--screen-medium) {
    display: block;
  }
}

.avatarStack {
  margin: -1px -3px -2px;
  height: 23px;
}
