@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.block {
  display: block;
}

.inline {
  composes: root;
  display: inline-block;
}

.label {
  display: block;
  padding-right: var(--small-padding);
}

.content {
  display: block;

  @nest .inline & {
    flex-basis: 77%;
    flex-grow: 10;
    display: inline-block;
  }

  @nest .label + & {
    margin-top: var(--small-padding);
  }

  @nest .description + & {
    margin-top: var(--small-padding);
  }
}

.title {
  display: flex;
  align-items: center;
}

.description {
  composes: description from 'part:@sanity/base/theme/typography/text-blocks-style';

  /* @nest .inline & {
    font-size: var(--font-size-tiny);
  } */

  /* @nest .label + & {
    margin-top: calc(var(--small-padding) / 4);
  } */
}

.header {
  display: flex;
  align-items: center;
  padding: var(--extra-small-padding) 0;
  margin-bottom: var(--small-padding);
}

.headerMain {
  flex-grow: 1;
}

.validationStatus {
  display: flex;
  align-items: stretch;
  cursor: default;
}

.validationList {
  padding: 0;

  @nest & div[class*='root'] {
    margin: 0;
    padding: 0;

    @nest & .item {
      padding: 0;
      border: 0;
    }
  }
}

.labelAndDescriptionWrapper {
  display: block;

  @nest .inline & {
    flex-basis: 33%;
    flex-grow: 1;
  }
}

.wrapped {
  composes: root;
  padding: 1rem;
  background-color: var(--component-bg);
  border: var(--fieldset-border);
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  max-width: 100%;
}

.inner {
  display: block;

  @nest .inline & {
    display: flex;
    flex-direction: row;
  }
}

.level_1 {
  composes: root;
}

.level_2 {
  composes: root;
}

.level_3 {
  composes: root;
}

.level_4 {
  composes: root;
}
