@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.root + .root {
  margin-top: var(--medium-padding);
}

.block {
  display: block;
}

.inline {
  composes: root;
  display: inline;
}

.label {
  display: block;
}

.content {
  display: block;

  @nest .inline & {
    flex-basis: 77%;
    flex-grow: 10;
    display: inline-block;
  }
}

.label + .content {
  margin-top: var(--small-padding);
}

.description {
  composes: description from 'part:@sanity/base/theme/typography/text-blocks-style';

  @nest .inline & {
    font-size: var(--font-size-tiny);
  }
}

.label + .description {
  margin-top: calc(var(--small-padding) / 3);
}

.description + .content {
  margin-top: var(--small-padding);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: var(--small-padding);
}

.headerMain {
  flex-grow: 1;
}

.headerStatus {
  display: flex;
  padding: 0 var(--small-padding);
  align-content: center;
}

.validationStatus {
  cursor: default;
}

.validationIconError {
  composes: validationIconError from 'part:@sanity/base/theme/forms/validation-style';

  @nest .root:focus-within & {
    text-shadow: 0 0 5px var(--state-danger-color);
    color: var(--state-danger-color);
  }
}

.validationList {
  composes: validationList from 'part:@sanity/base/theme/forms/validation-style';
  padding-bottom: var(--small-padding);
}

.validationListClosed {
  composes: validationListClosed from 'part:@sanity/base/theme/forms/validation-style';
}

.labelAndDescriptionWrapper {
  display: block;

  @nest .inline & {
    flex-basis: 33%;
    flex-grow: 1;
  }
}

.wrapped {
  composes: root;
  padding: 1rem;
  background-color: var(--component-bg);
  border: 1px solid var(--gray-light);
  overflow: hidden;
  max-width: 100%;
}

.inner {
  display: block;

  @nest .inline & {
    display: flex;
    flex-direction: row;
  }
}

.level_1 {
  composes: root;
}

.level_2 {
  composes: root;
}

.level_3 {
  composes: root;
}

.level_4 {
  composes: root;
}
