@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.block {
  display: block;
}

.inline {
  composes: root;
  display: inline;
}

.label {
  display: block;
  padding-right: var(--small-padding);
}

.content {
  display: block;

  @nest .inline & {
    flex-basis: 77%;
    flex-grow: 10;
    display: inline-block;
  }
}

.label + .content {
  margin-top: var(--small-padding);
}

.title {
  display: flex;
  align-items: center;
}

.description {
  composes: description from 'part:@sanity/base/theme/typography/text-blocks-style';

  @nest .inline & {
    font-size: var(--font-size-tiny);
  }
}

.label + .description {
  margin-top: calc(var(--small-padding) / 3);
}

.description + .content {
  margin-top: var(--small-padding);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: var(--small-padding);
}

.headerMain {
  flex-grow: 1;
}

.headerStatus {
  display: flex;
  padding: 0 var(--small-padding);
  align-content: center;
}

.validationStatus {
  display: flex;
  align-items: stretch;
  cursor: default;
}

.validationList {
  padding: 0;

  @nest & div[class*='root'] {
    margin: 0;
    padding: 0;

    @nest & .item {
      padding: 0;
      border: 0;
    }
  }
}

.labelAndDescriptionWrapper {
  display: block;

  @nest .inline & {
    flex-basis: 33%;
    flex-grow: 1;
  }
}

.wrapped {
  composes: root;
  padding: 1rem;
  background-color: var(--component-bg);
  border: 1px solid var(--gray-light);
  overflow: hidden;
  max-width: 100%;
}

.inner {
  display: block;

  @nest .inline & {
    display: flex;
    flex-direction: row;
  }
}

.level_1 {
  composes: root;
}

.level_2 {
  composes: root;
}

.level_3 {
  composes: root;
}

.level_4 {
  composes: root;
}
