@import 'part:@sanity/base/theme/variables-style';

/* The fullscreen editor renders in a portal element */
.fullscreenPortal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @media (--max-screen-medium) {
    position: fixed;
    z-index: var(--zindex-portal);
  }
}

.root {
  font-family: var(--block-editor-base-font-family);
}

.header {
  position: relative;
  display: flex;
  background-color: var(--input-bg);
  border-bottom: 1px solid var(--hairline-color);
  z-index: 2;

  @nest .fullscreenPortal & {
    box-sizing: border-box;
    width: 100%;
    border: 0;

    @nest &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      border-bottom: 1px solid var(--hairline-color);
    }
  }

  @nest .root.readOnly & {
    background-color: var(--input-bg-disabled);
  }
}

.toolbarContainer {
  min-width: 0;
  flex: 1;
  height: 41px;

  @nest .fullscreenPortal & {
    height: 49px;
  }
}

.validationContainer {
  position: relative;
  padding: var(--extra-small-padding);
  border-left: 1px solid var(--hairline-color);

  @nest .fullscreenPortal & {
    padding: var(--small-padding);
  }
}

.fullscreenButtonContainer {
  border-left: 1px solid var(--hairline-color);
  padding: var(--extra-small-padding);

  @nest .fullscreenPortal & {
    padding: var(--small-padding);
  }
}

.editorBox {
  border: var(--input-border-size) solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  overflow: hidden;

  @nest .root.focus & {
    box-shadow: var(--input-box-shadow-thin--focus);
    border-color: var(--input-border-color-focus);
  }

  @nest .root:not(.focus):not(.readOnly):not(.disabled) & {
    @media (hover: hover) {
      @nest &:hover {
        box-shadow: var(--input-box-shadow--hover);
        border-color: var(--input-border-color-hover);
      }
    }
  }

  @nest .fullscreenPortal & {
    border: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.scrollContainer {
  composes: scrollY from 'part:@sanity/base/theme/layout/scrolling-style';
  background-color: var(--body-bg);
  display: block;
  height: 15rem;
  box-sizing: border-box;
  overflow-y: overlay;
  flex-direction: column;
  flex-grow: 1;
  position: relative;

  @nest .fullscreenPortal & {
    min-height: 0;
    flex: 1;
    height: 100%;
    overflow: auto;

    @media (--screen-medium) {
      padding: var(--medium-padding);
    }
  }
}

.editorWrapper {
  position: relative;
  height: 100%;
  margin: 0 auto;

  @nest .fullscreenPortal & {
    @media (--screen-medium) {
      max-width: calc(640px + var(--medium-padding) * 2);
    }

    @media (--screen-large) {
      max-width: calc(720px + var(--large-padding) * 2);
    }
  }
}

.activateOnFocusOverlay {
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.activeOnFocusHeading {
  composes: heading4 from 'part:@sanity/base/theme/typography/headings-style';
}

.shortcutHint {
  font-size: var(--font-size-xsmall);
  color: var(--text-muted);
}

.keyboardShortcut {
  font-size: var(--font-size-xsmall);
  opacity: var(--gray-light);
  text-transform: none;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--input-bg);
  z-index: 99999;
  opacity: 0.5;
}

/*
  The flex alignment here is to stretch the editor to
  fit its parrent, and to make the last child selectable for editing
*/

.editor {
  background-color: var(--input-bg);
  position: relative;
  box-sizing: border-box;
  font-family: var(--block-editor-base-font-family);
  min-height: 100%;
  display: flex;
  flex-direction: column;

  @nest .readOnly & {
    background-color: var(--input-bg-disabled);
    color: var(--input-color-read-only);
  }

  @nest .disabled & {
    background-color: var(--input-bg-disabled);
    color: var(--input-color-disabled);
  }

  @nest .focus & {
    background-color: var(--input-bg-focus);
  }

  @nest &.hasBlockExtras {
    margin-right: var(--block-extras-width);
  }

  /* The editable div */

  @nest & > div {
    flex: 1;
    min-height: 0;
    min-height: 100%;
  }

  @nest & > div [data-slate-placeholder='true'] {
    color: var(--input-color-placeholder);
    opacity: 1 !important;
  }

  @nest & > div {
    padding: calc(var(--medium-padding) - var(--extra-small-padding));
    overflow: auto;

    @nest .fullscreenPortal & {
      padding: var(--medium-padding);

      @media (--screen-default) {
        padding: var(--large-padding);
      }

      @media (--screen-large) {
        padding: var(--extra-large-padding);
      }
    }
  }

  /* Text blocks */

  @nest & > div > div:first-child > * {
    margin-top: 0;
  }

  @nest & > div > div:last-child > * {
    margin-bottom: 0;
  }

  /* Block objects */

  @nest & > div > div[class~='pt-object-block'] {
    margin: var(--medium-padding) 0;

    @nest &:first-child {
      margin-top: 0;
    }

    @nest &:last-child {
      margin-top: 0;
    }
  }

  /* space between different types of lists */
  @nest & > div > div[class~='pt-list-item-bullet'] + div[class~='pt-list-item-number'],
    & > div > div[class~='pt-list-item-number'] + div[class~='pt-list-item-bullet'] {
    margin-top: var(--medium-padding);
  }
}

.blockExtras {
  position: relative;
  top: 0;
  width: 100%;

  @nest .fullscreenPortal & {
    width: calc(100% - var(--block-extras-width));
    /* This is needed for the change connectors to render properly in fullscreen mode */
    border: 1px solid transparent;
    box-sizing: border-box;
  }
  @nest .fullscreenPortal .hasNoBlockExtras & {
    width: 100%;
  }
}

.focusSkipper {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0.2em;
  background-color: var(--component-bg);
  border: var(--input-border-size) solid var(--input-border-color);
  border-radius: var(--input-border-radius);

  @nest &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
    outline: none;
    box-shadow: var(--input-box-shadow-thin--focus);
    border-color: var(--input-border-color-focus);
  }
}
