@import 'part:@sanity/base/theme/variables-style';

.root {
  max-width: calc(640px + var(--medium-padding) + var(--medium-padding));
  flex-grow: 1;
  margin: 0 auto;
}

.typeMisMatchMessage {
  padding: 10em 3em;
}
