@import 'part:@sanity/base/theme/variables-style';

:root {
  --default-item-selected-color: var(--brand-primary);
  --default-item-active-color: var(--brand-primary);
}

.root {
  display: block;
}

.link {
  display: block;
  color: inherit;
  text-decoration: inherit;
  outline: none;

  @nest &:hover {
    background-color: color(var(--gray-base) a(7%));
  }

  @nest &:focus {
    background-color: color(var(--gray-base) a(10%));
    outline: none;
  }

  @nest &:active {
    background-color: color(var(--default-item-selected-color) a(100%));
    color: var(--white);
  }
}

.noLink {
  composes: link;
}

.sortableHelper {
  background-color: inherit;
  color: inherit;
  composes: shadow-5dp from "part:@sanity/base/theme/shadows-style";
}

.default {
  composes: root;
}

.sortableHelper {
  display: block;
  opacity: 0.7;
}

.dragHandle {
  position: relative;
  float: left;
  cursor: row-resize;
  font-size: 1em;
  height: 2.5em;
  line-height: 100%;
  display: block;
  opacity: 0.5;
  width: 2.5em;
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  border: 1px solid transparent;
  z-index: 1;

  &:hover {
    opacity: 1;
  }

  @nest .root:hover & {
    opacity: 0.7;
  }
}
