@import 'part:@sanity/base/theme/variables-style';

:root {
  --default-item-selected-color: var(--brand-primary);
  --default-item-active-color: var(--brand-primary);
}

.root {

}

.link {
  display: block;
  color: inherit;
  text-decoration: inherit;
  outline: none;

  @nest &:hover {
    background-color: color(var(--gray-base) a(7%));
  }

  @nest &:focus {
    background-color: color(var(--gray-base) a(10%));
    outline: none;
  }

  @nest &:active {
    background-color: color(var(--default-item-selected-color) a(100%));
    color: #fff;
  }
}

.noLink {
  composes: link;
}

.sortableHelper {
  background-color: inherit;
  color: inherit;
  composes: shadow-5dp from "part:@sanity/base/theme/shadows-style";
}

.default {
  composes: root;
}

.sortableHelper {
  display: block;
  opacity: 0.7;
}

.dragHandle {
  float: left;
  cursor: row-resize;
  font-size: 1em;
  height: 100%;
  line-height: 100%;
  display: block;
  opacity: 0.5;
  width: 1.5em;
  border: 1px solid transparent;

  &:hover {
    opacity: 1;
  }

  @nest .root:hover & {
    opacity: 0.7;
  }

  & > * {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0.5em;
    transform: translateY(-50%);
  }
}
