@import "part:@sanity/base/theme/variables-style";

:root {
  --default-item-selected-color: var(--brand-primary);
  --default-item-active-color: var(--brand-primary);
  --default-item-background-color: var(--gray);
  --default-item-background-color-hover: var(--gray-lighter);
}

.root {
  width: 100%;
  height: auto;
  background-color: var(--default-item-background-color);
  cursor: default;
  box-sizing: border-box;
}

.link {
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: inherit;

  @nest &:hover {
    color: var(--brand-black);
    background-color: var(--default-item-background-color-hover);
  }

  @nest &:active {
    color: var(--brand-white);
    background-color: var(--default-item-active-color);
  }

  @nest .selected & {
    color: var(--brand-white);
  }
}

.noLink {
  composes: link;
}

.sortableHelper {
  display: block;
  opacity: 0.7;
  transition: all 0 linear;
}

.dragHandle {
  position: absolute;
  top: var(--small-padding);
  left: var(--small-padding);
  z-index: 2;
}
