@import 'part:@sanity/base/theme/variables-style';

:root {
  --default-item-selected-color: var(--brand-primary);
  --default-item-active-color: var(--brand-primary);
}

.root {
  composes: resetListItem from "part:@sanity/base/theme/layout/helpers";
  background-color: transparent;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  text-overflow: ellipsis;
  user-select: none;
  cursor: default;
}

.selected {
  background-color: color(var(--default-item-selected-color) a(80%));
  color: #fff;
}

.highlighted {
  background-color: color(var(--default-item-selected-color) a(30%));

  @nest &.selected {
    background-color: color(var(--default-item-selected-color) a(90%));
  }
}

.divider {
  composes: root;
  border-bottom: 1px solid color(var(--black) a(7%));

  @nest &:first-child {
    border-top: 1px solid color(var(--black) a(7%));
  }
}

.zebra-stripes {
  composes: root;

  @nest &:nth-child(even) {
    background-color: color(var(--gray-base) a(4%));
  }
}
