@import 'part:@sanity/base/theme/variables-style';

.root {
  position: absolute;
  pointer-events: none;
  width: 27px;
  height: 27px;
  fill: none;

  @nest :empty + & {
    display: none;
  }

  @nest & > svg {
    display: block;
    transform-origin: 13.5px 13.5px;
  }

  @nest [data-popper-placement^='top'] > & {
    bottom: -27px;
  }

  @nest [data-popper-placement^='right'] > & {
    left: -27px;

    @nest & > svg {
      transform: rotate(90deg);
    }
  }

  @nest [data-popper-placement^='left'] > & {
    right: -27px;

    @nest & > svg {
      transform: rotate(-90deg);
    }
  }

  @nest [data-popper-placement^='bottom'] > & {
    top: -27px;

    @nest & > svg {
      transform: rotate(180deg);
    }
  }
}

.border {
  fill: var(--hairline-color);
}

.shape {
  fill: var(--component-bg);
}
