@import 'part:@sanity/base/theme/variables-style';

.root {
  pointer-events: all;
  display: flex;
}

.card {
  composes: shadow-12dp from 'part:@sanity/base/theme/shadows-style';

  background: var(--component-bg);
  color: var(--component-text-color);
  border-radius: var(--border-radius-medium);
  flex: 1;
  overflow: hidden;

  @nest &:empty {
    display: none;
  }
}
