@import 'part:@sanity/base/theme/variables-style';

.outer {
  display: inline-flex;
  composes: spacing from './DefaultButton.css';
}

.button {
  position: relative;
}

.inner {
  display: flex;
  align-items: center;
  outline: none;
}

.iconContainer {
  display: inline-block;
  vertical-align: top;
  height: 17px;
  line-height: 0;
  margin-left: var(--extra-small-padding);

  @nest & > svg {
    font-size: calc(17 / 16 * 1em);

    @nest &[data-sanity-icon='true'] {
      font-size: calc(25 / 16 * 1em);
      margin: calc(4 / 25 * -1em);
    }
  }
}

.label {
  display: inline-block;
  vertical-align: top;
}

.list {
  display: block;
  padding: var(--extra-small-padding) 0 !important;
}

.listItem {
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  white-space: pre;
}

.list .listItem {
  padding: var(--small-padding) calc(var(--medium-padding) - var(--extra-small-padding));
}

.popper {
  composes: shadow-6dp from 'part:@sanity/base/theme/shadows-style';
  position: fixed;
  box-sizing: border-box;
  background-color: var(--component-bg);
  overflow: auto;
  max-height: calc(100vh - var(--medium-padding) * 2);
  border-radius: var(--border-radius-small);
}
