@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  align-self: stretch;
}

.rootVertical {
  composes: root;
  flex-direction: column;
  padding: 0 var(--extra-small-padding);
}

.rootHorizontal {
  composes: root;
  align-content: flex-start;
  align-self: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: var(--extra-small-padding) 0;
}

.item {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  position: relative;
  text-align: center;

  @nest .rootVertical & {
    width: 100%;
  }
}
