@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block !important;
  border-radius: var(--border-radius-medium);

  @nest &:not(.selected) {
    @media (hover: hover) {
      color: var(--main-navigation-color--inverted-muted);

      @nest &:hover {
        color: inherit;
      }
    }
  }

  @nest a:focus & {
    background-color: color(var(--focus-color) a(20%));
    color: inherit;
  }
}

.inner {
  position: relative;
  text-decoration: none;
  padding: var(--medium-padding);
  white-space: nowrap;
  outline: none;
  flex-direction: row;

  @nest & > div {
    margin: calc(0 - var(--extra-small-padding));
    display: flex;
    align-items: center;
  }
}

.iconContainer {
  display: block;

  @nest & > svg {
    display: block;
    font-size: calc(17 / 16 * 1em);

    @nest &[data-sanity-icon] {
      font-size: calc(25 / 16 * 1em);
      margin: calc(4 / 25 * -1em);
    }
  }
}

.toolName {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  padding: 0 0 0 var(--small-padding);
  margin-top: -1px;
}
