@import 'part:@sanity/base/theme/variables-style';

.root {
  background-color: var(--component-bg);
  color: var(--text-color);
  composes: shadow-6dp from 'part:@sanity/base/theme/shadows-style';
  font-size: var(--font-size-base);
  line-height: var(--font-size-base);
  user-select: none;
  text-align: left;
  overflow: auto;
  overflow-x: hidden;
  padding: var(--extra-small-padding) 0;
  border-radius: var(--border-radius-medium);
}

.list {
  composes: resetList from 'part:@sanity/base/theme/layout/helpers';
}

.item {
  composes: resetListItem from 'part:@sanity/base/theme/layout/helpers';
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  white-space: nowrap;
  position: relative;
  line-height: calc(25 / 16 * 1em);
}

.isDisabled {
  opacity: 0.4;

  @nest &:hover {
    background-color: inherit;
  }
}

.focusedItem {
  composes: item;
  composes: selected from 'part:@sanity/base/theme/layout/selectable-style';
}

.iconContainer {
  display: flex;
  align-items: center;
  margin-right: var(--small-padding);

  @nest & svg {
    display: block;
    font-size: calc(17 / 16 * 1em); /* 17px */

    @nest &[data-sanity-icon='true'] {
      display: block;
      font-size: calc(25 / 16 * 1em); /* 25px  */
      margin: calc(4 / 25 * -1em); /* -4px */
    }
  }
}

.link {
  display: flex;
  align-items: center;
  position: relative;
  padding: var(--small-padding) calc(var(--medium-padding) - var(--extra-small-padding));
  cursor: default;
  text-decoration: none;
  color: inherit;
  outline: none;
}

.dangerLink {
  composes: link;
  color: var(--state-danger-color);
}

.divider {
  margin-top: calc(var(--small-padding) + 1px);

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(0 - var(--extra-small-padding) - 1px);
    border-top: 1px solid var(--hairline-color);
  }
}
