@import 'part:@sanity/base/theme/variables-style';

.root {
  display: inline-flex;
  align-items: center;
  border-radius: var(--border-radius-small);
  /* Optimised for 11px */
  padding: calc(1 / 11 * 1em) calc(3 / 11 * 1em);
  line-height: calc(12 / 11);
  text-transform: uppercase;
  font-weight: 600;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  border: 1px solid transparent;
  transform: translateZ(0);
  cursor: default;
}

.root + .root {
  margin-left: var(--extra-small-padding--em);
}

.default {
  composes: root;
  background-color: var(--text-color);
  border-color: var(--text-color);
  color: color(var(--text-color) contrast(100%));

  @nest &[data-color='success'] {
    background-color: var(--state-success-color);
    border-color: var(--state-success-color);
    color: var(--state-success-color--inverted);
  }

  @nest &[data-color='info'] {
    background-color: var(--state-info-color);
    border-color: var(--state-info-color);
    color: var(--state-info-color--inverted);
  }

  @nest &[data-color='warning'] {
    background-color: var(--state-warning-color);
    border-color: var(--state-warning-color);
    color: var(--state-warning-color--inverted);
  }

  @nest &[data-color='danger'] {
    background-color: var(--state-danger-color);
    border-color: var(--state-danger-color);
    color: var(--state-danger-color--inverted);
  }

  @nest &[data-color='neutral'] {
    background-color: var(--gray);
    border-color: var(--gray);
    color: var(--white);
  }
}

.inverted {
  composes: root;
  color: inherit;
  background-color: transparent;
  border-color: currentColor;

  @nest &[data-color='success'] {
    border-color: var(--state-success-color--faded);
    color: var(--state-success-color--strong);

    @nest &[data-faded='true'] {
      color: var(--state-success-color--faded);
    }
  }

  @nest &[data-color='info'] {
    border-color: var(--state-info-color--faded);
    color: var(--state-info-color--strong);

    @nest &[data-faded='true'] {
      color: var(--state-info-color--faded);
    }
  }

  @nest &[data-color='warning'] {
    border-color: var(--state-warning-color--faded);
    color: var(--state-warning-color--strong);

    @nest &[data-faded='true'] {
      border-color: var(--state-warning-color--faded);
    }
  }

  @nest &[data-color='danger'] {
    border-color: var(--state-danger-color--faded);
    color: var(--state-danger-color--strong);

    @nest &[data-faded='true'] {
      color: var(--state-danger-color--faded);
    }
  }

  @nest &[data-color='neutral'] {
    border-color: var(--gray-light);
    color: var(--gray);

    @nest &[data-faded='true'] {
      border-color: var(--gray-light);
      color: var(--gray-light);
    }
  }
}
