@import "part:@sanity/base/theme/variables-style";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.root {
  /* root */
}

.block {
  composes: root;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  @nest & .inner {
    display: flex;
  }

  @nest & .message {
    margin-left: 0.5em;
    display: block;
  }
}

.inline {
  composes: root;
  display: inline-flex;

  @nest & .inner {
    display: inline-flex;
  }

  @nest & .icon {
    height: 1em;
    width: 1em;
    display: block;
    align-self: center;
  }

  @nest & .message {
    margin-left: 0.5em;
    display: block;
  }
}

.message:empty {
  display: none;
}

.inline.center .message {
  margin-left: 1em;
}

.icon {
  display: block;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center center;
  shape-rendering: geometricPrecision;
  height: 1em;
  width: 1em;

  @nest & svg {
    display: block;
    padding: 0;
    margin: 0;
    height: inherit;
    width: inherit;
    shape-rendering: geometricPrecision;
  }
}

.center {
  background-color: color(var(--body-bg) a(50%));
  z-index: var(--zindex-spinner);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  opacity: 0;
  animation-name: appear;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: once;
  animation-fill-mode: forwards;

  @media (--screen-medium) {
    background-color: color(var(--body-bg) a(10%));
  }

  @nest & .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @nest & .icon {
    height: 2em;
    width: 2em;
  }

  @nest & .message {
    text-align: center;
    display: block;
    font-weight: 300;
    white-space: pre-wrap;
    padding-top: 0.5em;
    align-self: center;
  }
}

.fullscreen {
  composes: center;
  background-color: color(var(--body-bg) a(90%));
  color: var(--body-text);
  position: fixed;
  z-index: var(--zindex-portal);
}
