@import 'part:@sanity/base/theme/variables-style';

html {
  background-color: var(--body-bg);
  color: var(--text-color);
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
}

html,
body,
:global(#root) {
  height: 100%;
}

:global(#root) {
  -webkit-font-smoothing: antialiased;
}
