@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  display: flex;
}

.isMenuOpen {
  composes: root;
}

.mainAction {
  flex: 1;
}

.mainActionButton {
  width: 100%;
}

.mainActionButtonWithMoreActions {
  composes: mainActionButton;
}

.actionsDropDown {
  margin-left: 0.25em;
}

.actionsDropDownButton {
  vertical-align: top;
}

.menuContainer {
  position: absolute;
  top: -0.5em; /* 8px */
  right: 0;
  display: none;
  z-index: var(--zindex-pane);

  @nest .isMenuOpen & {
    display: block;
  }
}

.menu {
  list-style: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--component-bg);
  color: var(--text-color);
  composes: shadow-6dp from 'part:@sanity/base/theme/shadows-style';
  user-select: none;
  text-align: left;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  padding: calc(var(--small-padding) / 2) 0;
  border-radius: var(--border-radius-medium);
}

.menuItem {
  white-space: nowrap;
}

.menuItemButton {
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  font: inherit;
  line-height: calc(25 / 16);
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;

  @nest & > div {
    outline: none;
    padding: 0.5em 0.75em;
    display: flex;
    align-items: center;
  }
}

.menuItemIcon {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  margin: 0 0.5em 0 0;

  @nest & svg {
    display: block;
    font-size: calc(17 / 16 * 1em);
    margin: calc(4 / 17 * 1em) 0;

    @nest &[data-sanity-icon='true'] {
      font-size: calc(25 / 16 * 1em);
      margin: 0 calc(4 / 25 * -1em);
    }
  }
}

.menuItemLabel {
  flex: 1;
  min-width: 0;
  margin: -2px 0 -1px;
}

.menuItemHotkeys {
  margin-left: var(--medium-padding);
  line-height: 0;
}

.tooltip {
  display: block !important;
}

.tooltipBox {
  padding: calc(var(--medium-padding) - var(--extra-small-padding));
  max-width: 250px;
}

.tooltipTitle {
  padding-right: var(--small-padding);
}

.tooltipHotkeys {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 var(--extra-small-padding);
}
