@import 'part:@sanity/base/theme/variables-style';

.statusBadges {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  font-size: var(--font-size-xsmall--uppercase);
  line-height: 1;

  @nest & > div + div {
    margin-left: var(--extra-small-padding);
  }
}
