@import 'part:@sanity/base/theme/variables-style';

.editRootFold {
  position: relative;
  width: calc(100% + var(--medium-padding) * 2);
  margin-left: calc(var(--medium-padding) * -1);
}

.missingKeyMessage {
  color: var(--state-warning-color);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 200;
  padding: var(--extra-small-padding) var(--small-padding);
  background-color: var(--input-bg);
}

.previewWrapperHelper {
  outline: none;
}

.previewWrapperHelper:focus {
  @nest .innerWithError & {
    box-shadow: var(--input-box-shadow--invalid-focus);
  }
}

.functions {
  display: flex;
  align-items: center;
  margin: 0 var(--extra-small-padding);

  @nest &:empty {
    display: none;
  }
}

.validationIconError {
  composes: validationIconError from 'part:@sanity/base/theme/forms/validation-style';
}

.validationStatusContainer {
  margin-left: var(--extra-small-padding);

  @nest &:empty {
    display: none;
  }
}

.presenceContainer {
}

.editButtonContainer {
  margin-left: var(--extra-small-padding);

  @nest &:empty {
    display: none;
  }
}

.removeButtonContainer {
  margin-left: var(--extra-small-padding);

  @nest &:empty {
    display: none;
  }
}
