.root {
  white-space: nowrap;

  @nest & > div {
    display: inline-block;
    vertical-align: top;
  }

  @nest & > div + div {
    margin-left: -4px;
  }

  @nest & > div.extraCounter {
    min-width: 21px;
    height: 21px;
    padding: 0 6px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1.5px currentColor;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: calc(21px / 2);

    @nest & > span {
      display: block;
      font-size: 10px;
      line-height: 12px;
      font-weight: 700;
      margin-top: -1px;
    }
  }
}
