@import 'part:@sanity/base/theme/variables-style';

.svg {
  z-index: calc(var(--zindex-portal) - 1);
}

.connector {
  stroke: #2276fc;
  stroke-width: 2;
}

.dangerConnector {
  composes: connector;
  stroke: var(--state-danger-color);
}

.hasFocus {
  opacity: 1;
}
