@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  align-items: center;
  outline: none;
  border-radius: var(--border-radius-small);

  @nest & > svg {
    display: block;
    font-size: calc(25 / 16 * 1rem);
    pointer-events: none;
  }

  @nest &:focus-visible {
    box-shadow: 0 0 0 2px var(--focus-color);
  }

  @nest &.error {
    color: var(--state-danger-color);
  }

  @nest &.warning {
    color: var(--state-warning-color);
  }
}

.tooltip {
  display: flex;
  padding: var(--small-padding);
}

.tooltipIcon {
  @nest & > svg {
    display: block;
    font-size: calc(17 / 16 * 1em);

    &[data-sanity-icon='true'] {
      font-size: calc(25 / 16 * 1em);
      margin: calc(4 / 25 * -1em);
    }
  }
}

.tooltipErrorIcon {
  composes: tooltipIcon;
  color: var(--state-danger-color);
}

.tooltipWarningIcon {
  composes: tooltipIcon;
  color: var(--state-warning-color);
}

.tooltipText {
  color: var(--text-color-secondary);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: 400;
  margin: 0 0 1px;
  padding-left: var(--small-padding);
}
