@import 'part:@sanity/base/theme/variables-style';

.root {
  background: var(--component-bg);
  padding: var(--small-padding);
  margin: var(--extra-small-padding) 0 0;
  border-radius: var(--border-radius-medium);
  overflow: auto;
}

.label {
  margin: 0;
  font: inherit;
  line-height: 1;

  @nest & > code {
    font-family: var(--font-family-monospace);
  }
}

.preview {
  margin-top: var(--small-padding);

  @nest &:empty {
    display: none;
  }
}
