@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  padding: 1px;

  &.media {
    height: 15em;
    width: 15em;
  }
}

.inner {
  composes: shadow-1dp from 'part:@sanity/base/theme/shadows-style';

  display: flex;
  align-items: center;
  background: var(--component-bg);
  border-radius: var(--border-radius-small);
  padding: calc(var(--extra-small-padding) - 1px);
  transition: box-shadow 100ms;

  @nest :global(.ArrayInput__moving) & {
    box-shadow: 0 0 0 1px var(--hairline-color), 0 8px 17px 2px var(--shadow-color-umbra),
      0 3px 14px 2px var(--shadow-color-penumbra), 0 5px 5px -3px var(--shadow-color-ambient);
  }
}

.input {
  flex: 1;
  min-width: 0;
}

.dragHandle {
  display: block;
  margin: 0 var(--small-padding) 0 var(--extra-small-padding);

  @nest & > button {
    cursor: ns-resize;
  }
}

.functions {
  color: var(--text-color-secondary);
  display: flex;
  align-items: center;
  margin: 0 var(--extra-small-padding) 0 var(--small-padding);
}

.validationStatusContainer {
}

.presenceContainer {
  /* @nest & > div:empty {
    display: none;
  } */
}

.removeButtonContainer {
  margin-left: 0.25em;
}
