@import 'part:@sanity/base/theme/variables/brand-colors-style';

:root {
  /* Shades */
  --gray-darkest: color(var(--black) blend(var(--gray-base) 20%));
  --gray-darker: color(var(--black) blend(var(--gray-base) 50%));
  --gray-dark: color(var(--black) blend(var(--gray-base) 70%));
  --gray: var(--gray-base);
  --gray-light: color(var(--white) blend(var(--gray-base) 70%));
  --gray-lighter: color(var(--white) blend(var(--gray-base) 50%));
  --gray-lightest: color(var(--white) blend(var(--gray-base) 20%));

  /* Deprecated: */
  --gray-darkest--transparent: color(var(--black) alpha(95%));
  --gray-darker-transparent: color(var(--black) alpha(80%));
  --gray-dark--transparent: color(var(--black) alpha(65%));
  --gray--transparent: color(var(--black) alpha(50%));
  --gray-light--transparent: color(var(--black) alpha(35%));
  --gray-lighter--transparent: color(var(--black) alpha(20%));
  --gray-lightest--transparent: color(var(--black) alpha(5%));
}
