@import 'part:@sanity/base/theme/variables-style';

:root {
  --property-preview-height: calc((var(--line-height-base) * 1em) + (var(--small-padding) * 2));
}

.root {
  /* color */
  @nest &[data-type='color'] {
    outline: 1px solid var(--black);
  }

  /* size */
  @nest &[data-type='size'] {
    background: var(--body-text);
    height: var(--property-preview-height);
  }

  /* font-family */
  @nest &[data-type='font-family'] {
    background: var(--body-bg);
    padding: var(--small-padding);
  }

  /* font-size */
  @nest &[data-type='font-size'] {
    background: var(--body-bg);
    padding: var(--small-padding);
  }

  /* font-weight */
  @nest &[data-type='font-weight'] {
    background: var(--body-bg);
    padding: var(--small-padding);
  }

  /* line-height */
  @nest &[data-type='font-weight'] {
    background: var(--body-bg);
    padding: 0 0.5em;
  }

  /* border-radius */
  @nest &[data-type='border-radius'] {
    background: var(--body-bg);
    padding: var(--small-padding) 0 0 10%;

    @nest & > div {
      background: var(--body-text);
      height: calc(var(--property-preview-height) - var(--small-padding));
    }
  }

  /* cursor */
  @nest &[data-type='cursor'] {
    height: var(--property-preview-height);
    background: var(--body-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-muted);
  }

  /* border-width */
  @nest &[data-type='border-width'] {
    background: var(--body-bg);
    height: var(--property-preview-height);
  }

  /* border */
  @nest &[data-type='border'] {
    background: var(--body-bg);
    height: var(--property-preview-height);
  }

  /* box-shadow */
  @nest &[data-type='box-shadow'] {
    height: var(--property-preview-height);
  }
}

.unknown {
  color: var(--state-danger-color--strong);
  font-weight: 700;
}
