@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  min-height: var(--avatar-height);
  width: 77px;
  margin-left: var(--small-padding);

  @nest &[data-max-avatars='1'] {
    max-width: 23px;
  }

  @nest &[data-position='top'] {
    align-self: flex-start;
  }

  @nest &[data-position='bottom'] {
    align-self: flex-end;
  }
}
