@import 'part:@sanity/base/theme/variables-style';

.root {
  /* empty */
}

.heading {
  color: var(--state-warning-color);
}

.inspectValue {
  font-family: var(--font-family-monospace);
  border: 1px solid var(--hairline-color);
  max-height: 200px;
  overflow-y: scroll;
  background-color: var(--component-bg);
  padding: var(--small-padding);
  margin: 0 0 var(--medium-padding);
}

.content {
  border-top: 1px solid var(--state-warning-color);
  border-bottom: 1px solid var(--state-warning-color);
  padding: 1rem 0.5rem;
}
