@import 'part:@sanity/base/theme/variables-style';

@keyframes complete {
  0% {
    opacity: 100;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @nest .level0 & {
    margin: calc(var(--medium-padding) * -1) !important;
  }

  @media (--screen-medium) {
    flex-direction: row;
  }
}

.imageWrapper {
  min-height: 10rem;
  position: relative;
  color: #fff;
  transition: background-color 0.1s linear;
  user-select: none;
  max-height: 50vw;
  overflow: hidden;
  background-color: #eee;
  background-image:
    linear-gradient(45deg, #fff 25%, transparent 25%),
    linear-gradient(-45deg, #fff 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #fff 75%),
    linear-gradient(-45deg, transparent 75%, #fff 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0;

  @nest &:hover {
    background-color: var(--gray);
  }

  @media (--screen-medium) {
    min-height: 12rem;
    flex-basis: 30%;
    height: auto;

    @nest .noContent & {
      flex-basis: 100%;
    }
  }
}

.imageWrapperEmpty {
  composes: imageWrapper;
}

.content {
  margin-left: 1rem;
  flex-grow: 1;

  @nest .noContent & {
    display: none;
  }

  @media (--screen-medium) {
    flex-basis: 30%;
  }
}

.progressContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: color(var(--gray-lightest) a(0.7));

  @nest .error & {
    background-color: color(var(--state-danger-color) a(0.7));
  }
}

.progressContainerComplete {
  composes: progressContainer;
  animation-name: complete;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.progressInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}

.image {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.imageIsUploaded {
  composes: image;
}

.imageIsNotUploaded {
  composes: image;
  overflow: hidden;
}

.imageSelect {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--gray-lighter);
  cursor: default;
  transition: transform 0.1s linear;
  z-index: 15;
  user-select: none;

  @nest & span {
    cursor: default;
  }

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    color: #fff;
  }
}

.removeButton {
  position: absolute;
  bottom: var(--medium-padding);
  left: var(--medium-padding);
  font-size: 0.8rem;
  z-index: 15;
}

.cancel {
  cursor: pointer;
  color: var(--state-danger-color);
  position: absolute;
  top: 50%;
  margin-top: 3rem;
  z-index: 10;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
}

.errorMessage {
  composes: cancel;
  color: #fff;
  cursor: default;

  @nest & span {
    text-decoration: underline;
    cursor: pointer;
  }
}

.uploadInner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  filter: drop-shadow(0 0 5px #000);
}

.uploadIcon {
  display: block;
  font-size: 2em;
  width: 100%;
  margin-bottom: var(--small-padding);

  @nest & svg {
    font-size: 2em;
    width: 100%;
  }
}
