@import 'part:@sanity/base/theme/variables-style';

.root {
  border: 1px solid transparent;
  display: block;
  outline: none;

  @nest &:focus {
    border: 1px dotted var(--input-border-color-focus);
  }
}
