@import 'part:@sanity/base/theme/variables-style';

.root {
}

.header {
  padding: var(--medium-padding);
  border-bottom: 1px solid var(--hairline-color);

  @nest & h2 {
    font-size: inherit;
    margin: 0;
  }
}

.content {
  padding: var(--medium-padding);
}

.footer {
  padding: var(--medium-padding);
}
