@import 'part:@sanity/base/theme/variables-style';
@import 'part:@sanity/base/theme/body-style';

@use postcss-cssnext;
@use lost;

.root {
  margin: 0;
  padding: 0;
  margin-bottom: var(--large-padding);
  border: 0;
  width: 100%;

  & & {
    /* nested inside itself */
    margin: 0;
  }
}

.fieldWrapper {
  box-sizing: border-box;
  lost-column: none;

  @media (--screen-medium) {
    @nest .columns4 & {
      lost-column: 1/4;
    }

    @nest .columns3 & {
      lost-column: 1/3;
    }

    @nest .columns2 & {
      lost-column: 1/2;
    }

    @nest .columns1 & {
      lost-column: 1/1;
    }
  }
}

.columns1 {
  composes: root;
}

.columns2 {
  composes: root;
}

.content {
  display: block;
  background-color: #fff;
  border: 1px solid var(--gray-lighter);
  padding: var(--medium-padding);
  margin-top: var(--small-padding);
  position: relative;
  lost-utility: clearfix;

  & & {
    /* nested inside itself */
    border: none;
    padding: 0;
  }
}

.inner {
  display: block;
}

.legend {
  composes: heading4 from 'part:@sanity/base/theme/typography/headings-style';
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  /* Should compose heading3, but it is not allowed */
  @nest .root .root & {
    font-size: var(--font-size-h3);
    text-transform: none;
    padding-top: var(--medium-padding);
  }
}

.functions {
  margin-top: 1em;
}

.description {
  composes: description from 'part:@sanity/base/theme/typography/text-blocks-style';
  margin-bottom: 0;
  padding-bottom: 0;
}

.debugNestingLevel {
  display: none;
}
