@import 'part:@sanity/base/theme/variables-style';

.dropZone {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: var(--small-padding);
  user-select: none;
  color: inherit;
  background-color: transparent;
  transition: background 0.1s linear;

  @nest &:hover {
    background-color: color(var(--brand-primary) a(10%));
  }

  @nest &:active {
    background-color: color(var(--brand-primary) a(100%));
    color: var(--white);

    @nest & .inner {
      border-color: var(--white);
    }
  }
}

.activeDropZone {
  composes: dropZone;
  background-color: var(--focus-color);

  @nest .hasUnAcceptedFiles & {
    background-color: color(var(--brand-danger) a(50%));
  }

  @nest & .passiveText {
    display: none;
  }

  @nest & .activeText {
    display: block;
  }
}

.inner {
  border: 5px dashed var(--brand-primary);
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  @nest .hasError & {
    border-color: var(--brand-danger);
  }
}

.ghost {
  height: 100%;
  width: 100%;

  @nest & .inner {
    opacity: 0;
  }
}

.activeGhost {
  composes: activeDropZone;

  @nest & .inner {
    opacity: 1;
  }
}

.passiveText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @nest .hasError & {
    display: none;
  }
}

.activeText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;

  @nest .hasError & {
    display: none;
  }
}

.iconContainer {
  font-size: 2rem;
}

.strong {
  font-weight: 600;
  font-size: var(--font-size-large);
  margin: 0;
  padding: 0;
}

.errorText {
  height: 50%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: var(--brand-danger);
  font-weight: 600;
}

.light {
  opacity: 0.7;
  margin: 0;
  padding: 0;
}

.hasError {
  background-color: color(var(--brand-danger) a(50%));
}
