@import 'part:@sanity/base/theme/variables-style';

:root {
  --navMinWidth: 2em;
}

@keyframes fade-in {
  0% {
    background-color: color(var(--black) a(40%));
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    background-color: color(var(--black) a(40%));
    opacity: 0.5;
  }

  100% {
    background-color: color(var(--body-bg) a(50%));
    opacity: 1;
  }
}

.link {
  cursor: default;

  @nest &:hover {
    background-color: #ccc;
  }
}

.editorCreateNew {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-large);
  width: 100%;
  text-align: center;
}

.editorCreateNewLink {
  text-decoration: none;
  color: #bbb;

  @nest &:hover {
    color: #999;
  }
}

.emptyText {
  display: none;

  @media (--screen-medium) {
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 300;
    opacity: 0.5;
  }
}

.selectContentType {
  composes: flexCenter from 'part:@sanity/base/theme/layout/positioning-style';
  display: none;

  @media (--screen-medium) {
    display: flex;
    font-weight: 300;
    opacity: 0.5;
    font-size: var(--font-size-huge);
  }
}
