@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--small-padding);
  border-radius: var(--border-radius-small);
  overflow: hidden;
  max-height: 190px;
  max-width: 250px;
}

.meta {
  composes: small from 'part:@sanity/base/theme/typography/text-blocks-style';
  display: grid;
  grid-template-areas: 'image image' 'icon meta';
  grid-template-columns: auto 1fr;

  @nest & .info {
    overflow: hidden;
    line-height: 1.5;
    padding-left: var(--small-padding);
  }

  @nest & .title {
    font-size: inherit;
    font-weight: 600;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  @nest & .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--font-size-large) + 16px);
  }
}

.meta[data-action="added"] {
  /*  */
}

.meta[data-action="removed"] {
  
  @nest & .title {
    text-decoration: line-through;
  }
}

.sizeDiff {
  font-size: 13px;
  padding: 1px 4px;
  background: var(--component-bg);
  border-radius: 2px;
  margin: 0 var(--small-padding);

  @nest &[data-number="positive"] {
    color: var(--state-success-color);
  }

  @nest &[data-number="negative"] {
    color: var(--state-danger-color);
  }
}