.root {
  composes: functions from '../styles/DefaultPane.css';
}

.button {
  composes: functionsButton from '../styles/DefaultPane.css';
  display: block;
}

.text {
  composes: functionsButtonText from '../styles/DefaultPane.css';
}
