@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  position: relative;
  outline: none;
}

.disabled {
  composes: root;
}

.select {
  composes: root from 'part:@sanity/base/theme/forms/text-input-style';
  box-sizing: border-box;
  min-width: 7rem;
  appearance: none;
  position: relative;
  overflow: hidden;
}

.selectContainer {
  position: relative;
  color: var(--input-border-color);

  @nest &:hover {
    color: var(--input-border-color-focus);
  }

  @nest .hasFocus & {
    color: var(--input-border-color-focus);
  }
}

.selectContainerDisabled {
  composes: selectContainer;
  opacity: 0.5;
  color: var(--input-color);

  @nest &:hover {
    color: inherit;
  }

  @nest .hasFocus & {
    color: inherit;
  }
}

.disabled .arrow {
  opacity: 0.2;
}

.root:hover .arrow {
  color: var(--input-border-color-focus);
}

.root:focus-within .arrow {
  color: var(--input-border-color-focus);
}

.functions {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0.5em;
  height: 100%;
  color: var(--text-color);
  cursor: default;
  z-index: 1;
  pointer-events: none;

  @nest & > * {
    pointer-events: initial;
  }

  @nest & .arrow {
    pointer-events: none;
  }

  @nest & > *:not(:first-child) {
    margin-left: 0.5em;
  }

  @nest & svg {
    color: inherit;
  }

  @nest .selectContainerDisabled & {
    opacity: 0.5;
  }
}
