@import 'part:@sanity/base/theme/variables-style';

@use postcss-cssnext;

.root {
  display: block;
  position: relative;
}

.label {
  /* Nothing here yet */
}

.select {
  composes: textInput from 'part:@sanity/base/theme/forms/text-input-style';
  appearance: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.selectContainer {
  position: relative;
  color: var(--input-border-color);

  &:hover {
    color: var(--input-border-color-focus);
  }

  @nest .hasFocus & {
    color: var(--input-border-color-focus);
  }
}

.focusHelper {
  composes: focusHelper from 'part:@sanity/base/theme/forms/text-input-style';
  background-color: transparent;

  @nest .hasFocus & {
    background-color: var(--focus-color);
  }
}

.icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 0.2em;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: inherit;
  cursor: default;
  z-index: 1;
  pointer-events: none;

  @nest & svg {
    color: inherit;
  }
}
