@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  position: relative;
  outline: none;
}

.label {
  /* Nothing here yet */
}

.select {
  composes: textInput from 'part:@sanity/base/theme/forms/text-input-style';
  padding-right: 2rem;
  min-width: 7rem;
  appearance: none;
  position: relative;
  overflow: hidden;
}

.selectContainer {
  position: relative;
  color: var(--input-border-color);

  @nest &:hover {
    color: var(--input-border-color-focus);
  }

  @nest .hasFocus & {
    color: var(--input-border-color-focus);
  }
}

.selectContainerDisabled {
  composes: selectContainer;
  opacity: 0.5;
  color: var(--input-color);

  @nest &:hover {
    color: inherit;
  }

  @nest .hasFocus & {
    color: inherit;
  }
}

.root:hover .arrow {
  color: var(--input-border-color-focus);
}

.root:focus-within .arrow {
  color: var(--input-border-color-focus);
}

.functions {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0.5em;
  height: 100%;
  color: var(--text-color);
  cursor: default;
  z-index: 1;

  @nest & > *:not(:first-child) {
    margin-left: 0.5em;
  }

  @nest & svg {
    color: inherit;
  }

  @nest .selectContainerDisabled & {
    opacity: 0.5;
  }
}
