@import 'part:@sanity/base/theme/variables-style';

.root {
  composes: root from 'part:@sanity/components/selects/default-style';
}

.selectContainer {
  composes: selectContainer from 'part:@sanity/components/selects/default-style';
}

.selectContainerDisabled {
  composes: selectContainerDisabled from 'part:@sanity/components/selects/default-style';
}

.arrow {
  composes: icon from 'part:@sanity/components/selects/default-style';
  pointer-events: auto;
  z-index: 2;
}

.stickyContainer {
  position: relative;
  height: 0;
  box-sizing: border-box;
}

.listContainer {
  display: block;
  position: absolute;
  width: 100%;
  max-height: 300px;
  height: 1000px;
  border: 1px solid var(--component-border-color);
  box-sizing: border-box;
  background-color: var(--component-bg);
  composes: shadow-10dp from "part:@sanity/base/theme/shadows-style";
}

.listContainerEmpty {
  max-height: 4.5rem;
}

.listContainerTop {
  bottom: 2.5em;
  transform: translateY(2px);
}

.listContainerBottom {
  top: 0;
  transform: translateY(-1px);
}

.listContainerHidden {
  composes: listContainer;
  display: none;
}

.noResultText {
  text-align: center;
  padding: 0.5em;
  opacity: 0.5;
}

.spinner {
  position: absolute;
  top: 0.5em;
  right: 0.75em;
  z-index: 2;
}

.openItem {
  position: absolute;
  top: 0.5em;
  right: 3.25em;
  z-index: 2;
  color: var(--text-color);
  transition: transform 0.1s linear, opacity 0.1s linear;
  opacity: 0.6;

  @nest &:hover {
    opacity: 1;
    transform: scale(1.3);
    color: var(--link-color);

    @nest & svg {
      color: var(--link-color);
    }
  }

  @nest &:active {
    opacity: 1;
    color: var(--text-color);

    @nest & svg {
      color: var(--text-color);
    }
  }

  @nest & svg {
    color: var(--text-color);
  }
}

.listSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.clearButton {
  composes: clearButton from 'part:@sanity/components/textinputs/default-style';
  right: 1.5em;
}
