@import 'part:@sanity/base/theme/variables-style';

.root {
  composes: root from 'part:@sanity/components/selects/default-style';
}

.selectContainer {
  composes: selectContainer from 'part:@sanity/components/selects/default-style';

  @nest & input {
    padding-right: 5.5em;
  }
}

.selectContainerDisabled {
  composes: selectContainerDisabled from 'part:@sanity/components/selects/default-style';
}

.arrowAndSpinnerContainer {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  border-left: 1px solid var(--input-border-color);
  min-width: 2.5em;
}

.arrow {
  transition: transform 0.1s linear, opacity 0.1s linear;
  outline: none;
  user-select: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: inherit;
  font-size: var(--font-size-large);

  @nest &:hover, &:focus {
    color: var(--link-color);

    @nest & svg {
      color: inherit;
      opacity: 1;
      transform: scale(1.1  );
    }
  }
}

.functions {
  composes: functions from 'part:@sanity/components/selects/default-style';
}

.popper {
  z-index: var(--zindex-portal);
}

.listContainer {
  composes: shadow-12dp from 'part:@sanity/base/theme/shadows-style';
  display: block;
  min-height: 3.5rem;
  max-height: 20rem;
  overflow: auto;
  border: 1px solid var(--component-border-color);
  box-sizing: border-box;
  background-color: var(--component-bg);
  transition: max-height 100ms linear;
}

.listContainerNoResult {
  composes: listContainer;
  max-height: 4rem;
}

.listContainerHidden {
  composes: listContainer;
  display: none;
}

.noResultText {
  position: absolute;
  width: 100%;
  opacity: 1;
  box-sizing: border-box;
  padding: var(--medium-padding);
  transition: opacity 100ms ease-out;
  transition-delay: 100ms;
}

.noResultTextHidden {
  composes: noResultText;
  transition: none;
  opacity: 0;
}

.spinner {
  display: flex;
  align-items: center;
  font-size: 1em;

  @nest & svg {
    display: block;
  }
}

.item {
  padding: var(--small-padding);
}

.openItem {
  display: flex;
  align-items: center;
  transition: transform 0.1s linear, opacity 0.1s linear;
  opacity: 0.6;
  cursor: pointer;
  outline: none;

  @nest &:last-child {
    margin-right: var(--medium-padding);
  }

  @nest & a, & button {
    outline: none;
  }

  @nest &:hover, &:focus, &:focus-within {
    opacity: 1;
    transform: scale(1.3);
    color: var(--link-color);

    @nest & svg {
      color: var(--link-color);
    }
  }

  @nest &:active {
    opacity: 1;
    color: var(--text-color);

    @nest & svg {
      color: var(--text-color);
    }
  }

  @nest & svg {
    display: block;
    color: var(--text-color);
  }
}

.clearButton {
  composes: textInput from 'part:@sanity/base/theme/forms/clear-button-style';
}
