@import 'part:@sanity/base/theme/variables-style';

.root {
  max-height: 100%;
  height: 100%;
  position: relative;
}

.scrollContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.list {
  margin: 0;
  padding: 0;
  display: block;
}

.item {
  display: block;
  margin: 0;
  padding: 0;
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  composes: listItemStates from 'part:@sanity/base/theme/layout/backgrounds-style';
}

.selected {
  composes: item;
  composes: selected from 'part:@sanity/base/theme/layout/selectable-style';
}

.highlighted {
  composes: highlighted from 'part:@sanity/base/theme/layout/selectable-style';
}
