@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  outline: none;
  position: relative;
}

.selectContainer {
  composes: root from 'part:@sanity/base/theme/forms/text-input-style';
  composes: selectContainer from 'part:@sanity/components/selects/default-style';
  display: flex;

  @nest &:hover {
    box-shadow: var(--input-box-shadow--hover);
    border-color: var(--input-border-color-hover);
  }

  @nest &:focus, &:focus-within {
    box-shadow: var(--input-box-shadow--focus);
    border-color: var(--input-border-color-focus);
  }

  @nest &:active {
    border-color: var(--input-border-color-active);
  }

  @nest &:invalid {
    border-color: var(--input-border-color-invalid);
    background-color: var(--input-bg-error);
    box-shadow: var(--input-box-shadow--error);
  }

  @nest .transparent & {
    transition: all 0.05s linear;
    background-color: transparent;
    border: 1px solid color(var(--gray-base) a(8%));

    @nest &:hover {
      background-color: var(--white);
      border-color: var(--gray-light);
    }
  }
}

.functions {
  composes: functions from './SearchableSelect.css';
  position: static;
  padding-left: 0.5em;
  height: 2em;
}

.portal {
  position: fixed;
  z-index: var(--zindex-portal);
  top: 0;
  left: 0;
}

.list {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  transform: translateY(-1px);
  background-color: var(--component-bg);
  height: auto;
  width: auto;
  overflow-y: auto;
}

.text {
  color: var(--text-color);
}

.listContainerHidden {
  display: none;
}

.item {
  display: block;
  position: relative;
  border-bottom: 1px solid var(--gray-light);
  white-space: nowrap;
  overflow: hidden;
  min-height: 2em;
  cursor: default;
  padding-right: 1em;
  color: inherit;

  &:last-child {
    border: 0;
  }

  &:hover {
    background-color: var(--selectable-item-color-hover);
  }

  &:active {
    background-color: var(--gray-light--transparent);
  }

  @nest &.itemSelected {
    background-color: var(--selectable-item-color-hover);
  }
}

.itemContent {
  margin-left: 2em;
  padding: 0.5em 0;
}

.itemActive {
  composes: item;
  background-color: var(--selected-item-color);
  color: var(--selected-item-color--inverted);

  @nest &:hover {
    background-color: var(--selected-item-color);
    color: var(--selected-item-color--inverted);
  }
}

.itemIcon {
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5em;
  transform: translateY(-50%);
  font-size: 1em;
  width: 2em;
  overflow: hidden;
}

.disabled {
  opacity: 0.2;
}
