@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  outline: none;
  position: relative;

  @nest &:focus {
    box-shadow: var(--input-box-shadow--focus);
  }
}

.inner {
  composes: root from 'part:@sanity/base/theme/forms/text-input-style';
  cursor: default;

  @nest .transparent & {
    transition: all 0.05s linear;
    background-color: transparent;
    border: 1px solid color(var(--gray-base) a(8%));

    @nest &:hover {
      background-color: var(--white);
      border-color: var(--gray-light);
    }
  }
}

.transparent:not(:hover) .inner {
  box-shadow: none;
}

.selectContainer {
  composes: selectContainer from 'part:@sanity/components/selects/default-style';
  display: flex;
}

.arrow {
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  margin-left: auto;
}

.portal {
  position: fixed;
  z-index: var(--zindex-portal);
  top: 0;
  left: 0;
}

.popper {
  composes: shadow-6dp from "part:@sanity/base/theme/shadows-style";
  box-sizing: border-box;
  background-color: var(--component-bg);
  position: relative;
  max-height: inherit;
  overflow: auto;
}

.list {
  margin: 0;
  padding: 0;
  display: block;
}

.text {
  color: var(--text-color);
}

.listContainerHidden {
  display: none;
}

.noResultText {
  text-align: center;
  padding: 0.5em;
}

.spinner {
  position: absolute;
  top: 0.5em;
  right: 0.75em;
}

.item {
  display: block;
  position: relative;
  border-bottom: 1px solid var(--gray-light);
  white-space: nowrap;
  overflow: hidden;
  min-height: 2em;
  cursor: default;
  padding-right: 1em;
  color: inherit;

  &:last-child {
    border: 0;
  }

  &:hover {
    background-color: var(--selectable-item-color-hover);
  }

  &:active {
    background-color: var(--gray-light--transparent);
  }
}

.itemContent {
  margin-left: 2em;
  padding: 0.5em 0;
}

.itemSelected {
  composes: item;
  background-color: var(--selected-item-color);
  color: var(--selected-item-color--inverted);

  @nest &:hover {
    background-color: var(--selected-item-color);
    color: var(--selected-item-color--inverted);
  }
}

.itemIcon {
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5em;
  transform: translateY(-50%);
  font-size: 1em;
  width: 2em;
  overflow: hidden;
}
