:root {
  --form-builder--array--add-item-color: green;
}

.root {
  border: 1px solid var(--form-builder--array--add-item-color);
  margin-left: -3rem;
  margin-right: -3rem;
  box-shadow: 0 0 50px #000;
  background-color: #fff;
  padding: 0;
  z-index: 10;
  position: relative;
}

.content {
  padding: 1rem;
}

.title {
  background-color: var(--form-builder--array--add-item-color);
  color: #fff;
  font-size: 1em;
  padding: 1rem;
}
