@import 'style:@sanity/base/theme/variables';
@use postcss-cssnext;

.root {
  /* array container */
}

.item {
  transition: margin 0.1s linear;

  list-style-type: none;
  &:first-child > .itemInner {
    border-top: var(--list-border);
  }
}

.list {
  /* This is the list that contains the items */
  padding-bottom: var(--medium-padding);

  &:empty {
    display: none;
  }
}

.itemActive {
  composes: item;
  margin-right: -3rem;
  transition: margin 0.2s linear;
}

.itemInner {
  border-bottom: var(--list-border);
  padding: 0.5rem 1rem;
  transition: background-color 0.1s linear;
  cursor: pointer;

  &:hover {
    background-color: var(--gray-lighter);
  }
}

.itemActive > .itemInner {
  margin-top: -1px;
  background-color: #fff;
  border-top: var(--list-border);
  border-bottom: 0;
  border-left: 2px solid var(--brand-primary);
  font-weight: bold;
  border-right: var(--list-border);
}

.primaryFunctions {

}
