@import 'style:@sanity/base/theme/variables';
@use postcss-font-awesome;
@use postcss-cssnext;


@keyframes appear {
  0% {
    max-height: 0;
    overflow: hidden;
  }
  50% {
    margin-right: 0;
    max-height: 500px;
  }
  100% {
    max-height: 500px;
  }
}

:root {
  --form-builder--array--add-item-color: var(--brand-primary);
  --form-builder--array--add-item-triangle-color: color(var(--form-builder--array--add-item-color) lightness(-20%));
}

.root {
  border: 1px solid var(--form-builder--array--add-item-color);
  border-top: 0;
  background-color: #fff;
  padding: 0;
  z-index: 10;
  position: relative;

  animation-name: appear;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;

  padding: 1rem;

  @media (--max-screen-medium) {
    position: fixed;
    box-sizing: border-box;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
  }
}

.close {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  border: 0;
  background: none;
  font-size: 2rem;
  color: var(--form-builder--array--add-item-color);
  cursor: pointer;
  color: transparent;

  &::before {
    font-awesome: chevron-left;
    color: #fff;
    float: left;
  }

  @media (--screen-medium) {
    font-awesome: close;
  }

}

.content {
  padding: 1rem;
  padding-top: 5rem;

  @media (--screen-medium) {
    padding: 0;
  }
}

.head {
  background-color: var(--form-builder--array--add-item-color);
  color: #fff;
  font-size: 1em;
  padding: 1rem;

  position: fixed;
  top: 0;
  width: 100%;
  left: 0;

  @media (--screen-medium) {
    display: none;
  }
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 3rem;
}

.primaryFunctions {
  margin-top: 1rem;
}
