@import 'style:@sanity/base/theme/variables';
@use postcss-font-awesome;

@use postcss-cssnext;

:root {
  --form-builder--array--add-item-color: var(--brand-primary);
  --form-builder--array--add-item-triangle-color: color(var(--form-builder--array--add-item-color) lightness(-20%));
}

.root {
  /*border: 1px solid var(--form-builder--array--add-item-color);*/
  /*box-shadow: 0 0 20px rgba(0,0,0,0.1);*/
  background-color: #fff;
  padding: 0;
  z-index: 10;
  position: relative;
  /*&::before {
    content: "";
    position: absolute;
    top: -2rem;
    left: -1px;
    height: 0;
    width: 0;
    z-index: 100;
    display: block;
    border: 1rem solid transparent;
    border-bottom: 1rem solid var(--form-builder--array--add-item-triangle-color);
    border-right: 1rem solid var(--form-builder--array--add-item-triangle-color);
  }
  &::after {
    content: "";
    position: absolute;
    top: -2rem;
    right: -1px;
    height: 0;
    width: 0;
    z-index: 100;
    display: block;
    border: 1rem solid transparent;
    border-bottom: 1rem solid var(--form-builder--array--add-item-triangle-color);
    border-left: 1rem solid var(--form-builder--array--add-item-triangle-color);
  }*/

  @media (--max-screen-medium) {
    position: fixed;
    box-sizing: border-box;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
  }
}

.close {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  border: 0;
  background: none;
  font-size: 2rem;
  color: var(--form-builder--array--add-item-color);
  cursor: pointer;
  color: transparent;

  &::before {
    font-awesome: chevron-left;
    color: #fff;
    float: left;
  }

  @media (--screen-medium) {
    font-awesome: close;
  }

}

.content {
  padding: 1rem;
  padding-top: 5rem;

  @media (--screen-medium) {
    padding: 0;
  }
}

.head {
  background-color: var(--form-builder--array--add-item-color);
  color: #fff;
  font-size: 1em;
  padding: 1rem;

  position: fixed;
  top: 0;
  width: 100%;
  left: 0;

  @media (--screen-medium) {
    display: none;
  }
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 3rem;

}
