@import 'part:@sanity/base/theme/variables-style';

:root {
  --avatar-size-small: 23px;
  --avatar-size-medium: 35px;
  --avatar-size-large: 55px;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--avatar-size-small) / 2);
  box-sizing: border-box;
  user-select: none;
  color: inherit;
  box-shadow: inset 0 0 0 1.5px var(--gray-light);
  color: var(--component-text-color);

  @nest &[data-tone='navbar'] {
    box-shadow: inset 0 0 0 1.5px
      color(var(--main-navigation-color) blend(var(--main-navigation-color--inverted) 40%));
    color: var(--main-navigation-color--inverted);
  }

  @nest & > span {
    margin-top: -1px;
    font-weight: 700;
  }

  @nest &[data-size='small'] {
    min-width: var(--avatar-size-small);
    height: var(--avatar-size-small);
    border-radius: calc(var(--avatar-size-small) / 2);
    font-size: var(--font-size-xsmall);
    line-height: var(--line-height-xsmall);
    padding: 0 6px;
  }

  @nest &[data-size='medium'] {
    min-width: var(--avatar-size-medium);
    height: var(--avatar-size-medium);
    border-radius: calc(var(--avatar-size-medium) / 2);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    padding: 0 10px;
  }

  @nest &[data-size='large'] {
    min-width: var(--avatar-size-large);
    height: var(--avatar-size-large);
    border-radius: calc(var(--avatar-size-large) / 2);
    font-size: var(--font-size-huge);
    line-height: var(--line-height-huge);
    padding: 0 16px;
  }
}
