@import 'part:@sanity/base/theme/variables-style';

:root {
  --avatar-size-small: 23px;
  --avatar-size-medium: 35px;
  --avatar-size-large: 55px;
}

@keyframes avatarEditingSpin {
  to {
    stroke-dashoffset: 6;
  }
}

.root {
  position: relative;
  box-sizing: border-box;
  user-select: none;
  box-shadow: 0 0 0 1px var(--component-bg);

  @nest &[data-tone='navbar'] {
    box-shadow: 0 0 0 1px var(--main-navigation-color);
  }

  @nest &[data-status='inactive'] {
    opacity: 0.5;
  }

  @nest &[data-size='small'] {
    width: var(--avatar-size-small);
    height: var(--avatar-size-small);
    border-radius: calc(var(--avatar-size-small) / 2);
    font-size: var(--font-size-xsmall);
    line-height: var(--line-height-xsmall);
  }

  @nest &[data-size='medium'] {
    width: var(--avatar-size-medium);
    height: var(--avatar-size-medium);
    border-radius: calc(var(--avatar-size-medium) / 2);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
  }

  @nest &[data-size='large'] {
    width: var(--avatar-size-large);
    height: var(--avatar-size-large);
    border-radius: calc(var(--avatar-size-large) / 2);
    font-size: var(--font-size-huge);
    line-height: var(--line-height-huge);
  }
}

.arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 0;
  opacity: 0;
  transition: all 0.2s linear;
  transform: rotate(-90deg) translate3d(0, 6px, 0);

  @nest & > svg {
    display: block;
    width: 11px;
    height: 7px;
    position: absolute;
    top: -5px;
    left: calc(50% - 0.5px);
    transform: translateX(calc(-50% + 0.5px));
  }

  @nest .root[data-arrow-position='inside'] & {
    transform: rotate(-90deg) translate3d(0, 6px, 0);
    opacity: 0;
  }

  @nest .root[data-arrow-position='top'] & {
    opacity: 1;
    transform: rotate(0deg);
  }

  @nest .root[data-arrow-position='bottom'] & {
    opacity: 1;
    transform: rotate(-180deg);
  }
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;

  @nest & > svg {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}

.stroke {
  stroke-width: 3px;
  vector-effect: non-scaling-stroke;

  @nest .root[data-status='editing'] & {
    stroke-dasharray: 2 4;
    stroke-linecap: round;
    animation: avatarEditingSpin 250ms infinite linear;
  }
}

.bgStroke {
  stroke-width: 4px;
  vector-effect: non-scaling-stroke;
  stroke: var(--component-bg);

  @nest .root[data-tone='navbar'] & {
    stroke: var(--main-navigation-color);
  }
}

.initials {
  width: 100%;
  height: 100%;
  color: var(--component-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50%;

  @nest & > span {
    display: block;
    margin-top: -1px;
  }

  @nest .root[data-tone='navbar'] & {
    color: var(--component-text-color);
  }
}
