  # Optional: Override the default Sanity project used by the test studio's default workspace.
  # External contributors who don't have access to the internal Sanity project should set these
  # to point to their own Sanity project.
  #
  # 1. Create a free project at https://www.sanity.io/get-started
  # 2. Copy this file to .env and fill in your project's values
  #
  # SANITY_STUDIO_PROJECT_ID=your-project-id
  # SANITY_STUDIO_DATASET=production

  # To disable strict mode on your local checkout:
  # `cp .env.example .env.development`
  # Then restart your `sanity dev` or `pnpm dev` command
  SANITY_STUDIO_REACT_STRICT_MODE=false