@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.slide-in-from-right {
  animation-name: slideInFromRight;
  animation-iteration-count: 1;
  animation-duration: 0.2s;
}

.slide-in-from-left {
  animation-name: slideInFromLeft;
  animation-iteration-count: 1;
  animation-duration: 0.2s;
}
