@import 'part:@sanity/base/theme/variables-style';

:root {
  --navMinWidth: 2em;
}

@keyframes fade-in {
  0% {
    background-color: color(var(--black) a(40%));
    opacity: 0
  }
  50% {
    opacity: 1
  }
  75% {
    background-color: color(var(--black) a(40%));
    opacity: 0.5
  }
  100% {
    background-color: color(var(--white) a(50%));
    opacity: 1;
  }
}

.container {

  @nest &::before {
    content: "shouldNotReposition";
    display: none;
  }

  @media (--screen-medium) {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    @nest &::before {
      content: "shouldReposition";
    }
  }
}

.navigationPanesContainer {
  width: 100%;

  @media (--screen-medium) {
    z-index: var(--zindex-pane);
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: auto;
    min-width: var(--navMinWidth);
    background-color: rgba(255,255,255,0.95);
    transform: translateX(0);
    transition: transform 0.12s ease-out, opacity 0.12s linear;

    @supports (backdrop-filter: blur(20px)) {
      background-color: rgba(255,255,255,0.6);
      backdrop-filter: blur(20px);
    }
  }

  @nest &.navigationPanesContainerIsClicked {
    @nest &::before {
    }
  }
}

.navigationPanesContainerIsMinimized {
  composes: navigationPanesContainer;

  @media (--screen-medium) {
    @nest &::before {
      content: '';
      position: absolute;
      z-index: 100;
      background-color: var(--white);
      height: 100%;
      width: 100%;
      opacity: 0.7;
      transition: background-color 0.1s linear, opacity 0.1s linear;
    }
    @nest &:hover {
      @nest &::before {
        opacity: 0.6;
      }
    }
    @nest &:active {
      @nest &::before {
        background-color: color(var(--black) lightness(+80%));
        opacity: 0.6;
      }
    }
  }
}

.editorContainer {
  padding: var(--small-padding);
  max-width: 100%;
  box-sizing: border-box;

  @media (--screen-medium) {
    height: 100%;
    width: 100%;
    composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
    composes: lightScrollbars from "part:@sanity/base/theme/layout/scrolling-style";
    transition: transform 0.12s ease-out, opacity 0.12s linear;
    width: auto;
    min-width: 32em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: var(--large-padding);
    padding-top: 0;
    padding-right: 0;
    margin-left: 0;
  }
}

.emptyText {
  display: none;

  @media (--screen-medium) {
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 300;
    opacity: 0.5;
  }
}
