@import 'part:@sanity/base/theme/variables-style';

.container {
  position: relative;
}

.hasError {

}

.input {
  composes: textInput from 'part:@sanity/base/theme/forms/text-input-style';
  position: relative;
  z-index: 1;

  @nest .disabled & {
    background-color: transparent;
  }
}

.inputOnError {
  composes: error from 'part:@sanity/base/theme/forms/text-input-style';
}

.isClearable {
  padding-right: 2em;
}

.focusHelper {
  composes: focusHelper from 'part:@sanity/base/theme/forms/text-input-style';
  background-color: transparent;

  @nest .hasFocus & {
    background-color: var(--focus-color);
  }
}

.clearButton {
  composes: textInput from 'part:@sanity/base/theme/forms/clear-button-style';
  z-index: 1;
  top: 0.35em;
  right: 0.1em;

  @nest & svg {
    color: inherit;
  }
}

.isDisabled {
  opacity: 0.4;
}
