@import 'part:@sanity/base/theme/variables-style';

.segment {
  position: relative;

  @nest &::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    transition: all 0.2s ease-in-out;
    opacity: 0;
  }

  @nest &:first-child {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
  }

  @nest &:last-child {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
  }

  @nest &:hover {
    border-bottom: 1px solid var(--component-bg);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    @nest &::after {
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      background: currentColor;
      transform: translate3d(0, 1px, 0);
      opacity: 1;
    }
  }
}

.add {
  composes: segment;
  text-decoration: none;
  mix-blend-mode: multiply;
}

.remove {
  composes: segment;
  text-decoration: line-through;
  mix-blend-mode: multiply;
}

.empty {
  white-space: pre-line;
  white-space: break-spaces;
}
