@import 'part:@sanity/base/theme/variables-style';

.segment {
  position: relative;
  line-height: 1.5; /* To make sure the box shadow doesn't get cut off on multiline strings */
  box-shadow: 0 2px 0 var(--component-bg);

  @nest &:first-of-type {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
  }

  @nest &:last-of-type {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
  }

  @nest &:hover {
    border-bottom: 1px solid var(--component-bg);
    box-shadow: 0 2px 0 currentColor;
  }
}

.add {
  composes: segment;
  text-decoration: none;
  mix-blend-mode: multiply;
}

.remove {
  composes: segment;
  text-decoration: line-through;
  mix-blend-mode: multiply;
}

.empty {
  white-space: pre-line;
  white-space: break-spaces;
}
