@import 'part:@sanity/base/theme/variables-style';

.root {
  padding: var(--extra-small-padding) 0;
  font-size: var(--font-size-base);
  font-weight: normal;
  font-style: normal;
  color: var(--text-color);
}

.userItem {
  padding: var(--extra-small-padding) var(--small-padding);
  display: flex;
  align-items: center;
}

.avatarContainer {
  display: block;
  margin-right: var(--small-padding);
}

.displayName {
  display: block;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  margin-top: -1px;
}

.loadingText {
  color: var(--text-muted);
}
