@import 'part:@sanity/base/theme/variables-style';

.root {
  padding: var(--extra-small-padding) var(--extra-small-padding) var(--small-padding) var(--small-padding);
  font-size: var(--font-size-base);
  font-weight: normal;
  font-style: normal;
  color: var(--text-color);
}

.annotation {
  padding: var(--extra-small-padding) 0;
  display: flex;
  align-items: center;
}

.user {
  border-radius: 1em;
  display: flex;
  align-items: center;
  padding-right: var(--small-padding);
}

.avatarContainer {
  display: block;
  margin-right: var(--extra-small-padding);
}

.displayName {
  display: block;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  margin-top: -1px;
}

.loadingText {
  color: var(--text-muted);
}

.timeAgo {
  margin: 0 var(--small-padding);
  font-size: var(--font-size-small);
  color: var(--text-muted);
}

.description {
  color: var(--text-muted);
  font-size: var(--font-size-xsmall--uppercase);
  text-transform: uppercase;
  font-weight: 600;
}
