@import 'part:@sanity/base/theme/variables-style';

.root {
  background: var(--component-bg);
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: none;
}

.documentAndChangesContainer {
  flex: 1;
  min-height: 0;
  display: flex;
  position: relative;
}

.footerContainer {
  background: var(--component-bg);
  border-top: 1px solid var(--hairline-color);

  @nest .isCollapsed & {
    display: none;
  }
}

.isDisabled {
  display: none; /* hide on mobile */

  @media (--screen-medium) {
    display: flex;
  }
}

.isActive {
  display: flex;
}

.isCollapsed {
  @media (--screen-medium) {
    composes: root;
    flex-direction: row;
    width: 49px;
    height: 100%;
    overflow: hidden;
  }
}

.documentContainer {
  flex: 3;
  min-width: 0;
  position: relative;
}

.changesContainer {
  flex: 2;
  min-width: 0;
  border-left: 1px solid var(--hairline-color);
}
