@import 'part:@sanity/base/theme/variables-style';

.menuItem {
  display: inline-flex;
  justify-content: space-between;
  width: stretch;
}

.hotkey {
  color: var(--text-muted);
  margin-left: var(--medium-padding);
}
