@import 'part:@sanity/base/theme/variables-style';

.root {
  height: 100%;

  @media (--screen-medium) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }

  &.withHistory {
    @media (--screen-medium) {
      justify-content: stretch;
      display: flex;
    }
  }
}

.historyContainer {
  min-width: 200px;
  max-width: 260px;
  width: 100%;
  height: 100%;
  min-width: 0;
}

.editorContainer {
  height: 100%;

  @nest .withHistory & {
    flex: 1;
    min-width: 0;
  }
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-muted);
}

.spinnerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
  background-color: color(var(--component-bg) a(60%));

  @media (--screen-medium) {
    position: absolute;
    height: calc(100vh - 6rem); /* 6rem is aprox the height of the header stuff */
  }
}

.error,
.deletedDocument,
.unknownSchemaType {
  composes: flexCenter from 'part:@sanity/base/theme/layout/positioning-style';
}

.errorInner,
.deletedDocumentInner,
.unknownSchemaTypeInner {
  padding: var(--medium-padding);
}

.errorDetails {
  width: 100%;
  margin-top: 1em;
  height: 10em;
  white-space: pre;
  background: transparent;
  border: 0;
  padding: var(--small-padding) 0;
  font-size: var(--font-size-tiny);
  font-size: var(--line-height-tiny);
  font-family: var(--font-family-monospace);
}
