@import 'part:@sanity/base/theme/variables-style';

.root {
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--text-color-secondary);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid var(--hairline-color);
}

.title {
  flex: 1;
  padding: var(--medium-padding);
  font: inherit;
  font-weight: 500;
  margin: 0;

  @nest & > span {
    display: block;
    margin: -2px 0 -1px;
  }
}

.closeButtonContainer {
  padding: var(--small-padding);
}

.list {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
  text-align: center;
  color: var(--text-muted);

  @nest &:empty {
    display: none;
  }
}

.errorMessage {
  text-align: center;
  
  @nest & svg {
    display: block;
    margin: auto;
    font-size: 1.2rem;
    padding-bottom: var(--extra-small-padding);
  }
}
