@import 'part:@sanity/base/theme/variables-style';

.root {
  min-width: 260px;
  max-width: 320px;
  background-color: color(var(--component-bg) shade(2%));
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--medium-padding);
  height: var(--pane-header-height);
  box-sizing: border-box;
  min-height: var(--pane-header-height);
  font-weight: 500;
}

.closeButton {
  font-size: 1.5em;
}

.list {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
