@import 'part:@sanity/base/theme/variables-style';

.content {
  padding: var(--medium-padding);
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  background-color: var(--component-bg);
}

.toolbar {
  margin-bottom: 1rem;
}

.raw {
  white-space: pre-wrap;
  font: 14px/1.4 Consolas, monospace;
  outline: none;
}
