@use postcss-cssnext;

.root {
  position: relative;
}

.input {
  composes: textInput from '../../styles/form-builder.css';
}

.clearButton {
  position: absolute;
  right: 0;
  top: 0;
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: 1em;
  transition: all .1s linear;
  &:hover {
    color: red;
    transform: scale(1.5);
  }
}
