@import 'all:style:@sanity/base/theme';

@use postcss-cssnext;

.deskTool {
  @media (--screen-medium) {
    overflow: hidden;
    box-sizing: border-box;
    flex-flow: nowrap;
    flex-grow: 1;
    display: flex;
    align-self: stretch;
  }
}

.container {
  @media (--screen-medium) {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
  }
}

.paneContainer {
  @media (--screen-medium) {
    align-self: stretch;
    flex-grow: 0;
  }
}

.main {
  overflow-y: auto;

  @media (--screen-medium) {
    flex-grow: 10;
  }
}
