@use postcss-cssnext;
@use postcss-nested;

:root {
  @custom-media --screen-medium (min-width: 32em);
  @custom-media --screen-default (min-width: 40em);
  @custom-media --screen-large (min-width: 60em);
  @custom-media --screen-xlarge (min-width: 100em);
}

.deskTool {
  @media (--screen-medium) {
    overflow: hidden;
    box-sizing: border-box;
    flex-flow: nowrap;
    flex-grow: 1;
    display: flex;
    align-self: stretch;
  }
}

.container {
  @media (--screen-medium) {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
  }
}

.paneContainer {

  @media (--screen-medium) {

    align-self: stretch;
    flex-grow: 0;
  }
}

.main {
  @media (--screen-medium) {
    flex-grow: 10;
  }
}
