@import 'all:style:@sanity/base/theme';

@use postcss-cssnext;
@use postcss-nested;

.panes {
  @media (--screen-medium) {
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    align-self: stretch;
  }

}

.pane {
  @media (--screen-medium) {
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
    max-height: 100%;
  }
  align-self: stretch;
}

.paneItems {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (--screen-medium) {
    padding-top: 1rem;
  }
}

.paneItem {
  display: block;
  line-height: 2em;
}

.paneItemLink {
  width: 100%;
  display: block;
  position: relative;
  padding: 0 1em;
  text-decoration: none;
  color: var(--text-color);

  @media (--screen-medium) {
    max-width: 15em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:after {
      position: absolute;
      right: 0;
      content: "\232A";
      opacity: .2;
    }
  }

  &:active {
    /*opacity: .5;*/
  }

  &:hover {
    color: color(var(--text-color) lightness(+20%));
  }
}

.paneItemLink:hover {

}

.activePaneItemLink {
  composes: paneItemLink;
  font-weight: 700;
  color: var(--link-color);
  @media (--screen-medium) {
    &:after {
      opacity: 1;
      color: var(--link-hover-color);
      font-weight: 700;
      font-size: 2em;
      margin-right: -.35em;
    }
  }

}

.panes {

}
