@use postcss-cssnext;
@use postcss-nested;

:root {
  @custom-media --screen-medium (min-width: 32em);
  @custom-media --screen-default (min-width: 40em);
  @custom-media --screen-large (min-width: 60em);
  @custom-media --screen-xlarge (min-width: 100em);
}

.panes {
  @media (--screen-medium) {
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    align-self: stretch;
  }

}

.pane {
  @media (--screen-medium) {
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
    max-height: 100%;
  }
  align-self: stretch;
}

.paneItems {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (--screen-medium) {
    padding-top: 1rem;
  }
}

.paneItem {
  display: block;
  line-height: 2em;
}

.paneItemLink {
  width: 100%;
  display: block;
  position: relative;
  padding: 0 1em;
  text-decoration: none;
  color: inherit;


  @media (--screen-medium) {
    max-width: 15em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }


  &:after {
    position: absolute;
    right: 0;
    content: "\232A";
    opacity: .2;
  }

  &:active {
    /*opacity: .5;*/
  }

  &:hover {
    /*opacity: .8;*/
    color: red;
    /*&:after {
      opacity: .8;
      color: red;
    }*/
  }
}

.paneItemLink:hover {

}

.activePaneItemLink {
  composes: paneItemLink;
  font-weight: 700;
  color: red;
  &:after {
    opacity: 1;
    color: red;
    font-weight: 700;
    font-size: 2em;
    margin-right: -.35em;
  }
}

.panes {

}
