@import 'part:@sanity/base/theme/variables-style';
@use postcss-cssnext;

.panes {
  display: block;
  position: relative;
  @media (--screen-medium) {
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    align-self: stretch;
  }

}

@keyframes slideOut {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
    display: none;
  }
}


@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}


.pane {
  display: none;
  max-width: 100%;
  align-self: stretch;
  position: relative;
  width: 100%;
  z-index: 1;
  padding-top: 1em;
  animation-name: slideOut;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 0.2s;

  &:last-child {
    display: block;
    animation-name: slideIn;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 0.2s;

  }

  @media (--screen-medium) {
    animation-name: none;
    padding-top: 0;
    top: auto;
    left: auto;
    display: block;
    width: auto;
    min-height: auto;
    flex-grow: 1;
    max-height: 100%;
    max-width: 15em;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.paneItems {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (--screen-medium) {
    padding-top: 3rem;
  }
}

.paneItem {
  display: block;
  line-height: 2em;
}

.paneItemLink {
  display: block;
  position: relative;
  padding: 0 1em;
  text-decoration: none;
  color: var(--selectable-item-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &::after {
    position: absolute;
    right: 0;
    content: "\232A";
    opacity: 0.2;
    color: var(--selectable-item-color);
  }

  @media (--screen-medium) {

  }

  &:hover {
    color: var(--selectable-item-color-hover);
  }
}

.activePaneItemLink {
  composes: paneItemLink;
  font-weight: 700;
  color: var(--selected-item-color);

  @media (--screen-medium) {
    &::after {
      opacity: 1;
      color: var(--selected-item-color);
      font-weight: 700;
      font-size: 2em;
      margin-right: -0.35em;
    }
  }

  &:hover {
    color: var(--selected-item-color-hover);
    &::after {
      color: var(--selected-item-color-hover);
    }
  }
}

.menuButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

.menu {
  position: absolute;
  z-index: 10;
  top: 2em;
  right: 0.5em;
  width: 100%;
}

.panes {
  /* No styling for this yet */
}
