@import 'part:@sanity/base/theme/variables-style';

.container {
  position: relative;
}

.input {
  composes: textInput from 'part:@sanity/base/theme/forms/text-input-style';
  position: relative;

  @nest .isClearable & {
    padding-right: 2em;
  }

  @nest &[type='number']::-webkit-inner-spin-button, &[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.clearButton {
  composes: textInput from 'part:@sanity/base/theme/forms/clear-button-style';
  position: absolute;
  top: 0;
  right: 0.5em;
  display: flex;
  height: 100%;
  align-items: center;

  @nest & svg {
    color: inherit;
  }
}
