@import 'part:@sanity/base/theme/variables-style';

.root {
}

.block {
  /* @nest .added & {
    border: 1px solid green;
  }
  @nest .changed & {
    border: 1px solid blue;
  }
  @nest .removed & {
    border: 1px solid red;
  } */
}

.summary {
  display: none;
  font-size: var(--font-size-xsmall);
  color: var(--text-muted);
}

.summary li {
}
