@import 'part:@sanity/base/theme/variables-style';

.root {
}

.spanDiff {
}

.inlineObjectDiff {
  border: 1px solid #999;
  padding: 3px;
  @nest & .removed {
    opacity: 0.5;
  }
}

.removed {
  text-decoration: line-through;
  opacity: 0.5;
}

.summary {
  display: none;
  font-size: var(--font-size-xsmall);
  color: var(--text-muted);
}

.summary li {
}
