@import 'part:@sanity/base/theme/variables-style';

.root {
}

.block {
  /* border: 1px solid #ccc;
  @nest .added & {
    border-color: green;
  }
  @nest .changed & {
   border-color: blue;
  }
  @nest .removed & {
    border-color: red;
  } */
}

.summary {
  display: none;
  font-size: var(--font-size-xsmall);
  color: var(--text-muted);
}
