@import 'part:@sanity/base/theme/variables-style';

.root {
  composes: root from 'part:@sanity/components/panes/default-pane-style';

  @nest &:first-child {
    @media (--screen-medium) {
      background-color: var(--component-bg);
      box-shadow: 3px 0 4px color(#000 a(10%));
      border-right: none;
    }
  }
}

.headerBackground {
  composes: headerBackground from 'part:@sanity/components/panes/default-pane-style';

  @nest &:first-child {
    @media (--screen-medium) {
      background-color: var(--component-bg);
    }
  }
}
