@import "part:@sanity/base/theme/variables-style";

.root {
  display: block;
}

.label {
  display: inline-block;
  margin-right: 0.5em;
}

.button {
  margin: 0;
  background-color: var(--gray-lighter);
}

.selectedButton {
  composes: button;
  background-color: var(--brand-primary);
  color: #fff;
}
