@import "part:@sanity/base/theme/variables-style";
@import "part:@sanity/base/theme/animation-style";

@use postcss-cssnext;

:root {
  --switch-color: var(--brand-primary);
  --shadow-ambient-shadow-opacity: 0.5;
  --shadow-key-penumbra-opacity: 0.5;
  --shadow-key-umbra-opacity: 0.5;

  /* Label */
  --switch-label-height: 1.25rem;
  --switch-label-font-size: 1rem;

  /* Thumb */
  --switch-thumb-top: 0;
  --switch-thumb-size: 1.25rem;
  --switch-thumb-color: var(--switch-color);
  --switch-off-thumb-color: #fff;
  --switch-on-thumb-color: var(--switch-color);
  --switch-disabled-thumb-color: #fff;

  /* Track */
  --switch-track-top: 0.35rem;
  --switch-track-height: 0.6rem;
  --switch-track-length: 2rem;
  --switch-disabled-track-color: red;
  --switch-track-color: #ccc;
  --switch-off-track-color: #ccc;
  --switch-on-track-color: color(var(--brand-primary) alpha(40%));
  --switch-faded-color: rgba(0, 0, 0, 0.1);

  /* Helper */
  --switch-helper-size: 4rem;
}

.root {
  composes: root from 'part:@sanity/components/formfields/default-style';
  position: relative;
}

.switch {
  background: var(--switch-off-track-color);
  position: absolute;
  left: 0;
  top: var(--switch-track-top);
  height: var(--switch-track-height);
  width: var(--switch-track-length);
  border-radius: var(--switch-track-height);
  cursor: default;

  @nest .checked & {
    background: var(--switch-track-color);
  }

  @nest .disabled & {
    background: var(--switch-disabled-track-color);
    cursor: auto;
  }
}

.enabled {
  composes: root;
}

.disabled {
  composes: root;
  opacity: 0.5;
}

.thumb {
  background: var(--switch-off-thumb-color);
  position: absolute;
  left: 0;
  top: var(--switch-thumb-top);
  height: var(--switch-thumb-size);
  width: var(--switch-thumb-size);
  border-radius: 50%;
  cursor: pointer;
  composes: shadow-2dp from "part:@sanity/base/theme/shadows-style";
  composes: animation-default from "part:@sanity/base/theme/animation-style";
  transition-property: left;

  @nest .disabled & {
    background: var(--switch-disabled-thumb-color);
    cursor: auto;
  }
}

.thumbChecked {
  composes: thumb;
  composes: shadow-3dp from "part:@sanity/base/theme/shadows-style";
  background: var(--switch-thumb-color);
  left: calc(var(--switch-track-length) - var(--switch-thumb-size));
}

.focusHelper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  box-sizing: border-box;
  width: var(--switch-helper-size);
  height: var(--switch-helper-size);
  border-radius: 50%;
  background-color: transparent;

  @nest .focused & {
    /* box-shadow: 0 0 0px (($switch-ripple-size - $switch-helper-size) / 2) rgba(0, 0, 0, 0.1); */
    background-color: rgba(0, 0, 0, 0.1);
  }

  @nest .checked & {
    /* box-shadow: 0 0 0px (($switch-ripple-size - $switch-helper-size) / 2) $switch-faded-color; */
    /* background-color: var(--switch-faded-color); */
  }
}

.input {
  line-height: var(--switch-label-height);

  /* Hide input element, while still making it respond to focus. */
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  appearance: none;
  border: none;
}

.label {
  position: relative;
  cursor: default;
  font-size: var(--switch-label-font-size);
  line-height: var(--switch-label-height);
  margin: 0;
  left: calc(var(--switch-track-length) + 0.5rem);

  @nest .disabled & {
    color: var(--switch-disabled-thumb-color);
    cursor: auto;
  }
}

.track {
  background: var(--switch-off-track-color);
  position: absolute;
  left: 0;
  top: var(--switch-track-top);
  height: var(--switch-track-height);
  width: var(--switch-track-length);
  border-radius: var(--switch-track-height);
  cursor: default;

  @nest .checked & {
    background: var(--switch-on-track-color);
  }

  @nest .disabled & {
    background: var(--switch-disabled-track-color);
    cursor: auto;
  }
}
