@import "part:@sanity/base/theme/variables-style";
@import "part:@sanity/base/theme/animation-style";

:root {
  --switch-color: var(--brand-primary);

  /* Thumb */
  --switch-thumb-top: 0;
  --switch-thumb-size: 1.25rem;
  --switch-thumb-color: var(--switch-color);
  --switch-off-thumb-color: var(--white);
  --switch-on-thumb-color: var(--switch-color);
  --switch-disabled-off-thumb-color: var(--white);
  --switch-disabled-on-thumb-color: var(--state-danger-color);

  /* Track */
  --switch-track-top: 0.35rem;
  --switch-track-height: 0.6rem;
  --switch-track-length: 2rem;
  --switch-disabled-track-color: var(--state-danger-color);
  --switch-track-color: var(--gray-light);
  --switch-off-track-color: var(--gray-light);
  --switch-on-track-color: var(--focus-color);

  /* Helper */
  --switch-helper-size: calc(var(--switch-thumb-size) + 6px);
  --switch-helper-color: color(var(--brand-primary) alpha(20%));
}

.root {
  composes: root from 'part:@sanity/components/formfields/default-style';
  display: inline-block !important;
  user-select: none;
  position: relative;
}

.inner {
  display: flex;
}

.indeterminate {
  composes: root;
}

.switchWrapper {
  position: relative;
  min-width: 2.5em;
}

.switch {
  background: var(--switch-off-track-color);
  position: absolute;
  left: 0;
  top: var(--switch-track-top);
  height: var(--switch-track-height);
  width: var(--switch-track-length);
  border-radius: var(--switch-track-height);
  cursor: default;
}

.isChecked .switch {
  background: var(--switch-track-color);
}

.isDisabled .switch {
  background: var(--switch-disabled-track-color);
  cursor: auto;
}

.enabled {
  composes: root;
}

.isDisabled {
  composes: root;
  pointer-events: none;
  opacity: 0.5;
}

.isChecked {
  display: block;
}

.unchecked {
  display: block;
}

.hasFocus {
  display: block;
}

.thumb {
  background: var(--switch-off-thumb-color);
  position: absolute;
  left: 0;
  top: var(--switch-thumb-top);
  height: var(--switch-thumb-size);
  width: var(--switch-thumb-size);
  border-radius: 50%;
  cursor: default;
  composes: shadow-1dp from "part:@sanity/base/theme/shadows-style";
  composes: animation-default from "part:@sanity/base/theme/animation-style";
  transition-property: left;
  z-index: 1;
}

.isDisabled .thumb {
  background: var(--switch-disabled-off-thumb-color);
  cursor: auto;
}

.thumbChecked {
  composes: thumb;
  background: var(--switch-thumb-color);
  left: calc(var(--switch-track-length) - var(--switch-thumb-size));
}

.isDisabled.isChecked .thumb {
  background: var(--switch-disabled-on-thumb-color);
}

.thumbIndeterminate {
  composes: thumb;
  left: calc(0.5 * (var(--switch-track-length) - var(--switch-thumb-size)));
}

.focusHelper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  box-sizing: border-box;
  width: var(--switch-helper-size);
  height: var(--switch-helper-size);
  border-radius: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%) scale(0.5);
  transition: background-color 0.1s  linear, transform 0.15s linear;
}

.hasFocus .focusHelper {
  background-color: var(--switch-helper-color);
  transform: translate(-50%, -50%) scale(1);
}

.root:active .focusHelper {
  background-color: var(--switch-helper-color);
  transform: translate(-50%, -50%) scale(1);
}

.input {
  /* Hide input element, while still making it respond to focus. */
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  appearance: none;
  border: none;
}

.label {
  display: inline-block;
  position: relative;
  cursor: default;
  margin: 0;
}

.isDisabled .label {
  cursor: auto;
}

.description {
  composes: description from 'part:@sanity/base/theme/typography/text-blocks-style';
  position: relative;
  display: block;
}

.track {
  background: var(--switch-off-track-color);
  position: absolute;
  left: 0;
  top: var(--switch-track-top);
  height: var(--switch-track-height);
  width: var(--switch-track-length);
  border-radius: var(--switch-track-height);
  cursor: default;
}

.isChecked .track {
  background: var(--switch-on-track-color);
}

.isDisabled .track {
  background: var(--switch-disabled-track-color);
  opacity: 0.5;
  cursor: default;
}
