@import "part:@sanity/base/theme/variables-style";

.selected {
  background-color: var(--selected-item-color);
  color: var(--white);

  &:hover {
    background-color: var(--selected-item-color-hover);
  }
}

.unSelected {
  background-color: transparent;
}
