@import 'part:@sanity/base/theme/variables-style';

.selected {
  composes: selected from 'part:@sanity/base/theme/layout/selectable-style';
  background-color: color(var(--brand-primary) lightness(-20%)) !important;
  color: var(--white) !important;
}

.unSelected {
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
}
