@import "part:@sanity/base/theme/variables-style";

.selected {
  background-color: var(--selectable-item-color-active) !important;
  color: var(--selectable-item-base) !important;
}

.unSelected {
  background-color: var(--gray-lighter--transparent) !important;
  color: var(--text-color) !important;

  @nest &:hover {
    background-color: var(--gray-light--transparent) !important;
  }
}
