@import "part:@sanity/base/theme/variables-style";

.punctuator {
  color: gray;
}

.number {
  color: #0086b3;
}

.primitive {
  color: #cb4b16;
}

.key {
  color: #183691;
}

.block {
  padding: 1rem;
  margin: 0;

  @nest &:nth-child(odd) {
    border-top: 1px solid #eee;
    background-color: var(--gray-lighter--transparent);
    border-bottom: 1px solid #eee;
  }
}

.block:last-child {
  border-bottom: 0;
}
