.selectContainer {
  composes: root from 'part:@sanity/components/selects/default-style';
}

.functions {
  composes: functions from 'part:@sanity/components/selects/default-style';
}

.select {
  composes: select from 'part:@sanity/components/selects/default-style';
}

.icon {
  composes: arrow from 'part:@sanity/components/selects/default-style';
}
