/* stylelint-disable no-descending-specificity */
@import "part:@sanity/base/theme/variables-style";

@keyframes blink {
  50% { background-color: transparent; }
}

.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid var(--component-border-color);
  padding: var(--small-padding);
  display: flex;
  align-items: center;
  background-color: color(var(--main-navigation-color) a(90%));
  color: var(--main-navigation-color--inverted);
}

.splitContainer {
  flex-grow: 1;
  box-sizing: border-box;
  position: relative;
}

.datasetSelectorContainer {
  display: flex;
  align-self: flex-start;
  align-items: center;
}

.datasetLabel {
  text-transform: uppercase;
  margin-right: 0.5em;
}

.queryTimingContainer {
  font-size: var(--font-size-xsmall);
  padding: 0 var(--medium-padding);
}

.headerFunctions {
  margin-left: auto;
  align-self: flex-end;

  @nest & > * {
    margin-left: 0.5em;
  }
}

.grid {
  height: 100%;
}

.resultContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.result {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: var(--medium-padding);
  background-color: var(--white);
  box-sizing: border-box;
}

.noResult {
  padding: var(--large-padding);
  font-size: 1.2em;
}

.edit {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
}

.datasetSelector {
  composes: select from 'part:@sanity/components/selects/default-style';
  min-width: 10rem;
}

.datasetSelectorLabel {
  composes: level_2 from 'part:@sanity/components/labels/default-style';
  margin-right: 20px;
}

.inputContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.edit :global(.Pane) {
  overflow: hidden;
}

.inputLabelQuery {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  letter-spacing: 0.1em;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 2rem;
  opacity: 0.2;
  z-index: 10;
  pointer-events: none;
}

.inputLabelParams {
  width: 30%;
}

.textarea {
  composes: textarea from 'part:@sanity/components/textareas/default-style';
  font-family: Consolas, monospace;
}

.editor {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.queryEditor {
  composes: editor;
}

.paramsEditor {
  composes: editor;
}

.paramsEditorInvalid {
  composes: paramsEditor;
  background: color(var(--state-danger-color) a(20%));
  width: 100%;
}

.controls {
  margin: 10px 0;
}

.controls::after {
  content: ' ';
  display: block;
  clear: both;
}

.queryTiming {
  margin: 0;
  padding: 0;

  @nest & span {
    opacity: 0.6;
  }
}

.queryTimingLong {
  composes: queryTiming;
  color: var(--state-danger-color);
  font-weight: bold;
  font-size: var(--font-size-xsmall);
}

.queryUrlContainer {
  flex-grow: 1;
  font-size: var(--font-size-xsmall);
  margin: 0 var(--medium-padding);
}

.queryUrlLine {
  display: flex;
}

.queryUrl {
  composes: queryTiming;
  color: inherit;
  opacity: 0.6;
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  background-color: transparent;
  width: stretch;
}

.queryUrlCopy {
  cursor: pointer;
  margin-right: auto;
}

/* Splitpane */

.root :global(.Resizer) {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.root :global(.Resizer:hover) {
  transition: all 2s ease;
}

.root :global(.Resizer.horizontal) {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.root :global(.Resizer.horizontal:hover) {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.root :global(.Resizer.vertical) {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.root :global(.Resizer.vertical:hover) {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.root :global(.Resizer.disabled) {
  cursor: not-allowed;
}

.root :global(.Resizer.disabled:hover) {
  border-color: transparent;
}

/* CodeMirror additional styling */
.root :global(.CodeMirror) {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
