@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  position: relative;
  cursor: text;
}

.rootReadOnly {
  composes: root;
  
  @nest & .content {
    color: var(--input-color-disabled);
    background: var(--input-bg-disabled);

    @nest &:hover {
      box-shadow: var(--input-box-shadow);
      border-color: var(--input-border-color);
    }
  }
}

.tags {
  display: flex;
  margin: 0;
  padding: 0; 
  flex-wrap: wrap;
  gap: var(--small-padding);
}

.tag {
  display: inline-block;
  background-color: var(--gray-lightest);
  border-radius: var(--border-radius-small);
  color: var(--gray-dark);
  border: 1px solid var(--gray-light);
  box-sizing: border-box;
  padding: 0 0.5em;
  font-size: 1em;
  line-height: 1.45em;
  user-select: none;
  cursor: default;
  position: relative;
}

.tagWithClear {
  composes: tag;
}

.clearTag {
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  font-size: 1em;
  padding-left: 0.5em;

  @nest &:hover {
    color: var(--state-danger-color);
  }
}

.inner {
  display: block;
}

.content {
  composes: root from 'part:@sanity/base/theme/forms/text-input-style';
  display: block;
  overflow: hidden;

  @media (hover: hover) {
    @nest &:hover {
      box-shadow: var(--input-box-shadow--hover);
      border-color: var(--input-border-color-hover);
    }
  }

  @nest &:focus, &:focus-within {
    box-shadow: var(--input-box-shadow--focus);
    background-color: var(--input-bg-focus);
    border-color: var(--input-border-color-focus);

    @nest &:invalid {
      box-shadow: var(--input-box-shadow--invalid-focus);
    }
  }

  @nest &:active {
    border-color: var(--input-border-color-active);
  }

  @nest &:invalid {
    border-color: var(--input-border-color-invalid);
    background-color: var(--input-bg-invalid);
    box-shadow: var(--input-box-shadow--invalid);
  }
}

.input {
  display: inline-block;
  color: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 1em;
  flex: 1;
  margin-top: 0.2em;
  padding-left: 0.1em;
  z-index: 1;

  @nest &:focus {
    outline: none;
  }
}
