@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  position: relative;
}

.rootReadOnly {
  composes: root;
  opacity: 0.5;
}

.tags {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
}

.tag {
  display: inline-block;
  background-color: var(--gray-lighter);
  border-radius: var(--border-radius-small);
  color: var(--gray-dark);
  border: 1px solid color(var(--gray-lighter) lightness(-15%));
  box-sizing: border-box;
  margin-right: 0.25em;
  padding: 0 0.5em;
  font-size: 1em;
  line-height: 1.45em;
  user-select: none;
  cursor: default;
  position: relative;
}

.tagWithClear {
  composes: tag;
  padding-right: 1.4em;
}

.clearTag {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  font-size: 1em;
  line-height: 1.5em;
  width: 1.5em;
  text-align: center;

  @nest &:hover {
    color: var(--black);
  }
}

.inner {
  display: block;
}

.content {
  composes: root from 'part:@sanity/base/theme/forms/text-input-style';
  display: block;
  overflow: hidden;
  padding-left: 0.3em;

  @nest :focus-within & {
    border-color: var(--input-border-color-focus);
  }
}

.input {
  display: inline-block;
  color: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 1em;
  width: 2em;
  margin-top: 0.2em;
  transform: translateY(-0.1em);
  padding-left: 0.1em;
  z-index: 1;

  @nest &:focus {
    outline: none;
  }
}
