@import 'part:@sanity/base/theme/variables-style';

:root {
  --nav-bar-box: 3.0625em; /* 49px */
  --side-menu-color: var(--component-bg);
  --side-menu-color-inverted: var(--component-text-color);
}

.root {
  position: fixed;
  z-index: var(--zindex-drawer);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.root > div {
  position: relative;
  min-width: 200px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  background: var(--side-menu-color);
  color: var(--side-menu-color-inverted);
  margin-right: calc(var(--nav-bar-box) * 1.5);
  height: 100%;
  transition: 200ms transform ease-in-out;
  transform: translate(-100%);
  pointer-events: all;
  padding-left: env(safe-area-inset-left);
}

.root.isOpen {
  @nest & > div {
    transform: translate(0);
  }
}

.header {
  border-bottom: 1px solid var(--hairline-color);
}

.closeButton {
  -webkit-font-smoothing: inherit;
  appearance: none;
  position: absolute;
  top: 0.375em;
  right: 0.375em;
  font: inherit;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0.75em;
  background: none;
  color: inherit;
  outline: none;

  @nest & > svg {
    font-size: 25px;
    display: block;
  }

  @media (hover: hover) {
    color: var(--gray);

    @nest &:hover {
      color: inherit;
    }
  }
}

.userProfile {
  display: flex;
  padding: 0.875em;
}

.userProfileImage {
  width: 2.0625em;
  height: 2.0625em;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--preview-placeholder-color);

  @nest &:before {
    content: attr(data-initials);
    text-align: center;
    display: block;
    line-height: 2em;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

.userProfileImageMissing {
  composes: userProfileImage;
  display: flex;
  background-color: var(--brand-primary);
  color: var(--brand-primary--inverted);
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: none;
}

.userProfileText {
  line-height: 2.0625em;
  padding: 0 var(--small-padding);
  vertical-align: top;
}

.datasetSelectContainer {
  padding: 0 var(--medium-padding) var(--small-padding);
}

.toolSwitcher {
  min-height: 0;
  flex: 1;
  overflow: auto;
  padding: var(--small-padding) 0;
}

.menuBottom {
  margin-top: auto;
  border-top: 1px solid var(--hairline-color);
  padding: var(--small-padding) 0;
}

.signOutButton {
  @nest & > a {
    white-space: nowrap;
    color: inherit;
    display: flex;
    align-items: center;
    padding: var(--medium-padding);
    cursor: pointer;

    @media (hover: hover) {
      color: var(--gray);

      @nest &:hover {
        color: inherit;
      }
    }
  }
}

.signOutButtonIconContainer {
  display: inline-block;

  @nest & > svg {
    display: block;
    font-size: calc(17 / 16 * 1em);

    @nest &[data-sanity-icon='true'] {
      font-size: calc(25 / 16 * 1em);
      margin: calc(4 / 25 * -1em);
    }
  }
}

.signOutButtonText {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  padding: 0 var(--small-padding);
  margin: -2px 0 -1px;
}
