@import 'part:@sanity/base/theme/variables-style';

.root {
  background-color: var(--body-bg);
  padding: var(--medium-padding);
}

.card {
  background-color: var(--component-bg);
  max-width: 720px;
  margin: 0 auto;
  border-radius: var(--border-radius-base);
  box-shadow: 0 2px 4px color(var(--black) alpha(10%));
}

.cardHeader {
  padding: var(--medium-padding);
}

.cardTitle {
  composes: heading2 from 'part:@sanity/base/theme/typography/headings-style';
  text-align: center;
}

.cardContent {
  padding: var(--medium-padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.75rem;

  @nest & > div > button {
    width: 100%;
  }
}

.stack {
  max-width: 720px;
  margin: 0 auto;

  @nest & pre {
    border: 1px solid #ccc;
    padding: var(--medium-padding);
    background: var(--pre-bg);
    color: var(--pre-color);
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    overflow: auto;
  }
}
