@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
}

.list {
  composes: root from 'part:@sanity/components/lists/default-style';
}

.deleteButton {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  font-size: 0.9em;
  margin-right: 0;
  box-sizing: border-box;
}

.item {
  /* semantic class name */
}

.addButton {
  margin-top: var(--medium-padding);
}

.movingItem {
  composes: movingItem from 'part:@sanity/base/theme/layout/helpers';
}

.inputLabel {
  display: none;
}

.functions {
  composes: functions from 'part:@sanity/components/fieldsets/default-style';

  &:empty {
    display: none;
  }
}

.list + .functions {
  margin-top: var(--small-padding);

  @media (--screen-medium) {
    margin-top: var(--medium-padding);
  }
}
