@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;

  &.media {
    height: 15em;
    width: 15em;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--extra-small-padding) 0;
}

.input {
  flex-grow: 1;
}

.deleteButton {
  flex-grow: 0;
  z-index: 1;
}

.dragHandle {
  display: block;
  flex-grow: 0;
  margin-right: var(--extra-small-padding);

  @nest & > button {
    cursor: ns-resize;
  }
}

.functions {
  flex-grow: 0;
  color: var(--text-color-secondary);
  display: flex;
  align-items: center;
  padding-left: var(--medium-padding);
  @nest &[data-presence="true"] {
    @nest & .validationStatus {
      padding-right: var(--medium-padding);
    }
    @nest & .deleteButton {
      padding-left: var(--small-padding);
    }
  }
}

.validationStatus {
  composes: validationStatus from 'part:@sanity/base/theme/forms/validation-style';
  padding-right: var(--small-padding);
  display: flex;
  align-items: center;
  justify-content: center;
}
