@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1em;
  margin: 0.1em;

  &.media {
    height: 15em;
    width: 15em;
  }
}

.input {
  flex-grow: 1;
}

.deleteButton {
  flex-grow: 0;
  z-index: 1;
}

.dragHandle {
  flex-grow: 0;
  cursor: ns-resize;
  opacity: 0.5;
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid transparent;
  z-index: 1;

  @nest &:hover {
    opacity: 1;
  }
}

.functions {
  font-size: var(--font-size-small);
  color: var(--text-color-secondary);
  display: flex;
  align-items: center;
  margin-left: var(--medium-padding);

  @nest & > * {
    margin-right: var(--small-padding);
  }
}

.validationStatus {
  composes: validationStatus from 'part:@sanity/base/theme/forms/validation-style';
}
