# Example .env file for setting environment variables needed by e2e and perf tests locally.
#
# Copy this file to .env (`cp .env.example .env`) and fill inn the values there (`.env` is ignored by git)

# This is a write token that allows playwright to interact with the perf studio as an authenticated user
# You can generate your own token by heading over to the tokens-section of https://www.sanity.io/organizations/oSyH1iET5/project/qk0wb6qx/api
PERF_TEST_SANITY_TOKEN=

# This must be a token that has write access to the dataset we post perf results to.
# You can generate your own token by heading over to the tokens-section of https://www.sanity.io/organizations/oSyH1iET5/project/c1zuxvqn/api
PERF_TEST_METRICS_TOKEN=

# Run the perf tests headless (defaults to true). Set to "false" if you want to watch the browser while running the perf tests
PERF_TEST_HEADLESS=true
