@import "part:@sanity/base/theme/variables-style";

.root {
  display: block;
  font-size: var(--font-size-small);
  max-height: 60vh;
  overflow: auto;
  padding: var(--extra-small-padding) 0;
  margin: -0.375rem -0.75rem; /* To override tooltip padding */
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;

  @nest &:not([data-kind="simple"]) {
    @nest & li:not(:last-child) {
      border-bottom: 1px solid var(--hairline-color);
    }
  }
}
