@import "part:@sanity/base/theme/variables-style";

.root {
  margin: 0;
  padding: 0;
  display: block;
  font-size: var(--font-size-small);
  max-height: 80vh;
  overflow: auto;
}

.block {
  text-align: left;
  margin: 0;
  padding: 0;

  @nest & > h3 {
    margin: 0;
    padding: 0;
    font-weight: 400;
  }

  @nest & > ul {
    margin: 0;
    padding: 0;
  }
}

.items {
  composes: block;
}
