@import 'part:@sanity/base/theme/variables-style';

.item {
  display: flex;
  margin: 0;
  flex-grow: 1;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  color: inherit;
  font-size: var(--font-size-small);
  font-weight: unset;
  padding: var(--medium-padding);
}

.item[data-item-type="simple"] {
  user-select: none;
  cursor: unset;
  padding: var(--small-padding) var(--medium-padding);
  border: 0;

  @nest & .message {
    color: var(--text-color);
  }

  @nest & .icon {
    padding-top: 3px;
    font-size: inherit;
  }
}

.item.error {
  @nest & .icon {
    color: var(--state-danger-color);
  }
}

.item.warning {
  @nest & .icon {
    color: var(--state-warning-color);
  }
}

.interactiveItem {
  composes: item;

  @nest &.error:not([data-item-type="simple"]):hover {
    background-color: color(var(--state-danger-color) a(10%));
  }

  @nest &.warning:not([data-item-type="simple"]):hover,
  &:focus {
    background-color: color(var(--state-warning-color) a(10%));
  }
}

.icon {
  display: flex;
  padding: 2px var(--small-padding) 0 0;
  font-size: var(--font-size-large);
}

.content {
  flex-grow: 1;

  @nest .truncate & {
    padding-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.path {
  font-weight: bold;
}

.message {
  color: var(--gray);
}
