@import "part:@sanity/base/theme/variables-style";

.root {
  opacity: 1;
  outline: none;
  z-index: 10;

  @nest &:hover {
    opacity: 1;
  }
}

.tooltipText {
  display: flex;
  max-width: 210px;
  text-align: left;
  padding: var(--small-padding);

  @nest & .icon {
    padding: 3px var(--small-padding) 0 0;
    font-size: var(--font-size-base);
  }
}

.inner {
  display: flex;
  align-items: center;
  font-size: var(--font-size-base);
}

.icon {
  display: flex;
}

.error {
  color: var(--state-danger-color);
}

.warning {
  color: var(--state-warning-color);
}

.ok {
  composes: root;
  color: var(--state-success-color);
  display: none;
}
