.root {
  display: block;
  position: relative;
}

.label {
  display: block;
}

.input {
  composes: textInput from 'style:@sanity/base/theme/forms/text-input';
}

.inputError {
  composes: error from 'style:@sanity/base/theme/forms/text-input';
}

.clearButton {
  composes: textInput from 'style:@sanity/base/theme/forms/clear-button';
}

.is-focused {
  border: 2px solid green;
}

.is-dirty {
  border: 2px solid red;
}

.is-invalid {
  composes: is-dirty;
}
