@import 'style:@sanity/base/theme/variables';
@use postcss-cssnext;

.root {
  display: block;
  position: relative;
  width: 100%;
  min-width: 20em;
}

.error {
  composes: root;
}

.label {
  display: block;
}

.errorLabel {
  composes: label;
  color: var(--brand-danger);
  font-weight: bold;
}

.input {
  composes: textInput from 'style:@sanity/base/theme/forms/text-input';
}

.inputError {
  composes: error from 'style:@sanity/base/theme/forms/text-input';
}

.clearButton {
  composes: textInput from 'style:@sanity/base/theme/forms/clear-button';
}

.isFocused {
  border: 2px solid green;
}
