.selectContainer {
  composes: selectContainer from 'part:@sanity/components/selects/default-style';
  display: inline-block;
  width: auto;
}

.select {
  composes: select from 'part:@sanity/components/selects/default-style';
}

.icon {
  composes: icon from 'part:@sanity/components/selects/default-style';
}
