@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  position: relative;
  min-height: calc(100vh - 12em);
}

.imageList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.imageList::after {
  content: '';
  flex-grow: 999999999;
}

.loadMore {
  margin: var(--medium-padding) 0;
}

.noAssets {
  composes: absoluteCenter from 'part:@sanity/base/theme/layout/positioning-style';
  font-size: var(--font-size-large);
}
