@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  position: relative;
  min-height: 100vh;
}

.imageList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.imageList::after {
  content: '';
  flex-grow: 999999999;
}

.padder {
  display: block;
}

.image {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
  box-sizing: border-box;
  background-color: var(--component-bg);
}

.item {
  background-color: var(--gray-lighter);
  composes: listItemStates from 'part:@sanity/base/theme/layout/backgrounds-style';
  display: block;
  margin: calc(var(--small-padding) / 2);
  position: relative;
  overflow: hidden;
  cursor: default;
}

.loadMore {
  margin: var(--medium-padding) 0;
}
