@import 'part:@sanity/base/theme/variables-style';
@import 'part:@sanity/base/theme/variables/fonts-style';
@import './layout/tippy.css';

:global(html) {
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 100%;
}

:global(html),
:global(body#sanityBody),
:global(#sanity) {
  height: 100%;
}

:global(a) {
  color: var(--link-color);
}

:global(::selection) {
  background: var(--text-selection-color);
}

:global(:focus) {
  outline-color: var(--focus-color);
}

:global(body#sanityBody) {
  background-color: var(--body-bg);
  color: var(--text-color);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
