@import "part:@sanity/base/theme/variables-style";
@import "part:@sanity/base/theme/variables/fonts-style";
@import './layout/tippy.css';

:global(body) {
  font-family: var(--font-family-sans-serif);
  line-height: var(--line-height-base);
  color: var(--text-color);
  background-color: var(--body-bg);
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:global(a) {
  color: var(--link-color);
}

:global(::selection) {
  background: var(--text-selection-color);
}
