@import "part:@sanity/base/theme/variables-style";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,700i,900,900i");

:global(body) {
  font-family: var(--font-family-sans-serif);
  line-height: var(--line-height-base);
  color: var(--text-color);
  background-color: var(--body-bg);
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:global(::selection) {
  background: var(--text-selection-color);
}
