/* part:@sanity/base/theme/forms/clear-button-style */

@import 'part:@sanity/base/theme/variables-style';

.root {
  color: var(--clear-cross-color);
  outline: none;
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: inline-flex;
  align-items: center;
  transition: transform 0.1s;

  &:hover,
  &:focus {
    color: var(--clear-cross-color-hover);
    transform: scale(1.3);
  }

  &:active {
    transform: scale(1.6);
  }

  @nest & svg {
    display: block;
  }
}

.top-right {
  composes: root;
}

.textInput {
  composes: root;
}

.textarea {
  composes: root;
}
