@import 'part:@sanity/base/theme/variables-style';

.textInput {
  appearance: none;
  border: 0;
  border: var(--input-border-size) solid var(--input-border-color);
  color: var(--input-color);
  display: block;
  width: 100%;
  outline: none;
  line-height: var(--input-line-height);
  height: calc(var(--input-line-height) + var(--input-padding-horizontal) * 2);
  font-size: inherit;
  box-sizing: border-box;
  padding: var(--input-padding-horizontal) var(--input-padding-vertical);
  border-radius: var(--input-border-radius);
  background-color: var(--input-bg);
  box-shadow: 0 0 4px color(#000 a(5%));
  transition: all 0.1s linear;

  &:hover {
    border-color: var(--input-border-color-hover);
  }

  &:focus {
    border-color: var(--input-border-color-focus);
    box-shadow: 0 0 8px color(var(--input-border-color-focus) a(35%));
  }

  &:active {
    border-color: var(--input-border-color-active);
  }
}

.focusHelper {
  display: none;
  display: block;
  width: calc(100% + (var(--extra-small-padding) * 2));
  height: calc(100% + (var(--extra-small-padding) * 2));
  position: absolute;
  top: calc(var(--extra-small-padding) * -1);
  left: calc(var(--extra-small-padding) * -1);
  z-index: -1;
  background-color: transparent;
}

.focusHelperActive {
  background-color: var(--focus-color);
  background-color: transparent;
}

.disabled {
  composes: textInput;
  background-color: var(--input-bg-disabled);
}
