@import 'part:@sanity/base/theme/variables-style';

.root {
  appearance: none;
  box-shadow: none !important;
  width: 100%;
  max-width: 100%;
  outline: 0;
  box-sizing: border-box;
  resize: vertical;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid var(--input-border-color);
  background-color: var(--input-bg);
  border-radius: var(--input-border-radius);

  &:hover {
    border-color: var(--input-border-color-hover);
  }

  &:focus {
    border-color: var(--input-border-color-focus);
  }

  &:active {
    border-color: var(--input-border-color-active);
  }
}

.disabled {
  composes: root;
  background-color: var(--input-bg-disabled);
}
