@import 'part:@sanity/base/theme/variables-style';

.root {
  -webkit-font-smoothing: inherit;
  appearance: none;
  border: var(--input-border-size) solid var(--input-border-color);
  display: block;
  width: 100%;
  outline: none;
  font: inherit;
  line-height: var(--input-line-height);
  box-sizing: border-box;
  padding: calc(var(--input-padding-horizontal) - var(--input-border-size) - 2px)
    calc(var(--input-padding-vertical) - var(--input-border-size))
    calc(var(--input-padding-horizontal) - var(--input-border-size) - 1px);
  border-radius: var(--input-border-radius);
  color: var(--input-color);
  background-color: var(--input-bg);
  box-shadow: var(--input-box-shadow);

  @nest &::placeholder {
    color: var(--input-color-placeholder);
  }
}

.textInput {
  composes: root;

  @nest &:disabled {
    color: var(--input-color-read-only);
    background: var(--input-bg-disabled);
  }

  @nest &:read-only {
    color: var(--input-color-read-only);
    background: var(--input-bg-disabled);
  }

  @nest &:not(:disabled):not(:read-only) {
    @nest &:hover {
      box-shadow: var(--input-box-shadow--hover);
      border-color: var(--input-border-color-hover);
    }

    @nest &:active {
      border-color: var(--input-border-color-active);
    }

    @nest &:focus, &:focus-within {
      box-shadow: var(--input-box-shadow--focus);
      background-color: var(--input-bg-focus);
      border-color: var(--input-border-color-focus);

      @nest &:invalid {
        box-shadow: var(--input-box-shadow--invalid-focus);
      }
    }

    @nest &:not(:focus):not(:focus-within):invalid {
      border-color: var(--input-border-color-invalid);
    }

    @nest &:invalid {
      background-color: var(--input-bg-invalid);
      box-shadow: var(--input-box-shadow--invalid);
    }
  }
}
