@import 'part:@sanity/base/theme/variables-style';

.root {
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  outline: none;
  line-height: var(--input-line-height);
  height: calc(var(--input-line-height) + var(--input-padding-horizontal) * 2);
  font-size: inherit;
  box-sizing: border-box;
  padding: var(--input-padding-horizontal) var(--input-padding-vertical);
  border-radius: var(--input-border-radius);
  transition: all 0.1s linear;

  @nest &:disabled {
    opacity: 0.5;
  }
}

.textInput {
  composes: root;
  color: var(--input-color);
  background-color: var(--input-bg);
  box-shadow: var(--input-box-shadow);

  @nest &:not(:disabled) {
    @nest &:hover {
      box-shadow: var(--input-box-shadow--hover);
    }

    @nest &:focus, &:focus-within {
      /* border-color: var(--input-border-color-focus); */
      box-shadow: var(--input-box-shadow--focus);
    }

    @nest &:active {
      /* border-color: var(--input-border-color-active); */
    }
  }
}

.error {
  composes: textInput;
  background-color: var(--input-bg-error);
  box-shadow: var(--input-box-shadow--error);
}
