@import 'part:@sanity/base/theme/variables-style';

.content {
  padding: 1rem;
  box-sizing: border-box;
  width: 80vw;
  height: 80vw;
}

.toolbar {
  margin-bottom: 1rem;
}

.raw {
  font: 14px/1.4 Consolas, monospace;
  outline-color: var(--brand-primary);
}
