@import "part:@sanity/base/theme/variables-style";
@use postcss-cssnext;

:global(body) {
  font-family: var(--font-family-sans-serif);
  line-height: var(--line-height-base);
  color: var(--text-color);
  background-color: var(--body-bg);
  margin: 0;
  padding: 0;
}
