@import "part:@sanity/base/theme/variables-style";
@import "./normalize.css";
@use postcss-cssnext;

body {
  font-size: 100%;
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
}
