.root {
  display: block;
  text-transform: uppercase;
  background-color: #222;
  color: #fff;
  border: 0;
  padding: .8em 1em;
  outline: none;
}

.danger {
  composes: root;
  background-color: var(--brand-danger);
}

.button {

}

.buttonSuccess {

}

.buttonNegative {

}
