@import 'style:@sanity/base/theme/variables';
@use postcss-cssnext;

.root {
  border: 1px solid red;
}

.textInput {
  composes: root;
  font-size: inherit;
  position: absolute;
  right: 0;
  top: 0;
  appearance: none;
  border: none;
  background-color: transparent;
  transition: all 0.1s linear;
  color: var(--clear-cross-color);
  outline: none;

  &:hover {
    color: var(--clear-cross-color-hover);
    transform: scale(1.5);
  }

  &:active {
    transform: scale(2);
  }
}
