@import 'style:@sanity/base/theme/variables';
@use postcss-cssnext;

.root {
  composes: root from 'style:@sanity/base/theme/forms/fieldset';
}

.content {
  composes: content from 'style:@sanity/base/theme/forms/fieldset';
}

.inner {
  composes: inner from 'style:@sanity/base/theme/forms/fieldset';
}

.legend {
  composes: legend from 'style:@sanity/base/theme/forms/fieldset';
}

.description {
  composes: description from 'style:@sanity/base/theme/typography/text-blocks';  
}
