@import 'all:style:@sanity/base/theme';

@use postcss-cssnext;

.root {
  margin-bottom: 1em;
  box-sizing: border-box;
  font-size: 1em;
  overflow: hidden;
  max-width: 100%;
  background-color: #fafafa;
  padding: 1em;
  border: 1px solid transparent;
  &:hover {
    background-color: #eee;
    border: 1px dotted #333;
  }
}

.label {
  font-weight: bold;
}

.title {
  font-size: 2em;
  font-weight: bold;
}
