@import 'style:@sanity/base/theme/variables';

@use postcss-cssnext;

.root {
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 2em;
  & .root {
    text-transform: none;
    & .legend {
      font-size: 2em;
    }
  }
}

.level_1 {
  composes: root;

  & .legend {
    font-size: 1em;
    border: 0;
  }
}

.level_2 {
  composes: root;
  & .legend {
    font-size: 1em;
    border: 0;
  }
}

.level_3 {
  composes: root;

  & .legend {
    font-size: 1em;
    border: 0;
  }
}

.inner {
  display: block;
}

.content {
  display: block;
}

.legend {
  font-size: 2em;
  display: block;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}

.nestingLevel {
  float: right;
  font-size: 0.7rem;
  font-family: var(--font-family-monospace);
  font-weight: bold;
}
