@import 'style:@sanity/base/theme/variables';
@import 'style:@sanity/base/theme/typography';

@use postcss-cssnext;

.root {
  /* form-builder root element */
  border: 10px solid red;
}

.field {
  composes: root from './Field.css';
}

.fieldLabel {
  composes: label from './Field.css';
}

.fieldTitle {
  composes: title from './Field.css';
}

.formControlContainer {
  composes: container from './Control.css';
}

.formControlInner {
  composes: inner from './Control.css';
}
