@use postcss-cssnext;

:root {
  --input-border: 1px solid #333;
  --active-color: green;
  --hover-color: #666;
  --clear-button-color: #666;
  --clear-button-color-hover: red;
}

.field {
  margin-bottom: 1em;
  box-sizing: border-box;
}

.fieldLabel {
  font-weight: bold;
}

.fieldTitle {
  font-size: 2em;
  font-weight: bold;
}

.formControlContainer {
  padding: 1em 0;
  box-sizing: border-box;
}

.formControlInner {
  position: relative;
}

.form-builder {
  border: 1px solid red;
}

.textInputContainer {
  position: relative;
  border: 1px solid blue;
}

.clearButtonTextInput {
  position: absolute;
  right: 0;
  top: 0;
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: 1em;
  transition: all 0.1s linear;
  color: var(--clear-button-color);
  &:hover {
    color: var(--clear-button-color-hover);
    transform: scale(1.5);
  }
}

.clearButton {
  border: 1px solid red;
}

.textInput {
  border: var(--input-border);
  display: block;
  width: 100%;
  outline: none;
  line-height: 2em;
  &:hover {
    border-color: var(--hover-color);
  }
  &:focus {
    border-color: var(--active-color);
  }
  &:active {
    border-color: var(--active-color);
  }
}
