@use postcss-cssnext;
@use postcss-font-awesome;

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
}

.chevron-down {
  composes: icon;
  &::before {
    font-awesome: caret-down;
  }
}

.close {
  composes: icon;
  &::before {
    font-awesome: close;
  }
}
