@import 'style:@sanity/base/theme/variables';

@use postcss-cssnext;


.textInput {
  border: 0;
  border-bottom: 1px solid var(--input-border-color);
  display: block;
  width: 100%;
  outline: none;
  line-height: 2em;
  font-size: inherit;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 2px;

  &:hover {
    border-color: var(--input-border-color-hover);
  }

  &:focus {
    border-width: 3px;
    border-color: var(--input-border-color-focus);
    padding-bottom: 0;
  }

  &:active {
    border-color: var(--input-border-color-active);
  }
}

.error {
  composes: textInput;
  border-color: var(--brand-danger);

  &:hover {
    border-color: var(--brand-danger);
  }

  &:focus {
    border-color: var(--brand-danger);
  }

  &:active {
    border-color: var(--brand-danger);
  }
}
