@import 'style:@sanity/base/theme/variables';
@use postcss-cssnext;

.heading1 {
  font-size: var(--font-size-h2);
}

.heading2 {
  font-size: var(--font-size-h3);
  padding-bottom: 0.5em;
}

.heading3 {
  font-size: var(--font-size-h4);
  padding-bottom: 0.25em;
}

.heading4 {
  font-size: var(--font-size-h5);
}

.heading5 {
  font-size: var(--font-size-h6);
}

.description {
  font-size: var(--font-size-small);
  color: var(--text-muted);
  padding-bottom: 1rem;
}
