.root {
  margin: 0;
  width: auto;

  /* Last 1.1 is important for the cursor to show properly
     because of the &:before content-rules
  */
  padding: 0 0 0 1.1em;
}

.level-2 {
  margin-left: 3em;
}

.level-3 {
  margin-left: 6em;
}

.level-4 {
  margin-left: 9em;
}

.level-5 {
  margin-left: 12em;
}

.level-6 {
  margin-left: 16em;
}

.level-7 {
  margin-left: 18em;
}

.level-8 {
  margin-left: 21em;
}

.level-9 {
  margin-left: 24em;
}

.level-10 {
  margin-left: 27em;
}

.root > * {
  display: table-row;
  margin: 0 0 1em 0;
  padding: 0;

  @nest &:before {
    min-width: 2em;
    display: table-cell;
  }
}

.bullet {
  composes: root;

  @nest &.level-2 > * {
    @nest &:before {
      content: '\25E6 '; /* WHITE CIRCLE */
    }
  }

  @nest &.level-3 > * {
    @nest &:before {
      content: '\25AA '; /* SMALL BLACK SQUARE */
    }
  }

  @nest &.level-5 > * {
    @nest &:before {
      content: '\25E6 '; /* WHITE CIRCLE */
    }
  }

  @nest &.level-6 > * {
    @nest &:before {
      content: '\25AA '; /* SMALL BLACK SQUARE */
    }
  }

  @nest &.level-8 > * {
    @nest &:before {
      content: '\25E6 '; /* WHITE CIRCLE */
    }
  }

  @nest &.level-9 > * {
    @nest &:before {
      content: '\25AA '; /* SMALL BLACK SQUARE */
    }
  }
}

.bullet > * {
  @nest &:before {
    font-size: 1.9em;
    position: relative;
    line-height: 0;
    top: 0.2em;
    max-width: 1em;
    content: '\2022 ';
  }
}

.number {
  composes: root;

  @nest &.level-1 {
    counter-increment: listItemNumber;
    counter-reset: listItemAlpha;
  }

  @nest &.level-2 {
    counter-increment: listItemAlpha;
    counter-reset: listItemRoman;
  }

  @nest &.level-3 {
    counter-increment: listItemRoman;
    counter-reset: listItemNumberNext;
  }

  @nest &.level-4 {
    counter-increment: listItemNumberNext;
    counter-reset: listItemLetterNext;
  }

  @nest &.level-5 {
    counter-increment: listItemLetterNext;
    counter-reset: listItemRomanNext;
  }

  @nest &.level-6 {
    counter-increment: listItemRomanNext;
    counter-reset: listItemNumberNextNext;
  }

  @nest &.level-7 {
    counter-increment: listItemNumberNextNext;
    counter-reset: listItemAlphaNextNext;
  }

  @nest &.level-8 {
    counter-increment: listItemAlphaNextNext;
    counter-reset: listItemRomanNextNext;
  }

  @nest &.level-9 {
    counter-increment: listItemRomanNextNext;
    counter-reset: listItemNumberNextNextNext;
  }

  @nest &.level-10 {
    counter-increment: listItemNumberNextNextNext;
  }

  @nest & + :not(.number) {
    counter-reset: listItemNumber;
  }

  @nest &.level-2 > * {
    @nest &:before {
      content: counter(listItemAlpha, lower-alpha) ". ";
    }
  }

  @nest &.level-3 > * {
    @nest &:before {
      content: counter(listItemRoman, lower-roman) ". ";
    }
  }

  @nest &.level-4 > * {
    @nest &:before {
      content: counter(listItemNumberNext) ". ";
    }
  }

  @nest &.level-5 > * {
    @nest &:before {
      content: counter(listItemLetterNext, lower-alpha) ". ";
    }
  }

  @nest &.level-6 > * {
    @nest &:before {
      content: counter(listItemRomanNext, lower-roman) ". ";
    }
  }

  @nest &.level-7 > * {
    @nest &:before {
      content: counter(listItemNumberNextNext) ". ";
    }
  }

  @nest &.level-8 > * {
    @nest &:before {
      content: counter(listItemAlphaNextNext, lower-alpha) ". ";
    }
  }

  @nest &.level-9 > * {
    @nest &:before {
      content: counter(listItemRomanNextNext, lower-roman) ". ";
    }
  }

  @nest &.level-10 > * {
    @nest &:before {
      content: counter(listItemNumberNextNextNext) ". ";
    }
  }
}

.number > * {
  @nest &:before {
    content: counter(listItemNumber) ". ";
  }
}
