.strong {
  font-weight: bold;
}

.em {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.line-through {
  text-decoration: line-through;
}

.code {
  font-family: monospace;
  background-color: #eee;
}
