@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  zindex: 5;
}

.region {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}
