@import 'part:@sanity/base/theme/variables-style';

.root {
  padding: var(--small-padding);
  border-radius: var(--border-radius-small);
  background-color: color(var(--gray-lightest) alpha(75%));
  color: var(--gray-darker);
}
