@import 'part:@sanity/base/theme/variables-style';

.root {
  width: 100%;
  position: relative;

  /* forces bigger dialog when in dialog */
  composes: largeContent from 'part:@sanity/components/dialogs/default-style';
}

.textarea {
  composes: root from 'part:@sanity/base/theme/forms/textarea-style';
  position: relative;
  width: 100%;
}

.clearButton {
  composes: textarea from 'part:@sanity/base/theme/forms/clear-button-style';
  position: absolute;
  z-index: 1;
  top: 0.5em;
  right: 0.5em;

  @nest & svg {
    color: inherit;
  }
}
