@import 'part:@sanity/base/theme/variables-style';

.root {
  background: #f1f3f6;
  padding: 0.75em;
  border-radius: 4px;
  white-space: pre-line;
}

.segment {
  position: relative;
  /* white-space: pre-wrap; */
}

.add {
  composes: segment;
  text-decoration: none;
  mix-blend-mode: multiply;
}

.remove {
  composes: segment;
  text-decoration: line-through;
  mix-blend-mode: multiply;
}
