@import "part:@sanity/base/theme/variables-style";

@use postcss-cssnext;

.root {
  position: relative;
  display: inline-block;
  margin-right: var(--extra-small-padding);
  padding: 0.8em 1em;
  outline: none;
  border: none;
  color: inherit;
  font-size: var(--font-size-xsmall--relative);
  font-family: inherit;
  line-height: 1em;
  cursor: pointer;
  user-select: none;
}

.shadow {
  composes: shadow-1dp from "part:@sanity/base/theme/shadows-style";
}

.default {
  background-color: var(--default-button-color);
  color: var(--default-button-color--text);
  composes: root;
  composes: shadow;
}

.colored {
  background-color: var(--brand-primary);
  color: color(var(--brand-primary--text));
  composes: default;
}

.secondary {
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: var(--gray);
  composes: default;
}

.inverted {
  border: 1px solid var(--gray-base);
  border-color: var(--gray-base);
  background-color: transparent;
  box-shadow: none;
  composes: default;

  &.danger {
    border-color: var(--brand-danger);
    background-color: inherit;
    color: var(--brand-danger);
  }

  &.colored {
    border-color: var(--brand-primary);
    background-color: inherit;
    color: var(--brand-primary);
  }
}

.danger {
  border-color: var(--brand-danger);
  background-color: var(--brand-danger);
  color: var(--brand-danger--text);
  composes: default;
}

.delete {
  composes: danger;
}

.add {
  composes: colored;
}

.save {
  composes: root;
}

.noBorder {
  border: 0;
  background-color: transparent;
  text-align: left;
}

.simple {
  composes: root;
  composes: noBorder;
}

.hasIcon {
  /* empty */
}

.iconContainer {
  /* empty */
}

.content {
  @nest .hasIcon & {
    margin-left: 0.5em;
  }
}

.icon {
  @nest .colored & {
    fill: #fff;
  }

  @nest .danger & {
    fill: #fff;
  }

  @nest .danger.inverted & {
    fill: var(--brand-danger);
  }

  transform: scale(1.2);
}

.disabled {
  opacity: 0.3;
  cursor: var(--cursor-disabled);
}
