@import "part:@sanity/base/theme/variables-style";

.root {
  position: relative;
  display: inline-block;
  margin-right: var(--extra-small-padding);
  padding: 0.8em 1em;
  outline: none;
  border: none;
  color: inherit;
  font-size: 1em;
  font-family: inherit;
  line-height: 1em;
  cursor: default;
  user-select: none;
}

.shadow {
  composes: shadow-1dp from "part:@sanity/base/theme/shadows-style";
}

.default {
  background-color: var(--default-button-color);
  color: var(--default-button-color--text);
  composes: root;
  composes: shadow;
}

.inverted {
  border: 1px solid var(--gray-base);
  border-color: var(--gray-base);
  background-color: transparent;
  box-shadow: none;
  composes: default;

  &.danger {
    border-color: var(--brand-danger);
    background-color: inherit;
    color: var(--brand-danger);
  }
}

.color__primary {
  border-color: var(--brand-primary);
  background-color: var(--brand-primary);
  color: var(--brand-primary--text);

  @nest &.inverted,
  &.simple {
    border-color: var(--brand-primary);
    background-color: transparent;
    color: var(--brand-primary);
  }
}

.color__danger {
  border-color: var(--brand-danger);
  background-color: var(--brand-danger);
  color: var(--brand-danger--text);

  @nest &.inverted,
  &.simple {
    border-color: var(--brand-danger);
    background-color: transparent;
    color: var(--brand-danger);
  }
}

.color__success {
  border-color: var(--brand-success);
  background-color: var(--brand-success);
  color: var(--brand-success--text);

  @nest &.inverted,
  &.simple {
    border-color: var(--brand-success);
    background-color: transparent;
    color: var(--brand-success);
  }
}

.color__white {
  background-color: var(--brand-white);

  @nest &.inverted,
  &.simple {
    border-color: var(--brand-white);
    background-color: transparent;
    color: var(--brand-white);
  }
}

.save {
  composes: root;
}

.noBorder {
  border: 0;
  background-color: transparent;
  text-align: left;
}

.simple {
  composes: root;
  composes: noBorder;
}

.hasIcon {
  /* empty */
}

.iconContainer {
  /* empty */
}

.content {
  @nest .hasIcon & {
    margin-left: 0.5em;
  }
}

.icon {
  transform: scale(1.2);
}

.secondary {
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: var(--gray);
  composes: default;
}

.disabled {
  opacity: 0.3;
  cursor: var(--cursor-disabled);
}
