@use postcss-cssnext;


.root {
  composes: default from 'style:@sanity/base/theme/button';
}

.danger {
  composes: danger from 'style:@sanity/base/theme/button';

}

.delete,
.remove {
  composes: delete from 'style:@sanity/base/theme/button';
}

.active {

}

.pressed {

}

.danger {

}
