@import "style:@sanity/base/theme/variables";

@use postcss-cssnext;
@use postcss-font-awesome;

/* Hack to make font awsome work before we have asset management */
@font-face {
  font-family: 'FontAwesome';
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.eot?v=4.6.3');
  src:
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),
    url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
}

.root {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  padding: 0.8em 1em;
  font-size: var(--font-size-xsmall);
  outline: none;
  cursor: pointer;
  background-color: var(--default-button-color);
  border: none;
  margin-right: var(--extra-small-padding);
  composes: shadow-1dp from "style:@sanity/base/theme/shadows";
  line-height: 1em;
}

.colored {
  composes: root;
  background-color: var(--brand-primary);
  color: #fff;
}

.small {
  font-size: 0.8em;
  padding: 0.2em 1em;
}

.secondary {
  composes: root;
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: var(--gray);
}

.inverted {
  composes: root;
  border: 1px solid var(--gray-base);
  background-color: transparent;
  border-color: var(--gray-base);
  box-shadow: none;

  &.danger {
    background-color: inherit;
    border-color: var(--brand-danger);
    color: var(--brand-danger);
  }

  &.colored {
    background-color: inherit;
    border-color: var(--brand-primary);
    color: var(--brand-primary);
  }
}

.danger {
  composes: root;
  border-color: var(--brand-danger);
  color: #fff;
  background-color: var(--brand-danger);
}

.delete {
  composes: danger;
}

.add {
  composes: colored;
}

.save {
  composes: root;
}

.noBorder {
  background-color: transparent;
  text-align: left;
  border: 0;
}

.hasIcon {
  /* empty */
}

.iconContainer {
  /* empty */
}

.icon {
  margin-right: 0.5em;
  transform: scale(1.2);

  @nest .colored & {
    fill: #fff;
  }

  @nest .danger & {
    fill: #fff;
  }

  @nest .danger.inverted & {
    fill: var(--brand-danger);
  }
}
