@use postcss-cssnext;

.root {
  position: relative;
  font-size: inherit;
}

.title {
  padding-right: 1.5em;
}

.arrow {
  position: absolute;
  right: 0.4em;
  top: 0.4em;
  font-size: 1.5em;
}

.menu {
  margin-top: 2em;
  width: auto;
}
