@use postcss-cssnext;

.root {
  position: relative;
  padding-right: 3em;
}

.arrow {
  position: absolute;
  right: 1em;
  top: 42%;
  transform: translateY(-50%);
  composes: chevron-down from 'style:@sanity/base/theme/icons';

  &::before {
    font-size: 1.5em;
  }
}

.menu {
  margin-top: 2em;
}
