@use postcss-cssnext;

.root {
  position: relative;
  padding-right: 3em;
}

.menu {
  position: absolute;
  top: 2.5em;
  left: 0;
  width: 100%;
  background-color: #fff;
  composes: shadow-2dp from 'style:@sanity/base/theme/shadows';
}

.menuItem {
  display: block;
}

.menuItemLink {
  display: block;
  line-height: 3em;
  &:hover {
    background-color: #eee;
  }
}

.arrow {
  position: absolute;
  right: 1em;
  top: 42%;
  transform: translateY(-50%);
  composes: chevron-down from 'style:@sanity/base/theme/icons';
  &::before {
    font-size: 1.5em;
  }
}

.menuOpened {
  composes: menu;
  display: block;
}

.menuClosed {
  composes: menu;
  display: none;
}
