@import "style:@sanity/base/theme/variables";

.root {
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: var(--default-button-color);
  height: 4rem;
  width: 4rem;
  border: none;
  color: #000;
  outline: none;
  overflow: hidden;
}

.colored {
  composes: root;
  background-color: var(--brand-primary);
  color: #fff;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  text-align: center;
  width: 100%;
}

.fixed {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
