@import "part:@sanity/base/theme/variables-style";

@use postcss-cssnext;

.root {
  display: block;
  position: relative;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  background-color: var(--input-bg);
  border: none;
  line-height: var(--input-line-height);
  user-select: none;
  float: right;
  margin-top: calc(var(--input-padding-horizontal) * -1);
  padding: 0 1em;
  border: 1px solid red;

  &:first-child {
    margin-right: calc(var(--input-padding-vertical) * -1);
  }

  &:hover {
    background-color: var(--input-border-color-focus);
    border-color: var(--input-border-color-focus);
    color: var(--input-bg);
  }
}

.colored {
  composes: root;
  background-color: var(--brand-primary);
  color: #fff;
}

.small {
  font-size: 0.8em;
}

.danger {
  composes: root;
  color: var(--brand-danger);

  &:hover {
    background-color: var(--brand-danger);
    border-color: var(--brand-danger);
    color: var(--input-bg);
  }
}

.delete {
  composes: danger;
}

.add {
  composes: colored;
}

.save {
  composes: root;
}
