@import 'part:@sanity/base/theme/variables-style';

.root {
  border: 1px solid var(--state-warning-color);
  border-radius: var(--input-border-radius);
}

.headerButton {
  background: none;
  width: 100%;
  text-align: left;
  border: 0;
}

.header {
  display: flex;
  align-items: center;
  cursor: default;
  user-select: none;
  padding: calc(var(--small-padding) - 1px);
  line-height: 0;

  @media (--screen-medium) {
    padding: calc(var(--medium-padding) - 1px);
  }
}

.iconContainer {
  display: flex;
  transform: rotate(-90deg);
  transition: transform 100ms;
  margin: 0 var(--small-padding) 2px 0;

  @nest & > svg {
    display: block;
    font-size: calc(17 / 16 * 1em);

    @nest &[data-sanity-icon='true'] {
      font-size: calc(25 / 16 * 1em);
      margin: calc(4 / 25 * -1em);
    }
  }

  @nest .root[data-open='true'] & {
    transform: rotate(0);
  }
}

.summary {
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin: -1px 0 0;
}

.content {
  display: none;
  padding: var(--medium-padding);
  border-top: 1px solid var(--hairline-color);
  padding: calc(var(--small-padding) - 1px);

  @media (--screen-medium) {
    padding: calc(var(--medium-padding) - 1px);
  }

  @nest .root[data-open='true'] & {
    display: block;
  }
}
