@use postcss-cssnext;

:root {
  --blockEditorFullscreenBackground: #eee;
}

.root {
  position: relative;
  composes: root from 'part:@sanity/base/theme/forms/control-style';
}

.inner {
  composes: inner from 'part:@sanity/base/theme/forms/control-style';
}

.input {
  composes: root from 'part:@sanity/base/theme/forms/textarea-style';

  @nest .fullscreen & {
    min-height: 80vh;
    padding: 2em;
    border: 0;

  }
}

.inputContainer {
  @nest .fullscreen & {
    max-width: 42em;
    margin: 3em auto;
    box-shadow: 0px 0px 0.8rem -0.2rem rgba(0,0,0,0.2);
  }
}

.toolbar {
  @nest .fullscreen & {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5001;
    background-color: color(var(--blockEditorFullscreenBackground) a(70%));
    backdrop-filter: blur(3px);
    padding: 0.5em;
  }
}

.inputError {
  composes: error from 'part:@sanity/base/theme/forms/text-input-style';
}

.clearButton {
  composes: textInput from 'part:@sanity/base/theme/forms/clear-button-style';
}

.error {
  composes: root;
}

.fullscreen {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: 5000;
  background-color: var(--blockEditorFullscreenBackground);
}

.textFormattingToolbar {
  margin-top: 10px;
}
