@import 'part:@sanity/base/theme/variables-style';

.wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.input {
  flex-grow: 1;
  min-width: 0;
}

.button {
  margin-left: var(--extra-small-padding);
}
