@import 'part:@sanity/base/theme/variables-style';

.error a {
  color: var(--white);
}

.root {
  display: block;
  text-align: center;
}

.sanityLogo {
  width: 8rem;
  margin: 4rem auto;
}

.inner {
  display: block;
}

.branding {
  margin: 0 auto;
  margin-bottom: 4rem;
}

.projectName {
  composes: heading1 from 'part:@sanity/base/theme/typography/text-blocks-style';
  font-weight: 100;
}

.projectNameHidden {
  composes: projectName;
  display: none;
}

.brandLogoContainer {
  height: 3em;

  @nest & svg {
    height: 4em;
    width: auto;
    max-width: 70vw;
  }
}

.title {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.description {
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--text-color);
}

.acceptCookieForm {
  margin-top: 2em;
  margin-bottom: 2em;
}

.button {
  margin: var(--large-padding) 0;
}