@import 'part:@sanity/base/theme/variables-style';

.root {
  height: 100vh;
  box-sizing: border-box;
  overflow: auto;
  padding: var(--medium-padding);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 100%;
  min-width: 0;
  max-width: 480px;
  padding-bottom: 4rem;
}

.card {
  border-radius: var(--border-radius-large);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: var(--component-bg);
}

.cardHeader {
  padding: var(--medium-padding);
  border-bottom: 1px solid var(--hairline-color);
}

.cardTitle {
  composes: base from 'part:@sanity/base/theme/typography/text-blocks-style';
}

.cardContent {
  padding: var(--medium-padding);
}

.title {
  composes: heading4 from 'part:@sanity/base/theme/typography/headings-style';
  text-align: center;
}

.description {
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--text-color);
}

.sanityLogo {
  width: 8rem;
  margin: var(--medium-padding) auto;
}

.branding {
  /* composes: heading1 from 'part:@sanity/base/theme/typography/headings-style'; */
}

.projectName {
  composes: heading2 from 'part:@sanity/base/theme/typography/headings-style';
  text-align: center;
}

.projectNameHidden {
  composes: projectName;
  display: none;
}

.brandLogoContainer {
  padding: var(--medium-padding);

  @nest & svg {
    display: block;
    height: var(--font-size-h1);
    width: auto;
    margin: 0 auto;
  }
}

.providers {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.provider {
  @nest .provider + & {
    margin-top: var(--small-padding);
  }
}

.providerButton {
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  color: inherit;
  -webkit-font-smoothing: inherit;
  appearance: none;
  display: flex;
  border: none;
  background-color: transparent;
  padding: var(--medium-padding);
  width: 100%;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--hairline-color);
  border-radius: var(--border-radius-base);
}

.providerName {
  composes: base from 'part:@sanity/base/theme/typography/text-blocks-style';
  display: block;
  padding-left: var(--small-padding);
}

.providerLogo {
  display: block;

  @nest & svg {
    height: 1.5em;
    width: 1.5em;
    vertical-align: top;
  }

  @nest & img {
    width: 1.5em;
    height: 1.5em;
    vertical-align: top;
    border-radius: 50%;
  }
}
