@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  align-items: center;
}

.button {
  -webkit-font-smoothing: inherit;
  appearance: none;
  display: block;
  background: none;
  border: 0;
  border-radius: 0;
  font: inherit;
  color: inherit;
  line-height: calc(25 / 16);
  margin: 0;
  padding: 0;
  outline: none;

  @media (hover: hover) {
    color: var(--main-navigation-color--inverted-muted);

    @nest &:hover {
      color: inherit;
    }
  }

  @nest &:focus {
    color: inherit;
    background-color: color(var(--focus-color) a(20%));
  }
}

.buttonInner {
  outline: none;
  padding: var(--medium-padding);
}

.hasUpdates {
  display: flex;
  align-items: center;
}

.updateIcon {
  display: block;
  position: relative;

  @nest & > svg {
    display: block;
    font-size: calc(17 / 16 * 1em);

    @nest &[data-sanity-icon='true'] {
      font-size: calc(25 / 16 * 1em);
      margin: calc(4 / 25 * -1em);
    }
  }
}

.updateIndicator {
  position: absolute;
  top: -2px;
  right: -2px;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  border: 1px solid var(--main-navigation-color);
  box-sizing: border-box;

  @nest &[data-severity='notice'], &[data-severity='low'] {
    background: var(--brand-primary);
  }

  @nest &[data-severity='medium'] {
    background: var(--state-warning-color);
  }

  @nest &[data-severity='high'] {
    background: var(--state-danger-color);
  }
}

.updateLabel {
  margin-left: var(--extra-small-padding);
}
