@import 'part:@sanity/base/theme/variables-style';

.content {
  max-width: 640px;
  padding-bottom: var(--medium-padding);
}

.versionsTable {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;

  @nest & > table {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    white-space: nowrap;
  }

  @nest & > table th {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
  }

  @nest & > table td, & > table th {
    padding: var(--small-padding);
    text-align: left;

    @nest &:first-child {
      padding-left: var(--medium-padding);
    }

    @nest &:last-child {
      padding-right: var(--medium-padding);
    }
  }

  @nest & > table tr:hover td {
    background: color(var(--gray-lightest) alpha(50%));
  }
}

.npmValue {
  font-family: var(--font-family-monospace);
}

.details {
  border-top: 1px solid var(--hairline-color);

  @nest & .versionsTable {
    margin-top: 0;
  }
}

.summary {
  padding: var(--medium-padding);
  outline: none;
}

.upgradeText {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--medium-padding);

  @nest & p {
    margin-bottom: 0;
  }
}

.code {
  font-family: var(--font-family-monospace);
  color: var(--code-color);
  margin-top: var(--medium-padding);
  margin: var(--medium-padding) 0;

  @nest & > code {
    font-family: inherit;
    display: block;

    &:before {
      content: 'Î»';
      padding-right: 0.5em;
      color: var(--gray-lighter);
    }
  }
}

.textContent {
  padding: var(--medium-padding);

  @nest & > :first-child {
    margin-top: 0;
  }

  @nest & > :last-child {
    margin-bottom: 0;
  }
}
