@import 'part:@sanity/base/theme/variables-style';

.root {
}

.content {
  border: 1px solid var(--hairline-color);
  box-sizing: border-box;
}

.toolbar {
  /* tabs */
  margin: -0.5em -1em 0;
}

.raw {
  font-family: var(--font-family-monospace);
  white-space: pre-wrap;
  outline: none;
  padding: var(--medium-padding);
  color: var(--gray-dark);
  margin: 0;
}

.jsonInspectorContainer {
  @nest & :global .json-inspector, & :global .json-inspector .json-inspector__selection {
    font-family: var(--font-family-monospace);
  }

  @nest & :global .json-inspector .json-inspector__leaf.json-inspector__leaf_root {
    padding: var(--medium-padding) var(--medium-padding) var(--medium-padding)
      calc(var(--medium-padding) * 2);
  }

  @nest & :global .json-inspector .json-inspector__leaf {
    padding-left: var(--medium-padding);
  }

  @nest &
      :global
      .json-inspector
      > .json-inspector__leaf_root
      > .json-inspector__line
      > .json-inspector__key {
    display: none;
  }

  /* Highlight each document when hovering */
  @nest & :global .json-inspector .json-inspector__leaf_root > .json-inspector__leaf:hover {
    background: var(--gray-lightest);
  }

  @nest & :global .json-inspector .json-inspector__leaf_root > .json-inspector__leaf {
    margin-bottom: var(--extra-small-padding);
  }

  @nest & :global .json-inspector .json-inspector__line {
    display: block;
    position: relative;
    cursor: default;
  }

  @nest & :global .json-inspector .json-inspector__line::after {
    content: '';
    position: absolute;
    top: 0;
    left: -200px;
    right: -50px;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
  }

  @nest & :global .json-inspector .json-inspector__line:hover::after {
    background: var(--gray-lightest);
  }

  @nest & :global .json-inspector .json-inspector__leaf_composite > .json-inspector__line {
    cursor: pointer;
  }

  @nest & :global .json-inspector .json-inspector__leaf_composite > .json-inspector__line::before {
    content: '▶ ';
    color: var(--gray);
    margin-left: calc(0 - var(--medium-padding));
  }

  @nest &
      :global
      .json-inspector
      .json-inspector__leaf_expanded.json-inspector__leaf_composite
      > .json-inspector__line::before {
    color: var(--gray);
    content: '▼ ';
  }

  @nest & :global .json-inspector .json-inspector__radio,
    & :global .json-inspector .json-inspector__flatpath {
    display: none;
  }

  @nest & :global .json-inspector .json-inspector__value {
    margin-left: var(--extra-small-padding);
  }

  @nest & :global .json-inspector .json-inspector__search {
    appearance: none;
    font: inherit;
    font-family: var(--font-family-monospace);
    width: calc(100% + 2px);
    box-sizing: border-box;
    padding: calc(var(--input-padding-horizontal) - var(--input-border-size))
      calc(var(--input-padding-vertical) - var(--input-border-size));
    border: 1px solid var(--hairline-color);
    outline: none;
    margin: -1px;
    border-radius: 0;

    @nest &::placeholder {
      color: var(--input-color-placeholder);
    }
  }

  @nest & :global .json-inspector .json-inspector__key {
    color: var(--gray-dark);
  }

  @nest & :global .json-inspector .json-inspector__value_helper,
    & :global .json-inspector .json-inspector__value_null,
    & :global .json-inspector .json-inspector__not-found {
    color: var(--gray);
  }

  @nest & :global .json-inspector .json-inspector__not-found {
    padding: var(--medium-padding);
  }

  @nest & :global .json-inspector .json-inspector__value_string {
    color: var(--default-button-success-color);
  }

  @nest & :global .json-inspector .json-inspector__value_boolean {
    color: var(--brand-primary);
  }

  @nest & :global .json-inspector .json-inspector__value_number {
    color: var(--default-button-danger-color);
  }

  @nest & :global .json-inspector .json-inspector__hl {
    background: color(var(--selectable-item-base) a(30%));
    box-shadow: 0 0 0 color(var(--selectable-item-base) a(30%));
  }

  @nest & :global .json-inspector .json-inspector__show-original {
    display: inline-block;
    padding: 0 6px;
    color: var(--gray);
    cursor: pointer;
  }

  @nest & :global .json-inspector .json-inspector__show-original:hover {
    color: inherit;
  }

  @nest & :global .json-inspector .json-inspector__show-original::before {
    content: '↔';
  }

  @nest & :global .json-inspector .json-inspector__show-original:hover::after {
    content: ' expand';
  }
}
