@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
}

.list-layout--default {
  /*display: block;*/
}

.list-layout--detail {
  width: 20rem;
}

.list-layout--card {
  width: 30rem;
  max-width: 80vw;
}

.list-layout--media {
  width: 30rem;
  max-width: 80vw;
}


.spinner {
  height: 100vh;
  transform: translateY(-30%);
}

.empty {
  text-align: center;
  position: absolute;
  top: 13%;
  left: 0;
  width: 100%;
}

.emptyCreateNew {
  color: var(--link-color);
}

.item {
  composes: resetListItem from 'part:@sanity/base/theme/layout/helpers';
}
