@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
}

.spinner {
  height: 100vh;
  transform: translateY(-30%);
}

.empty {
  text-align: center;
  position: absolute;
  top: 13%;
  left: 0;
  width: 100%;
}

.emptyCreateNew {
  color: var(--link-color);
}

.item {
  position: relative;
}

.selectedItem {
  composes: item;
  background-color: var(--selected-item-color);
  color: var(--selected-item-color--inverted);
}

.item {
  composes: resetListItem from 'part:@sanity/base/theme/layout/helpers';
}

.itemStatus {
  position: absolute;
  top: 50%;
  right: 0.5em;
  transform: translateY(-50%);
  opacity: 0.5;
  z-index: 1;
  @nest .selectedItem & {
    color: var(--selected-item-color--inverted);
  }
}
