@import 'part:@sanity/base/theme/variables-style';

:root {
  --default-item-selected-color: var(--brand-primary);
  --default-item-active-color: var(--brand-primary);
}

.root {
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  position: relative;
}

.spinner {
  height: 100vh;
  transform: translateY(-30%);
}

.empty {
  text-align: center;
  position: absolute;
  top: 13%;
  left: 0;
  width: 100%;
}

.emptyCreateNew {
  color: var(--link-color);
}

.link {
  display: block;
  color: inherit;
  text-decoration: inherit;
  outline: none;
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
}

.item {
  composes: resetListItem from 'part:@sanity/base/theme/layout/helpers';
  padding: var(--small-padding) var(--medium-padding);
}

.selectedItem {
  composes: item;
  composes: selected from 'part:@sanity/base/theme/layout/selectable-style';
}

.itemStatus {
  @nest .selectedItem & {
    color: var(--selected-item-color--inverted);
  }
}
