@import 'part:@sanity/base/theme/variables-style';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.paneWrapper {
  @media (--screen-medium) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

.paneWrapperWithHistory {
  composes: paneWrapper;

  @media (--screen-medium) {
    justify-content: stretch;
    display: flex;
  }
}

.pane {
  display: block;
  position: relative; /* Needed to keep the spinners in place */

  @media (--screen-medium) {
    background-color: transparent;
    height: 100%;
  }
}

.loading {
  min-height: 100%;
}

.menuItem {
  display: inline-flex;
  justify-content: space-between;
  width: stretch;
}

.hotkey {
  color: inherit;
  font-size: 0.8em;
  margin-left: 0.6em;
  padding-right: 1em;
  opacity: 0.5;
}

.top {
  margin: 0 var(--medium-padding);
  color: var(--text-color-secondary);
}

.publishInfo {
  display: flex;
  box-sizing: border-box;
  color: var(--text-color-secondary);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--component-bg);
  z-index: var(--zindex-pane);
  transform: translateY(0);
  transition: transform 0.3s ease-in, box-shadow 0.2s ease-in;
  justify-items: stretch;
  justify-content: stretch;
  align-items: center;
  font-size: 1rem;
  box-shadow: 0 0 2px color(var(--shadow-base) a(20%));
  padding: var(--small-padding) var(--medium-padding);

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    padding-bottom: calc(var(--small-padding) + env(safe-area-inset-bottom));
  }

  /* NOTE: Work-around for hiding the snack bar when the keyboard is visible on small screens */
  @media (max-height: 32em) {
    position: relative;
  }

  @media (min-width: 375px) {
    grid-template-columns: 50% 50%;
  }

  @media (--screen-medium) {
    position: absolute;
    display: grid;
    grid-template-areas: 'publishButton publishInfoUndoButton';
    grid-template-rows: 2.5em;
    grid-template-columns: 10em 10em;
    grid-gap: 0.5em;
    padding: var(--small-padding) var(--medium-padding);
  }
}

.publishInfoHidden {
  composes: publishInfo;
  transform: translateY(100%);
  box-shadow: 0 0 0 var(--shadow-base);
}

.publishButton {
  display: block;
  grid-area: publishButton;
  justify-self: stretch;
  width: stretch;

  @nest & > * {
    display: flex;
    width: 100%;
  }
}

.publishInfoUndoButton {
  position: relative;
  grid-area: publishInfoUndoButton;
  min-width: fit-content;

  @nest & > * {
    display: flex;
    width: 100%;
  }
}

.popOverText {
  font-size: 1em;
  line-height: 1.25;
  margin-bottom: 1em;
  text-align: center;
  max-width: 18em;
}

.errors {
  margin-left: 1rem;
  color: var(--state-danger-color);
}

.warnings {
  margin-left: 1rem;
  color: var(--state-warning-color);
}

.editor {
  padding: var(--medium-padding);
  padding-bottom: 8rem;
  flex-grow: 1;
}

.syncStatus {
  display: block;
  opacity: 1;
  font-size: var(--font-size-xsmall);
  padding: 0 var(--small-padding);
  white-space: nowrap;
}

.syncStatusSynced {
  composes: syncStatus;
}

.syncStatusReconnecting {
  composes: syncStatus;
  color: var(--state-danger-color);
}

.syncStatusSyncing {
  composes: syncStatus;
  color: var(--state-success-color);
}

.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  z-index: 200;
}

.typeMisMatchMessage {
  padding: 10em 3em;
}

.paneFunctions {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  padding-right: 0;

  @media (--screen-medium) {
    font-size: 1em;
  }
}

.syncSpinnerContainer {
  display: flex;
  position: relative;
  align-items: center;
}

.syncSpinner {
  display: block;

  @nest & > svg {
    display: block;
    transform-origin: center center;
    animation-name: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.spinnerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
  background-color: color(var(--component-bg) a(60%));

  @media (--screen-medium) {
    position: absolute;
    height: calc(100vh - 6rem); /* 6rem is aprox the height of the header stuff */
  }
}

.statusBadges {
  font-size: var(--font-size-xsmall--uppercase);
  color: var(--text-muted);
}

.editedTime {
  display: inline-block;
  cursor: default;
  font-size: var(--font-size-xsmall);
  pointer-events: none;

  @nest &::first-letter {
    text-transform: uppercase;
  }
}

.editedTimeClickable {
  composes: editedTime;
  cursor: pointer;

  @media (--screen-medium) {
    pointer-events: initial;
  }

  @media (hover: hover) {
    @nest &:hover {
      text-decoration: underline;
    }
  }
}

.statusBadges:not(:empty) + .editedTime {
  margin-left: 0.5rem;
}
