@import 'part:@sanity/base/theme/variables-style';

.root {
}

.hotkey {
  color: #888;
  font-size: 0.8em;
  margin-left: 0.6em
}

.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  z-index: 200;
}

.editor {
  display: block;

  @media (--screen-medium) {
    composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
    composes: lightScrollbars from "part:@sanity/base/theme/layout/scrolling-style";
    position: absolute;
    top: 4rem;
    left: 0;
    padding-left: var(--large-padding);
    padding-right: var(--large-padding);
    padding-bottom: 10rem;
    /*max-width: 40em;*/
    width: 100%;
    clear: both;
    box-sizing: border-box;
    height: calc(100% - 4rem);
  }
}

.typeMisMatchMessage {
  padding: 10em 3em;
}

.savingStatus {
  opacity: 0.5;
  padding: 0.75em;
  padding-right: 0;
  flex-basis: 5em;
}

.publishButton {
  padding: 0 1rem;
  padding-right: 0;
  font-size: 0.8em;
  line-height: calc(2.75em / 0.8);
}

.spinner {
  position: absolute;
  left: -1.5em;
  font-size: 0.9em;
}

.functions {
  font-size: var(--font-size-small);
  margin-right: 0.75em;
}

.top {
  composes: top from './Pane.css';
  margin-bottom: 0;
  margin-left: var(--medium-padding);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.heading {
  composes: heading from './Pane.css';
  flex-grow: 1;
}

.menu {
  composes: menu from './Pane.css';
}

.menuButton {
  composes: menuButton from './Pane.css';
  position: relative;
  right: 0;
}

.dates {
  text-align: right;
  flex-basis: 14em;
  color: #aaaaaa;
  font-size: 0.7rem;
  padding: 0.5rem;
  display: none;
  @media (--screen-medium) {
    display: block;
  }
}
