@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;

  /*
    TODO Remove this this when supporting mobile navigation in js
  */
  background-color: var(--body-bg);

  @media (--screen-medium) {
    background-color: transparent;
  }

  /* This makes the content behave strange. but fixes a safari bug
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  */
}

.hotkey {
  color: #888;
  font-size: 0.8em;
  margin-left: 0.6em;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--medium-padding);
}

.dates {
  flex-basis: 14em;
  color: #aaaaaa;
  font-size: 0.7rem;
  display: none;

  @media (--screen-medium) {
    display: block;
  }
}

.publishedDate {
  composes: dates;
}

.editedDate {
  composes: dates;
}

.editor {
  @media (--screen-medium) {
    padding: 1rem;
  }
}

.savingStatus {
  opacity: 0.5;
  flex-basis: 5em;
  align-self: flex-end;
  text-align: right;
}

.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  z-index: 200;
}

.typeMisMatchMessage {
  padding: 10em 3em;
}

.publishButton {
  padding: 0 1rem;
  padding-right: 0;
  font-size: 0.8em;
  line-height: calc(2.75em / 0.8);
}

.spinner {
  position: absolute;
  left: -1.5em;
  font-size: 0.9em;
}
