@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
}

.hotkey {
  color: #888;
  font-size: 0.8em;
  margin-left: 0.6em
}

.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  z-index: 200;
}

.typeMisMatchMessage {
  padding: 10em 3em;
}

.savingStatus {
  opacity: 0.5;
  padding: 0.75em;
  padding-right: 0;
  flex-basis: 5em;
}

.publishButton {
  padding: 0 1rem;
  padding-right: 0;
  font-size: 0.8em;
  line-height: calc(2.75em / 0.8);
}

.spinner {
  position: absolute;
  left: -1.5em;
  font-size: 0.9em;
}

.dates {
  text-align: right;
  flex-basis: 14em;
  color: #aaaaaa;
  font-size: 0.7rem;
  padding: 0.5rem;
  display: none;
  @media (--screen-medium) {
    display: block;
  }
}
