@import 'part:@sanity/base/theme/variables-style';

.error,
.deletedDocument,
.unknownSchemaType {
  composes: flexCenter from 'part:@sanity/base/theme/layout/positioning-style';
}

.errorInner,
.deletedDocumentInner,
.unknownSchemaTypeInner {
  padding: var(--medium-padding);
}

.errorDetails {
  width: 100%;
  margin-top: 1em;
  height: 10em;
  white-space: pre;
  background: transparent;
  border: 0;
  padding: var(--small-padding) 0;
  font-size: var(--font-size-tiny);
  font-family: var(--font-family-monospace);
  line-height: 1.5em;
}

.jsonDump {
  white-space: pre-wrap;
  padding: var(--medium-padding);
}
