@import 'part:@sanity/base/theme/variables-style';

.root {
}

.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  z-index: 200;
}

.editor {
  display: block;

  @media (--screen-medium) {
    composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
    composes: lightScrollbars from "part:@sanity/base/theme/layout/scrolling-style";
    position: absolute;
    top: 6rem;
    left: 0;
    padding-left: var(--large-padding);
    padding-right: var(--large-padding);
    padding-bottom: 4rem;
    max-width: 40em;
    width: 100%;
    clear: both;
    box-sizing: border-box;
    height: calc(100% - 4rem);
  }
}

.savingStatus {
  opacity: 0.5;
}

.publishButton {
  position: absolute;
  top: 0.3rem;
  right: 3rem;
  font-size: 0.9rem;
  line-height: 2rem;
}

.spinner {
  position: absolute;
  left: -1.5em;
  font-size: 0.9em;
}

.functions {
  font-size: var(--font-size-small);
}

.top {
  composes: top from './Pane.css';
  margin-bottom: 0;
  margin-left: var(--medium-padding);
}

.heading {
  composes: heading from './Pane.css';
}

.menu {
  composes: menu from './Pane.css';
}

.menuButton {
  composes: menuButton from './Pane.css';
}

.dates {
  color: #aaaaaa;
  margin-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}
