@import 'part:@sanity/base/theme/variables-style';

.root {
  /* The container is in SchemaPaneResolver */
}

.editor {
  display: block;
  max-width: 40em;
  clear: both;
  margin-top: 1em;
  box-sizing: border-box;
  lost-utility: clearfix;
  padding: var(--large-padding);
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.title {
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.lastEdited {

}

.spinner {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.spinnerInactive {
  composes: spinner;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
