@import 'part:@sanity/base/theme/variables-style';

.root {
  background-color: var(--gray-lightest);
  box-shadow: 2px 2px 5px var(--gray-light) inset;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  composes: slide-in-from-right from '../../../styles/animations.css';

  @media (--screen-medium) {
    width: auto;
    height: auto;
    position: relative;
    flex-grow: 10;
    z-index: inherit;
  }
}

.editorWrapper {
  padding: 1em;
  @media (--screen-medium) {
    max-width: 30em;
    padding: 1em;
    margin: 0 auto;
  }
}

.editor {
  composes: editorWrapper;
}

.header {
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 1em;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.title {
  font-size: 2em;
  font-weight: 100;
}

.lastEdited {

}

.spinner {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.spinnerInactive {
  composes: spinner;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
