@import 'part:@sanity/base/theme/variables-style';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.root {
  display: block;

  /*
    TODO Remove this this when supporting mobile navigation in js
  */
  background-color: var(--body-bg);

  @media (--screen-medium) {
    background-color: transparent;
  }

  /* This makes the content behave strange. but fixes a safari bug
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  */
}

.hotkey {
  color: #888;
  font-size: 0.8em;
  margin-left: 0.6em;
}

.top {
  display: flex;
  margin: 0 var(--medium-padding);
  color: var(--text-color-secondary);
}

.dates {
  font-size: 0.7rem;
  display: none;

  @media (--screen-medium) {
    display: block;
  }
}

.publishedDate {
  composes: dates;
}

.editedDate {
  composes: dates;
  margin-right: 1rem;
}

.editor {
  padding: var(--medium-padding);
}

.syncStatus {
  display: block;
  opacity: 1;
  font-size: 0.7em;
  min-width: 4rem;
}

.syncStatusSynced {
  composes: syncStatus;
}

.syncStatusSyncing {
  composes: syncStatus;
  color: var(--state-success-color);
}

.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  z-index: 200;
}

.typeMisMatchMessage {
  padding: 10em 3em;
}

.paneFunctions {
  display: flex;
  flex-wrap: nowrap;
}

.publishButton {
  padding: 0 1rem;
  padding-right: 0;
  font-size: 0.8em;
  line-height: calc(2.75em / 0.8);
}

.spinnerContainer {
  display: inline-block;
  height: 1em;
  position: relative;
  margin-right: 1em;
}

.spinner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  transform-origin: center center;
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @nest & > svg {
    display: block;
  }
}
