@import 'part:@sanity/base/theme/variables-style';

.root {
}

.editor {
  display: block;

  @media (--screen-medium) {
    composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
    composes: lightScrollbars from "part:@sanity/base/theme/layout/scrolling-style";
    position: absolute;
    top: 4rem;
    left: 0;
    padding-left: var(--large-padding);
    padding-right: var(--large-padding);
    max-width: 40em;
    width: 100%;
    clear: both;
    box-sizing: border-box;
    height: calc(100% - 4rem);
  }
}

.savingStatus {
  position: absolute;
  top: 0.3rem;
  right: 4rem;
  line-height: 2.3rem;
  opacity: 0.5;
}

.spinner {
  position: absolute;
  left: -1.5em;
  font-size: 0.9em;
}

.functions {
  top: 0;
  right: var(--small-padding);
  position: absolute;
  font-size: var(--font-size-small);
}

.top {
  composes: top from './Pane.css';
  margin-left: var(--medium-padding);
}

.heading {
  composes: heading from './Pane.css';
}

.menu {
  composes: menu from './Pane.css';
}

.menuButton {
  composes: menuButton from './Pane.css';
}
