@import 'part:@sanity/base/theme/variables-style';

.root {
  /* The container is in SchemaPaneResolver */
}

.editor {
  display: block;
  @media (--screen-medium) {
    max-width: 40em;
    clear: both;
    margin-top: 1em;
    box-sizing: border-box;
    lost-utility: clearfix;
  }
}

.typeTitle {
  font-size: var(--font-size-small);
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.header {
  padding-bottom: 0.5em;
  position: relative;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.title {
  font-size: var(--font-size-h4);
  font-weight: 100;
  margin: 0;
  padding: 0;
  @media (--screen-medium) {
    font-size: var(--font-size-h2);
  }
}

.spinner {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.spinnerInactive {
  composes: spinner;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.deleteContainer {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  font-size: var(--font-size-small);

}
