@import 'part:@sanity/base/theme/variables-style';

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: var(--medium-padding);
  margin: 0;
  padding: var(--medium-padding);
}

.cardListItem {
  background-color: white;
  composes: shadow-2dp from 'part:@sanity/base/theme/shadows-style';
}

.mediaList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  grid-gap: var(--small-padding);
  margin: 0;
  padding: var(--medium-padding);
}

.mediaListItem {
  composes: shadow-1dp from 'part:@sanity/base/theme/shadows-style';
}

.scroll {
  composes: lightScrollbars from "part:@sanity/base/theme/layout/scrolling-style";
  composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
  overflow: overlay !important; /* VirtualList sets this with inline style */
}
