@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  float: left;
  height: 100%;
  position: relative;
  max-width: 100%;
  width: 100%;
  min-width: 14rem;
  padding-left: var(--medium-padding);

  @media (--screen-medium) {
    width: auto;
    max-width: 25em;
  }
}

.isActive {
  composes: root;
}

.isInactive {
  composes: root;
  @media (--max-screen-medium) {
    display: none;
  }
}

.list-layout--default {
  display: block;
}

.list-layout--card {
  width: 50rem;
  max-width: 80vw;
}

.list-layout--media {
  width: 50rem;
  max-width: 80vw;
}

.listContainer {
  composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
  composes: lightScrollbars from "part:@sanity/base/theme/layout/scrolling-style";
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: calc(100% - 3rem);
  box-sizing: border-box;
}

.menuButton {
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: -0.25rem;
  z-index: 11;
}

.menu {
  position: absolute;
  z-index: 10;
  top: 2em;
  right: 0.5em;
  width: 100%;
}

.spinner {
  height: 100%;
  transform: translateY(-30%);
}

.empty {
  text-align: center;
  position: absolute;
  top: 13%;
  left: 0;
  width: 100%;
}

.emptyCreateNew {
  color: var(--link-color);
}

.heading {
  line-height: 3rem;
}

.top {
  height: 3rem;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  margin-bottom: var(--medium-padding);
}
