@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  position: relative;

  @media (--screen-medium) {
    display: flex;
    box-sizing: border-box;
    position: relative;
    max-height: 100%;
    z-index: var(--zindex-pane)
    /* hack to make safari scroll (set relative height for children)*/
    height: calc(100vh - 4rem);
  }

}
