@import 'part:@sanity/base/theme/variables-style';

.item {
  position: relative;
  margin: 0;
  padding: 0;
}

.selected {
  composes: item;
}

.linkWrapper {
  display: block;
  text-decoration: inherit;
  outline: none;
  height: 100%;
  margin: 0;
  padding: var(--small-padding) var(--medium-padding);
}

.link {
  color: inherit;
  composes: linkWrapper;
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
}

.linkIsSelected {
  composes: linkWrapper;
  composes: selected from 'part:@sanity/base/theme/layout/selectable-style';
}
