@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  float: left;
  height: 100%;
  position: relative;
  max-width: 25em;

  @media (--screen-medium) {
    &:before {
      content: '';
      background-color: color(var(--body-bg) a(95%));
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 2.5rem;

      @supports (backdrop-filter: blur(2px)) {
        background-color: color(var(--body-bg) a(50%));
        backdrop-filter: blur(5px)
      }
    }
  }
}

.isActive {
  composes: root;
}

.isInactive {
  composes: root;
}

.view--card {
  max-width: 40em;
}

.view--thumbnail {
  max-width: 40em;
}

.listContainer {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (--screen-medium) {
    box-sizing: border-box;
    max-height: 100%;
    padding-top: 3em;
    composes: lightScrollbars from 'part:@sanity/base/theme/layout/scrolling-style';
    composes: scrollY from 'part:@sanity/base/theme/layout/scrolling-style';
  }
}

.menuButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

.menu {
  position: absolute;
  z-index: 10;
  top: 2em;
  right: 0.5em;
  width: 100%;
}
