@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  float: left;
  height: 100%;
  position: relative;
  max-width: 100%;
  width: 100%;

  @media (--screen-medium) {
    width: auto;
    max-width: 25em;
    &:before {
      content: '';
      background-color: color(var(--body-bg) a(95%));
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 2.5rem;

      @supports (backdrop-filter: blur(2px)) {
        background-color: color(var(--body-bg) a(50%));
        backdrop-filter: blur(5px)
      }
    }
  }
}

.isActive {
  composes: root;
}

.isInactive {
  composes: root;
  @media (--max-screen-medium) {
    display: none;
  }
}

.view--card {
  width: 70rem;
  max-width: 80vw;
}

.view--media {
  width: 70rem;
  max-width: 80vw;
}

.listContainer {
  composes: scrollY from 'part:@sanity/base/theme/layout/scrolling-style';
  composes: lightScrollbars from 'part:@sanity/base/theme/layout/scrolling-style';
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: calc(100% - 3rem);
  box-sizing: border-box;
  padding-top: 3em;
}

.menuButton {
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: -0.25rem;
  z-index: 11;
}

.menu {
  position: absolute;
  z-index: 10;
  top: 2em;
  right: 0.5em;
  width: 100%;
}
