@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
}


/* views */
.view--list {
  display: block;
}

.view--cards {
  composes: item from 'part:@sanity/components/lists/grid-style';
}

.view--thumbnails {
  composes: item from 'part:@sanity/components/lists/grid-style';
}

.view--details {
  composes: root;
}

.selected {

}

.unSelected {

}

.link {
  color: inherit;
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
  &:hover {
    color: #000;
  }
}

.selectedLink {
  composes: link;
  color: var(--selected-item-color);
  &:hover {
    color: var(--selected-item-color-hover);
  }
}

/*
.link {
  display: block;
  position: relative;
  text-decoration: none;
  color: var(--selectable-item-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover {
    color: var(--selectable-item-color-hover);
  }
}

.activeLink {
  composes: link;
  font-weight: 700;
  color: var(--selected-item-color);
  border-bottom: 0.2em solid var(--selected-item-color);

  @media (--screen-medium) {
    &::after {
      opacity: 1;
      color: var(--selected-item-color);
      font-weight: 700;
      font-size: 2em;
      margin-right: -0.35em;
    }
  }
}*/
