@import 'part:@sanity/base/theme/variables-style';

.item {
  position: relative;
  color: #999;
}

.link {
  line-height: 2em;
  text-decoration: none;
  color: inherit;

  @nest &:hover {
    color: #666;
  }

}
