@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  float: left;
  height: 100%;
  position: relative;

  @media (--max-screen-medium) {
    width: 100%;
    max-width: 100%;
  }

  @media (--screen-medium) {
    /*min-width: 7em;*/
    padding-right: 1em;
    height: 100%;
  }
}

.isActive {
  composes: root;
}

.isInactive {
  composes: root;
  @media (--max-screen-medium) {
    display: none;
  }
}

.selected {
  composes: selected from './Pane.css';
}

.listContainer {
  composes: listContainer from './Pane.css';
  height: 100%;
}

.item {
  composes: resetListItem from 'part:@sanity/base/theme/layout/helpers';
}
