@import 'part:@sanity/base/theme/variables-style';

.item {
  position: relative;
  color: #999;
  margin: 0;
  padding: 0;
}

.selected {
  composes: item;
  color: red;
}

.link {
  margin: 0;
  padding: 0;
  line-height: 2em;
  text-decoration: none;
  color: inherit;

  @nest &:hover {
    color: #666;
  }

}
