@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
}

.list {
  composes: resetList from 'part:@sanity/base/theme/layout/helpers';
}

.item {
  composes: resetListItem from 'part:@sanity/base/theme/layout/helpers';
}
