.root {
  display: block;
}

.level_0 {
  composes: headingLevel_0 from 'part:@sanity/base/theme/typography/forms-style';
}

.level_1 {
  composes: headingLevel_1 from 'part:@sanity/base/theme/typography/forms-style';
}

.level_2 {
  composes: headingLevel_2 from 'part:@sanity/base/theme/typography/forms-style';
}
