:root {
  --screen-medium-break: 512px; /* 32em */
  --screen-default-break: 640px; /* 40em */
  --screen-large-break: 960px; /* 60em */
  --screen-xlarge-break: 1600px; /* 100em */

  /* medium */
  @custom-media --max-screen-medium (max-width: 511px);
  @custom-media --screen-medium (min-width: 512px);
  /* @custom-media --min-medium (min-width: 512px); */

  /* default */
  @custom-media --screen-default (min-width: 640px);
  /* @custom-media --min-default (min-width: 640px); */

  /* large */
  @custom-media --screen-large (min-width: 960px);
  /* @custom-media --min-large (min-width: 960px); */

  /* xlarge */
  @custom-media --screen-xlarge (min-width: 1600px);

  /* print */
  @custom-media --print(print);
}
