@import 'part:@sanity/base/theme/variables-style';

.root {
  margin-bottom: 1rem;
  box-sizing: border-box;
  max-width: 100%;
  background-color: var(--component-bg);
  border: 1px solid var(--gray-lighter);
  padding: 1rem;
}
