@import 'style:@sanity/base/theme/variables';
@use postcss-cssnext;

.root {
  display: block;
}

.top-right {
  composes: root;
  position: absolute;
  right: 0;
  top: 0;
  appearance: none;
  border: none;
  background-color: transparent;
  transition: all 0.1s linear;
  color: var(--clear-cross-color);
  outline: none;

  &:hover,
  &:focus {
    color: var(--clear-cross-color-hover);
    transform: scale(1.5);
  }

  &:active {
    transform: scale(2);
  }
}

.textInput {
  composes: top-right;
}

.textarea {
  composes: top-right;
}
