@import 'style:@sanity/base/theme/variables';
@use postcss-cssnext;

.textInput {
  border: 0;
  border: 1px solid var(--input-border-color);
  background-color: var(--input-bg);
  display: block;
  width: 100%;
  outline: none;
  line-height: 2em;
  font-size: inherit;
  box-sizing: border-box;
  padding: 0.2em 0.5em;
  border-radius: var(--input-border-radius);

  &:hover {
    border-color: var(--input-border-color-hover);
  }

  &:focus {
    border-color: var(--input-border-color-focus);
  }

  &:active {
    border-color: var(--input-border-color-active);
  }
}

.error {
  composes: textInput;
  border-color: var(--brand-danger);

  &:hover {
    border-color: var(--brand-danger);
  }

  &:focus {
    border-color: var(--brand-danger);
  }

  &:active {
    border-color: var(--brand-danger);
  }
}
