@import 'part:@sanity/base/theme/variables-style';

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: var(--medium-padding);
  margin: 0;
  padding: var(--medium-padding);
}

.cardListItem {
  background-color: white;
  composes: shadow-1dp from 'part:@sanity/base/theme/shadows-style';
}

.mediaList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  grid-gap: var(--small-padding);
  margin: 0;
  padding: var(--medium-padding);
}

.mediaListItem {
  composes: shadow-1dp from 'part:@sanity/base/theme/shadows-style';
}

.scroll {
  composes: scrollY from 'part:@sanity/base/theme/layout/scrolling-style';

  @media (--max-screen-medium) {
    height: auto !important;
  }
}
