@import 'style:@sanity/base/theme/variables';
@use postcss-cssnext;

.root {
  margin-bottom: 2rem;
  box-sizing: border-box;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid var(--gray-lighter);

  padding: 1rem;

}

.subRoot {
  composes: root;
  border: 0;
  padding: 0;
  & .label {
    font-size: 1rem;
  }
}

.error {
  border-left: 3px solid var(--brand-danger);
}

.valid {
  /*border-left: 3px solid var(--brand-success);*/
}

.content {
  /* empty */
}

.level_0 {
  composes: root;
}

.level_1 {
  composes: subRoot;
}

.level_2 {
  composes: subRoot;
}

.level_3 {
  composes: subRoot;
}

.level_4 {
  composes: subRoot;
}

.label {
  font-size: 1.5rem;
  width: 8em;
  text-align: left;
  padding: 0.25em 0;
  padding-right: 2em;
}

.description {
  composes: small from 'style:@sanity/base/theme/typography';
  color: var(--text-muted);
  padding-bottom: 1rem;
}

.nestingLevel {
  display: none;
  float: right;
  font-size: 0.5rem;
  font-family: var(--font-family-monospace);
  opacity: 0.3;

  @nest .root:hover & {
    color: red;
    opacity: 0.8;
  }
}
