@import 'style:@sanity/base/theme/variables';
@use postcss-cssnext;

.root {
  margin-bottom: 1em;
  box-sizing: border-box;
  font-size: 1em;
  max-width: 100%;
  background-color: #fafafa;
  padding: 1em;
  border: 1px solid transparent;
  &:hover {
    background-color: #eee;
    border: 1px dotted #333;
  }
}

.level_1 {
  composes: root;
  border-left: 1em solid #660;
}

.level_2 {
  composes: root;
  border-left: 1em solid #330;
}

.level_3 {
  composes: root;
  border-left: 1em solid #000;
}


.label {
  font-weight: bold;
}

.title {
  font-size: 2em;
  font-weight: bold;
}
