@import 'style:@sanity/base/theme/variables';
@use postcss-cssnext;

.root {
  margin-bottom: 1rem;
  box-sizing: border-box;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid var(--gray-lighter);
  padding: 1rem;
}

.subRoot {
  composes: root;
  border: 0;
  padding: 0;
}

.error {
  border-left: 3px solid var(--brand-danger);
}

.valid {
  /* border-left: 3px solid var(--brand-success); */
}

.content {
  /* empty */
}

.level_0 {
  composes: root;
}

.level_1 {
  composes: subRoot;
}

.level_2 {
  composes: subRoot;
}

.level_3 {
  composes: subRoot;
}

.level_4 {
  composes: subRoot;
}

.label {
  composes: heading3 from '../../styles/Typography.css';
  text-align: left;
  display: block;

  @nest .subRoot & {
    font-size: var(--font-size-h4);
  }
}

.description {
  composes: description from '../../styles/Typography.css';
}

.nestingLevel {
  display: none;
}
