@import 'part:@sanity/base/theme/variables-style';

.deskTool {
  display: block;

  @media (--screen-medium) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    box-sizing: border-box;
  }
}

.createButtonContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 1rem;
  font-weight: 100;
}

.createButton {
  padding-left: 0.5rem;
}

.nothingSelected {
  composes: center-both from 'part:@sanity/base/theme/layout/positioning-style';
  composes: heading2 from 'part:@sanity/base/theme/typography/headings-style';
  color: var(--text-muted);
}
