@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  border-bottom: 1px solid var(--list-border-color);

  @nest &:first-child {
    border-top: 1px solid var(--list-border-color);
  }
}
