.root {
  background: #fff;
  padding: 0;
  border-radius: 5px;
  min-height: 80vh;
  min-width: 80vh;
  z-index: 10000;
}

.root::backdrop {
  background: #333;
  opacity: 0.6;
}

.content {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}
