@import 'part:@sanity/base/theme/variables-style';

.frosted {
  background-color: var(--backdrop-color);
}

.listItemStates {
  position: relative;

  @nest &:active::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--selectable-item-color-active);
    opacity: 0.5;
    pointer-events: none;
  }

  @media (hover: hover) {
    @nest &:hover::after {
      z-index: 1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--selectable-item-color-hover);
      pointer-events: none;
    }

    @nest &:hover:active::after {
      z-index: 1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--selectable-item-color-active);
      pointer-events: none;
    }
  }
}
