.resetList {
  display: block;
  margin: 0;
  padding: 0;
}

.resetListItem {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.noLink, .resetLink {
  color: inherit;
  text-decoration: none;

  @nest &:hover {
    color: inherit;
  }
}
