@import 'part:@sanity/base/theme/variables-style';

.resetList {
  display: block;
  margin: 0;
  padding: 0;
}

.resetListItem {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.noLink,
.resetLink {
  color: inherit;
  text-decoration: none;

  @nest &:hover {
    color: inherit;
  }
}

.movingItem {
  position: relative;
  background-color: var(--selectable-item-color-active);
  opacity: 0.8;
  composes: shadow-5dp from 'part:@sanity/base/theme/shadows-style';
  z-index: var(--zindex-moving-item);
}
