.absoluteCenter {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center-both {
  composes: absoluteCenter;
  height: 100%;
  width: 100%;
}

.flexCenter {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
