@import 'part:@sanity/base/theme/variables-style';

:root {
  --defaultScrollBarWidth: var(--small-padding);
}

.lightScrollbars {
  @media (--screen-medium) {
    @nest &::-webkit-scrollbar {
      background-color: transparent;
      width: var(--defaultScrollBarWidth);

      @media (--screen-medium) {
        width: var(--defaultScrollBarWidth);

        @nest &:not(:hover) {
          width: 0;
        }
      }
    }

    @nest &::-webkit-scrollbar * {
      background: transparent;
    }

    @nest &::-webkit-scrollbar-thumb:window-inactive {
      opacity: 0;
    }

    @nest &:hover {
      @nest &::-webkit-scrollbar {
        width: var(--defaultScrollBarWidth);
        display: initial;

        @media (--screen-medium) {
          width: var(--defaultScrollBarWidth);
        }
      }

      @nest &::-webkit-scrollbar-thumb {
        background-color: var(--gray);
      }

      @nest &::-webkit-scrollbar-track {
        background-color: color(var(--black) a(2%));
      }
    }

    @nest &::-webkit-scrollbar-thumb {
      background-color: transparent;

      @nest &:hover {
        background-color: var(--black);
      }
    }
  }
}

.thinLightScrollbars {
  composes: lightScrollbars;

  @nest &::-webkit-scrollbar {
    width: 3px;

    @media (--screen-medium) {
      width: 3px;
    }
  }

  @nest &:hover {
    @nest &::-webkit-scrollbar {
      width: 3px;

      @media (--screen-medium) {
        width: 3px;
      }
    }
  }
}

.touchScroll {
  -webkit-overflow-scrolling: touch;
}

.scrollAll {
  overflow: overlay;
  composes: touchScroll;
}

.scrollX {
  composes: touchScroll;
  overflow-y: hidden;
  overflow-x: overlay;
}

.scrollY {
  composes: touchScroll;
  overflow-y: overlay;
  overflow-x: hidden;
}
