@import 'part:@sanity/base/theme/variables-style';

.item {
  background-color: var(--selectable-item-color);
  color: var(--selectable-item-color--inverted);
  cursor: default;

  @nest &[disabled] {
    color: var(--gray-lighter);
  }

  @nest &:not([disabled]) {
    @media (hover: hover) {
      @media (--screen-medium) {
        @nest &:hover {
          background-color: var(--selectable-item-color-hover);
          color: var(--selectable-item-color-hover--inverted);
        }
      }
    }

    @nest &:focus {
      outline: none;

      @media (hover: hover) {
        background-color: var(--selectable-item-color-focus);
        color: var(--selectable-item-color-focus--inverted);
      }
    }

    @nest &:active {
      background-color: var(--selectable-item-color-active);
      color: var(--selectable-item-color-active--inverted);
    }
  }
}

.selected {
  composes: item;
  background-color: var(--selected-item-color) !important;
  color: var(--selected-item-color--inverted) !important;

  @nest &:hover {
    @media (hover: hover) {
      background-color: var(--selected-item-color-hover) !important;
      color: var(--selected-item-color-hover--inverted) !important;
    }
  }

  @nest &:focus {
    outline: none;

    @media (hover: hover) {
      background-color: var(--selected-item-color) !important;
      color: var(--selected-item-color--inverted) !important;
    }
  }
}

.highlighted {
  background-color: var(--selectable-item-color-highlighted);

  @nest &.selected {
    background-color: var(--selectable-item-color-highlighted);
  }
}
