/* stylelint-disable no-descending-specificity */

@import 'part:@sanity/base/theme/variables-style';

:global(.tippy-touch) {
  cursor: pointer !important;
}

:global(.tippy-notransition) {
  transition: none !important;
}

:global(.tippy-popper) {
  max-width: 400px;
  perspective: 800px;
  z-index: var(--zindex-portal) !important;
  outline: 0;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  pointer-events: none;
}

:global(.tippy-popper.html-template) {
  max-width: calc(100% - 20px);
}

:global(.tippy-popper[x-placement^='top'] [x-arrow]) {
  border-top: 7px solid var(--main-navigation-color);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  bottom: -7px;
  margin: 0 9px;
}

:global(.tippy-popper[x-placement^='top'] [x-arrow].arrow-small) {
  border-top: 5px solid var(--main-navigation-color);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  bottom: -5px;
}

:global(.tippy-popper[x-placement^='top'] [x-arrow].arrow-big) {
  border-top: 10px solid var(--main-navigation-color);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  bottom: -10px;
}

:global(.tippy-popper[x-placement^='top'] [x-circle]) {
  -webkit-transform-origin: 0 33%;
  transform-origin: 0 33%;
}

:global(.tippy-popper[x-placement^='top'] [x-circle].enter) {
  transform: scale(1) translate(-50%, -55%);
  opacity: 1;
}

:global(.tippy-popper[x-placement^='top'] [x-circle].leave) {
  transform: scale(0.15) translate(-50%, -50%);
  opacity: 0;
}

:global(.tippy-popper[x-placement^='top'] .tippy-tooltip.light-theme [x-circle]) {
  background-color: var(--component-bg);
}

:global(.tippy-popper[x-placement^='top'] .tippy-tooltip.light-theme [x-arrow]) {
  border-top: 7px solid var(--component-bg);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

:global(.tippy-popper[x-placement^='top'] .tippy-tooltip.light-theme [x-arrow].arrow-small) {
  border-top: 5px solid var(--component-bg);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

:global(.tippy-popper[x-placement^='top'] .tippy-tooltip.light-theme [x-arrow].arrow-big) {
  border-top: 10px solid var(--component-bg);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

:global(.tippy-popper[x-placement^='top'] .tippy-tooltip.transparent-theme [x-circle]) {
  background-color: rgba(0, 0, 0, 0.7);
}

:global(.tippy-popper[x-placement^='top'] .tippy-tooltip.transparent-theme [x-arrow]) {
  border-top: 7px solid rgba(0, 0, 0, 0.7);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

:global(.tippy-popper[x-placement^='top'] .tippy-tooltip.transparent-theme [x-arrow].arrow-small) {
  border-top: 5px solid rgba(0, 0, 0, 0.7);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

:global(.tippy-popper[x-placement^='top'] .tippy-tooltip.transparent-theme [x-arrow].arrow-big) {
  border-top: 10px solid rgba(0, 0, 0, 0.7);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

:global(.tippy-popper[x-placement^='top'] [data-animation='perspective']) {
  transform-origin: bottom;
}

:global(.tippy-popper[x-placement^='top'] [data-animation='perspective'].enter) {
  opacity: 1;
  transform: translateY(-10px) rotateX(0);
}

:global(.tippy-popper[x-placement^='top'] [data-animation='perspective'].leave) {
  opacity: 0;
  transform: translateY(0) rotateX(90deg);
}

:global(.tippy-popper[x-placement^='top'] [data-animation='fade'].enter) {
  opacity: 1;
  transform: translateY(-10px);
}

:global(.tippy-popper[x-placement^='top'] [data-animation='fade'].leave) {
  opacity: 0;
  transform: translateY(-10px);
}

:global(.tippy-popper[x-placement^='top'] [data-animation='shift'].enter) {
  opacity: 1;
  transform: translateY(-10px);
}

:global(.tippy-popper[x-placement^='top'] [data-animation='shift'].leave) {
  opacity: 0;
  transform: translateY(0);
}

:global(.tippy-popper[x-placement^='top'] [data-animation='scale'].enter) {
  opacity: 1;
  transform: translateY(-10px) scale(1);
}

:global(.tippy-popper[x-placement^='top'] [data-animation='scale'].leave) {
  opacity: 0;
  transform: translateY(0) scale(0);
}

:global(.tippy-popper[x-placement^='bottom'] [x-arrow]) {
  border-bottom: 7px solid var(--main-navigation-color);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top: -7px;
  margin: 0 9px;
}

:global(.tippy-popper[x-placement^='bottom'] [x-arrow].arrow-small) {
  border-bottom: 5px solid var(--main-navigation-color);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  top: -5px;
}

:global(.tippy-popper[x-placement^='bottom'] [x-arrow].arrow-big) {
  border-bottom: 10px solid var(--main-navigation-color);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  top: -10px;
}

:global(.tippy-popper[x-placement^='bottom'] [x-circle]) {
  transform-origin: 0 -50%;
}

:global(.tippy-popper[x-placement^='bottom'] [x-circle].enter) {
  transform: scale(1) translate(-50%, -45%);
  opacity: 1;
}

:global(.tippy-popper[x-placement^='bottom'] [x-circle].leave) {
  transform: scale(0.15) translate(-50%, -5%);
  opacity: 0;
}

:global(.tippy-popper[x-placement^='bottom'] .tippy-tooltip.light-theme [x-circle]) {
  background-color: var(--component-bg);
}

:global(.tippy-popper[x-placement^='bottom'] .tippy-tooltip.light-theme [x-arrow]) {
  border-bottom: 7px solid var(--component-bg);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

:global(.tippy-popper[x-placement^='bottom'] .tippy-tooltip.light-theme [x-arrow].arrow-small) {
  border-bottom: 5px solid var(--component-bg);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

:global(.tippy-popper[x-placement^='bottom'] .tippy-tooltip.light-theme [x-arrow].arrow-big) {
  border-bottom: 10px solid var(--component-bg);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

:global(.tippy-popper[x-placement^='bottom'] .tippy-tooltip.transparent-theme [x-circle]) {
  background-color: rgba(0, 0, 0, 0.7);
}

:global(.tippy-popper[x-placement^='bottom'] .tippy-tooltip.transparent-theme [x-arrow]) {
  border-bottom: 7px solid rgba(0, 0, 0, 0.7);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

:global(.tippy-popper[x-placement^='bottom']
    .tippy-tooltip.transparent-theme
    [x-arrow].arrow-small) {
  border-bottom: 5px solid rgba(0, 0, 0, 0.7);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

:global(.tippy-popper[x-placement^='bottom'] .tippy-tooltip.transparent-theme [x-arrow].arrow-big) {
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

:global(.tippy-popper[x-placement^='bottom'] [data-animation='perspective']) {
  transform-origin: top;
}

:global(.tippy-popper[x-placement^='bottom'] [data-animation='perspective'].enter) {
  opacity: 1;
  transform: translateY(10px) rotateX(0);
}

:global(.tippy-popper[x-placement^='bottom'] [data-animation='perspective'].leave) {
  opacity: 0;
  transform: translateY(0) rotateX(-90deg);
}

:global(.tippy-popper[x-placement^='bottom'] [data-animation='fade'].enter) {
  opacity: 1;
  transform: translateY(10px);
}

:global(.tippy-popper[x-placement^='bottom'] [data-animation='fade'].leave) {
  opacity: 0;
  transform: translateY(10px);
}

:global(.tippy-popper[x-placement^='bottom'] [data-animation='shift'].enter) {
  opacity: 1;
  transform: translateY(10px);
}

:global(.tippy-popper[x-placement^='bottom'] [data-animation='shift'].leave) {
  opacity: 0;
  transform: translateY(0);
}

:global(.tippy-popper[x-placement^='bottom'] [data-animation='scale'].enter) {
  opacity: 1;
  transform: translateY(10px) scale(1);
}

:global(.tippy-popper[x-placement^='bottom'] [data-animation='scale'].leave) {
  opacity: 0;
  transform: translateY(0) scale(0);
}

:global(.tippy-popper[x-placement^='left'] [x-arrow]) {
  border-left: 7px solid var(--main-navigation-color);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  right: -7px;
  margin: 6px 0;
}

:global(.tippy-popper[x-placement^='left'] [x-arrow].arrow-small) {
  border-left: 5px solid var(--main-navigation-color);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  right: -5px;
}

:global(.tippy-popper[x-placement^='left'] [x-arrow].arrow-big) {
  border-left: 10px solid var(--main-navigation-color);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -10px;
}

:global(.tippy-popper[x-placement^='left'] [x-circle]) {
  transform-origin: 50% 0;
}

:global(.tippy-popper[x-placement^='left'] [x-circle].enter) {
  transform: scale(1) translate(-50%, -50%);
  opacity: 1;
}

:global(.tippy-popper[x-placement^='left'] [x-circle].leave) {
  transform: scale(0.15) translate(-50%, -50%);
  opacity: 0;
}

:global(.tippy-popper[x-placement^='left'] .tippy-tooltip.light-theme [x-circle]) {
  background-color: var(--component-bg);
}

:global(.tippy-popper[x-placement^='left'] .tippy-tooltip.light-theme [x-arrow]) {
  border-left: 7px solid var(--component-bg);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

:global(.tippy-popper[x-placement^='left'] .tippy-tooltip.light-theme [x-arrow].arrow-small) {
  border-left: 5px solid var(--component-bg);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

:global(.tippy-popper[x-placement^='left'] .tippy-tooltip.light-theme [x-arrow].arrow-big) {
  border-left: 10px solid var(--component-bg);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

:global(.tippy-popper[x-placement^='left'] .tippy-tooltip.transparent-theme [x-circle]) {
  background-color: rgba(0, 0, 0, 0.7);
}

:global(.tippy-popper[x-placement^='left'] .tippy-tooltip.transparent-theme [x-arrow]) {
  border-left: 7px solid rgba(0, 0, 0, 0.7);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

:global(.tippy-popper[x-placement^='left'] .tippy-tooltip.transparent-theme [x-arrow].arrow-small) {
  border-left: 5px solid rgba(0, 0, 0, 0.7);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

:global(.tippy-popper[x-placement^='left'] .tippy-tooltip.transparent-theme [x-arrow].arrow-big) {
  border-left: 10px solid rgba(0, 0, 0, 0.7);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

:global(.tippy-popper[x-placement^='left'] [data-animation='perspective']) {
  transform-origin: right;
}

:global(.tippy-popper[x-placement^='left'] [data-animation='perspective'].enter) {
  opacity: 1;
  transform: translateX(-10px) rotateY(0);
}

:global(.tippy-popper[x-placement^='left'] [data-animation='perspective'].leave) {
  opacity: 0;
  transform: translateX(0) rotateY(-90deg);
}

:global(.tippy-popper[x-placement^='left'] [data-animation='fade'].enter) {
  opacity: 1;
  transform: translateX(-10px);
}

:global(.tippy-popper[x-placement^='left'] [data-animation='fade'].leave) {
  opacity: 0;
  transform: translateX(-10px);
}

:global(.tippy-popper[x-placement^='left'] [data-animation='shift'].enter) {
  opacity: 1;
  transform: translateX(-10px);
}

:global(.tippy-popper[x-placement^='left'] [data-animation='shift'].leave) {
  opacity: 0;
  transform: translateX(0);
}

:global(.tippy-popper[x-placement^='left'] [data-animation='scale'].enter) {
  opacity: 1;
  transform: translateX(-10px) scale(1);
}

:global(.tippy-popper[x-placement^='left'] [data-animation='scale'].leave) {
  opacity: 0;
  transform: translateX(0) scale(0);
}

:global(.tippy-popper[x-placement^='right'] [x-arrow]) {
  border-right: 7px solid var(--main-navigation-color);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  left: -7px;
  margin: 6px 0;
}

:global(.tippy-popper[x-placement^='right'] [x-arrow].arrow-small) {
  border-right: 5px solid var(--main-navigation-color);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  left: -5px;
}

:global(.tippy-popper[x-placement^='right'] [x-arrow].arrow-big) {
  border-right: 10px solid var(--main-navigation-color);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -10px;
}

:global(.tippy-popper[x-placement^='right'] [x-circle]) {
  transform-origin: -50% 0;
}

:global(.tippy-popper[x-placement^='right'] [x-circle].enter) {
  transform: scale(1) translate(-50%, -50%);
  opacity: 1;
}

:global(.tippy-popper[x-placement^='right'] [x-circle].leave) {
  transform: scale(0.15) translate(-50%, -50%);
  opacity: 0;
}

:global(.tippy-popper[x-placement^='right'] .tippy-tooltip.light-theme [x-circle]) {
  background-color: var(--component-bg);
}

:global(.tippy-popper[x-placement^='right'] .tippy-tooltip.light-theme [x-arrow]) {
  border-right: 7px solid var(--component-bg);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

:global(.tippy-popper[x-placement^='right'] .tippy-tooltip.light-theme [x-arrow].arrow-small) {
  border-right: 5px solid var(--component-bg);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

:global(.tippy-popper[x-placement^='right'] .tippy-tooltip.light-theme [x-arrow].arrow-big) {
  border-right: 10px solid var(--component-bg);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

:global(.tippy-popper[x-placement^='right'] .tippy-tooltip.transparent-theme [x-circle]) {
  background-color: rgba(0, 0, 0, 0.7);
}

:global(.tippy-popper[x-placement^='right'] .tippy-tooltip.transparent-theme [x-arrow]) {
  border-right: 7px solid rgba(0, 0, 0, 0.7);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

:global(.tippy-popper[x-placement^='right']
    .tippy-tooltip.transparent-theme
    [x-arrow].arrow-small) {
  border-right: 5px solid rgba(0, 0, 0, 0.7);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

:global(.tippy-popper[x-placement^='right'] .tippy-tooltip.transparent-theme [x-arrow].arrow-big) {
  border-right: 10px solid rgba(0, 0, 0, 0.7);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

:global(.tippy-popper[x-placement^='right'] [data-animation='perspective']) {
  transform-origin: left;
}

:global(.tippy-popper[x-placement^='right'] [data-animation='perspective'].enter) {
  opacity: 1;
  transform: translateX(10px) rotateY(0);
}

:global(.tippy-popper[x-placement^='right'] [data-animation='perspective'].leave) {
  opacity: 0;
  transform: translateX(0) rotateY(90deg);
}

:global(.tippy-popper[x-placement^='right'] [data-animation='fade'].enter) {
  opacity: 1;
  transform: translateX(10px);
}

:global(.tippy-popper[x-placement^='right'] [data-animation='fade'].leave) {
  opacity: 0;
  transform: translateX(10px);
}

:global(.tippy-popper[x-placement^='right'] [data-animation='shift'].enter) {
  opacity: 1;
  transform: translateX(10px);
}

:global(.tippy-popper[x-placement^='right'] [data-animation='shift'].leave) {
  opacity: 0;
  transform: translateX(0);
}

:global(.tippy-popper[x-placement^='right'] [data-animation='scale'].enter) {
  opacity: 1;
  transform: translateX(10px) scale(1);
}

:global(.tippy-popper[x-placement^='right'] [data-animation='scale'].leave) {
  opacity: 0;
  transform: translateX(0) scale(0);
}

:global(.tippy-popper .tippy-tooltip.transparent-theme) {
  background-color: rgba(0, 0, 0, 0.7);
}

:global(.tippy-popper .tippy-tooltip.transparent-theme[data-animatefill]) {
  background-color: transparent;
}

:global(.tippy-popper .tippy-tooltip.light-theme) {
  color: var(--text-color);
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, 0.1), 0 4px 80px -8px rgba(0, 20, 60, 0.2);
  background-color: var(--component-bg);
}

:global(.tippy-popper .tippy-tooltip.light-theme[data-animatefill]) {
  background-color: transparent;
}

:global(.tippy-tooltip) {
  position: relative;
  border-radius: var(--border-radius-medium);
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-navigation-color);
  color: var(--main-navigation-color--inverted);
}

:global(.tippy-tooltip--small) {
}

:global(.tippy-tooltip--big) {
}

:global(.tippy-tooltip[data-animatefill]) {
  overflow: hidden;
  background-color: transparent;
}

:global(.tippy-tooltip[data-interactive]) {
  pointer-events: auto;
}

:global(.tippy-tooltip[data-inertia]) {
  transition-timing-function: cubic-bezier(0.53, 2, 0.36, 0.85);
}

:global(.tippy-tooltip [x-arrow]) {
  position: absolute;
  width: 0;
  height: 0;
}

:global(.tippy-tooltip [x-circle]) {
  position: absolute;
  will-change: transform;
  background-color: var(--main-navigation-color);
  border-radius: 50%;
  width: 130%;
  width: calc(110% + 2rem);
  left: 50%;
  top: 50%;
  z-index: -1;
  overflow: hidden;
}

:global(.tippy-tooltip.noPadding-theme) {
}

:global(.tippy-tooltip [x-circle]::before) {
  content: '';
  padding-top: 90%;
  float: left;
}

@media (--max-screen-medium) {
  :global(.tippy-popper) {
    max-width: calc(100% - 20px);
  }
}
