@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none !important;
}

.hasFocus {
  composes: root;
}

.noFocus {
  composes: root;
}

.eventHandler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-sizing: border-box;

  @nest .hasFocus & {
    pointer-events: none;
  }
}

.content {
  position: relative;
  z-index: 0;
}

.overlay {
  background-color: color(var(--component-bg) a(75%));
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.1s linear;
  opacity: 0;

  @nest .noFocus:hover & {
    opacity: 0.9;
  }

  @nest .hasFocus & {
    opacity: 0;
  }
}

.message {
  z-index: 3;
  font-size: 1.5rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
  transition: opacity 0.1s linear;
  opacity: 0;
  text-align: center;

  @nest .noFocus:hover & {
    opacity: 1;
  }

  @nest .hasFocus & {
    opacity: 0;
    pointer-events: none;
  }
}
