@import 'part:@sanity/base/theme/variables-style';

.container {
  composes: container from 'part:@sanity/dashboard/widget-styles';
}

.header {
  composes: header from 'part:@sanity/dashboard/widget-styles';
}

.title {
  composes: title from 'part:@sanity/dashboard/widget-styles';
}

.list {
  composes: listContainer from 'part:@sanity/dashboard/widget-styles';
  border-top: 1px solid var(--hairline-color);
  padding-top: var(--small-padding);
  padding-bottom: var(--medium-padding);
}

.item {
  @nest &:first-child {
    margin-top: var(--small-padding);
  }

  @nest .container & {
    padding: var(--small-padding) var(--medium-padding);
  }
}

.avatar {
  box-sizing: border-box;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--preview-placeholder-color);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.buttonContainer {
  composes: bottomButtonContainer from 'part:@sanity/dashboard/widget-styles';
  border-top: 1px solid var(--hairline-color);
}

.retry {
  cursor: pointer;
}
