@import 'part:@sanity/base/theme/variables-style';

.root {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  outline: none;
  border: 0;
  background: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0 auto;
  display: block;
  border-radius: 4px;

  @nest &:focus {
    box-shadow: var(--input-box-shadow--focus);
  }
}

.inner {
  /* padding: 3px; */
  position: relative;
  outline: none;
  display: flex;
  align-items: center;
}

.avatarContainer {
  margin: -1px;
}

.iconContainer {
  @nest & > svg {
    display: block;
    font-size: 17px;
  }
}
