@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
}

.button {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  outline: none;
  border: 0;
  border-radius: 0;
  background: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0 auto;
  display: block;

  @nest &:focus {
    background-color: color(var(--brand-primary) a(20%));
  }
}

.inner {
  padding: 0.5em;
  position: relative;
  outline: none;

  @nest &::after {
    content: '';
    position: absolute;
    display: block;
    box-sizing: border-box;
    top: 0.5em;
    left: 1em;
    right: 1em;
    bottom: 0.5em;
    border: 1px solid color(var(--white) alpha(15%));
    border-radius: 50%;
  }
}

.userImage {
  display: block;
  height: 2.0625em;
  width: 2.0625em;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--preview-placeholder-color);

  @nest &:before {
    content: attr(data-initials);
    text-align: center;
    display: block;
    line-height: 2em;
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: var(--preview-placeholder-color);
  }
}

.userImageMissing {
  composes: userImage;
  display: flex;
  background-color: var(--brand-primary);
  color: var(--brand-primary--inverted);
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: none;
}

.userName {
  display: none;
}

.userMenu {
  position: absolute;
  top: 2rem;
  right: 1rem;
  z-index: var(--zindex-portal);
}

.menuWrapper {
}
