@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
}

.button {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  outline: none;
  border: 0;
  background: none;
  color: inherit;
  font: inherit;
  padding: 0;
  margin: 0 auto;
  display: block;
  border-radius: 4px;

  @nest &:focus {
    background-color: color(var(--brand-primary) a(20%));
  }
}

.inner {
  padding: 3px;
  position: relative;
  outline: none;
  display: flex;
  align-items: center;
}

.avatarContainer {
}

.iconContainer {
  @nest & > svg {
    display: block;
    font-size: 17px;
  }
}
