@import "part:@sanity/base/theme/variables/typography-style";

@use postcss-cssnext;

.root {
  position: absolute;
  width: auto;
  background-color: #fff;
  composes: shadow-2dp from 'part:@sanity/base/theme/shadows-style';
  font-size: var(--font-size-small);
  user-select: none;
  text-align: left;
  z-index: 1;
}

.fullWidth {
  width: 100%;
}

.list {
  display: block;
  margin: 0;
  padding: 0;
}

.item {
  display: block;
  margin: 0;
  padding: 0;
}

.iconContainer {
  margin-right: 0.5em;
}

.link {
  display: block;
  position: relative;
  line-height: 3em;
  padding: 0 1em;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}

.divider {
  border-top: 1px solid #ccc;
}

.opened {
  composes: root;
  display: block;
}

.closed {
  composes: root;
  display: none;
}

.origin__top-left {
  top: 0;
  left: 0;
}

.origin__top-right {
  top: 0;
  right: 0;
}

.origin__bottom-right {
  bottom: 0;
  right: 0;
}

.origin__bottom-left {
  bottom: 0;
  left: 0;
}
