@import 'part:@sanity/base/theme/variables-style';

@keyframes DocumentStatusBar__spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.root {
  background: var(--component-bg);
  display: grid;
  grid-gap: 0.75em;
  grid-template-columns: 1fr 1fr;
  padding: 0.75em var(--medium-padding);
}

.isSyncing {
  composes: root;
}

.isDisconnected {
  composes: root;
}

.status {
  padding: 2px 0;
  display: flex;
  flex-direction: column;
}

.statusBadges {
  white-space: nowrap;
  font-size: calc(11 / 16 * 1em);
  line-height: 1;
  margin-bottom: auto;
}

.statusDetails {
  font-size: calc(12 / 16 * 1em);
  font-weight: 500;
  line-height: 1.25;
  white-space: nowrap;
}

.historyLabel {
  color: var(--text-muted);
}

.historyButton {
  composes: historyLabel;
  vertical-align: top;
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  font: inherit;
  display: inline-block;
  border: 0;
  border-radius: 0;
  background: none;
  cursor: pointer;
  text-align: inherit;
  padding: 0;
  margin: 0;

  @media (hover: hover) {
    @nest &:hover {
      text-decoration: underline;
    }
  }
}

.statusIcon {
  display: inline-block;
  vertical-align: top;
  padding: 2px 0 1px;
  color: var(--text-muted);

  @nest & svg {
    display: block;
    transform-origin: center center;
  }

  @nest .isSyncing & {
    color: var(--state-success-color);
  }

  @nest .isDisconnected & {
    color: var(--state-danger-color);
  }
}

.rotatingStatusIcon {
  composes: statusIcon;

  @nest & svg {
    animation-name: DocumentStatusBar__spin;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.actions {
  /* grid unit */
}

.actionsWrapper {
  position: relative;
  max-width: 15em;
  margin-left: auto;
}

.popOverText {
  font-size: 1em;
  line-height: 1.25;
  margin-bottom: 1em;
  text-align: center;
  max-width: 18em;
}
