@import 'part:@sanity/base/theme/variables-style';

@keyframes DocumentStatusBar__spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.statusIcon {
  display: inline-block;
  vertical-align: top;
  padding: 2px 0 1px;
  color: var(--text-muted);

  @nest & svg {
    display: block;
    transform-origin: center center;
  }
}

.rotatingStatusIcon {
  composes: statusIcon;

  @nest & svg {
    animation-name: DocumentStatusBar__spin;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.isSyncing {
  composes: rotatingStatusIcon;
  @nest & svg {
    color: var(--state-success-color);
  }
}

.isDisconnected {
  composes: rotatingStatusIcon;
  @nest & svg {
    color: var(--state-danger-color);
  }
}
