@import 'part:@sanity/base/theme/variables-style';

.container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}

.containerWithPadding {
  composes: container;
  padding: var(--medium-padding);
}

.title {
  composes: heading5 from "part:@sanity/base/theme/typography/headings-style";
  border-bottom: 1px solid var(--list-border-color);
  padding: var(--small-padding) var(--medium-padding) !important;
  line-height: 2em;
}

.listContainer {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 20rem;

  @media (--screen-medium) {
    height: stretch;
    max-height: 30rem;
    overflow-y: auto;
  }
}

.bottomButtonContainer {
  display: flex;
  text-align: center;
  font-weight: 600;
  min-height: 4em;
  height: 4em;
  border-top: 1px solid var(--list-border-color);
  margin-top: auto;

  @nest & > * {
    width: 100%;
  }
}
