@import 'part:@sanity/base/theme/variables-style';

.container {
  composes: shadow-1dp from 'part:@sanity/base/theme/shadows-style';
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-radius: var(--border-radius-base);
  background-color: var(--component-bg);
  position: relative;
  overflow: hidden;
  height: 100%;
  min-height: 10em;
  max-height: 40em;
}

.containerWithPadding {
  composes: container;
  padding: var(--medium-padding);
}

.header {
  padding: var(--small-padding) 0;
}

.title {
  composes: heading4 from "part:@sanity/base/theme/typography/headings-style";
  padding: var(--small-padding) var(--medium-padding) !important;
}

.content {
  flex: 1;
  display: block;
  min-height: 20rem;
  overflow-y: auto;
}

.footer {
  display: flex;
  text-align: center;
  font-weight: 600;
  min-height: 4em;
  height: 4em;
  margin-top: auto;

  @nest & > * {
    width: 100%;
  }
}
