@import 'part:@sanity/base/theme/variables-style';

.container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  border-radius: var(--border-radius-base);
  background-color: var(--component-bg);
  box-sizing: border-box;
  position: relative;
}

.containerWithPadding {
  composes: container;
  padding: var(--medium-padding);
}

.header {
  padding: var(--small-padding) 0;
}

.title {
  composes: heading4 from 'part:@sanity/base/theme/typography/headings-style';
  margin: var(--small-padding) var(--medium-padding);
}

.content {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 21.5em;

  @media (--screen-medium) {
    height: stretch;
    overflow-y: auto;
  }
}

.footer {
  display: flex;
  text-align: center;
  font-weight: 600;
  min-height: 4em;
  height: 4em;
  margin-top: auto;
  overflow: hidden;

  @nest & > * {
    width: 100%;
  }
}

/* TODO: remove after changing document list plugin */
.listContainer {
  composes: content;
}

/* TODO: remove after changing document list plugin */
.bottomButtonContainer {
  composes: footer;
}
