@import 'part:@sanity/base/theme/variables-style';

.root {
  /* display: block; */
}

.mainNav {
  display: flex;
}

.title {
  flex: 1;
  min-width: 0;
  padding: 1em;
  line-height: 17px;
  cursor: default;

  @nest .isCollapsed & {
    transform: rotate(90deg);
    transform-origin: calc(49px / 2) calc(49px / 2);
    min-width: 100vh;
  }
}

.paneFunctions {
  padding: 8px;

  @nest .isCollapsed & {
    display: none;
  }
}

.contextMenuContainer {
  padding: 8px;

  @nest .isCollapsed & {
    display: none;
  }
}

.viewNav {
  margin-top: calc(0 - var(--small-padding));
  display: flex;

  @nest .isCollapsed & {
    display: none;
  }
}

.tabsContainer {
  flex: 1;
}

.versionSelectContainer {
  margin: 4px 1em 4px auto;
}

.viewActions {
  padding: 0 var(--small-padding) 0 0;

  @nest & button {
    vertical-align: top;
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;
    border: 0;
    padding: var(--extra-small-padding);
    border-radius: var(--border-radius-small);
    background: none;
    color: var(--text-muted);
    outline: none;

    @nest & svg {
      display: block;
      font-size: calc(25 / 16 * 1rem); /* 25px */
    }

    /* Focus wrapper */
    @nest & > div {
      outline: none;
    }

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }

    @nest &:focus {
      background: var(--selectable-item-color-hover);
      color: inherit;
    }
  }
}
