.root {
  composes: root from 'part:@sanity/base/theme/forms/control-style';
}

.inner {
  composes: inner from 'part:@sanity/base/theme/forms/control-style';
}

.searchInput {
  composes: textInput from 'part:@sanity/base/theme/forms/text-input-style';
  border: 0;
  padding: 0;
}
.input {
  composes: textInput from 'part:@sanity/base/theme/forms/text-input-style';
  position: relative;
  color: #555;
}

.inputError {
  composes: error from 'part:@sanity/base/theme/forms/text-input-style';
}

.clearButton {
  composes: textInput from 'part:@sanity/base/theme/forms/clear-button-style';
  color: #444;
}

.hitBase {

}
.hits {
  padding: 0;
  max-height: 400px;
  overflow-y: auto
}
.hit {
  list-style-type: none;
  padding: 2px 10px;
  border: 0 solid #eee;
  border-top-width: 1px;
  box-shadow: 1px 1px 1px 0px rgba(217,217,217,1);
}
.hit:hover {
  background-color: #0b97c4;
  color: #fff;
}

.error {
  composes: root;
}
