@import 'part:@sanity/base/theme/variables-style';

.root {
  text-align: left;
  display: block;
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  line-height: var(--headings-line-height);
  color: var(--headings-color);
  margin: 0;
  padding: 0;
}

.heading1 {
  composes: root;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  margin: var(--medium-padding) 0;
}

.heading2 {
  composes: root;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  margin: var(--medium-padding) 0;
}

.heading3 {
  composes: root;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  margin: var(--medium-padding) 0;
}

.heading4 {
  composes: root;
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  margin: var(--medium-padding) 0;
}

.heading5 {
  composes: root;
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  margin: var(--small-padding) 0;
}

.heading6 {
  composes: root;
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  color: var(--text-muted);
  margin: var(--small-padding) 0;
}
