@import 'part:@sanity/base/theme/variables-style';

.spanDiff {
}

.summary {
  font-size: var(--font-size-xsmall);
  color: var(--text-muted);
}

.summary li {
}

.inlineObjectDiff {
  border: 1px solid #999;
  padding: 3px;
}