@import 'part:@sanity/base/theme/variables-style';

.root {
  background: var(--component-bg);
  display: grid;
  grid-gap: 0.75em;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 0.75em var(--medium-padding);
}

.status {
  display: flex;
  align-items: center;
  color: var(--text-muted);

  @nest &[data-history-state='active'] {
    color: var(--gray-lighter);
  }
}

.statusBadgesContainer {
  /* container for <StatusBadges /> */
  display: flex;
}

.sparklineContainer {
  /*  */
}

.statusDetails {
  white-space: nowrap;
  margin: -2px 0 -1px;
}

.lastUpdatedButton {
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  font: inherit;
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 0;
  background: none;
  cursor: pointer;
  text-align: inherit;
  padding: 4px;
  margin: -5px 0 -4px -4px;
  outline: none;
  color: inherit;
  font-size: var(--font-size-tiny);
  line-height: var(--line-height-tiny);

  @nest &:disabled {
    cursor: unset;
  }

  @nest & .lastStatus {
    font-weight: 500;
  }
}

.actions {
  /* grid unit */
}

.actionsWrapper {
  position: relative;
  max-width: 15em;
  margin-left: auto;
}

.popOverText {
  font-size: var(--font-size-base);
  line-height: var(--font-size-base);
  margin-bottom: var(--medium-padding);
  text-align: center;
  max-width: 18em;
}
