@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  display: flex;
}

.isMenuOpen {
  composes: root;
}

.mainAction {
  flex: 1;
}

.mainActionButton {
  width: 100%;
}

.mainActionButtonWithMoreActions {
  composes: mainActionButton;
}
