@import 'part:@sanity/base/theme/variables-style';

.root {
  background: var(--component-bg);
  display: grid;
  grid-gap: 0.75em;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 0.75em var(--medium-padding);
}

.actions {
  /* grid unit */
}

.actionsWrapper {
  position: relative;
  max-width: 15em;
  margin-left: auto;
}
