@import 'part:@sanity/base/theme/variables-style';

@keyframes DocumentStatusBar__spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

:root {
  --size: 1.6875rem;
}

.root {
  display: flex;
  align-items: center;
  padding-right: var(--small-padding);
  text-align: left;

  @nest &[data-disabled='true'] {
    @nest & .badge {
      background: var(--gray-lightest);
      color: var(--gray-lighter);
    }
  }

  @nest &:hover:not([data-disabled='true']) {
    @nest & .badge {
      border-color: #eff0f5; /* @todo */

      @nest &:not(:first-of-type) {
        color: var(--gray-darkest);
        background: var(--gray-lighter);

        @nest & .icon {
          display: none;
        }

        @nest & .hoverIcon {
          display: flex;
        }
      }
    }

    @nest & .statusDetails {
      color: var(--gray-darkest);
    }
  }
}

.statusBadges {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  font-size: var(--font-size-xsmall--uppercase);
  line-height: 1;
  margin-right: var(--small-padding);

  @nest & > div + div:not(:last-child) {
    margin-left: var(--small-padding);
  }
}

.sparkline {
  display: block;
  position: absolute;
  top: calc((100% - 1px) / 2);
  height: 1px;
  width: 100%;
  background: var(--gray-lighter);
  z-index: 0;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: default;
  flex: 1;
  background-color: var(--gray);
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: calc(var(--size) * 2);
  height: var(--size);
  width: var(--size);
  z-index: 10;
  font-size: var(--font-size-large);
  cursor: inherit;

  @nest &:not(:first-of-type):not(:last-of-type) {
    margin-right: calc(var(--large-padding) * -1);

    @nest & .icon {
      opacity: 0;
    }
  }

  @nest & .hoverIcon {
    display: none;
  }

  @nest &[data-color='success'] {
    background-color: var(--state-success-color--faded);
    color: var(--state-success-color--inverted);
  }

  @nest &[data-color='publish'] {
    background-color: var(--state-success-color);
    color: var(--state-success-color--inverted);
  }

  @nest &[data-color='warning'] {
    background-color: #ffeea0; /* TODO */
    color: #896f00; /* TODO */
  }

  @nest &[data-color='danger'] {
    font-size: var(--font-size-tiny);
    background-color: var(--state-danger-color);
    color: var(--state-danger-color--inverted);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-items: center;
}

.isSyncing {
  @nest & svg {
    animation-name: DocumentStatusBar__spin;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.statusDetails {
  white-space: nowrap;
  margin: -2px 0 -1px;
  color: var(--text-muted);
}

.label {
  font-weight: 500;
}
