@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  display: flex;
}

.isMenuOpen {
  composes: root;
}

.mainAction {
  flex: 1;
}

.mainActionButton {
  width: 100%;
}

.mainActionButtonWithMoreActions {
  composes: mainActionButton;
}

.tooltip {
  display: block !important;
}

.tooltipBox {
  padding: calc(var(--medium-padding) - var(--extra-small-padding));
  max-width: 250px;
}

.tooltipTitle {
  padding-right: var(--small-padding);
}

.tooltipHotkeys {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 var(--extra-small-padding);
}
