@import 'part:@sanity/base/theme/variables-style';

:root {
  --history-icon-size: calc(0.5em + 1px);
}

.root {
  position: relative;
  height: var(--history-icon-size);
  width: var(--history-icon-size);
  background: none;
  box-sizing: border-box;
  border-collapse: separate;
  opacity: 0.2;

  @nest [data-is-selected='true'] & {
    opacity: 1;
  }
}

.created {
  composes: root;
  border-radius: 50%;
  border: 1px solid currentColor;
}

.edited {
  composes: root;
  border-radius: 50%;
  border: 1px solid currentColor;
}

.published {
  composes: root;
  border-radius: 50%;
  background: currentColor;

  @nest [data-is-current-version='true'] & {
    opacity: 1;
    background-color: var(--state-success-color);
  }

  @nest [data-is-current-version='true'][data-is-selected='true'] & {
    border: 1px solid currentColor;
  }
}

.unpublished {
  composes: root;
  background: currentColor;

  @nest &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: calc(var(--history-icon-size) / 2 - 0.5px);
    bottom: 0;
    border-left: 1px solid currentColor;
  }
}

.truncated {
  composes: root;
}
