@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--small-padding);
  composes: small from 'part:@sanity/base/theme/typography/text-blocks-style';
  display: grid;
  grid-template-areas: 'icon meta';
  grid-template-columns: auto 1fr;

  @nest & .info {
    overflow: hidden;
    line-height: 1.3;
    padding-left: var(--small-padding);
  }

  @nest & .title {
    font-size: inherit;
    font-weight: 600;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  @nest & .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--font-size-large) + 8px);
  }

  @nest &[data-action='removed'] {
    @nest & .title {
      text-decoration: line-through;
    }
  }
}
