.root {
  line-height: 17px;
  font-size: 13px;
  font-family: monospace;
  white-space: pre-wrap;
}

.code :global {
  & .json-markup-key {
    font-weight: bold;
    color: #0d6d9b;
  }

  & .json-markup-bool {
    color: #9d261d;
  }

  & .json-markup-string {
    color: #47a24c;
  }

  & .json-markup-null {
    color: gray;
  }

  & .json-markup-number {
    color: #0f7fb4;
  }
}
