@import './shared.css';

.inner {
  margin: 40px 40px 270px;
  padding: 10px;
  background-color: #fff;
}

.inspectPaneInner {
  max-height: 250px;
}

.toolbar {
  background-color: #f0f0f0;
  margin-bottom: 40px;
  padding: 5px;
}

.toolbarButton {
  border: 1px solid #ccc;
  min-width: 85px;
  margin: 2px;
  padding: 10px;
  border-radius: 2px;
  color: #096c85;
  background-color: transparent;
}

.inspectPaneInnerFullscreen {
  max-height: 100%;
}

.inspectPane {
  z-index: 10000;
  padding: 10px;
  border-top: 1px solid #eee;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.inspectPaneFullScreen {
  composes: inspectPane;
  top: 0;
}

.inspectPaneButton {
  position: absolute;
  top: 1vh;
}

.closeInspectPaneButton {
  right: 5px;
  composes: inspectPaneButton;
}

.fullscreenInspectPaneButton {
  right: 35px;
  composes: inspectPaneButton;
}

.dockedInspectPaneButton {
  right: 35px;
  composes: inspectPaneButton;
}
