@import 'part:@sanity/base/theme/variables-style';

@use postcss-cssnext;

.root {
  width: 100%;
  position: relative;
}

.textarea {
  composes: root from 'part:@sanity/base/theme/forms/textarea-style';
  position: relative;
  width: 100%;
  z-index: 2;
}

.focusHelper {
  composes: focusHelper from 'part:@sanity/base/theme/forms/text-input-style';
  background-color: transparent;

  @nest .hasFocus & {
    background-color: var(--focus-color);
  }
}

.clearButton {
  composes: textarea from 'part:@sanity/base/theme/forms/clear-button-style';
  z-index: 1;
  top: 0.35em;
  right: 0.1em;

  @nest & svg {
    color: inherit;
  }
}
