@import "style:@sanity/base/theme/variables";

@use postcss-cssnext;

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.1);
  }

  5% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:root {
  --dialog-padding: var(--small-padding);
  --dialog-header-height: 2.5em;
  --dialog-functions-height: 3em;
}

.root {
  composes: shadow-10dp from "style:@sanity/base/theme/shadows";
  z-index: 1000;
  position: fixed;
  border: 0;
  padding: 0;
  animation-name: reveal;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: once;
  background-color: var(--component-background-color);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;

  @media (--screen-medium) {
    display: table-cell;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    min-width: 50%;
    min-height: 30%;
    max-width: 80%;
    max-height: 80%;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

.isClosed {
  composes: root;
}

.isOpen {
  composes: root;
}

.header {
  background-color: var(--brand-primary);
  height: var(--dialog-header-height);
}

.inner {
  height: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.content {
  box-sizing: border-box;
  max-height: 100%;
  position: relative;
  overflow: hidden;
  overflow-y: auto;

  @nest .hasFunctions & {
    max-height: calc(100% - var(--dialog-functions-height));
  }

  @nest .hasHeader & {
    max-height: calc(100% - var(--dialog-header-height));
  }

  @nest .hasFunctions.hasHeader & {
    max-height: calc(100% - var(--dialog-header-height) - var(--dialog-functions-height));
  }
}

.title {
  height: 2rem;
  line-height: var(--dialog-header-height);
  padding: 0 var(--dialog-padding);
  font-size: var(--font-size-h5);
  color: #fff;
  margin: 0;
}

.closeButton {
  position: absolute;
  top: 0;
  right: var(--dialog-padding);
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
}

/* Native dialog backdrop */
:global(::backdrop) {
  background-color: rgba(0, 0, 0, 0.3);
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: once;
}

.functions {
  box-sizing: border-box;
  padding: var(--dialog-padding);
  background-color: var(--gray-lightest);
  border-top: 1px solid var(--gray-lighter);
  height: var(--dialog-functions-height);
}

.button {
  float: right;
}

.button_secondary {
  float: left;
}
