@import "part:@sanity/base/theme/variables-style";

@use postcss-cssnext;

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.1);
  }

  5% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:root {
  --dialog-padding: var(--small-padding);
  --dialog-header-height: 3rem;
  --dialog-functions-height: 3rem;
}

.root {
  composes: shadow-10dp from "part:@sanity/base/theme/shadows-style";
  z-index: var(--zindex-modal);
  position: fixed;
  border: 0;
  padding: 0;
  animation-name: reveal;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: once;
  background-color: var(--body-bg);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;

  @media (--screen-medium) {
    display: table-cell;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    min-width: 50%;
    min-height: 30%;
    max-width: 80%;
    max-height: 80%;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

.isClosed {
  composes: root;
}

.isOpen {
  composes: root;
}

.header {
  height: var(--dialog-header-height);
  line-height: var(--dialog-header-height);
  color: var(--text-color);
  border-bottom: 1px solid var(--gray-light);
}

.inner {
  height: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.content {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  overflow: hidden;
  overflow-y: auto;

  @nest .hasFunctions & {
    max-height: calc(100% - var(--dialog-functions-height));
  }

  @nest .hasHeader & {
    max-height: calc(100% - var(--dialog-header-height));
  }

  @nest .hasFunctions.hasHeader & {
    max-height: calc(100% - var(--dialog-header-height) - var(--dialog-functions-height));
  }
}

.title {
  line-height: inherit;
  padding: 0 var(--dialog-padding);
  font-size: var(--font-size-h4);
  font-weight: 300;
  margin: 0;
}

.closeButton {
  position: absolute;
  color: inherit;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  transition: transform 0.1s linear;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
  }
}

/* Native dialog backdrop */
:global(::backdrop) {
  background-color: var(--backdrop-background-color);
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: once;
}

.functions {
  box-sizing: border-box;
  padding: var(--dialog-padding);
  background-color: var(--gray-lightest);
  border-top: 1px solid var(--gray-lighter);
  height: var(--dialog-functions-height);
}

.button {
  float: right;
}

.button_secondary {
  float: left;
}
