@import 'part:@sanity/base/theme/variables-style';

:root {
  --nav-bar-box: 3.0625em; /* 49px */
}

.backButton {
  display: flex;
  align-items: center;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
  cursor: pointer;
  @nest & svg {
    transform: rotate(-180deg);
    padding-left: 0.5em;
  }
}

.errorMessage {
  padding: var(--medium-padding);
  color: var(--state-danger-color);
}
