@import 'part:@sanity/base/theme/variables-style';

.root {
  padding-bottom: var(--medium-padding);
}

.backButton {
  display: flex;
  align-items: center;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
  cursor: pointer;
  @nest & svg {
    transform: rotate(-180deg);
    padding-left: 0.5em;
  }
}

.blockHeading {
  composes: heading3 from 'part:@sanity/base/theme/typography/headings-style';
  padding: 0;
}

.blockContent {
  padding-top: var(--medium-padding);
}

.youtubeContainer {
  width: 100%;
}

.youtube {
  position: relative;
  display: block;
  padding-top: calc(100% / (16 / 9));
}

.youtubeIframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}