@import 'part:@sanity/base/theme/variables-style';

:root {
  --nav-bar-box: 3.0625em; /* 49px */
}

.root {
  padding-top: var(--nav-bar-box);
}

.icon {
  transform: rotate(-45deg);
}

.cardsList {
  margin: var(--extra-large-padding) 0;
}

.cardsTitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-small);
  font-weight: 100;
  margin-bottom: var(--medium-padding);
}

.linkHeading {
  font-size: var(--font-size-h4);
  margin: 0;
  padding: var(--small-padding) 0;
  border-bottom: 1px solid var(--gray);
}

.link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.errorMessage {
  color: var(--state-danger-color);
}
