@import 'part:@sanity/base/theme/variables-style';

.root {
  padding: var(--medium-padding);
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--gray);
  margin: var(--small-padding) 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.cardTitle {
  display: flex;
  align-items: center;
  margin: 0;

  @nest & svg {
    padding-left: 0.5rem;
  }
}

.arrowUp {
  transform: rotate(-45deg);
  margin-top: 0.1em;
}

.cardSummary {
  margin: 0;
}
