@import 'part:@sanity/base/theme/variables-style';

.root {
  height: 100%;
  width: 100%;
}

.linkIcon {
  transform: rotate(-45deg);
}

.hintsWrapper {
  margin: var(--extra-large-padding) 0;
}

.hintsListHeading {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-small);
  font-weight: 100;
  margin-bottom: var(--medium-padding);
}

.linkHeading {
  font-size: var(--font-size-h4);
  margin: 0;
  padding: var(--small-padding) 0;
  border-bottom: 1px solid var(--gray);
}

.link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}
