:root {
  --nav-bar-box: 3.0625em; /* 49px */
}

.backButton {
  display: flex;
  align-items: center;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
  @nest & svg {
    transform: rotate(-180deg);
    padding-left: 0.5em;
  }
}

.blockHeading {
  composes: heading2 from 'part:@sanity/base/theme/typography/headings-style';
  padding: 0;
}

.blockContent {
  padding-top: var(--nav-bar-box);
}

.youtubeContainer {
  width: 100%;
}

.youtube {
  position: relative;
  display: block;
  padding-top: calc(100% / (16 / 9));
}

.youtubeIframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}