@import 'part:@sanity/base/theme/variables-style';

.root {
  margin-bottom: var(--small-padding);
}

.linksList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.listTitle {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-small);
  font-weight: 500;
  margin: var(--medium-padding) 0;
}

.cardList:last-child {
  margin-bottom: calc(var(--font-size-large) * 3);
}

.simpleList {
  border: 1px solid var(--hairline-color);
  border-radius: var(--border-radius-large);
  margin: 0;
  padding: var(--small-padding) 0;
  list-style: none;

  @nest & .link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: calc(var(--font-size-large) - 2px);
    font-weight: normal;
    margin: 0;
    color: inherit;
    padding: calc(var(--small-padding) + 0.25rem) var(--medium-padding);
    transition: all 0.2s linear;

    @nest &:hover {
      color: var(--main-navigation-color--inverted);
      background: color(var(--main-navigation-color) l(+4%));
      cursor: pointer;
    }
  }
}

.externalIcon {
  display: flex;
  align-items: stretch;
  font-size: var(--icon-size);
}
