@import 'part:@sanity/base/theme/variables-style';

:root {
  --nav-bar-box: 3.0625em; /* 49px */
}

.root {
  padding-top: var(--nav-bar-box);
}

.heading {
  font-size: var(--font-size-h4);
  margin: 0;
  padding: var(--small-padding) 0;
  border-bottom: 1px solid var(--gray);
}

.link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.icon {
  transform: rotate(-45deg);
}