@import 'part:@sanity/base/theme/variables-style';

.root {
  margin-bottom: 2em;
}

.heading {
  font-size: var(--font-size-h4);
  margin: 0;
  padding-bottom: var(--small-padding);
  margin-bottom: var(--medium-padding);
  border-bottom: 1px solid var(--gray);
}

.link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.icon {
  transform: rotate(-45deg);
}
