@import 'part:@sanity/base/theme/variables-style';

.toggleButton {
  -webkit-font-smoothing: inherit;
  appearance: none;
  outline: none;
  border: 0;
  border-radius: 0;
  background: none;
  color: inherit;
  font: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  cursor: pointer;

  @nest & .inner {
    display: flex;
    align-items: center;
    text-align: center;
    outline: none;
    padding: calc(var(--medium-padding) - var(--extra-small-padding));
  }

  @nest &:focus {
    background-color: color(var(--focus-color) a(20%));
  }

  @media (hover: hover) {
    color: var(--gray);

    @nest &:hover {
      color: inherit;
    }
  }

  @nest & svg {
    font-size: calc(25 / 16 * 1em);
  }
}
