@import 'part:@sanity/base/theme/variables-style';

.editorContainer {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1px var(--hairline-color);
    z-index: 1;
    pointer-events: none;
    border-radius: var(--input-border-radius);
  }
}

.aceEditorContainer {
  border-radius: var(--input-border-radius);
  overflow: hidden;
  position: relative;
  z-index: 0;

  @nest &.readOnly {
  }

  @nest &:not(.disabled):not(.readOnly) {
    @nest &:hover {
      box-shadow: var(--input-box-shadow--hover);
      border-color: var(--input-border-color-hover);
    }

    @nest &:focus, &:focus-within {
      box-shadow: var(--input-box-shadow--focus);
      background-color: var(--input-bg-focus);
      border-color: var(--input-border-color-focus);

      @nest &:invalid {
        box-shadow: var(--input-box-shadow--invalid-focus);
      }
    }
  }
}

.aceEditor {
  font-family: var(--font-family-monospace);
  font-size: inherit;
  line-height: inherit;
}
