@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;

  /* @nest & > h3 {
    padding-left: 0.75rem;
  } */
}

.aceWrapper {
  box-sizing: border-box;
  cursor: default;
  background-color: #272822;
  padding: var(--medium-padding);
  pointer-events: none;
}

.aceWrapper :global(.ace_content) {
  box-sizing: border-box;
  overflow: hidden;
}

.defaultPreviewContainer {
  padding: var(--extra-small-padding);
}
