.root {
  position: relative;

  @nest & > h3 {
    padding-left: 0.75rem;
  }
}

.aceWrapper {
  border-top: 1px solid #ccc;
  cursor: default;
}

.aceWrapper :global(.ace_content) {
  padding: 0 0.5rem;
}

.defaultPreviewContainer {
  padding: 0.2em;
}
