@import 'part:@sanity/base/theme/variables-style';

.svg {
  /* Override Sanity UI */
  @nest &.svg {
    position: absolute;
  }

  pointer-events: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
