@import 'part:@sanity/base/theme/variables-style';

.svg {
  z-index: calc(var(--zindex-portal) - 1);
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
