@import 'part:@sanity/base/theme/variables-style';

.rightBar {
  stroke: none;
  fill: var(--focus-color);
  pointer-events: none;
}

.rightBarFocused {
  fill: var(--focus-color);
}

.rightBarRevertHovered {
  fill: var(--state-danger-color);
}

.rightBarHovered {
  fill: var(--state-warning-color);
}
