@import 'part:@sanity/base/theme/variables-style';

.root {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: var(--medium-padding);
  margin: 0;
  padding: 0;
}

.item {
  display: block;
  padding: 0;
  margin: 0;
}
