@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  margin: 0;
  padding: 0;
}

.lineBetween {
  composes: root;
  border-bottom: var(--list-border);
  padding: var(--small-padding) 0;

  @nest &:last-child {
    border-bottom: none;
  }
}
