.default {
  cursor: ns-resize;
  font-size: 1em;
  display: block;
  opacity: 0.5;
  box-sizing: border-box;
  padding: 0.5em;
  border: 1px solid transparent;
  z-index: 1;

  &:hover {
    opacity: 1;
  }

  @nest & svg {
    font-size: inherit;
    display: block;
  }
}
