.default {
  cursor: ns-resize;
  font-size: 1em;
  height: 2.5em;
  display: inline-block;
  opacity: 0.5;
  width: 2.5em;
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  border: 1px solid transparent;
  z-index: 1;

  &:hover {
    opacity: 1;
  }
}
