@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
}

.default {
  composes: root;
}

.masonry {
  composes: root;
}

.inner {
  display: block;
}

.isScrollable {
  max-height: 100%;
  height: 100%;
  position: relative;
}

.list {
  user-select: none;
  margin: 0;
  padding: 0;

  @nest .default & {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-content: flex-start;
    justify-content: flex-start;
    flex-flow: row wrap;
  }

  @nest .masonry & {
    display: block;
    columns: 4;
    column-gap: 0;
    padding: 0.5rem;
  }

  @nest .masonry.containerQuery__small & {
    columns: 1;
  }

  @nest .masonry.containerQuery__medium & {
    columns: 3;
  }

  @nest .masonry.containerQuery__large & {
    columns: 5;
  }
}

.scrollableList {
  composes: list;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.item {
  cursor: default;
  position: relative;

  @nest .default & {
    display: block;
    list-style: none;
    flex-basis: 11em;
    margin-right: var(--small-padding);
    margin-bottom: var(--small-padding);
  }

  @nest .default.containerQuery__small & {
    flex-basis: calc(30% - var(--small-padding));
  }

  @nest .default.containerQuery__medium & {
    flex-basis: calc(20% - var(--small-padding));
  }

  @nest .default.containerQuery__large & {
    flex-basis: calc(5% - var(--small-padding));
  }

  @nest .masonry & {
    display: block;
    padding: 0 0.25rem;
    padding-bottom: 0.5rem;
    break-inside: avoid;
  }

  @nest .isSortable & {
    cursor: move;
  }
}
