@import 'part:@sanity/base/theme/variables-style';

.root {
  list-style: none;
  margin: 0;
  padding: 0;
}

.root.isLoading {
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root.noResults {
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.listItem {
  composes: resetListItem from 'part:@sanity/base/theme/layout/helpers';
}

.sharedItem {
  display: block;
  outline: none;
  position: relative;
  padding: var(--small-padding);
}

.item {
  composes: sharedItem;
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  composes: resetLink from 'part:@sanity/base/theme/layout/helpers';
}

.activeItem {
  composes: sharedItem;
  composes: selected from 'part:@sanity/base/theme/layout/selectable-style';
  composes: resetLink from 'part:@sanity/base/theme/layout/helpers';
}

.itemType {
  text-transform: uppercase;
  font-size: var(--font-size-tiny);
}
