@import "part:@sanity/base/theme/variables-style";

.root {
  display: block;
  color: var(--label-color);
}

.level_1 {
  composes: headingLevel_1 from 'part:@sanity/base/theme/typography/forms-style';
}

.level_2,
.level_3,
.level_4 {
  composes: label from 'part:@sanity/base/theme/typography/forms-style';
}
