@import 'part:@sanity/base/theme/variables-style';

.root {
  background: var(--component-bg);
  display: grid;
  grid-gap: 0.75em;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 0.75em var(--medium-padding);
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statusBadgesContainer {
  /* container for <StatusBadges /> */
}

.statusDetails {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: 500;
  color: var(--text-color-secondary);
  white-space: nowrap;
  margin: -2px 0 -1px;

  @nest .statusBadgesContainer + & {
    margin-top: var(--small-padding);
  }
}

.lastUpdatedButton {
  color: var(--text-muted);
  vertical-align: top;
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  font: inherit;
  font-size: var(--font-size-tiny);
  line-height: var(--line-height-tiny);
  font-weight: 500;
  display: inline-block;
  border: 0;
  border-radius: 0;
  background: none;
  cursor: pointer;
  text-align: inherit;
  padding: 4px;
  margin: -5px 0 -4px -4px;
  outline: none;

  @media (hover: hover) {
    @nest &:hover {
      text-decoration: underline;
    }
  }
}

.actions {
  /* grid unit */
}

.actionsWrapper {
  position: relative;
  max-width: 15em;
  margin-left: auto;
}

.popOverText {
  font-size: var(--font-size-base);
  line-height: var(--font-size-base);
  margin-bottom: var(--medium-padding);
  text-align: center;
  max-width: 18em;
}
