@import 'part:@sanity/base/theme/variables-style';

.root {
  background: var(--component-bg);
  display: grid;
  grid-gap: 0.75em;
  grid-template-columns: 1fr 1fr;
  padding: 0.75em var(--medium-padding);
}

.status {
  padding: 2px 0;
  display: flex;
  flex-direction: column;
}

.statusDetails {
  font-size: calc(12 / 16 * 1em);
  font-weight: 500;
  line-height: 1.25;
  white-space: nowrap;
}

.lastUpdatedButton {
  color: var(--text-muted);
  vertical-align: top;
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  font: inherit;
  display: inline-block;
  border: 0;
  border-radius: 0;
  background: none;
  cursor: pointer;
  text-align: inherit;
  padding: 0;
  margin: 0;

  @media (hover: hover) {
    @nest &:hover {
      text-decoration: underline;
    }
  }
}

.actions {
  /* grid unit */
}

.actionsWrapper {
  position: relative;
  max-width: 15em;
  margin-left: auto;
}

.popOverText {
  font-size: 1em;
  line-height: 1.25;
  margin-bottom: 1em;
  text-align: center;
  max-width: 18em;
}
