@import 'part:@sanity/base/theme/variables-style';

@keyframes DocumentStatusBar__spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.statusIcon {
  display: inline-block;
  vertical-align: top;
  color: var(--text-muted);
  pointer-events: none;

  @nest & svg {
    display: block;
    transform-origin: center center;
    font-size: 13px;
    margin: -1px;

    &[data-sanity-icon='true'] {
      font-size: 17px;
      margin: -3px;
    }
  }
}

.rotatingStatusIcon {
  composes: statusIcon;

  @nest & svg {
    animation-name: DocumentStatusBar__spin;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.isSyncing {
  composes: rotatingStatusIcon;
  @nest & svg {
    color: var(--state-success-color);
  }
}

.isDisconnected {
  composes: rotatingStatusIcon;
  @nest & svg {
    color: var(--state-danger-color);
  }
}
