@import 'part:@sanity/base/theme/variables-style';

.previewImage {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.dialogInner {
  max-width: 100%;
  max-height: 100%;
  height: 40rem;
  width: 50rem;
  z-index: 0;
  position: relative;
  box-sizing: border-box;
  border-radius: var(--border-radius-large);
  overflow: hidden;
}

.map {
  /*
    This is a container for the map input, to avoid fieldset's CSS grid
    to apply grid gap spacing to the map input's children.
  */
}

.functions {
  composes: functions from 'part:@sanity/components/fieldsets/default-style';
}

.map + .functions {
  margin-top: var(--small-padding);

  @media (--screen-medium) {
    margin-top: var(--medium-padding);
  }
}
