@import "part:@sanity/base/theme/variables-style";

.previewImage {
  width: 100%;
  height: auto;
}

.dialogInner {
  max-width: 90vw;
  max-height: 90vh;
  height: 40rem;
  width: 50rem;
  z-index: 0;
  position: relative;
  box-sizing: border-box;
  border-radius: var(--border-radius-large);
  overflow: hidden;
}

.functions {
  composes: functions from 'part:@sanity/components/fieldsets/default-style';
}
