@import 'part:@sanity/base/theme/variables-style';
@import 'part:@sanity/base/theme/body-style';

.root {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.root + .root {
  margin-top: var(--large-padding);
}

.inline {
  composes: root;
  display: inline;
}

.label {
  display: block;
}

.description {
  composes: description from 'part:@sanity/base/theme/typography/text-blocks-style';

  @nest .inline & {
    font-size: var(--font-size-tiny);
  }
}

.labelAndDescriptionWrapper {
  display: block;

  @nest .inline & {
    flex-basis: 33%;
    flex-grow: 1;
  }
}

.content {
  display: block;

  @nest .inline & {
    flex-basis: 77%;
    flex-grow: 10;
    display: inline-block;
  }
}

.wrapped {
  composes: root;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  max-width: 100%;
}

.inner {
  display: block;

  @nest .inline & {
    display: flex;
    flex-direction: row;
  }
}

.level_0 {
  composes: root;
}

.level_1 {
  composes: root;
}

.level_2 {
  composes: root;
}

.level_3 {
  composes: root;
}
