@import 'part:@sanity/base/theme/variables-style';
@import 'part:@sanity/base/theme/body-style';

.root {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

.block {
  composes: root;
}

.inline {
  composes: root;
}

.label {
  display: block;
}

.description {
  composes: description from 'part:@sanity/base/theme/typography/text-blocks-style';

  @nest .inline & {
    font-size: var(--font-size-tiny);
  }
}

.labelAndDescriptionWrapper {
  display: block;

  @nest .inline & {
    flex-basis: 33%;
    flex-grow: 1;
  }
}

.content {
  display: block;

  @nest .inline & {
    flex-basis: 77%;
    flex-grow: 10;
    display: inline-block;
  }
}

.wrapped {
  composes: root;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
}

.inner {
  display: block;

  @nest .inline & {
    display: flex;
    flex-direction: row;
  }
}
