@import "part:@sanity/base/theme/variables-style";

.root {
  position: absolute;
  width: auto;
  background-color: var(--component-bg);
  color: var(--text-color);
  composes: shadow-2dp from 'part:@sanity/base/theme/shadows-style';
  font-size: var(--font-size-small);
  user-select: none;
  text-align: left;
  z-index: var(--zindex-dropdown);
}

.fullWidth {
  width: 100%;
}

.list {
  composes: resetList from "part:@sanity/base/theme/layout/helpers";
}

.item {
  composes: resetListItem from "part:@sanity/base/theme/layout/helpers";
  white-space: nowrap;
}

.focusedItem {
  composes: item;
}

.iconContainer {
  margin-right: 0.5em;
}

.link {
  display: block;
  position: relative;
  line-height: 3em;
  padding: 0 1em;
  cursor: default;
  text-decoration: none;
  color: inherit;
  outline: none;

  @nest .focusedItem & {
    background-color: var(--gray-lighter);
  }

  @nest &:hover {
    background-color: var(--gray-lighter);
  }
}

.dangerLink {
  composes: link;
  color: var(--state-danger-color);
}

.divider {
  border-top: 1px solid var(--gray-light);
}

.opened {
  composes: root;
  display: block;
}

.closed {
  composes: root;
  display: none;
}

.origin__top-left {
  top: 0;
  left: 0;
}

.origin__top-right {
  top: 0;
  right: 0;
}

.origin__bottom-right {
  bottom: 0;
  right: 0;
}

.origin__bottom-left {
  bottom: 0;
  left: 0;
}
