@import 'part:@sanity/base/theme/variables-style';

.root {
  background-color: var(--component-bg);
  color: var(--text-color);
  composes: shadow-6dp from 'part:@sanity/base/theme/shadows-style';
  font-size: var(--font-size-small);
  user-select: none;
  text-align: left;
  overflow: auto;
  overflow-x: hidden;
  padding: calc(var(--small-padding) / 2) 0;
  border-radius: var(--border-radius-medium);
}

.list {
  composes: resetList from 'part:@sanity/base/theme/layout/helpers';
}

.item {
  composes: resetListItem from 'part:@sanity/base/theme/layout/helpers';
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  white-space: nowrap;
  position: relative;
}

.isDisabled {
  opacity: 0.4;

  @nest &:hover {
    background-color: inherit;
  }
}

.focusedItem {
  composes: item;
  composes: selected from 'part:@sanity/base/theme/layout/selectable-style';
}

.iconContainer {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

.link {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 3em;
  padding: 0 1em;
  cursor: default;
  text-decoration: none;
  color: inherit;
  outline: none;
}

.dangerLink {
  composes: link;
  color: var(--state-danger-color);
}

.divider {
  margin-top: calc(var(--small-padding) + 1px);

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(0 - calc(var(--small-padding) / 2) - 1px);
    border-top: 1px solid var(--hairline-color);
  }
}
