.container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
  position: absolute;
  z-index: 999999; /* Sorry, not sorry? */
  color: #fff;
}

.content {
  max-width: 600px;
  margin: 0 auto;
}

.content a {
  color: #fff;
  font-weight: bold;
}

.closeButton {
  color: #fff;
  float: right;
  margin: 10px;
  font-size: 2em;
  background: transparent;
  border: 1px solid #fff;
}
