@import 'part:@sanity/base/theme/variables-style';

.root {
  display: inline-flex;
  align-items: center;

  @nest &[data-size='small'] {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
  }

  @nest &[data-size='medium'] {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
  }

  @nest &[data-size='large'] {
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
  }
}

.key {
  position: relative;
  color: inherit;
  padding: calc(var(--extra-small-padding) - 3px) var(--extra-small-padding)
    calc(var(--extra-small-padding) - 2px);
  border-radius: var(--border-radius-small);
  overflow: hidden;
  text-transform: capitalize;
  min-width: 1em;
  text-align: center;

  @nest &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1px currentColor;
    opacity: 0.25;
    pointer-events: none;
  }

  @nest .key + & {
    margin-left: var(--extra-small-padding);
  }
}
