@import 'part:@sanity/base/theme/variables-style';

.root {
  @nest &:hover .segment {
    border-bottom: 1px solid var(--component-bg);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    @nest &::after {
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      background: currentColor;
      transform: translate3d(0, 1px, 0);
      opacity: 1;
    }
  }
}

.segment {
  position: relative;
  padding: 2px 7px;
  border-radius: 1px;
  margin: 3px 0;
  border-bottom: 1px solid transparent;

  @nest &::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    transition: all 0.2s ease-in-out;
    opacity: 0;
  }
}

.add {
  /*  */
}

.remove {
  text-decoration: none;
}
