@import 'part:@sanity/base/theme/variables-style';

.root {
  padding: var(--small-padding);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: 600;

  @nest & > span {
    display: block;
    margin: -3px 0 -2px;
  }
}
