@import 'part:@sanity/base/theme/variables-style';

/* @todo coder styling, fix me  */
.text:not(:only-child) {
  max-width: 100px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  vertical-align: middle;
}

.indexGroup {
  display: inline-block;
  padding: 0;
  font-weight: 600;
  vertical-align: middle;
  border-radius: var(--border-radius-small);
  padding: 1px var(--extra-small-padding);
  border-bottom: 1px solid var(--component-bg);

  @nest ins & {
    text-decoration: none;
  }
}

.indexGroupWithAnnotation {
  composes: indexGroup;
}

.indexGroupWithAnnotation:hover {
  border-radius: var(--border-radius-small) var(--border-radius-small) 1px 1px;
  box-shadow: 0 2px 0 currentColor;
}

.index {
  display: inline-block;
  background: var(--gray-lightest);
  border-radius: var(--border-radius-medium);
  font-weight: 700;
  padding: var(--extra-small-padding) var(--small-padding);
}
