/* @todo coder styling, fix me  */
.crumb {
  flex: 1;
  font-size: 13px;

  @nest & strong {
    font-weight: 600;
  }
}

.crumb > * {
  display: inline-block;
  white-space: nowrap;
}

.change__breadcrumb__separator {
  margin: 0 2.5px;
}
