@import 'part:@sanity/base/theme/variables-style';

.monospace {
  font-family: var(--font-family-monospace);
  font-size: 9pt;
}

.json {
  composes: monospace;
  white-space: pre;
  background-color: var(--code-bg);
  color: var(--code-color);
  padding: var(--extra-small-padding);
  position: relative;
  max-width: 360px;
  min-height: 27px;
  overflow-x: auto;
}

.meta {
  composes: json;
}

.meta:before {
  content: 'meta';
}

.meta:before,
.fromJson:before,
.toJson:before {
  font-family: var(--font-family-base);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid var(--hairline-color);
  border-top: 0;
  border-right: 0;
  padding: var(--extra-small-padding);
  min-width: 35px;
}

.fromJson {
  composes: json;
  background-color: rgba(255, 0, 0, 0.1);
}

.fromJson:before {
  content: 'from';
}

.toJson {
  composes: json;
  background-color: rgba(0, 255, 0, 0.1);
}

.toJson:before {
  content: 'to';
}

.arrow {
  text-align: center;
  max-width: 360px;
}
