@import 'part:@sanity/base/theme/variables-style';

.root {
  @nest .root + & {
    margin-top: var(--extra-large-padding);
  }
}

.error {
  composes: root;
}

.header {
  padding: 0 0 var(--small-padding);
}

.change {
  position: relative;
  padding-left: var(--small-padding);

  @nest &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 1px solid var(--hairline-color);
  }

  @nest &:hover::before {
    border-left: 2px solid var(--gray-lighter);
  }

  @nest .revertHovered &::before {
    border-left: 2px solid var(--state-danger-color);
  }

  @nest .error &::before {
    /* @todo: should not be treated the same way as :hover */
    border-left: 1px solid var(--state-danger-color);
  }
}

.revertChangesButtonContainer {
  margin-left: -0.25em;
  margin-top: 0.25em;
}
