@import 'part:@sanity/base/theme/variables-style';

.root {
  margin-bottom: 1em;
}

.error {
  composes: root;
}

.change {
  border-left: 1px solid var(--hairline-color);
  padding-left: 0.75em;
}

.change:hover {
  border-left-color: var(--state-warning-color);
}

.error .change {
  border-left-color: var(--state-danger-color);
}

.revertChangesButtonContainer {
  margin-left: -0.25em;
  margin-top: 0.25em;
}
