@import 'part:@sanity/base/theme/variables-style';

.groupChange {
}
.changeList {
}

.changeHeader {
  margin: 0 0 0.5em;
  display: flex;
}

.groupChange > .changeList {
  border-left: 1px solid var(--hairline-color);
  padding-left: 0.75em;
}
