.root {
  appearance: none;
  background: none;
  border: 0;
  -webkit-font-smoothing: inherit;
  font: inherit;
  font-size: 12px;
  padding: 0.25em;
  margin: 0 -0.25em;
  border-radius: 4px;

  @media (hover: hover) {
    opacity: 0.5;

    @nest &:hover {
      opacity: 1;
    }
  }
}
