@use postcss-cssnext;

:root {
  --brand-primary: #00f;
  --brand-success: #0f0;
  --brand-info: #ccf;
  --brand-warning: #ffc;
  --brand-danger: #f00;
  --body-bg: #eee;
  --gray-base: #000;

  --state-success-color: var(--brand-success);
  --state-info-color: var(--brand-info);
  --state-warning-color: var(--brand-warning);
  --state-danger-color: var(--brand-danger);
}
