@use postcss-cssnext;

:root {
  --brand-primary: #2097ac;
  --brand-success: #5cb85c;
  --brand-info: #5bc0de;
  --brand-warning: #ff9b00;
  --brand-danger: #f43;
  --body-bg: #ffffff;
  --gray-base: #383838;

  --state-success-color: var(--brand-success);
  --state-info-color: var(--brand-info);
  --state-warning-color: var(--brand-warning);
  --state-danger-color: var(--brand-danger);
}
