@import 'style:@sanity/base/theme/variables/brand-colors';
@use postcss-cssnext;

:root {
  --header-height: 3rem;

  --border-radius-base: 0.5rem;
  --border-radius-large: 0.25rem;
  --border-radius-small: 0.15rem;

  --extra-small-padding: 0.25rem;
  --small-padding: 0.5rem;
  --medium-padding: 1rem;
  --large-padding: 1.5rem;
  --extra-large-padding: 3rem;

  --component-background-color: #fff;
  --component-active-color: #fff;
  --component-active-bg: var(--brand-primary);

}
