@use postcss-cssnext;

:root {
  --zindex-navbar: 1000;
  --zindex-dropdown: 1000;
  --zindex-popover: 1060;
  --zindex-tooltip: 1070;
  --zindex-navbar-fixed: 1030;
  --zindex-modal-background: 1040;
  --zindex-modal: 1050;
}
