:root {
  --zindex-navbar: 1000;
  --zindex-dropdown: 1010;
  --zindex-popover-background: 1060;
  --zindex-popover: 1070;
  --zindex-tooltip: 1100;
  --zindex-navbar-fixed: 1200;
  --zindex-modal-background: 1300;
  --zindex-modal: 1310;
}
