@import 'style:@sanity/base/theme/variables/brand-colors';
@import 'style:@sanity/base/theme/variables/gray-colors';
@use postcss-cssnext;

:root {
  --selectable-item-color: var(--gray-darker);
  --selectable-item-color-hover: var(--gray);
  --selected-item-color: var(--brand-primary);
  --selected-item-color-hover: color(var(--brand-primary) lightness(+10%));
}
