@import 'part:@sanity/base/theme/variables-style';

.root {
  background: var(--component-bg);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid var(--hairline-color);
}

.mainNav {
  display: flex;
}

.title {
  flex: 1;
  min-width: 0;
  margin: 0;
  font: inherit;
  line-height: 17px;
  font-weight: 700;
  padding: 1em 1em 0.5em;
}

.closeButtonContainer {
  padding: 0.5em;
}

.versionSelectContainer {
  padding: 0.25em 0.5em;
  margin-top: calc(0 - var(--small-padding));
  display: flex;
  align-items: end;
}

.changeAuthorsContainer {
  margin-left: auto;
}

.changeAuthorsAvatarStack {
}

.body {
  flex: 1;
  min-height: 0;
  padding: 1em;
  overflow: auto;
}

.changeList {
  display: grid;
  grid-gap: 1em;
}
