.root {
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid #ddd;
}

.mainNav {
  display: flex;
}

.title {
  flex: 1;
  min-width: 0;
  margin: 0;
  font: inherit;
  line-height: 17px;
  font-weight: 700;
  padding: 1em 1em 0.5em;
}

.closeButtonContainer {
  padding: 4px;
}

.versionSelectContainer {
  padding: 0.25em 0.5em;
}

.body {
  flex: 1;
  min-height: 0;
  padding: 1em;
  overflow: auto;
}

.changeList {
  display: grid;
  grid-gap: 2.25em;
}
