@import 'part:@sanity/base/theme/variables-style';

.root {
  height: 100%;
}

.header {
  position: relative;
  z-index: 10;

  @nest &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-bottom: 1px solid var(--hairline-color);
  }
}

.changeWrapper {
  border-left: 1px solid var(--hairline-color);
  padding-left: calc(var(--medium-padding) - var(--extra-small-padding));
}

.mainNav {
  display: flex;
}

.title {
  flex: 1;
  min-width: 0;
  margin: 0;
  font: inherit;
  line-height: 17px;
  font-weight: 600;
  padding: var(--medium-padding) var(--medium-padding) var(--small-padding);
}

.closeButtonContainer {
  padding: calc(var(--small-padding) - 1px);
  line-height: 0;
}

.changesSinceSelectContainer {
  flex: 1;
  min-width: 0;
  margin-right: var(--small-padding);

  @nest & > div {
    & > button {
      max-width: 100%;
    }
  }
}

.versionSelectContainer {
  padding: var(--extra-small-padding) var(--small-padding);
  padding-right: calc(var(--medium-padding) - var(--extra-small-padding) + 1px);
  display: flex;
  align-items: center;

  @nest & > button {
    display: block;
  }
}

.body {
  flex: 1;
  min-height: 0;
  padding: var(--large-padding) var(--medium-padding);
  overflow: auto;
  position: relative;

  @media not screen and (prefers-reduced-motion) {
    scroll-behavior: smooth;
  }
}
