@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  padding: var(--small-padding) 0;
}

.label {
  display: flex;
  align-items: center;
}

.title {
  composes: label from 'part:@sanity/base/theme/typography/forms-style';
  margin-left: var(--small-padding);
  line-height: 1;
}
