@import 'part:@sanity/base/theme/variables-style';

:root {
  --nav-bar-box: 3.0625em; /* 49px */
  --pane-animation-time: 200ms;
}

.root {
  display: flex;
  flex-direction: column;
  background-color: var(--component-bg);
  min-height: calc(100vh - var(--nav-bar-box));
  width: 100%;

  @media (--screen-medium) {
    /* Reset mobile first */
    transition: box-shadow 0.1s linear;
    position: relative;
    height: 100%;
    top: initial;
    left: initial;
    min-height: initial;
    overflow: hidden; /* Cuts off the shadow on header */
  }
}

.isDisabled {
  display: none; /* hide on mobile */

  @media (--screen-medium) {
    display: flex;
  }
}

.isActive {
  display: flex;
}

.isCollapsed {
  @media (--screen-medium) {
    composes: root;
    margin-right: 0;
    border-color: var(--hairline-color);
    padding: 0;
    flex-direction: row;
    transition: box-shadow var(--pane-animation-time) var(--pane-animation-time) linear;
    background-image: linear-gradient(90deg, transparent, color(var(--text-color) a(10%)));
    background-size: 0.8rem 100%;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    overflow: hidden;
  }
}

.header {
  position: relative;
  position: sticky;
  top: 0;
  user-select: none;
  background-color: inherit;
  z-index: 10;

  @nest .isCollapsed & {
    background-color: transparent;
  }

  @nest &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-bottom: 1px solid var(--hairline-color);
  }
}

.headerContent {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-grow: 1;
  align-items: stretch;
  align-self: flex-end;
  box-sizing: border-box;
  width: 100%;

  @nest .isCollapsed & {
    min-width: 100vh;
  }
}

.buttonWrapper {
  display: flex;
  align-items: stretch;
  align-self: stretch;
  justify-content: stretch;
  position: relative;
}

.actionButton {
  /* -webkit-font-smoothing: inherit; */
  appearance: none;
  font: inherit;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  width: 2.1875em;
  margin: 0;
  padding: 0;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  justify-content: stretch;
  outline: none;

  &:focus {
    background-color: color(var(--brand-primary) a(20%));
  }
}

.actionButtonInner {
  outline: none;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @nest & > svg {
    font-size: 1.5625em;
  }

  @media (hover: hover) {
    @nest & > svg {
      opacity: 0.6;
    }

    @nest &:hover > svg {
      opacity: 1;
    }

    @nest .actionButton:focus & > svg {
      opacity: 1;
    }
  }
}

.menuWrapper {
  composes: buttonWrapper;
  z-index: 2;

  @nest .isCollapsed & {
    display: none;
  }
}

.menuOverflowButton {
  composes: actionButton;
}

.menuOverflowButtonInner {
  composes: actionButtonInner;
}

.actions {
  display: flex;
  align-items: center;

  @nest .isCollapsed & {
    display: none;
  }
}

.menuContainer {
  position: absolute;
  right: 0;
  bottom: 0;

  @nest & > div {
    position: absolute;
    right: var(--small-padding);
  }
}

.menuButton {
  display: block;
  text-align: center;
}

.title {
  box-sizing: border-box;
  margin: 0;
  padding: 1em;
  font-size: 1rem;
  line-height: calc(21 / 16);
  font-weight: 700;
  user-select: none;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  width: stretch;
  text-overflow: ellipsis;
  margin-right: auto;
  transform-origin: 1.5em 1.5em;
  transform: rotate(0deg);
  transition: transform var(--pane-animation-time) linear;

  @nest .isCollapsed & {
    transform: rotate(90deg);
  }
}

.headerViewMenu {
  position: relative;
  display: flex;
  max-width: 672px;
  margin-top: -0.5em;
  z-index: 2;

  @nest .isCollapsed & {
    display: none;
  }
}

.headerTabsContainer {
  flex: 1;
}

.headerPaneActions {
  padding: 0 0.5em 0 0;

  @nest & button {
    vertical-align: top;
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;
    border: 0;
    padding: 0.25em;
    border-radius: 2px;
    background: none;
    color: var(--text-muted);
    outline: none;

    @nest & svg {
      vertical-align: top;
      font-size: 1.5625em; /* 25px */
      line-height: 1;
    }

    /* Focus wrapper */
    @nest & > div {
      outline: none;
    }

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }

    @nest &:focus {
      background: var(--selectable-item-color-hover);
      color: inherit;
    }
  }
}

.functions {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  opacity: 1;
  z-index: 1;
  flex-direction: row;
  margin-left: 1em;
}

.functionsLarge {
  composes: functions;
}

.functionsSmall {
  composes: functions;
}

.main {
  flex-grow: 1;
  display: block;
  position: relative;
  opacity: 1;
  transition: opacity var(--pane-animation-time) var(--pane-animation-time) linear;

  @nest .isCollapsed & {
    opacity: 0;
    transition: opacity 0 0;
  }
}

.scrollContainer {
  display: block;
  box-sizing: border-box;

  @media (--screen-medium) {
    composes: scrollY from 'part:@sanity/base/theme/layout/scrolling-style';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

  @media (--max-screen-medium) {
    /* Override default scrollcontainer  */
    transform: initial;
    position: initial;
    top: initial;
    left: initial;
    height: initial;
    width: initial;
    overflow: initial;
  }

  @nest .isCollapsed & {
    display: none;
  }
}

.scrollWrapper {
  margin: 0 auto;
}

.notScrollable {
  display: block;
  box-sizing: border-box;

  @media (--screen-medium) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

  @media (--max-screen-medium) {
    transform: initial;
    position: initial;
    top: initial;
    left: initial;
    height: initial;
    width: initial;
    overflow: initial;
  }
}

.functionsButton {
  @nest .isCollapsed & {
    display: none;
  }
}

.functionsButtonText {
  white-space: nowrap;
  text-overflow: ellipsis;

  @nest .functionsSmall & {
    display: none;
  }

  @nest .isCollapsed & {
    display: none;
  }
}

.initialValueTemplateDropDownMenuButton {
  @nest & [class^='DropDownButton'] {
    width: 2.1875rem;
  }

  @nest & [class^='DropDownButton']:hover {
    background-color: transparent;
  }
}

.initialValueTemplateDropDownItem {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--small-padding);
}

.initialValueTemplateSubtitle {
  font-size: 0.7em;
  font-weight: 300;
  text-transform: capitalize;
}

.initialValueTemplateDropDownItemIcon {
  display: flex;
  align-items: center;
  font-size: var(--font-size-large);
  margin-left: var(--large-padding);
}

.footer {
  box-sizing: border-box;
  background-color: var(--component-bg);
  color: var(--text-color-secondary);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: var(--zindex-pane);
  padding: 0.75em var(--medium-padding);

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    padding-bottom: calc(var(--small-padding) + env(safe-area-inset-bottom));
  }

  /* NOTE: Work-around for hiding the snack bar when the keyboard is visible on small screens */
  @media (max-height: 32em) {
    position: relative;
  }

  @media (--screen-medium) {
    position: relative;
  }

  @nest &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    border-top: 1px solid var(--hairline-color);
  }

  @media (hover: hover) {
    visibility: hidden;

    @nest .root:hover & {
      visibility: visible;
    }
  }
}
