@import "part:@sanity/base/theme/variables-style";

:root {
  --nav-bar-box: 3.0625em; /* 49px */
}

.root {
  display: flex;
  flex-direction: column;
  background-color: var(--component-bg);
  min-height: calc(100vh - var(--nav-bar-box));

  @media (--screen-medium) {
    /* Reset mobile first */
    position: relative;
    height: 100%;
    top: initial;
    left: initial;
    width: initial;
    min-height: initial;
    overflow: hidden; /* Cuts off the shadow on header */
  }
}

.isDisabled {
  display: none; /* hide on mobile */

  @media (--screen-medium) {
    display: flex;
  }
}

.isActive {
  display: flex;
}

.isCollapsed {
  @media (--screen-medium) {
    composes: root;
    margin-right: 0;
    border-color: #ccc;
    padding: 0;
    width: 3.4375em;
    height: 100%;
    flex-direction: row;
  }
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
  line-height: 3.4375em;
  width: 100%;
  height: 3.4375em;
  user-select: none;
  background-color: inherit;
  z-index: 10;

  @nest .isCollapsed & {
    flex-direction: row;
    flex-grow: 1;
    border-color: transparent;
  }
}

.headerContent {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-grow: 1;
  align-items: stretch;
  align-self: flex-end;
  transition: transform 0.2s linear;
  transform-origin: 1.71875em 1.71875em;
  transform: rotate(0);
  box-sizing: border-box;
  height: 3.4375rem;
  padding-left: var(--medium-padding);
  width: 100%;

  @nest .isCollapsed & {
    min-width: 100vh;
    justify-content: flex-start;
    transform: rotate(90deg);
  }
}

.buttonWrapper {
  display: flex;
  align-items: stretch;
  align-self: stretch;
  justify-content: stretch;
}

.actionButton {
  -webkit-font-smoothing: inherit;
  appearance: none;
  font: inherit;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  width: 2.1875em;
  margin: 0;
  padding: 0;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  justify-content: stretch;
  outline: none;

  &:focus {
    background-color: color(var(--brand-primary) a(20%));
  }
}

.actionButtonInner {
  outline: none;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  height: stretch;

  @nest & > svg {
    font-size: 1.5625em;
  }

  @media (hover: hover) {
    @nest & > svg {
      opacity: 0.6;
    }

    @nest &:hover > svg {
      opacity: 1;
    }

    @nest .actionButton:focus & > svg {
      opacity: 1;
    }
  }
}

.menuWrapper {
  composes: buttonWrapper;
  z-index: 2;

  @nest .isCollapsed & {
    display: none;
  }
}

.menuOverflowButton {
  composes: actionButton;
}

.menuOverflowButtonInner {
  composes: actionButtonInner;
}

.actions {
  display: flex;
  align-items: center;
}

.menuContainer {
  position: absolute;
  right: 0;
  bottom: 0;

  @nest & > div {
    position: absolute;
    right: var(--small-padding);
  }
}

.menuButton {
  display: block;
  text-align: center;
}

.title {
  box-sizing: border-box;
  position: relative;
  z-index: -1;
  display: block;
  margin: 0;
  padding: 0 0.25em 0 0;
  font-size: 1.25rem;
  font-weight: 700;
  user-select: none;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  margin-right: auto;
}

.functions {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  opacity: 1;
  z-index: 1;
  flex-direction: row;
  margin-left: 1em;
}

.functionsLarge {
  composes: functions;
}

.functionsSmall {
  composes: functions;
}

.main {
  flex-grow: 1;
  display: block;
  opacity: 1;
  position: relative;

  @nest .isCollapsed & {
    display: none;
  }
}

.scrollContainer {
  display: block;
  box-sizing: border-box;

  @media (--screen-medium) {
    composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

  @media (--max-screen-medium) {
    /* Override default scrollcontainer  */
    transform: initial;
    position: initial;
    top: initial;
    left: initial;
    height: initial;
    width: initial;
    overflow: initial;
  }

  @nest .isCollapsed & {
    display: none;
  }
}

.notScrollable {
  display: block;
  box-sizing: border-box;

  @media (--screen-medium) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

  @media (--max-screen-medium) {
    transform: initial;
    position: initial;
    top: initial;
    left: initial;
    height: initial;
    width: initial;
    overflow: initial;
  }

  @nest .isCollapsed & {
    display: none;
  }
}

.functionsButton {
  @nest .isCollapsed & {
    transform: rotate(-90deg);
  }
}

.functionsButtonText {
  white-space: nowrap;
  text-overflow: ellipsis;

  @nest .functionsSmall & {
    display: none;
  }

  @nest .isCollapsed & {
    display: none;
  }
}
