.root {
  composes: functions from './DefaultPane.css';
}

.button {
  composes: functionsButton from './DefaultPane.css';
  display: block;
}

.text {
  composes: functionsButtonText from './DefaultPane.css';
}
