.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.vertical {
  composes: root;
}

.splitPane {
  position: relative;
  height: 100%;
}

.splitWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

:global(.Pane1) {
  /*margin-right: 5px;
  margin-left: 5px;*/
  border-right: 1px solid #ccc;
}

.isCollapsed {
  @nest & :global(.Pane1) {
    margin-right: 0;
    margin-left: 0;
    border: none;
  }
}

.notCollapsed {
  @nest & :global(.Pane1) {
    border: none;
    /*border-right: 1px solid #ccc;*/
  }
}

.singleWrapper {
  /*
    This is to keep the DOM-tree in the same structure
    to avoide a re-render of the dom.
  */
  @nest & :global(.Pane1) {
    flex: 1 !important;
    transition: all 0.3s;
  }

  @nest & :global(.Pane2) {
    display: none;
  }
}

.doubleWrapper {
  /*
  This may be needed when we use more panes

  @nest & :global(.Pane1) {
    flex: initial !important;
    transition: all 0.3s;
  }

  @nest & :global(.Pane2) {
    display: block;
  }
  */
}

.paneInSplitted {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.paneInSplittedCollapsed {
  composes: paneInSplitted;
  padding: 0;
}

.Resizer {
  background: #000;
  opacity: 0;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;

  @nest &:hover {
    opacity: 0.1;
    transition: border 0.2s ease, opacity 0.1s ease;
  }

  @nest .horizontal & {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;

    @nest &:hover {
      border-top: 5px solid rgba(0, 0, 0, 0.5);
      border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    }
  }

  @nest .vertical & {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;

    @nest &:hover {
      border-left: 5px solid rgba(0, 0, 0, 0.5);
      border-right: 5px solid rgba(0, 0, 0, 0.5);
    }
  }

  @nest .disabled & {
    cursor: not-allowed;

    @nest &:hover {
      border-color: transparent;
    }
  }
}

.ResizerIsCollapsed {
  composes: Resizer;
  opacity: 0;
}
