.root {
  flex: 1;
  height: 100vh;
  width: 100vw;
}

.vertical {
  composes: root;
}

.splitPane {
  position: relative;
  height: 100%;
}

.pane1 {
  border: 5px solid green;
}

.paneInSplitted {
  /*position: relative;
  box-sizing: border-box;
  height: 100%;
  padding: 0 0.5rem;*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0.5rem;
}

.paneInSplittedCollapsed {
  composes: paneInSplitted;
  padding: 0;
}

.Resizer {
  background: #000;
  opacity: 0.1;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;

  @nest &:hover {
    transition: border 2s ease;
  }

  @nest .horizontal & {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;

    @nest &:hover {
      border-top: 5px solid rgba(0, 0, 0, 0.5);
      border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    }
  }

  @nest .vertical & {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;

    @nest &:hover {
      border-left: 5px solid rgba(0, 0, 0, 0.5);
      border-right: 5px solid rgba(0, 0, 0, 0.5);
    }
  }

  @nest .disabled & {
    cursor: not-allowed;

    @nest &:hover {
      border-color: transparent;
    }
  }
}

.ResizerIsCollapsed {
  composes: Resizer;

  /*@nest .vertical & {
    border: none !important;
    width: 1px !important;
    cursor: default !important;
  }

  @nest &:hover {
    cursor: default !important;
    border-color: transparent !important;
  }*/
}
