@import 'part:@sanity/base/theme/variables-style';

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.root {
  width: 100%;
}

.previewContainer {
  /* color: var(--component-text-color); */
  /* background: var(--component-bg); */
  width: 100%;
  display: block;
  cursor: move;
  position: relative;
  border-radius: var(--form-builder-block-border-radius);
  /* box-shadow: var(--form-builder-block-shadow); */
  box-sizing: border-box;
  overflow: hidden;
  min-height: 3.5rem;

  @nest &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--form-builder-block-border-radius);
    box-shadow: inset 0 0 0 1px var(--form-builder-block-border-color);
    z-index: 1;
    pointer-events: none;
  }

  @media (hover: hover) {
    color: var(--text-muted);

    @nest &:hover {
      background-color: var(--form-builder-block-background-hover);
      color: var(--component-text-color);

      @nest &:after {
        /* box-shadow: var(--form-builder-block-shadow--hover); */
        box-shadow: inset 0 0 0 1px var(--form-builder-block-border-color--hover);
      }
    }
  }
}

.root.hasErrors > .previewContainer {
  /* box-shadow: var(--form-builder-block-shadow--invalid); */
}

.root.focused > .previewContainer {
  /* border: 1px solid var(--form-builder-block-border-color-focus); */
  /* background-color: var(--selectable-item-color-active); */
  box-shadow: var(--form-builder-block-shadow--focus);

  @nest &:after {
    display: none;
  }
}

.root.selected:not(.focused) > .previewContainer {
  background-color: var(--form-builder-block-background-selected);

  @nest &:after {
    display: none;
  }
}

.root.focused.selected > .previewContainer {
  /* border: 1px solid var(--form-builder-block-border-color-focus); */
}

.root.selected.hasErrors > .previewContainer {
  /* box-shadow: none; */
  /* border: 1px solid
    color(var(--state-danger-color) blend(var(--form-builder-block-background-selected) 70%)); */
}

.root.focused.hasErrors > .previewContainer {
  /* box-shadow: var(--form-builder-block-shadow--invalid-focus); */
  /* background-color: color(var(--state-danger-color) a(5%)); */
  /* border: 1px solid var(--state-danger-color); */
}

.root.focused.hasErrors > .previewContainer:hover {
  /* background-color: color(var(--state-danger-color) a(10%)); */
}

.header {
  z-index: 1;
  position: absolute;
  top: var(--small-padding);
  right: var(--small-padding);
  padding: var(--extra-small-padding);
  background: var(--component-bg);
  border-radius: var(--border-radius-base);
  box-shadow: 0 0 0 1px color(var(--gray) alpha(20%));
  /* display: none; */
  /* opacity: 0; */

  @nest .focused & {
    /* display: block !important; */
    /* opacity: 1 !important; */
  }
}

.preview {
  /* @media (hover: hover) {
    @nest &:hover .header {
      display: block;
      opacity: 1;
    }
  } */
}

.type {
  display: block;
  text-transform: uppercase;
  opacity: 1;
  padding-right: var(--small-padding);
}

.validationStatus {
  display: flex;
  align-items: center;
  padding-right: var(--small-padding);
}

.linkToReference {
  display: flex;
  align-items: center;
  transition: transform 0.1s linear, opacity 0.1s linear;
  margin-right: var(--small-padding);

  @nest &:hover {
    opacity: 1;
    color: var(--link-color);

    @nest & svg {
      color: var(--link-color);
    }
  }

  @nest &:active {
    opacity: 1;
    color: var(--text-color);

    @nest & svg {
      color: var(--text-color);
    }
  }

  @nest & svg {
    color: var(--text-color);
  }
}

.isDragging {
  opacity: 0.15;
}

.functions {
  display: flex;
}

.menuContainer {
  position: absolute;
}
