@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
}

.actionBar {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
}

.actionButton {
  display: inline-flex;
  vertical-align: top;

  @nest &:not(:first-child).firstInGroup {
    @nest &:before {
      content: '';
      display: block;
      border-left: 1px solid var(--hairline-color);
      height: 100%;
      padding-right: var(--extra-small-padding);
    }
  }
}

.actionButton + .actionButton {
  margin-left: var(--extra-small-padding);
}

.actionButton[data-visible='false'] {
  visibility: hidden;
}

.overflowButton {
  position: relative;
  padding-left: var(--extra-small-padding);

  @nest & > div {
    display: inline-block !important;
  }
}

.overflowMenu {
  padding: var(--extra-small-padding) 0;
}

.menuItem {
  @nest &:not(:first-child).firstInGroup {
    @nest &:before {
      content: '';
      display: block;
      border-top: 1px solid var(--hairline-color);
      padding-bottom: var(--extra-small-padding);
      margin-top: var(--extra-small-padding);
    }
  }
}
