@import 'part:@sanity/base/theme/variables-style';

.root {
  -webkit-overflow-scrolling: touch;
  position: relative;
  display: flex;
  justify-content: stretch;
  flex-wrap: nowrap;
  overflow-x: scroll;
  height: 41px;

  @nest &::scrollbar {
    display: none;
  }

  @nest &.fullscreen {
    height: 49px;
  }
}

.inner {
  display: flex;
  position: relative;
}

.showMoreButton {
  position: relative;
  /* border: 1px solid green; */
}
