@import 'part:@sanity/base/theme/variables-style';

.root {
  z-index: 9999;
}

.card {
  background: var(--component-bg);
  color: var(--component-text-color);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 0 0 1px var(--hairline-color), 0 4px 8px color(var(--gray) alpha(30%));

  @nest &:empty {
    display: none;
  }
}
