@import 'part:@sanity/base/theme/variables-style';

.saturation {
  height: 5em;
  margin-bottom: var(--small-padding);
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}

.hue {
  height: 10px;
  margin-bottom: var(--small-padding);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 3px color(var(--gray) a(50%));
}

.alpha {
  height: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: var(--small-padding);
  box-shadow: 0 0 3px color(var(--gray) a(50%));
}

.controls {
  display: flex;
  justify-content: space-between;
  font-size: 0.7em;
  align-items: stretch;
}

.color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.preview {
  flex-grow: 1;
  min-width: 4em;
  position: relative;
  border-radius: var(--border-radius-large);
  overflow: hidden;
  box-shadow: 0 0 3px color(var(--gray) a(50%));
}

.fields {
  display: flex;
  margin-left: 1rem;

  @nest & button:last-child {
    margin-left: var(--small-padding);
  }
}

.readOnly {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 6rem;
  background-color: var(--component-bg);
  font-size: 1rem;
  z-index: 2;
  position: relative;
  width: 100%;
  padding: var(--small-padding);

  @nest & h3 {
    padding: 0;
    margin: 0;
  }

  @nest & p {
    padding: 0;
    margin: 0;
    font-size: var(--font-size-small);
    color: var(--text-color-secondary);
  }
}
