.fields {
  display: flex;
  width: 200px;
}

.single {
  flex: 1;
  padding-right: 0.5em;
}

.alpha {
  flex: 1;
}

.double {
  flex: 2;
  padding-right: 0.5em;
}

.disableAlpha {
  @nest .alpha {
    display: none;
  }
}
