@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: stretch;
  flex-wrap: nowrap;
  padding-bottom: var(--small-padding);
  font-size: var(--font-size-small);

  @nest &.fullscreen {
    position: fixed;
    box-sizing: border-box;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: var(--small-padding);
    background-color: var(--component-bg);
    box-shadow: 0 0 8px color(var(--component-border-color) a(35%));

    @media (--screen-medium) {
      padding: var(--small-padding);
      font-size: var(--font-size-base);
    }
  }
}

.primary {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  @nest &::scrollbar {
    display: none;
  }

  @media (--screen-medium) {
    overflow: hidden;
  }
}

.secondary::before {
  position: absolute;
  content: '';
  right: 100%;
  top: 0;
  height: 100%;
  width: 1em;
  z-index: 2;
  background: radial-gradient(var(--component-border-color), color(var(--component-border-color) a(0%)) 70%);
  background-position: 0.5em 0;
  background-repeat: no-repeat;
  border-right: 1px solid color(var(--component-border-color) a(5%));

  @media (--screen-medium) {
    display: none;
  }
}

.primaryInner {
  display: flex;
  position: relative;
  padding-right: 1em;

  @media (--screen-medium) {
    padding-right: 0;
  }
}

.primaryInner::after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  height: 100%;
  width: 2em;
  z-index: 3;
  background: linear-gradient(90deg, color(var(--component-bg) a(0%) 0%), var(--component-bg) 40%);
  background-position: 0.5em 0;
  background-repeat: no-repeat;

  @media (--screen-medium) {
    display: none;
  }
}

.primaryInnerCollapsed {
  composes: primaryInner;
  display: none;
}

.primaryInnerCollapsedOpen {
  composes: shadow-12dp from 'part:@sanity/base/theme/shadows-style';
  composes: primaryInner;
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 10;
}

.secondary {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: center;
}

.group {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.group:not(:empty) + .group {
  border-left: 1px solid #eee;
  padding-left: calc(var(--small-padding--em) / 2);
  margin-left: calc(var(--small-padding--em) / 2);
}

.fullscreenButtonContainer {
  margin-left: auto;
  width: 2.5em;
  height: 100%;

  @nest & svg {
    transform: scale(1.5);
  }
}

.showMoreButton {
  border: 1px solid green;
  position: relative;
}
