@import 'part:@sanity/base/theme/variables-style';

.root {
  text-transform: none;
  font-family: var(--block-editor-header-font-family);
}

.h1 {
  composes: root;
  composes: heading1 from 'part:@sanity/base/theme/typography/headings-style';
}

.h2 {
  composes: root;
  composes: heading2 from 'part:@sanity/base/theme/typography/headings-style';
}

.h3 {
  composes: root;
  composes: heading3 from 'part:@sanity/base/theme/typography/headings-style';
}

.h4 {
  composes: root;
  composes: heading4 from 'part:@sanity/base/theme/typography/headings-style';
}

.h5 {
  composes: root;
  composes: heading5 from 'part:@sanity/base/theme/typography/headings-style';
}

.h6 {
  composes: root;
  composes: heading6 from 'part:@sanity/base/theme/typography/headings-style';
}
