@import 'part:@sanity/base/theme/variables-style';

.target {
  display: flex;
  align-items: center;
  color: var(--default-button-color);
  white-space: nowrap;
  align-self: center;
  border-radius: var(--button-border-radius);
  padding: var(--small-padding);
}

.targetValue {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);

  /* Optical alignment */
  padding: 0 0 1px;
}

.targetIcon {
  margin-left: var(--extra-small-padding);

  @nest & svg {
    display: block;
    font-size: 17px;
    margin: 0;

    &[data-sanity-icon='true'] {
      font-size: 21px;
      margin: -2px;
    }
  }
}

.root {
  background-color: #fe0;
  color: var(--text-color);
  composes: shadow-6dp from 'part:@sanity/base/theme/shadows-style';
  user-select: none;
  text-align: left;
  overflow: auto;
  overflow-x: hidden;
}

.list {
  composes: resetList from 'part:@sanity/base/theme/layout/helpers';
}

.functions {
  padding: 0.5em;
  text-align: center;
}

.selectedNumFilter {
  color: var(--state-danger-color);
  font-weight: bold;
}

.item {
  padding: 0.5em;
  composes: resetListItem from 'part:@sanity/base/theme/layout/helpers';
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  white-space: nowrap;
}
