@import 'part:@sanity/base/theme/variables-style';

.root {
  display: inline-block;
  position: relative;
  user-select: none;
  cursor: default;
  list-style: none;
  flex-basis: 5em;
  margin-right: var(--small-padding);
  margin-bottom: var(--small-padding);
}
