@import 'part:@sanity/base/theme/variables-style';

.root {
  display: grid;
  margin: 0;
  padding: var(--small-padding);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--small-padding);
}
