.root {
  display: block;
}

.item {
  margin-left: 2rem;

  @nest & input {
    background-color: transparent;
    border: none;

    @nest &:focus {
      background-color: #fff;
    }
  }

}

.inputLabel {
  display: none;
}
