@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  position: relative;
  z-index: 1;
}

.list {
  /*
  margin-top: calc(var(--medium-padding) * -1);
  margin-left: calc(var(--medium-padding) * -1);
  margin-right: calc(var(--medium-padding) * -1);
  */
}

.list + .functions {
  padding-top: var(--medium-padding);
}

.popupAnchor {
  position: absolute;
  top: 75%;
  left: 2em;
}

.movingItem {
  composes: movingItem from 'part:@sanity/base/theme/layout/helpers';
}

.item {
  composes: listItemStates from 'part:@sanity/base/theme/layout/backgrounds-style';
  border-bottom: 1px solid #ddd;

  @nest &.media {
    height: 15em;
    width: 15em;
  }
}

.popupAnchorRelative {
  margin-left: calc(var(--medium-padding) * -1);
  margin-right: calc(var(--medium-padding) * -1);

  /* Hack for the draghandle */
  @nest &.sortable {
    margin-left: calc(var(--medium-padding) * -1 - 2.5rem);
  }
}

.warning {
  composes: root from 'part:@sanity/components/fieldsets/default-style';
  padding: var(--medium-padding);
  border: 5px dashed var(--state-warning-color);

  @nest & > h3 {
    color: var(--state-warning-color);
  }
}
