@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.grid {
  composes: root;
  padding: 2px;
  width: 10em;

  @nest & .functions {
    position: absolute;
    top: 0.1em;
    right: 0;
    z-index: 1;
  }
}

.editRoot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  border: 2px solid red;
}

.preview {
  flex-grow: 1;
  outline: none;
}

.functions {
  flex-grow: 0;
  font-size: 0.9rem;
}
