@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.expanded {
  position: relative;
  background-color: white;
  outline: 1px #aaa solid;
  z-index: 3;
  @media (--max-large) {
    position: fixed;
    top: 0;
    padding-top: 0.2em;
    padding-right: 0.2em;
    height: 3em;
    left: 0;
    right: 0;
  }
}

.expandedInner {
  composes: inner;
}

.expandedPreview {
  width: 100%;
}

.gridItem {
  position: inherit;

  @nest & .functions {
    position: absolute;
    top: 0.1em;
    right: 0;
    z-index: 1;
  }
}

.editRoot {
  /*
    This is where the popover sticks to
  */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
}

.editRootFold {
  position: relative;
  width: calc(100% + var(--medium-padding) * 2);
  margin-left: calc(var(--medium-padding) * -1);
}

.dragHandle {
  composes: default from 'part:@sanity/components/drag-handle-style';
}

.closeButton {
  composes: dragHandle;
  border: 0;
  display: inline-block;
  cursor: pointer;
  outline: none;
  @nest &:hover {
    color: var(--black);
  }
  @nest & .arrow {
    display: none;
    @media (--max-large ){
      display: inline;
    }
  }
  @nest & .x {
    display: inline;
    @media (--max-large) {
      display: none;
    }
  }
}

.linkToReference {
  z-index: 2;
  color: var(--text-color);
  transition: transform 0.1s linear, opacity 0.1s linear;
  opacity: 0.6;
  transform: scale(1.2);

  @nest &:hover {
    opacity: 1;
    color: var(--link-color);

    @nest & svg {
      color: var(--link-color);
    }
  }

  @nest &:active {
    opacity: 1;
    color: var(--text-color);

    @nest & svg {
      color: var(--text-color);
    }
  }

  @nest & svg {
    color: var(--text-color);
  }
}

.preview {
  flex-grow: 1;
  outline: none;
  user-select: none;
}

.functions {
  flex-grow: 0;
  font-size: 0.9rem;
}
