@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.grid {
  composes: root;

  @nest & .functions {
    position: absolute;
    top: 0.1em;
    right: 0;
    z-index: 1;
  }
}

.preview {
  flex-grow: 1;
  outline: none;
}

.functions {
  flex-grow: 0;
  font-size: 0.9rem;
}
