@import 'part:@sanity/base/theme/variables-style';

.root {
  overflow: hidden;
}

.functions {
  float: right;

  @nest .media & {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  @nest .default & {
    display: block;
  }
}
