@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.listItem {
  composes: root;
}

.gridItem {
  composes: root;

  @nest & .functions {
    position: absolute;
    top: 0.1em;
    right: 0;
    z-index: 1;
  }
}

.editRoot {
  /*
    This is where the popover sticks to
  */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
}

.editRootFold {
  position: relative;
  width: calc(100% + var(--medium-padding) * 2);
  margin-left: calc(var(--medium-padding) * -1);
}

.dragHandle {
  composes: default from 'part:@sanity/components/drag-handle-style';
}

.linkToReference {
  z-index: 1;
  color: var(--text-color);
  transition: transform 0.1s linear, opacity 0.1s linear;
  opacity: 0.6;
  transform: scale(1.2);

  @nest &:hover {
    opacity: 1;
    color: var(--link-color);

    @nest & svg {
      color: var(--link-color);
    }
  }

  @nest &:active {
    opacity: 1;
    color: var(--text-color);

    @nest & svg {
      color: var(--text-color);
    }
  }

  @nest & svg {
    color: var(--text-color);
  }
}

.previewWrapper {
  flex-grow: 1;
  outline: none;
  user-select: none;
  min-width: 0;

  @nest &:focus {
    box-shadow: var(--input-box-shadow--focus);
  }
}

.previewWrapperHelper {
  outline: none;
}

.functions {
  display: flex;
  align-items: center;
  flex-grow: 0;
  font-size: 0.9rem;
}

.defaultDialogContent {
  padding: var(--medium-padding);
  min-width: 10rem;

  @media (--screen-medium) {
    min-width: 30rem;
  }
}
