@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.grid {
  composes: root;
  padding: 2px;
  width: 10em;
  @nest & .functions {
    position: absolute;
    top: 0.1em;
    right: 0;
    z-index: 1;
  }
}

.preview {
  flex-grow: 1;
}

.dragHandle {
  flex-grow: 0;
  cursor: ns-resize;
  opacity: 0.5;
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid transparent;
  z-index: 1;
  &:hover {
    opacity: 1;
  }
}

.functions {
  flex-grow: 0;
}
