@import 'part:@sanity/base/theme/variables-style';

.root {
  /*  */
}

.annotation {
  border-radius: var(--border-radius-small);
}

.imageDiff {
  @nest &[data-diff-layout='double'] {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
}

.nestedFields {
  margin-top: var(--medium-padding);

  @nest & .field {
    margin-bottom: var(--medium-padding);
  }

  @nest & .title {
    flex: 1;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: var(--small-padding);
  }
}
