@import 'part:@sanity/base/theme/variables-style';

.root {
  composes: label from 'part:@sanity/base/theme/typography/forms-style';
  display: block;
}

.level_1 {
  composes: headingLevel_1 from 'part:@sanity/base/theme/typography/forms-style';
}

.level_2 {
  composes: headingLevel_2 from 'part:@sanity/base/theme/typography/forms-style';
}

.level_3 {
  composes: headingLevel_3 from 'part:@sanity/base/theme/typography/forms-style';
}

.level_4 {
  composes: headingLevel_4 from 'part:@sanity/base/theme/typography/forms-style';
}
