@import 'part:@sanity/base/theme/variables-style';

.root {
  background: var(--body-bg);
  min-height: 100%;
}

.inner {
  max-width: 100rem;
  margin: 0 auto;
  padding: var(--large-padding) var(--medium-padding);
  box-sizing: border-box;
}
