@import 'part:@sanity/base/theme/variables-style';

@custom-media --grid-small-min (min-width: 520px);
@custom-media --grid-medium-min (min-width: 820px);

.root {
  display: grid;
  grid-gap: var(--medium-padding);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;

  @nest & > div {
    overflow: hidden;
  }

  @nest & > div[data-width="medium"] {
    @media (--grid-small-min) {
      grid-column: span 2;
    }
  }

  @nest & > div[data-width="large"] {
    @media (--grid-small-min) {
      grid-column: span 2;
    }

    @media (--grid-medium-min) {
      grid-column: span 3;
    }
  }

  @nest & > div[data-width="full"] {
    @media (--grid-small-min) {
      grid-column: 1 / -1;
    }
  }

  @nest & > div[data-height="medium"] {
    @media (--grid-small-min) {
      grid-row: span 2;
    }
  }

  @nest & > div[data-height="large"] {
    @media (--grid-small-min) {
      grid-row: span 2;
    }

    @media (--grid-medium-min) {
      grid-row: span 3;
    }
  }

  @nest & > div[data-height="full"] {
    @media (--grid-small-min) {
      grid-row: 1 / -1;
    }
  }
}
