@import 'part:@sanity/base/theme/variables-style';

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 3;
}

.dragStatus {
  composes: overlay;
}

.dragStatusInner {
  text-align: center;
}

.pasteInput {
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 gray;
  text-align: center;
  composes: overlay;
  width: 100%;
  padding: var(--medium-padding);
  border-radius: var(--border-radius-base);
  border: 1px solid var(--input-border-color-focus);
  box-shadow: var(--fieldset-box-shadow--focus);
}

.pasteInput * {
  display: none;
}
