@import 'part:@sanity/base/theme/variables-style';

.root {
  background-color: var(--component-bg);
  color: var(--text-color);
  composes: shadow-6dp from 'part:@sanity/base/theme/shadows-style';
  border-radius: var(--border-radius-medium);
  z-index: var(--zindex-dropdown);
  padding: var(--extra-small-padding) 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 230px;
  overflow-x: auto;

  @nest & .empty {
    padding: var(--small-padding) var(--medium-padding);
    color: var(--gray-dark);
    text-align: center;
    font-style: italic;
    font-size: var(--font-size-small);
  }
}
