@import 'part:@sanity/base/theme/variables-style';

.root {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  width: 100%;
  outline: none;
  padding: 1em;
  box-sizing: border-box;
  position: relative;
  text-align: center;

  @media (--screen-medium) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.projectName {
  display: block;
  color: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  line-height: calc(17 / 16);
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;

  @media (--screen-medium) {
    width: unset;
    max-width: 12em;
  }
}

.brandLogoContainer {
  display: block;
  cursor: pointer;
  color: inherit;

  @nest & svg {
    display: block;
    fill: currentColor;
    height: 1em;
    width: auto;
  }
}
