@import 'part:@sanity/base/theme/variables-style';

.headingLevel_0 {
  font-size: var(--font-size-h3);
  font-weight: 400;
  color: var(--black);
}

.headingLevel_1 {
  font-size: var(--font-size-h4);
  font-weight: 100;
  color: var(--black);
}

.headingLevel_2 {
  font-size: var(--font-size-base);
  color: var(--black);
}

.headingLevel_3 {
  font-size: var(--font-size-base);
  color: var(--black);
}

.headingLevel_4 {
  font-size: var(--font-size-base);
  color: var(--black);
}

.label {
  font-size: var(--font-size-base);
  color: var(--black);
  font-weight: 500;
}
