@import 'part:@sanity/base/theme/variables-style';

.root {
  max-width: 640px;
  flex-grow: 1;
  margin: 0 auto;
  padding: var(--large-padding) var(--medium-padding) var(--extra-large-padding);
}

.typeMisMatchMessage {
  padding: 10em 3em;
}
