@import 'part:@sanity/base/theme/variables-style';

.container {
  composes: container from 'part:@sanity/dashboard/widget-styles';
}

.title {
  composes: title from 'part:@sanity/dashboard/widget-styles';
}

.list {
  composes: listContainer from 'part:@sanity/dashboard/widget-styles';
}

.item {
  padding: var(--small-padding) var(--medium-padding);
}

.avatar {
  box-sizing: border-box;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--preview-placeholder-color);

  @nest &:not([src]) {
    border: 1px solid var(--list-border-color);
  }
}

.buttonContainer {
  composes: bottomButtonContainer from 'part:@sanity/dashboard/widget-styles';
}
