@import 'part:@sanity/base/theme/variables-style';

.root {
  overflow: hidden;
  height: 100%;
  display: grid;
  grid-template-areas: 'image' 'meta';
  grid-template-rows: 1fr auto;
}

.imageWrapper {
  max-height: 190px;
  position: relative;
  display: flex;
  flex: 1;
  overflow: hidden;

  /* "Border as padding" to fix absolutely positioned crop */
  border: 0px solid transparent;
  border-width: var(--small-padding) var(--small-padding) 0;

  @nest & .image {
    background-color: color(var(--gray-lightest) alpha(50%));
    background-image: linear-gradient(45deg, var(--checkerboard-color) 25%, transparent 25%),
      linear-gradient(-45deg, var(--checkerboard-color) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--checkerboard-color) 75%),
      linear-gradient(-45deg, transparent 75%, var(--checkerboard-color) 75%);
    background-size: 16px 16px;
    background-position: 0 0, 0 8px, 8px -8px, -8px 0;
    object-fit: contain;
    width: 100%;

    @nest &[data-action='removed'] {
      opacity: 0.5;
    }
  }
}

.hotspotCrop {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.imageWrapperChanged {
  composes: imageWrapper;
  opacity: 0.45;
}

.crop,
.hotspot {
  position: absolute;
  border: 1px solid transparent;
}

.strikethrough {
  text-decoration: line-through;
}
