.root {
  white-space: nowrap;

  @nest & > div {
    display: inline-block;
    vertical-align: top;
  }

  @nest &[data-size='small'] > div + div {
    margin-left: -4px;
  }

  @nest &[data-size='medium'] > div + div {
    margin-left: -8px;
  }

  @nest &[data-size='large'] > div + div {
    margin-left: -12px;
  }
}
