@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700&subset=latin,latin-ext);
@use postcss-cssnext;
@use postcss-nested;

:root {
  --brand-color: #c00;
  --selected-color: blue;
  --header-height: 3rem;
}



@custom-media --screen-medium (width >= 32em);
@custom-media --screen-default (width >= 40em);
@custom-media --screen-large (width >= 60em);
@custom-media --screen-xlarge (width >= 100em);



.defaultLayout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  overflow: hidden;
  max-height: 100vh;
  padding: .5rem;
}


.top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*justify-content: space-between;*/
  flex-basis: var(--header-height);
  min-height: var(--header-height);
  border-bottom: 1px solid #ccc;
  order: 1;
}

.toolContainer {
  display: flex;
  flex-direction: row;
  order: 2;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.logoContainer {
  svg {
    height: calc(var(--header-height) - 1.5rem);
    padding-top: .75rem;
    padding-left: .5rem;
    width: auto;
  }
}

body {
  max-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Neue Haas Grotesk", "Helvetica Neue", helvetica, sans-serif;
}
