@import 'all:style:@sanity/base/theme';

@use postcss-cssnext;

.defaultLayout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  padding: .5rem;
}

.top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*justify-content: space-between;*/
  flex-basis: var(--header-height);
  min-height: var(--header-height);
  border-bottom: 1px solid #ccc;
  order: 1;
}

.toolContainer {
  display: flex;
  flex-direction: row;
  order: 2;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  flex-grow: 2;
}

.logoContainer {
  & svg {
    height: calc(var(--header-height) - 1.5rem);
    padding-top: .75rem;
    padding-left: .5rem;
    width: auto;
  }
}

body {
  max-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Neue Haas Grotesk", "Helvetica Neue", helvetica, sans-serif;
}
