.header {
  border-bottom: 1px solid #ccc;
  line-height: 3rem;
  height: 3rem;
  overflow: hidden;
}

.brand {
  float: left;
  margin: 0px;
}

.logoContainer {
  margin: 0;
  padding: 0;
  opacity: 1;
}

.logoContainer svg {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 1.5rem;
  width: auto;

}
