.toolSwitcher {
  border-right: 1px solid #ccc;
  padding: 0;
  margin: 0;
  width: 4em;
  position: relative;
}


.toolList {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;

}

.item {
  text-align: center;
  color: #999;
  margin: 0;
  padding: 1rem 0;
}

.iconContainer {
  height: 2em;
  width: 2em;
  margin: 0 auto;
}
.iconContainer img {
  width: 100%;
}


.toolName {

}


.activeItem {
  composes: item;
  color: #0d0d0d;
}

.toolLink {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 0.8rem;
}
