.root {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.list {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: none;
}

.item {
  display: block;
  list-style-type: none;
}
