@use postcss-cssnext;

.root {
  display: block;
}

.inner {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.isScrollable {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 70vh;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-content: flex-start;
  justify-content: flex-start;
}

.item {
  display: flex;
  list-style: none;
  flex-grow: 1;
  flex-basis: 7em;
  margin: 0.25em;
  min-height: 6em;
}
