@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  border-radius: var(--border-radius-small);

  @nest &[data-hover] {
    @nest &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }

    @nest &:hover {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      @nest &::after {
        bottom: -3px;
        border-top: 1px solid var(--component-bg);
        border-bottom: 2px solid currentColor;
        border-bottom-left-radius: var(--border-radius-small);
        border-bottom-right-radius: var(--border-radius-small);
      }
    }

    @nest [data-from-to-layout]:hover & {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      @nest &::after {
        bottom: -3px;
        border-top: 1px solid var(--component-bg);
        border-bottom: 2px solid currentColor;
        border-bottom-left-radius: var(--border-radius-small);
        border-bottom-right-radius: var(--border-radius-small);
      }
    }
  }
}

ins.root {
  text-decoration: none;
}
