@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
}

.icon {
  color: var(--state-danger-color);

  @nest & svg {
    font-size: calc(17 / 16 * 1em);

    @nest &[data-sanity-icon='true'] {
      font-size: calc(25 / 16 * 1em);
      margin: -4px;
    }
  }
}

.message {
  padding-left: var(--small-padding);
}
