@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  align-items: center;
  @nest &[data-layout='inline'] {
  }

  @nest &[data-layout='grid'] {
    /* display: grid;
    grid-template-columns: 1fr auto 1fr; */
  }
}

.from,
.to {
  @nest .root[data-layout='grid'] & {
    flex: 1;
    min-width: 0;
  }
}

.arrow {
  display: flex;
  padding: 0 var(--extra-small-padding);
  align-items: center;
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  color: var(--text-muted);
}
