@import 'part:@sanity/base/theme/variables-style';

:root {
  --from-to-arrow-width: 25px;
}

.root {
  @nest &[data-from-to-layout='inline'] {
    display: inline-flex;
    max-width: 100%;
  }

  @nest &[data-from-to-layout='grid'] {
    display: grid;
    grid-template-columns: minmax(0, 1fr) var(--from-to-arrow-width) minmax(0, 1fr);
  }
}

.column {
  @nest [data-from-to-layout='inline'] & {
    min-width: 0;
    flex-shrink: 1;
    flex-basis: 1;
  }
}

.arrow {
  padding: calc(var(--extra-small-padding) + 2px) var(--extra-small-padding);
}

.column,
.arrow {
  display: flex;

  @nest & > * {
    min-width: 0;
    min-height: 0;
  }

  @nest .root[data-from-to-align='top'] > & {
    align-items: flex-start;
  }

  @nest .root[data-from-to-align='center'] > & {
    align-items: center;
  }

  @nest .root[data-from-to-align='bottom'] > & {
    align-items: flex-end;
  }
}
