@import 'part:@sanity/base/theme/variables-style';

.groupChange {
}

.content {
  position: relative;
  padding: var(--small-padding) 0 0 var(--small-padding);

  @nest &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 1px solid var(--hairline-color);
  }
}

.changeList {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 2em;
}

.contentOutlined {
  composes: content;

  @nest &::before {
    border-left: 2px solid var(--state-danger-color);
  }
}

.changeHeader {
  display: flex;
  padding: 0 0 var(--extra-small-padding);
  margin-left: -1px;
}

.revertChangesButtonContainer {
  margin-left: calc(0 - var(--extra-small-padding) - 2px);
  margin-top: var(--small-padding);
}

.portableText {
}
