@import 'part:@sanity/base/theme/variables-style';

.root {
  -webkit-font-smoothing: inherit;
  appearance: none;
  margin: 0;
  padding: var(--extra-small-padding);
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
  border-radius: var(--border-radius-large);
  display: flex;
  align-items: center;
  color: var(--text-muted);
  outline: none;

  @media (hover: hover) {
    @nest &:hover {
      color: var(--state-danger-color);
    }
  }

  @nest &:focus-visible {
    box-shadow: inset 0 0 0 2px var(--component-bg), inset 0 0 0 4px var(--focus-color);
  }

  @nest &.selected {
    color: var(--state-danger-color);
  }
}

.iconContainer {
  display: block;

  @nest & > svg {
    display: block;
    font-size: 19px;
  }
}

.text {
  display: block;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  margin: -2px 0 -1px;
  padding-right: 3px;

  @nest .iconContainer + & {
    margin-left: var(--extra-small-padding);
  }

  @media (hover: hover) {
    display: none;

    @nest .root:hover & {
      display: block;
    }

    @nest .root.selected & {
      display: block;
    }
  }
}
