@import 'part:@sanity/base/theme/variables-style';

.root {
  background: color(var(--state-danger-color) alpha(10%));
  padding: var(--small-padding);
  border-radius: var(--border-radius-small);
  display: flex;
}

.icon {
  color: var(--state-danger-color);

  @nest & svg {
    display: block;
    font-size: calc(17 / 16 * 1em);

    @nest &[data-sanity-icon='true'] {
      font-size: calc(25 / 16 * 1em);
      margin: -4px;
    }
  }
}

.message {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  padding-left: var(--small-padding);
  margin-top: 1px;
}
