@import 'part:@sanity/base/theme/variables-style';

.root {
  composes: container from "part:@sanity/dashboard/widget-styles";
}

.header {
  composes: header from "part:@sanity/dashboard/widget-styles";
}

.title {
  composes: title from "part:@sanity/dashboard/widget-styles";
}

.grid {
  list-style: none;
  margin: 0;
  padding: 0 var(--small-padding) var(--small-padding);
  display: grid;
  grid-gap: var(--small-padding);
  overflow-x: auto;
  grid-template-columns: repeat(5, minmax(200px, 300px));
  height: 15rem;

  @nest & li {
    display: flex;
    align-items: stretch;

    @nest & > * {
      flex: 1;
    }
  }
}
