@import 'part:@sanity/base/theme/variables-style';

.root {
  background-color: var(--component-bg);
  border-radius: var(--border-radius-base);
}

.header {
  composes: header from 'part:@sanity/dashboard/widget-styles';
}

.title {
  composes: title from 'part:@sanity/dashboard/widget-styles';
}

.grid {
  list-style: none;
  margin: 0;
  padding: 0 0 var(--small-padding);
  display: flex;
  overflow-x: auto;

  @nest & li {
    flex: 0 0 27.5%;
    width: 30%;
    min-width: 272px;
    display: flex;
    align-items: stretch;
    padding-left: var(--small-padding);

    @nest & > * {
      flex: 1;
    }

    @nest &:last-child {
      padding-right: var(--small-padding);
    }
  }
}
