@import 'part:@sanity/base/theme/variables-style';

.root {
  background-color: var(--component-bg);
  border-radius: var(--border-radius-base);
}

.header {
  composes: header from "part:@sanity/dashboard/widget-styles";
}

.title {
  composes: title from "part:@sanity/dashboard/widget-styles";
}

.grid {
  list-style: none;
  margin: 0;
  padding: 0 var(--small-padding) var(--small-padding);
  display: grid;
  overflow-x: auto;
  grid-template-columns: repeat(5, minmax(200px, 350px));

  @nest & li {
    display: flex;
    align-items: stretch;

    @nest & > * {
      flex: 1;
    }
  }
}
