@import 'part:@sanity/base/theme/variables-style';

.root {
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: var(--small-padding);
  border-radius: 2px;

  @nest li:first-child & {
    background-color: var(--main-navigation-color);
    color: var(--main-navigation-color--inverted);

    @nest &:hover {
      background: var(--selected-item-color);
      color: var(--selected-item-color--inverted);
    }

    @nest &:active {
      background: var(--selected-item-color-hover);
      color: var(--selected-item-color-hover--inverted);
    }
  }
}

.byLine {
  margin-top: auto;
}

.presenterName {
  font-size: var(--font-size-small);
  line-height: calc(18 / 14);
  font-weight: 500;
  margin-top: 0.25em;
  white-space: nowrap;
}

.presenterSubtitle {
  font-size: var(--font-size-xsmall);
  line-height: calc(16 / 12);
  opacity: 0.7;
  text-transform: capitalize;
}

.presenterAvatar {
  height: 2.5em;
  margin-right: var(--small-padding);
  border-radius: 50%;
}

.title {
  font-size: inherit;
  line-height: calc(22 / 16);
  margin: 0;
  padding: 0;
  margin-bottom: var(--small-padding);
}

.posterContainer {
  width: 100%;
  padding-bottom: calc(9 / 16 * 100%);
  position: relative;
  background-color: var(--preview-placeholder-color);
  margin-bottom: var(--small-padding);
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;

  @nest &:not([src]) {
    display: none;
  }
}

.playIcon {
  position: absolute;
  top: calc(50% - 1.375em);
  left: calc(50% - 1.375em);
  background: color(var(--component-bg) alpha(90%));
  width: 2.75em;
  height: 2.75em;
  border-radius: 50%;

  @nest & > span {
    position: absolute;
    left: 1em;
    top: calc(50% - 10px);
    border-left: 15px solid #000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    display: block;
  }

  @nest .root:hover & {
    background: var(--component-bg);
  }
}
