@import 'part:@sanity/base/theme/variables-style';

:root {
  --default-item-selected-color: var(--brand-primary);
  --default-item-active-color: var(--brand-primary);
}

.root {
  flex: 1;
  min-height: 0;
  height: 100%;
}

.layout__default {
  composes: root;
}

.layout__detail {
  composes: root;
}

.layout__card {
  composes: root;
}

.layout__media {
  composes: root;
}

.loading {
  padding: var(--medium-padding);
  text-align: center;
  color: var(--gray);
}

.empty {
  display: block;
  height: 100%;
  text-align: center;
  position: relative;

  @nest & > div {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
  }

  @nest & h3 {
    padding: var(--medium-padding);
    font-size: var(--font-size-large);
    opacity: 0.8;
    font-weight: 400;
  }
}

.link {
  display: block;
  color: inherit;
  text-decoration: inherit;
  outline: none;
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  height: 100%;
}

.item {
  composes: resetListItem from 'part:@sanity/base/theme/layout/helpers';
  height: 100%;
  box-sizing: border-box;

  @nest .layout__default & {
    padding: var(--small-padding) var(--medium-padding);
  }

  @nest .layout__detail & {
    padding: var(--small-padding) var(--medium-padding);
  }

  @nest & > span {
    display: block;
  }
}

.selectedItem {
  composes: item;
  composes: selected from 'part:@sanity/base/theme/layout/selectable-style';
}

.itemStatus {
  z-index: 2;
  position: relative;
  opacity: 0.7;
  transition: opacity 0.15s linear;

  @nest &:hover {
    opacity: 1;
  }

  @nest .selectedItem & {
    color: var(--selected-item-color--inverted);
  }
}

.templateMenuContainer {
  position: absolute;
  right: 0;
  bottom: 0;

  @nest & > div {
    position: absolute;
    right: var(--extra-large-padding);
  }
}
