@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  position: relative;

  @media (--max-screen-medium) {
    /* hack to make the spinner place at center */
    min-height: calc(100vh - 12rem);
  }
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
