@import 'part:@sanity/base/theme/variables-style';

.editor {
  padding: var(--medium-padding);
  padding-bottom: calc(var(--medium-padding) * 3);

  @media (--screen-medium) {
    padding: var(--extra-large-padding) var(--medium-padding);
    padding-bottom: calc(var(--large-padding) * 3);
  }
}
