@import "part:@sanity/base/theme/variables-style";

.modal {
  display: block;
}

.content {
  columns: 3;
}

.list {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.listItem {
  display: block;
}

.actionLink {
  text-decoration: none;
  color: inherit;
  display: block;

  @nest &:hover {
    color: var(--brand-primary);
  }
}
