@import 'part:@sanity/base/theme/variables-style';

:global(body) {
  font-family: var(--font-family-sans-serif);
  background-color: var(--body-bg);
  overflow-x: hidden;

  @media (--screen-medium) {
    max-height: 100%;
    overflow: hidden;
  }
}
