@import 'style:@sanity/base/theme/variables';
@import './reset.css';
@import './body.css';
@use postcss-cssnext;

.defaultLayout {
  padding: var(--small-padding);
  @media (--screen-medium) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
  }
}

.top {
  @media (--screen-medium) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: var(--header-height);
    min-height: var(--header-height);
    border-bottom: 1px solid #ccc;
    order: 1;
  }
}

.toolContainer {
  @media (--screen-medium) {
    display: flex;
    flex-direction: row;
    order: 2;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    flex-grow: 2;
  }
}

.logoContainer {
  & svg {
    height: calc(var(--header-height) - 1.5rem);
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    width: auto;
  }
}
