@import 'style:@sanity/base/theme/variables';
@use postcss-cssnext;

.loginStatus {
  display: block;
}

.userImage {
  height: calc(var(--header-height) - var(--medium-padding));
  width: calc(var(--header-height) - var(--medium-padding));
  border-radius: 50%;
  background-color: #ccc;

  @media (--screen-medium) {
    height: calc(var(--header-height) - var(--medium-padding));
    width: calc(var(--header-height) - var(--medium-padding));
    border-radius: 50%;
    background-color: #ccc;
  }
}
