@import 'style:@sanity/base/theme/variables';
@use postcss-cssnext;

.toolSwitcher {
  margin-left: var(--medium-padding);
  position: relative;
}

.toolList {
  display: block;
}

.item {
  display: inline-block;
  position: relative;
  text-align: center;
  color: var(--selectable-item-color);
  padding: 1rem var(--medium-padding);
  transition: border 0.1s linear;
  box-sizing: border-box;

  @media (--screen-medium) {
    height: 3rem;
    line-height: 1rem;
    float: left;
  }

  &:hover {
    color: var(--selectable-item-color-hover);

    @media (--screen-medium) {
      /* border-bottom: 1px solid var(--selectable-item-color-hover); */
    }

  }
}

.activeItem {
  composes: item;
  color: var(--selected-item-color);
  border-color: var(--selected-item-color);

}

.iconContainer {
  display: none;
}

.iconContainer img {
  width: 100%;
}

.toolName {
  display: block;
}

.toolLink {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--font-size-small);
  line-height: 1rem;

}
