@import 'part:@sanity/base/theme/variables-style';

.root {
  composes: root from 'part:@sanity/components/dialogs/default-style';
}

.inner {
  composes: inner from 'part:@sanity/components/dialogs/default-style';
  overflow: hidden;
  height: 100%;
}

.content {
  padding: var(--medium-padding);

  @nest & > :first-child {
    margin-top: 0;
  }

  @nest & > :last-child {
    margin-bottom: 0;
  }
}

.footer {
  padding: var(--medium-padding);
  text-align: right;
}
