@import "part:@sanity/base/theme/variables-style";

.root {
  composes: root from 'part:@sanity/components/dialogs/default-style';
}

.inner {
  composes: inner from 'part:@sanity/components/dialogs/default-style';
  overflow: hidden;
  height: 100%;
}

.content {
  font-size: 1.5rem;
  padding: var(--large-padding);
  clear: both;
}

.footer {
  padding: var(--medium-padding);
  text-align: right;
}
