@import "part:@sanity/base/theme/variables-style";

@keyframes reveal {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:root {
  --dialog-padding: var(--medium-padding);
  --dialog-border-radius: var(--border-radius-large);
  --dialog-header-height: 3rem;
  --dialog-functions-height: calc(2em + (var(--medium-padding) * 2));
  --dialog-max-height: calc(100vh - 200px);
}

.root {
  composes: flexCenter from 'part:@sanity/base/theme/layout/positioning-style';
  composes: frosted from "part:@sanity/base/theme/layout/backgrounds-style";
  position: fixed;
  z-index: var(--zindex-portal);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-iteration-count: once;
  color: var(--text-color);
}

.default {
  composes: root;
}

.danger {
  composes: root;
}

.success {
  composes: root;
}

.info {
  composes: root;
}

.warning {
  composes: root;
}

.dialog {
  display: flex;
  position: relative;
  composes: shadow-24dp from "part:@sanity/base/theme/shadows-style";
  border: 0;
  border-radius: var(--dialog-border-radius);
  padding: 0;
  animation-name: reveal;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-iteration-count: once;
  transform-origin: center;
  box-sizing: border-box;
  transition: all 0.3s linear;
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 8rem);

  @media (--screen-medium) {
    width: auto;
    height: auto;
  }
}

.isClosed {
  display: none;
}

.isOpen {
  display: flex;
}

.header {
  height: var(--dialog-header-height);
  min-height: var(--dialog-header-height);
  line-height: var(--dialog-header-height);
  background-color: var(--dialog-header-background-color);
  color: var(--dialog-header-text-color);
  border-radius: var(--dialog-border-radius) var(--dialog-border-radius) 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @nest .danger & {
    background-color: var(--state-danger-color);
    color: var(--state-danger-color--text);
  }

  @nest .success & {
    background-color: var(--state-success-color);
    color: var(--state-success-color--text);
  }

  @nest .warning & {
    background-color: var(--state-warning-color);
    color: var(--state-warning-color--text);
  }

  @nest .warning & {
    background-color: var(--state-warning-color);
    color: var(--state-warning-color--text);
  }
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.content {
  composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
  border-radius: var(--dialog-border-radius) var(--dialog-border-radius) 0 0;
  box-sizing: border-box;
  background-color: var(--body-bg);
 }

.contentWithoutFooter {
  composes: content;
  border-radius: var(--dialog-border-radius);
}

.header + .content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.title {
  line-height: inherit;
  padding: 0 var(--dialog-padding);
  margin: 0;
  font-size: 1em;
  font-weight: 400;

  @media (--screen-medium) {
    margin-right: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.closeButton {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  outline: none;
  background-color: transparent;
  color: inherit;
  border: none;
  position: relative;
  width: 3em;

  @nest & .closeButtonIcon {
    transition: transform 0.1s linear;
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
  }

  @nest &:hover .closeButtonIcon {
    transform: scale(1.2);
  }

  @nest &:active .closeButtonIcon {
    transform: scale(0.8);
  }
}

.closeButtonOutside {
  position: absolute;
  outline: none;
  composes: shadow-5dp from 'part:@sanity/base/theme/shadows-style';
  color: var(--black);
  border-radius: 50%;
  background-color: var(--component-bg);
  font-size: 1rem;
  top: -1rem;
  right: -1rem;
  z-index: 1;
  height: 2rem;
  width: 2rem;
  transition: transform 0.1s linear;
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;

  @nest &:hover .closeButtonIcon {
    transform: scale(1.2);
  }

  @nest &:active .closeButtonIcon {
    transform: scale(0.8);
  }

  @nest & svg {
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.footer {
  flex-basis: 5rem;
  min-height: 5rem;
  font-size: var(--font-size-small);
  box-sizing: border-box;
  padding: var(--medium-padding);
  background-color: var(--body-bg);
  border-radius: 0 0 var(--dialog-border-radius) var(--dialog-border-radius);
  display: flex;
}
