@import 'part:@sanity/base/theme/variables-style';

.root {
  composes: flexCenter from 'part:@sanity/base/theme/layout/positioning-style';
  position: fixed;
  z-index: var(--zindex-portal);
  top: 0;
  left: 0;
  bottom: 0;
  color: var(--text-color);
}

.dialog {
  border: 1px solid black;
  border-radius: var(--dialog-border-radius);
  padding: 0;
}

.content {
  overflow: auto;
  box-sizing: border-box;
  height: 400px;
  background-color: var(--component-bg);
}
