@import 'part:@sanity/base/theme/variables-style';

@keyframes reveal {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:root {
  --dialog-padding: var(--medium-padding);
  --dialog-border-radius: var(--border-radius-large);
  --dialog-header-height: 3.375em;
  --dialog-functions-height: calc(2em + (var(--medium-padding) * 2));
  --dialog-max-height: calc(100vh - 200px);
}

.root {
  composes: flexCenter from 'part:@sanity/base/theme/layout/positioning-style';
  position: fixed;
  z-index: var(--zindex-portal);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
}

.overlay {
  composes: frosted from 'part:@sanity/base/theme/layout/backgrounds-style';
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-iteration-count: once;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.default {
  composes: root;
}

.danger {
  composes: root;
}

.success {
  composes: root;
}

.info {
  composes: root;
}

.warning {
  composes: root;
}

.dialog {
  display: flex;
  position: relative;
  composes: shadow-24dp from 'part:@sanity/base/theme/shadows-style';
  border: 0;
  border-radius: var(--dialog-border-radius);
  padding: 0;
  animation-name: reveal;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-iteration-count: once;
  transform-origin: center;
  box-sizing: border-box;
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 8rem);

  @media (--screen-medium) {
    width: auto;
    height: auto;
  }
}

.isClosed {
  display: none;
}

.isOpen {
  display: flex;
}

.header {
  position: relative;
  background-color: var(--dialog-header-color);
  color: var(--dialog-header-color--inverted);
  border-radius: var(--dialog-border-radius) var(--dialog-border-radius) 0 0;
  padding: var(--medium-padding);
  z-index: 10;
  line-height: 0;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  @nest &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-bottom: 1px solid var(--hairline-color);
    pointer-events: none;
  }

  @nest .danger & {
    background-color: var(--state-danger-color);
    color: var(--state-danger-color--inverted);
  }

  @nest .success & {
    background-color: var(--state-success-color);
    color: var(--state-success-color--inverted);
  }

  @nest .warning & {
    background-color: var(--state-warning-color);
    color: var(--state-warning-color--inverted);
  }

  @nest .warning & {
    background-color: var(--state-warning-color);
    color: var(--state-warning-color--inverted);
  }
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.content {
  composes: scrollY from 'part:@sanity/base/theme/layout/scrolling-style';
  border-radius: var(--dialog-border-radius) var(--dialog-border-radius) 0 0;
  box-sizing: border-box;
  background-color: var(--component-bg);

  @nest & > :first-child {
    margin-top: 2px;
  }

  @nest & > :last-child {
    margin-bottom: 0;
  }
}

.contentWithoutFooter {
  composes: content;
  border-radius: var(--dialog-border-radius);
}

.header + .content {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.title {
  flex: 1;
  min-width: 0;

  @nest & > h1 {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: 700;
    margin: -2px 0 -1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.closeButtonContainer {
  margin-left: var(--medium-padding);
}

.closeButton {
  @nest .header & {
    margin: calc(0 - var(--medium-padding) + var(--small-padding));
  }
}

.floatingCloseButtonContainer {
  composes: shadow-6dp from 'part:@sanity/base/theme/shadows-style';
  position: absolute;
  border: 0;
  top: 0;
  right: 0;
  z-index: 1;
  background: var(--component-bg);
  transform: translate(50%, -50%);
  border-radius: 50%;

  @nest & > button > span {
    border-radius: 50% !important;
  }
}

/* .closeButton {
  appearance: none;
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  outline: none;
  background-color: transparent;
  color: inherit;
  border: none;
  position: relative;
  width: var(--dialog-header-height);
  min-width: var(--dialog-header-height);
  margin: 0;
  padding: 0;

  @nest & .closeButtonIcon {
    transition: transform 0.1s linear;
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
  }

  @nest & .closeButtonIcon > svg {
    font-size: 1.5625em;
    position: absolute;
  }

  @media (hover: hover) {
    opacity: 0.7;

    @nest &:hover {
      opacity: 1;
    }
  }
} */

/* .closeButtonOutside {
  position: absolute;
  outline: none;
  composes: shadow-6dp from 'part:@sanity/base/theme/shadows-style';
  color: var(--black);
  border: none;
  border-radius: 50%;
  background-color: var(--component-bg);
  font-size: 1rem;
  top: -1rem;
  right: -1rem;
  z-index: 1;
  height: 2rem;
  width: 2rem;
  transition: transform 0.1s linear;
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: center;

  @nest &:hover .closeButtonIcon {
    transform: scale(1.2);
  }

  @nest &:active .closeButtonIcon {
    transform: scale(0.8);
  }
} */

.footer {
  box-sizing: border-box;
  padding: var(--medium-padding);
  background-color: var(--component-bg);
  border-radius: 0 0 var(--dialog-border-radius) var(--dialog-border-radius);
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-shrink: 0; 

  @nest &::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: -1px;
    right: 0;
    border-top: 1px solid var(--hairline-color);
    pointer-events: none;
  }
}
