@import 'part:@sanity/base/theme/variables-style';

.root {
  composes: flexCenter from 'part:@sanity/base/theme/layout/positioning-style';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--zindex-portal);
  overflow: auto;
}

.heading {
  font-size: var(--font-size-h1);
  font-weight: 100;
  margin-bottom: 0.5em;
  margin-left: var(--medium-padding);
  line-height: 1em;
}

.content {
  padding: var(--medium-padding);
}

.default {
  composes: root;
  background-color: color(var(--body-bg) a(95%));
  color: var(--text-color);
}

.info {
  composes: root;
  color: var(--state-info-color--text);
  background-color: color(var(--state-info-color) a(95%));

  @nest & .closeButton {
    background-color: color(var(--state-info-color) a(30%));
  }

  @nest & .content a {
    color: inherit;
  }
}

.danger {
  composes: root;
  color: var(--state-danger-color--text);
  background-color: color(var(--state-danger-color) a(95%));

  @nest & .closeButton {
    background-color: color(var(--state-danger-color) a(30%));
  }

  @nest & .content a {
    color: inherit;
  }
}

.success {
  composes: root;
  color: var(--state-success-color--text);
  background-color: color(var(--state-success-color) a(95%));

  @nest & .closeButton {
    background-color: color(var(--state-success-color) a(30%));
  }

  @nest & .content a {
    color: inherit;
  }
}

.warning {
  composes: root;
  color: var(--state-warning-color--text);
  background-color: color(var(--state-warning-color) a(95%));

  @nest & .closeButton {
    background-color: color(var(--state-warning-color) a(30%));
  }

  @nest & .content a {
    color: inherit;
  }
}

.inner {
  box-sizing: border-box;
  composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
  max-height: 100vh;
  max-width: 100vw;

  @media (--screen-medium) {
    max-height: 90vh;
    max-width: 80vw;
  }
}

.isOpened {
  display: block;
}

.isClosed {
  display: none;
}

.actionsWrapper {
  padding-top: 2em;
}

.closeButton {
  display: block;
  position: fixed;
  z-index: 1;
  top: var(--medium-padding);
  right: var(--medium-padding);
  font-size: 3em;
  height: 1em;
  width: 1em;
  border: none;
  color: inherit;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

  @nest .default & {
    color: var(--text-color);

    @nest &:hover {
      color: var(--black);
    }
  }
}
