@import 'part:@sanity/base/theme/variables-style';

.root {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: var(--zindex-portal);
  overflow: auto;
  background-color: var(--component-bg);
  color: var(--component-text-color);
}

.centered {
  composes: flexCenter from 'part:@sanity/base/theme/layout/positioning-style';
}

.title {
  font-size: 1.25em;
  line-height: 1;
  font-weight: 700;
  margin: 0;
  padding: 0 0 var(--large-padding) 0;
}

.title:empty {
  display: none;
}

.content {
  color: var(--text-color);
}

.default {
  composes: root;
}

.info {
  composes: root;
  color: var(--state-info-color--inverted);
  background-color: color(var(--state-info-color) a(95%));

  @nest & .closeButton {
    background-color: color(var(--state-info-color) a(30%));
  }

  @nest & .content a {
    color: inherit;
  }
}

.danger {
  composes: root;
  color: var(--state-danger-color);

  @nest & .content a {
    color: inherit;
  }
}

.success {
  composes: root;
  color: var(--state-success-color--inverted);
  background-color: color(var(--state-success-color) a(95%));

  @nest & .closeButton {
    background-color: color(var(--state-success-color) a(30%));
  }

  @nest & .content a {
    color: inherit;
  }
}

.warning {
  composes: root;
  color: var(--state-warning-color--inverted);
  background-color: color(var(--state-warning-color) a(95%));

  @nest & .closeButton {
    background-color: color(var(--state-warning-color) a(30%));
  }

  @nest & .content a {
    color: inherit;
  }
}

.inner {
  position: relative;
  box-sizing: border-box;
  composes: scrollY from 'part:@sanity/base/theme/layout/scrolling-style';
  max-height: 100vh;
  max-width: 100vw;
}

.padding_none {
  padding: 0;
}

.padding_small {
  padding: var(--small-padding);
}

.padding_medium {
  padding: var(--medium-padding);
}

.padding_large {
  padding: var(--large-padding);
}

.isOpened {
  display: block;
}

.isClosed {
  display: none;
}

.actionsWrapper {
  padding-top: 2em;
}

.closeButton {
  appearance: none;
  background: var(--component-bg);
  display: block;
  position: fixed;
  z-index: 100;
  top: var(--medium-padding);
  right: var(--medium-padding);
  font-size: var(--icon-size);
  border: none;
  color: inherit;
  outline: none;
  padding: var(--small-padding);
  margin: 0;
  border-radius: 50%;
  cursor: pointer;

  & > svg {
    display: block;
  }

  @nest .centered & {
    position: absolute;
  }

  @nest .default & {
    color: var(--text-muted);

    @nest &:hover {
      background: var(--body-bg);
      color: var(--text-color);
    }
  }
}
