@import 'part:@sanity/base/theme/variables-style';

.root {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  z-index: var(--zindex-portal);
  overflow: auto;
  background-color: var(--body-bg);
  color: var(--text-color);
}

.centered {
  composes: flexCenter from 'part:@sanity/base/theme/layout/positioning-style';
}

.heading {
  font-size: var(--font-size-h1);
  margin: 0;
  margin-bottom: 0.5em;
  line-height: 1em;
}

.content {
  color: var(--text-color);
}

.default {
  composes: root;
}

.info {
  composes: root;
  color: var(--state-info-color--inverted);
  background-color: color(var(--state-info-color) a(95%));

  @nest & .closeButton {
    background-color: color(var(--state-info-color) a(30%));
  }

  @nest & .content a {
    color: inherit;
  }
}

.danger {
  composes: root;
  color: var(--state-danger-color);

  @nest & .content a {
    color: inherit;
  }
}

.success {
  composes: root;
  color: var(--state-success-color--inverted);
  background-color: color(var(--state-success-color) a(95%));

  @nest & .closeButton {
    background-color: color(var(--state-success-color) a(30%));
  }

  @nest & .content a {
    color: inherit;
  }
}

.warning {
  composes: root;
  color: var(--state-warning-color--inverted);
  background-color: color(var(--state-warning-color) a(95%));

  @nest & .closeButton {
    background-color: color(var(--state-warning-color) a(30%));
  }

  @nest & .content a {
    color: inherit;
  }
}

.inner {
  position: relative;
  box-sizing: border-box;
  composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
  max-height: 100vh;
  max-width: 100vw;
}

.padding_none {
  padding: 0;
}

.padding_small {
  padding: var(--small-padding);
}

.padding_medium {
  padding: var(--medium-padding);
}

.padding_large {
  padding: var(--large-padding);
}

.isOpened {
  display: block;
}

.isClosed {
  display: none;
}

.actionsWrapper {
  padding-top: 2em;
}

.closeButton {
  display: block;
  position: fixed;
  z-index: 1;
  top: var(--medium-padding);
  right: var(--medium-padding);
  font-size: 3em;
  height: 1em;
  width: 1em;
  border: none;
  color: inherit;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;

  @nest .centered & {
    position: absolute;
  }

  @nest .default & {
    color: var(--text-color);

    @nest &:hover {
      color: var(--black);
    }
  }
}
