@import 'part:@sanity/base/theme/variables-style';

.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--zindex-modal-background);
  backdrop-filter: blur(3px);
}

.heading {
  font-size: var(--font-size-h1);
  font-weight: 100;
  margin-bottom: 0.5em;
  margin-left: var(--medium-padding);
}

.content {
  margin: var(--medium-padding);
}

.default {
  composes: root;
  background-color: color(var(--body-bg) a(95%));
  color: var(--text-color);
}

.info {
  composes: root;
  color: var(--state-info-color--text);
  background-color: color(var(--state-info-color) a(95%));
}

.danger {
  composes: root;
  color: var(--state-danger-color--text);
  background-color: color(var(--state-danger-color) a(95%));
}

.success {
  composes: root;
  color: var(--state-success-color--text);
  background-color: color(var(--state-success-color) a(95%));
}

.warning {
  composes: root;
  color: var(--state-warning-color--text);
  background-color: color(var(--state-warning-color) a(95%));
}

.inner {
  @nest .centered & {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    max-width: 40em;
    font-size: 1em;
    margin: 0 auto;
    line-height: 1.5em;
  }
}

.isOpened {
  display: block;
}

.isClosed {
  display: none;
}

.closeButton {
  display: block;
  position: absolute;
  top: var(--medium-padding);
  right: var(--medium-padding);
  font-size: 3em;
  height: 1em;
  width: 1em;
  background-color: transparent;
  border: none;
  color: var(--brand-white);
  outline: none;

  @nest .default & {
    color: var(--text-color);

    @nest &:hover {
      color: var(--brand-black);
    }
  }
}
