@import 'part:@sanity/base/theme/variables-style';

.root {
  user-select: none;
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  padding: 0.5em;
}

.heading {
  vertical-align: baseline;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 2.5rem;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  composes: title from './DefaultPreview.css';
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

.subtitle {
  composes: subtitle from './DefaultPreview.css';
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

.description {
  padding: 0;
  margin: 0;
  font-size: var(--font-size-xsmall);
  padding-right: var(--medium-padding);
  padding-top: var(--small-padding);
  max-height: 5em;
  position: relative;
  mask-image: linear-gradient(to bottom, white, transparent);
}

.status {
  color: var(--white);
  background-color: var(--gray);
  padding: 0.25em 0.5em;
  font-size: var(--font-size-small);
  margin-left: auto;
}

.media {
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  margin-right: 0.5em;
  position: relative;
  overflow: hidden;

  @nest & img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  @nest & svg {
    display: block;
    height: 2.5rem !important;
    width: 2.5rem !important;
  }
}

.media:empty {
  display: none;
}
