@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  pointer-events: none;
}

.preview {
  display: flex;
  justify-content: center;
}

.heading {
  padding: var(--medium-padding);
}

.media + .heading {
  padding-left: 0;
}

.media + .heading:empty {
  padding: 0;
}

.title {
  font-size: 1rem;
  margin: 0;
  padding: var(--medium-padding);
}

.title:empty {
  display: none;
}

.media {
  padding: var(--medium-padding);
  min-width: 25%;

  @nest & img {
    display: block;
    max-width: 100%;
    height: auto;
    pointer-events: none;
    /* object-fit: scale-down; */
  }
}

.media:empty {
  display: none;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-small);
}

.description {
  font-size: var(--font-size-xsmall);
}
