@import 'part:@sanity/base/theme/variables-style';

.root {
  background-color: inherit;
  composes: shadow-3dp from 'part:@sanity/base/theme/shadows-style';
}

.title {
  composes: heading5 from 'part:@sanity/base/theme/typography/headings-style';
  color: inherit;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 0.75em;
  text-transform: none;
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
  color: inherit;
}

.date {
  font-weight: 100;
  composes: small from 'part:@sanity/base/theme/typography/text-blocks-style';
  float: right;
}

.mediaContainer {
  display: block;
  background-color: var(--preview-placeholder-text-color);
}

.media {
  position: relative;
  width: 100%;

  @nest & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.description {
  font-size: var(--font-size-xsmall);
  color: inherit;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.meta {
  padding: 1em;
  background-color: #fff;
}

.img {
  display: block;
}

.imgLandscape {
  composes: img;
}

.imgPortrait {
  composes: img;
}

.placeholder {
  composes: root;

  @nest & .media {
    width: 100%;
    background-color: var(--preview-placeholder-text-color);
  }

  @nest & .title {
    height: 1em;
    background-color: var(--preview-placeholder-text-color);
  }

  @nest & .subtitle {
    height: 1em;
    margin-top: 0.2em;
    background-color: var(--preview-placeholder-text-color);
  }

  @nest & .date {
    height: 1em;
    margin-top: 0.2em;
    background-color: var(--preview-placeholder-text-color);
  }

  @nest & .description {
    height: 1em;
    margin-top: 1.2em;
    background-color: var(--preview-placeholder-text-color);
  }
}
