@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
}

.title {
  composes: heading5 from 'part:@sanity/base/theme/typography/headings-style';
  color: inherit;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: 0.75em;
  text-transform: none;
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
  color: inherit;
}

.date {
  font-weight: 100;
  composes: small from 'part:@sanity/base/theme/typography/text-blocks-style';
  float: right;
}

.mediaContainer {
  display: block;
  background-color: var(--preview-placeholder-text-color);
}

.media {
  position: relative;
  width: 100%;

  @nest & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.description {
  font-size: var(--font-size-xsmall);
  color: inherit;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.meta {
  padding: 1em;
  background-color: inherit;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.imgLandscape {
  composes: img;
}

.imgPortrait {
  composes: img;
}

.placeholder {
  composes: root;
  position: relative;
  height: 16.5rem;

  @nest & .media {
    width: 100%;
    height: 10rem;
  }

  @nest & .title {
    x: 1rem;
    y: 11rem;
    height: 1em;
    width: 70%;
    word-break: break-word;
  }

  @nest & .subtitle {
    x: 1rem;
    y: 12.5rem;
    height: 1em;
  }

  @nest & .date {
    x: calc(100% - 5rem);
    y: 11rem;
    height: 1em;
    width: 4rem;
    margin-top: 0.2em;
  }

  @nest & .description_1 {
    x: 1rem;
    y: 14rem;
    width: calc(100% - 2rem);
    height: 0.5rem;
  }

  @nest & .description_2 {
    x: 1rem;
    y: 15rem;
    width: calc(50% - 2rem);
    height: 0.5rem;
  }
}
