@import 'part:@sanity/base/theme/variables-style';

.root {
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  display: block;
  text-decoration: none;
  position: relative;
  background-color: var(--component-bg);
  border-radius: var(--border-radius-small);
  border: 1px solid var(--hairline-color);
  height: 100%;
  box-sizing: border-box;
  padding: var(--medium-padding);

  @media (hover: hover) {
    color: var(--text-color-secondary);

    @nest &:hover {
      color: var(--text-color);
    }
  }

  @nest &:focus {
    background-color: var(--component-bg);
    border-color: var(--selectable-item-base) a(50%);
    box-shadow: 0 0 0 3px color(var(--selectable-item-base) a(50%));

    @nest &:active {
      background-color: var(--selectable-item-color-active);
    }
  }
}

.heading {
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(2.4376em);
}

.title {
  font-weight: normal;
  font-size: var(--font-size-base);
  line-height: calc(21 / 16);
  padding: 0;
  margin: 0;
}

.subtitle {
  font-weight: normal;
  font-size: var(--font-size-xsmall);
  line-height: calc(15 / 12);
  padding: 0;
  margin: 0;
}

.media {
  float: right;
  display: flex;
  align-items: flex-start;
  font-size: var(--icon-size);
  padding: calc(var(--small-padding) - 1px);
}

.description {
  composes: subtitle;
  opacity: 0.7;
}

.root .description {
  margin-top: 1em;
}

.description:empty {
  display: none;
}
