@import 'part:@sanity/base/theme/variables-style';

@keyframes progressGlow {
  0% {
    box-shadow: 0 0 3px var(--progress-bar-bg);
  }

  100% {
    box-shadow: 0 0 15px var(--progress-bar-bg);
  }
}

:root {
  --height: 2.5em;
  --media-width: var(--height);
  --padding: var(--medium-padding);
}

.root {
  display: block;
  padding: 0;
  user-select: none;
  height: 2.5em;
  position: relative;
  clear: both;
}

.heading {
  position: absolute;
  top: 0;
  right: var(--small-padding);
  height: var(--height);
  box-sizing: border-box;
  left: var(--small-padding);

  @nest .hasMedia & {
    left: var(--media-width);
    padding-left: var(--small-padding);
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  composes: ellipsis;
  font-size: 1em;
  line-height: var(--height);
  color: inherit;
  font-weight: 500;
  text-transform: none;
  padding: 0;
  margin: 0;

  @nest .hasSubtitle & {
    line-height: 1.3em;
  }
}

.subtitle {
  composes: ellipsis;
  color: inherit;
  margin: 0;
  padding: 0;
  padding-bottom: 0.25em;
  height: 1em;
  font-size: 0.7em;
  font-weight: 300;
  line-height: 1.5em;
  width: calc(100% - 1em);
}

.media {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--media-width);
  width: var(--media-width);
  overflow: hidden;
  background-color: var(--gray-lighter);

  @nest & div {
    position: relative;
    height: var(--media-width);
    width: var(--media-width);
    overflow: hidden;
  }

  @nest & img {
    display: block;
    object-fit: cover;
  }
}

.placeholder {
  height: 100%;
  width: 100%;

  @nest & .title {
    height: 1.2rem;
    width: calc(100% - 0.5rem);
    x: 0.25em;
    y: 0.25rem;

    @nest .hasMedia & {
      width: calc(100% - 3rem);
      x: 2.5rem;
    }
  }

  @nest & .subtitle {
    height: 0.5rem;
    width: 40%;
    x: 0.25em;
    y: 1.7rem;

    @nest .hasMedia & {
      x: 2.5rem;
    }
  }

  @nest & .media {
    display: none;

    @nest .hasMedia & {
      display: block;
      x: 0.25rem;
      y: 0.25rem;
    }
  }
}

.animation {
  /* composes: animated-loading-background from 'part:@sanity/base/theme/animation-style'; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.progress {
  position: absolute;
  background-color: color(var(--progress-bar-bg) a(5%));
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.progressBar {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: color(var(--progress-bar-bg) a(20%));
  z-index: 1;
}

.progressBar::after {
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
  background-color: var(--progress-bar-bg);
  box-shadow: 0 0 3px var(--progress-bar-bg);
  z-index: 2;
  /*animation: progressGlow 0.5s linear infinite alternate;*/
}
