@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  padding: 0.5em;
  user-select: none;
  overflow: hidden;
  height: 1.5em;
  position: relative;
}

.heading {
  vertical-align: baseline;
  overflow: hidden;
}

.title {
  position: absolute;
  font-size: 1em;
  height: 1em;
  line-height: 1.5em;
  color: inherit;
  font-weight: 500;
  text-transform: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 1em);

  @nest .hasSubtitle & {
    top: 0.25em;
  }
}

.subtitle {
  color: inherit;
  margin: 0;
  padding: 0;
  height: 1em;
  margin-top: -0.2em;
  font-size: 0.7em;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em;
  width: calc(100% - 1em);
  position: absolute;
  top: 2.5em;
}

.description {
  padding: 0;
  margin: 0;
  font-size: 0.75em;
}

.media {
  float: left;
  height: 1.75em;
  width: 1.75em;
  margin-right: 0.5em;
  overflow: hidden;
  position: relative;

  /*@nest & div {
    position: relative;
    height: 2.5em;
    width: 2.5em;
    overflow: hidden;
  }

  @nest & img {
    display: block;
    object-fit: cover;
  }*/
}

.placeholder {
  composes: root;

  @nest & .title {
    background-color: var(--preview-placeholder-text-color);
  }

  @nest & .subtitle {
    background-color: var(--preview-placeholder-text-color);
    height: 0.8em;
  }

  @nest & .media {
    background-color: var(--preview-placeholder-text-color);
    fill: var(--preview-placeholder-text-color);
  }
}

.animation {
  composes: animated-loading-background from 'part:@sanity/base/theme/animation-style';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
