@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  padding: 0;
  user-select: none;
  overflow: hidden;
  height: 2.5em;
  position: relative;
}

.heading {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  height: 2em;
  box-sizing: border-box;
  left: 0.25em;

  @nest .hasMedia & {
    left: 2.5em;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  composes: ellipsis;
  font-size: 1em;
  line-height: 2em;
  color: inherit;
  font-weight: 500;
  text-transform: none;
  margin: 0;
  padding: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-top: -0.25em;
  width: calc(100% - 1em);

  @nest .hasSubtitle & {
    line-height: 1em;
    top: 0.25em;
  }
}

.subtitle {
  composes: ellipsis;
  color: inherit;
  margin: 0;
  padding: 0;
  padding-bottom: 0.25em;
  height: 1em;
  font-size: 0.7em;
  font-weight: 300;
  line-height: 1em;
  width: calc(100% - 1em);
}

.media {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  height: 2em;
  width: 2em;
  overflow: hidden;
  background-color: var(--gray-lighter);

  @nest & div {
    position: relative;
    height: 2em;
    width: 2em;
    overflow: hidden;
  }

  @nest & img {
    display: block;
    object-fit: cover;
  }
}

.placeholder {
  height: 100%;
  width: 100%;

  @nest & .title {
    height: 1.2rem;
    width: calc(100% - 0.5rem);
    x: 0.25em;
    y: 0.25rem;

    @nest .hasMedia & {
      width: calc(100% - 3rem);
      x: 2.5rem;
    }
  }

  @nest & .subtitle {
    height: 0.5rem;
    width: 40%;
    x: 0.25em;
    y: 1.7rem;

    @nest .hasMedia & {
      x: 2.5rem;
    }
  }

  @nest & .media {
    display: none;

    @nest .hasMedia & {
      display: block;
      x: 0.25rem;
      y: 0.25rem;
    }
  }
}

.animation {
  /* composes: animated-loading-background from 'part:@sanity/base/theme/animation-style'; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
