@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  padding: 0.5em;
  user-select: none;
  overflow: hidden;
  height: 4em;
}

.heading {
  vertical-align: baseline;
  overflow: hidden;
}

.content {
  margin-left: 4.5em;
}

.title {
  composes: base from 'part:@sanity/base/theme/typography/text-blocks-style';
  color: inherit;
  text-transform: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  color: inherit;
  margin: 0;
  padding: 0;
  margin-top: -0.25em;
  font-size: 0.8em;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  padding: 0;
  margin: 0;
  margin-top: 0.25em;
  font-size: 0.75em;
  line-height: 1em;
}

.media {
  float: left;
  height: 4em;
  width: 4em;
  margin-right: 0.5em;
  overflow: hidden;
  position: relative;
}

.placeholder {
  composes: root;

  @nest & .media {
    background-color: var(--preview-placeholder-text-color);
  }

  @nest & .title {
    background-color: var(--preview-placeholder-text-color);
    height: 1em;
    margin-bottom: 0.5em;
  }

  @nest & .subtitle {
    background-color: var(--preview-placeholder-text-color);
    height: 0.5em;
    margin-bottom: 0.5em;
  }

  @nest & .description {
    background-color: var(--preview-placeholder-text-color);
    height: 0.75em;
    margin-top: 0.4em;
  }
}
