/* line-height: 1.428571429; */

.root {
  display: inline;
  position: relative;
}

.media {
  display: inline;
  position: relative;

  @nest & img {
    height: 1.4ex;
    display: inline;
    object-fit: cover;
  }

  @nest & div {
    display: inline;
  }
}

.title:empty {
  display: none;
}

.media:not(:empty) + .title:not(:empty) {
  padding-left: 0.2em;
}
