@import 'part:@sanity/base/theme/variables-style';

.root {
  padding-bottom: var(--medium-padding);
}

.wrapper {
  display: flex;
  flex-direction: column;

  @media (--screen-medium) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.previewsContainer {
  flex-basis: 30vw;

  @nest & h2 {
    margin-bottom: 0;
    font-weight: 400;
  }
}

.imageToolContainer {
  position: relative;
  flex-grow: 1;
  max-height: 70vh;
  min-width: 250px;

  @media (--screen-medium) {
    min-width: 500px;
    margin-right: var(--medium-padding);
    max-height: 60vh;
    max-width: 70vw;
  }
}

.previews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--medium-padding);
}

.previewImage {
  composes: shadow-6dp from 'part:@sanity/base/theme/shadows-style';
  background-color: #eee;
}

.preview h4 {
  font-size: var(--font-size-small);
  margin-bottom: var(--small-padding);
  font-weight: 400;
}
