@import 'part:@sanity/base/theme/variables-style';

.root {
  padding-bottom: var(--medium-padding);
}

.wrapper {
  position: relative;
  border: 1px solid color(var(--gray-base) a(15%));
  background-color: var(--white);
  border-radius: var(--border-radius-base);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.previewsContainer {
  position: relative;
  width: 100%;

  @nest & h2 {
    margin-bottom: 0;
    font-weight: 400;
  }
}

.imageToolWrapper {
  position: relative;
  background-color: color(var(--gray-base) a(10%));
  width: 100%;
  box-sizing: border-box;
  padding: var(--medium-padding);
}

.imageToolContainer {
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  max-width: 50rem;
  max-height: 50vh;
  padding: 10px 7px; /* compensate for padding inside canvas */
}

.tools {
  display: flex;
  justify-content: center;
  max-width: 50rem;
  margin: 0 auto;
}

.previews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: var(--medium-padding);
  max-width: 50rem;
  margin: 0 auto;

  @media (--screen-medium) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.preview {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: relative;
}

.previewImage {
  width: 100%;
  position: relative;
  max-width: 4rem;
  composes: shadow-6dp from 'part:@sanity/base/theme/shadows-style';
  background-color: var(--component-bg);
  background-image:
    linear-gradient(45deg, var(--checkerboard-color) 25%, transparent 25%),
    linear-gradient(-45deg, var(--checkerboard-color) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--checkerboard-color) 75%),
    linear-gradient(-45deg, transparent 75%, var(--checkerboard-color) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0;

  @media (--screen-medium) {
    max-width: 7rem;
  }
}

.preview[data-name="panorama"] .previewImage {
  max-width: 10rem;
}

.preview[data-name="portrait"] .previewImage {
  max-width: 4rem;
}

.preview h4 {
  font-size: var(--font-size-base);
  padding: 0;
  margin: 0;
  margin-top: var(--small-padding);
}
