@import 'part:@sanity/base/theme/variables-style';

:root {
  --pane-success-bg: color(var(--component-bg) blend(var(--state-success-color) 15%));
  --pane-warning-bg: color(var(--component-bg) blend(var(--state-warning-color) 15%));
  --pane-danger-bg: color(var(--component-bg) blend(var(--state-danger-color) 15%));
}

.root {
  display: flex;
  flex-direction: column;
  background-color: var(--component-bg);
  color: var(--component-text-color);

  @media (--max-screen-medium) {
    min-height: 100%;
  }

  @media (--screen-medium) {
    position: relative;
    height: 100%;
  }

  @nest &[data-pane-color='success'] {
    background-color: var(--pane-success-bg);
  }

  @nest &[data-pane-color='warning'] {
    background-color: var(--pane-warning-bg);
  }

  @nest &[data-pane-color='danger'] {
    background-color: var(--pane-danger-bg);
  }
}

.isDisabled {
  @media (--max-screen-medium) {
    /* hide on mobile */
    display: none;

    @nest &:last-child {
      display: flex;
    }
  }

  @media (--screen-medium) {
    display: flex;
  }
}

.isActive {
  display: flex;
}

.isCollapsed {
  @media (--screen-medium) {
    composes: root;
    flex-direction: row;
    width: 49px;
    height: 100%;
    overflow: hidden;
  }
}

.header {
  background: var(--component-bg);
  position: relative;

  @nest .isCollapsed & {
    width: 100%;
  }

  @nest .root:not(.isCollapsed) & {
    position: sticky;
    top: 0;
  }

  @nest .root:not([data-pane-loading='true']) &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-bottom: 1px solid var(--hairline-color);

    @nest .root.isCollapsed & {
      display: none;
    }
  }

  @nest [data-pane-color='success'] & {
    background-color: var(--pane-success-bg);
  }

  @nest [data-pane-color='warning'] & {
    background-color: var(--pane-warning-bg);
  }

  @nest [data-pane-color='danger'] & {
    background-color: var(--pane-danger-bg);
  }
}

.headerContent {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-grow: 1;
  align-items: stretch;
  align-self: flex-end;
  box-sizing: border-box;
  width: 100%;

  @nest .isCollapsed & {
    min-width: 100vh;
  }
}

.titleContainer {
  flex: 1;
  min-width: 0;
  padding: var(--medium-padding);
  margin-right: auto;
}

.title {
  margin: -2px 0 -1px;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: 600;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  text-overflow: ellipsis;
  transform-origin: calc((var(--line-height-base) * 1em - 3px) / 2)
    calc((var(--line-height-base) * 1em) / 2);
  transform: rotate(0deg);

  @nest .isCollapsed & {
    transform: rotate(90deg);
  }

  @nest .root[data-pane-loading='true'] & {
    font-weight: 400;
  }
}

.headerTools {
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--small-padding);

  @nest .isCollapsed & {
    display: none;
  }
}

.headerToolContainer {
  @nest .headerToolContainer + & {
    margin-left: var(--extra-small-padding);
  }

  @nest &:empty {
    display: none;
  }
}

.headerViewMenu {
  @nest .isCollapsed & {
    display: none;
  }
}

.main {
  position: relative;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;

  @nest .isCollapsed & {
    display: none;
  }
}

.scrollContainer {
  outline: none;
  height: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;

  @media (--screen-medium) {
    composes: scrollY from 'part:@sanity/base/theme/layout/scrolling-style';
    overflow: auto;
  }

  @nest .isCollapsed & {
    display: none;
  }
}

.notScrollable {
  display: block;

  @media (--screen-medium) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
}

.initialValueMenuTooltip {
  /* intentionally empty (adds semantic value) */
}

.initialValueTemplateMenu {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  padding: var(--extra-small-padding) 0;
  min-width: 200px;
}

.initialValueTemplateMenuItem {
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--small-padding) calc(var(--medium-padding) - var(--extra-small-padding));
  text-align: left;
}

.initialValueTemplateSubtitle {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  text-transform: capitalize;
  color: var(--text-color-secondary);
}

.initialValueTemplateMenuItemIcon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-left: var(--large-padding);
  padding: var(--small-padding);
}

.stickyFooter {
  box-sizing: border-box;
  background-color: var(--component-bg);
  color: var(--text-color-secondary);

  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    padding-bottom: env(safe-area-inset-bottom);
  }

  @media (--max-screen-medium) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  /* NOTE: Workaround for hiding the footer when the keyboard is visible on small screens */
  @media (max-height: 32em) {
    position: relative;
  }

  @media (--screen-medium) {
    position: relative;
  }

  @nest &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    border-top: 1px solid var(--hairline-color);
  }

  @nest .isCollapsed & {
    display: none;
  }

  @nest [data-pane-color='success'] & {
    background-color: var(--pane-success-bg);
  }

  @nest [data-pane-color='warning'] & {
    background-color: var(--pane-warning-bg);
  }

  @nest [data-pane-color='danger'] & {
    background-color: var(--pane-danger-bg);
  }
}

.hoverFooter {
  composes: stickyFooter;

  /* @note: This is disabled, because it leads to issues with dropdown menus. */

  /* @media (hover: hover) {
    display: none;

    @nest .root:hover & {
      display: block;
    }
  } */
}
