@import "part:@sanity/base/theme/variables-style";

:root {
  --blockEditorFullscreenBackground: var(--gray-lighter);
}

.root {
  composes: root from 'part:@sanity/base/theme/forms/control-style';
  position: static;
}

.inner {
  /* composes: inner from 'part:@sanity/base/theme/forms/control-style'; */
}

.fullscreen {
  composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
  composes: lightScrollbars from "part:@sanity/base/theme/layout/scrolling-style";
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--zindex-fullscreen-edit);
  background-color: var(--blockEditorFullscreenBackground);
  padding-top: 2rem;
  padding-bottom: 5rem;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.blockDragMarker {
  background-color: var(--brand-primary);
  width: 100%;
  height: 2px;
  position: absolute;
}

.inputContainer {
  position: relative;
  width: 100%;
  min-height: 15rem;
  max-height: 40rem;
  border: 1px solid var(--input-border-color);
  background-color: var(--input-bg);
  composes: scrollY from "part:@sanity/base/theme/layout/scrolling-style";
  composes: lightScrollbars from "part:@sanity/base/theme/layout/scrolling-style";

  @nest .fullscreen & {
    width: 90%;
    min-height: calc(100vh - 8rem);
    max-width: 50em;
    margin: 3em auto;
    box-shadow: 0 0 0.8rem -0.2rem rgba(0, 0, 0, 0.2);
    height: auto;
    overflow: hidden;
    max-height: none;
    border: none;
  }
}

.input {
  border-radius: var(--input-border-radius);
  background-color: var(--component-bg);
  overflow: hidden;
  width: 100%;
  appearance: none;
  box-sizing: border-box;
  padding: 1em;

  @nest .fullscreen & {
    padding: 2em;
    border: 0;
    max-height: none;
  }
}

.toolbar {
  @nest .fullscreen & {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5001;
    background-color: color(var(--blockEditorFullscreenBackground) a(70%));
    backdrop-filter: blur(3px);
    padding: var(--small-padding);

    @media (--screen-medium) {
      padding: var(--medium-padding);
    }
  }
}

.inputError {
  composes: error from 'part:@sanity/base/theme/forms/text-input-style';
}

.clearButton {
  composes: textInput from 'part:@sanity/base/theme/forms/clear-button-style';
}

.error {
  composes: root;
}

.portal {
  position: fixed;
  z-index: var(--zindex-fullscreen-edit);
}

.textFormattingToolbar {
  margin-top: 10px;
}
