@import 'part:@sanity/base/theme/variables-style';

.root {
  opacity: 1;
  outline: none;
  z-index: 10;

  @nest &:hover {
    opacity: 1;
  }
}

.tooltip {
  display: flex;
  max-width: 210px;
  text-align: left;
  padding: var(--medium-padding);
}

.tooltipText {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  margin: -3px 0 -2px var(--small-padding);
}

.inner {
  display: flex;
  align-items: center;
}

.icon {
  font-size: var(--font-size-small);
  @nest & > svg {
    display: block;
    font-size: calc(17 / 16 * 1em);

    &[data-sanity-icon='true'] {
      font-size: calc(25 / 16 * 1em);
      margin: calc(4 / 25 * -1em);
    }
  }

  @nest .tooltip & {
    margin: -3px 0 -3px -3px;
  }
}

.error {
  color: var(--state-danger-color);
}

.warning {
  color: var(--state-warning-color);
}

.ok {
  composes: root;
  color: var(--state-success-color);
  display: none;
}
