.root {
  display: flex;

  @nest & > span {
    display: inline-block;
    padding: 0.75em 0.125em;
  }

  @nest & del {
    display: inline-block;
    padding: 0.75em;
    border-radius: 4px;
  }

  @nest & ins {
    display: inline-block;
    padding: 0.75em;
    border-radius: 4px;
    text-decoration: none;
  }
}
