@import 'part:@sanity/base/theme/variables-style';

@use postcss-cssnext;

:root {
  --default-item-selected-color: var(--brand-primary);
  --default-item-active-color: var(--brand-primary);
  --default-item-background-color: #fff;
  --default-item-background-color-hover: #f0f0f0;
  --default-item-odd-background-color: #fafafa;
  --default-item-odd-background-color-hover: #f0f0f0;
}

.root {
  background-color: transparent;
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  text-overflow: ellipsis;
  cursor: pointer;
  user-select: none;

  &.selected {
    background-color: color(var(--default-item-selected-color) a(60%));
    color: #fff;
  }

  &.highlighted {
    background-color: color(var(--default-item-selected-color) a(50%));
    color: #fff;
  }

  &.active {
    background-color: color(var(--default-item-selected-color) a(80%));
    color: #fff;
  }
}

.default {
  composes: root;
  border-bottom: 1px solid #eee;
}

.zebra-stripes {
  &:nth-child(even) {
    background-color: transparent;
  }

  &:nth-child(odd) {
    background-color: color(var(--default-item-odd-background-color) a(50%));
  }

  composes: root;
}

.divider {
  border-bottom: 1px solid #ccc;
}
