@import "part:@sanity/base/theme/variables-style";

@use postcss-cssnext;

:root {
  --default-item-selected-color: var(--brand-primary);
  --default-item-active-color: var(--brand-primary);
  --default-item-background-color: #fff;
  --default-item-background-color-hover: #f0f0f0;
}

.root {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  cursor: default;

  &:hover {
    background-color: var(--default-item-background-color-hover);
  }
}

.inner {
  width: 100%;
  overflow: hidden;
}

.selected {
  composes: root;
  background-color: var(--default-item-selected-color);
}

.active {
  background-color: var(--default-item-active-color);
  color: #fff;

  &:hover {
    background-color: var(--default-item-active-color);
  }
}
