.ref {
  border: 2px solid red;
}

.root {
  /* @todo: use css vars */
  background: #fff;
  border-radius: 4px;
  padding: 4px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: auto;
  max-height: calc(100vh - 200px);
}
