@import 'part:@sanity/base/theme/variables-style';

.content {
  display: grid;
  grid-gap: var(--medium-padding);
}

.functions {
  composes: functions from 'part:@sanity/components/fieldsets/default-style';
}

.content + .functions {
  margin-top: var(--small-padding);

  @media (--screen-medium) {
    margin-top: var(--medium-padding);
  }
}

.uploadState {
  background-color: color(var(--component-bg) a(90%));
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;

  @nest & > div {
    width: 90%;
  }
}

.cancelButton {
  margin-top: var(--medium-padding);
}

.assetWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  position: relative;
  transition: background-color 0.1s linear;
  max-height: 10rem;
  overflow: hidden;
  flex-grow: 1;
  border-bottom: 1px;
  box-sizing: border-box;
  background-color: color(var(--gray-lightest) alpha(50%));

  @media (--screen-medium) {
    min-height: 12rem;
    max-height: 27rem;
    min-width: 12rem;
    height: auto;

    @nest .noContent & {
      flex-basis: 100%;
    }
  }

  @nest &.readOnly {
    background-image: none;
    background: var(--input-bg-disabled);
  }
}

.previewAsset {
  text-align: center;
  display: flex;
  align-items: center;

  @nest & a {
    display: block;
  }
}

.fileIcon {
  font-size: 3em;
  margin-right: var(--medium-padding);
}
