@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;

  @media (--screen-medium) {
    flex-direction: row;
  }
}

.fileName + .functions {
  margin-top: var(--medium-padding);
}

.assetWrapper {
  padding: var(--large-padding);
  composes: flexCenter from 'part:@sanity/base/theme/layout/positioning-style';
}

.fieldsWrapper {
  flex-basis: 30rem;
}

.functions {
  line-height: 3em;
  font-size: 0.8rem;

  @media (--screen-medium) {
    font-size: 1rem;
  }
}

.previewAsset {
  text-align: center;
  display: flex;
  align-items: center;

  @nest & a {
    display: block;
  }
}

.fileIcon {
  font-size: 3em;
  margin-right: var(--medium-padding);
}
