@import 'part:@sanity/base/theme/variables-style';

:root {
  --boolean-input-padding-narrow: calc(var(--medium-padding) - var(--extra-small-padding));
}

.root {
  display: flex;
  align-items: center;
  border: 1px solid var(--hairline-color);
  border-radius: var(--border-radius-small);
  padding: var(--boolean-input-padding-narrow);

  @media (--screen-medium) {
    padding: var(--medium-padding);
  }
}

.inputWrapper {
  flex: 1;
  min-width: 0;

  @nest &[data-layout='checkbox'] {
    padding: 2px 0;
  }

  @nest &[data-layout='switch'] {
    margin: -2px 0;
  }
}
