@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  border: var(--input-border-size) solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  padding: var(--medium-padding);
}
