@import 'part:@sanity/base/theme/variables-style';

.root {
  /* empty */
  padding-top: var(--small-padding);
  padding-bottom: var(--medium-padding);
}

.heading {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: 600;
  padding: var(--extra-small-padding) 0;
  margin: 0 0 var(--small-padding);
  color: var(--state-warning-color);
}

.inspectValue {
  font-family: var(--font-family-monospace);
  border: 1px solid var(--hairline-color);
  max-height: 200px;
  overflow-y: scroll;
  background-color: var(--component-bg);
  padding: var(--small-padding);
  margin: 0 0 var(--medium-padding);
}
