@import "part:@sanity/base/theme/variables-style";

.root {
  width: 100%;
  display: grid;
  grid-gap: var(--small-padding);
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));

  &[data-buttons="1"] {
    display: block;
    grid-template-columns: unset;
  }

  @media (--screen-medium) {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  }

  @nest & > * {
    margin: 0 !important;
  }
}

.alignStart {
  composes: root;
  flex-direction: row;
}

.alignEnd {
  composes: root;
  flex-direction: row-reverse;
}

.small {
  font-size: var(--font-size-small);
}

.secondary {
  display: contents;

  @media (--screen-medium) {
    display: flex;
    grid-column: span 1 / -1;
  }
}
