@import "part:@sanity/base/theme/variables-style";

.root {
  width: 100%;
  display: grid;
  grid-gap: var(--small-padding);
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));

  &[data-buttons="1"] {
    display: block;
    grid-template-columns: unset;
  }

  @media (--screen-medium) {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));

    /* @nest &[data-buttons="2"] {
      min-width: 16rem;
      display: flex;
    }

    @nest &[data-buttons="3"] {
      min-width: 20rem;
      display: flex;
    }

    @nest &[data-buttons="4"] {
      min-width: 24rem;
    } */
  }

  @nest & > * {
    margin: 0 !important;
  }
}

.alignStart {
  composes: root;
  flex-direction: row;
}

.alignEnd {
  composes: root;
  flex-direction: row-reverse;
}

.small {
  font-size: var(--font-size-small);
}

.secondary {
  display: contents;

  @media (--screen-medium) {
    display: flex;
    grid-column: span 1 / -1;

    @nest .root[data-buttons="2"] &:last-child {
      /* grid-column-start: 4;
      grid-column-end: 5; */
    }

    @nest .root[data-buttons="3"] &:last-child {
      /* grid-column-start: 4;
      grid-column-end: 5; */
    }
  }
}
