@import "part:@sanity/base/theme/variables-style";

@keyframes focused {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.root {
  position: relative;
  display: inline-block;
  margin-right: var(--extra-small-padding);
  outline: none;
  border: none;
  color: inherit;
  font-size: 1em;
  font-family: inherit;
  line-height: 1em;
  cursor: default;
  user-select: none;
  transition: background-color 0.15s, color 0.15s, opacity 0.15s;
  padding: 0.8em 0.9em;

  @nest &.notRecentlyHovered:focus:not(:hover) {
    overflow: hidden;

    @nest & .inner {
      overflow: hidden;
      animation-name: focused;
      animation-duration: 0.2s;
    }
  }
}

.shadow {
  composes: shadow-1dp from "part:@sanity/base/theme/shadows-style";
}

.default {
  composes: root;
  composes: shadow;
  background-color: var(--default-button-color);
  color: var(--default-button-color--text);

  @nest &:hover {
    background-color: color(var(--default-button-color) lightness(-5%));
  }

  @nest &:focus {
    background-color: color(var(--default-button-color) lightness(-20%));
  }

  @nest &:active {
    background-color: color(var(--default-button-color) lightness(+10%));
    outline: 0;
  }
}

.inverted {
  border: 1px solid var(--gray-base);
  border-color: var(--gray-base);
  background-color: transparent;
  box-shadow: none;
  composes: default;

  @nest &:hover {
    background-color: color(var(--gray-base) a(10%));
  }

  @nest &:focus {
    border-style: dotted;
    background-color: color(var(--gray-base) a(10%));
  }

  @nest &:active {
    border-style: solid;
  }
}

.color__primary {
  border-color: var(--brand-primary);
  background-color: var(--brand-primary);
  color: var(--brand-primary--text);

  @nest &:hover, &:focus {
    background-color: color(var(--brand-primary) lightness(-5%));
  }

  @nest &.secondary {
    color: var(--brand-primary);

    @nest &:hover, &:focus {
      background-color: color(var(--brand-primary) a(2%));
      color: var(--brand-primary);
      border-color: var(--brand-primary);
    }
  }

  @nest &.inverted {
    border-color: var(--brand-primary);
    background-color: transparent;
    color: var(--brand-primary);

    @nest &:hover, &:focus {
      background-color: color(var(--brand-primary) a(10%));
      border-color: var(--brand-primary);
    }
  }

  @nest &.simple {
    background-color: transparent;
    color: var(--brand-primary);

    @nest &:hover {
      background-color: color(var(--brand-primary) a(10%));
    }

    @nest &:focus {
      border-color: var(--brand-primary);
    }
  }
}

.color__danger {
  border-color: var(--brand-danger);
  background-color: var(--brand-danger);
  color: var(--brand-danger--text);

  @nest &:hover, &:focus {
    background-color: color(var(--brand-danger) lightness(-10%));
  }

  @nest &.secondary {
    color: var(--brand-danger);

    @nest &:hover, &:focus {
      background-color: color(var(--brand-danger) a(10%));
      color: var(--brand-danger);
      border-color: var(--brand-danger);
    }
  }

  @nest &.inverted {
    border-color: var(--brand-danger);
    background-color: transparent;
    color: var(--brand-danger);

    @nest &:hover {
      background-color: color(var(--brand-danger) a(10%));
      border-color: var(--brand-danger);
    }

    @nest &:focus {
      background-color: color(var(--brand-danger) a(10%));
      border-color: var(--brand-danger);
    }
  }

  @nest &.simple {
    background-color: transparent;
    color: var(--brand-danger);

    @nest &:hover {
      background-color: color(var(--brand-danger) a(10%));
    }

    @nest &:focus {
      background-color: color(var(--brand-danger) a(10%));
      border-color: var(--brand-danger);
    }
  }
}

.color__success {
  border-color: var(--brand-success);
  background-color: var(--brand-success);
  color: var(--brand-success--text);

  @nest &:hover, &:focus {
    background-color: color(var(--brand-success) lightness(-5%));
  }

  @nest &.secondary {
    color: var(--brand-success);

    @nest &:hover, &:focus {
      background-color: color(var(--brand-success) a(10%));
      color: var(--brand-success);
      border-color: var(--brand-success);
    }
  }

  @nest &.inverted {
    border-color: var(--brand-success);
    background-color: transparent;
    color: var(--brand-success);

    @nest &:hover, &:focus {
      background-color: color(var(--brand-success) a(10%));
      border-color: var(--brand-success);
    }
  }

  @nest &.simple {
    background-color: transparent;
    color: var(--brand-success);

    @nest &:hover {
      background-color: color(var(--brand-success) a(10%));
    }

    @nest &:focus {
      border-color: var(--brand-success);
    }
  }
}

.color__white {
  background-color: var(--brand-white);

  @nest &:hover, &:focus {
    background-color: color(var(--brand-white) lightness(-5%));
  }

  @nest &.inverted,
  &.simple {
    border-color: var(--brand-white);
    background-color: transparent;
    color: var(--brand-white);

    @nest &:hover. &:focus {
      background-color: color(var(--brand-white) lightness(-5%));
    }
  }
}

.save {
  composes: root;
}

.noBorder {
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
  border-style: solid;
  text-align: left;
  box-shadow: none;

  @nest &:focus {
    border-color: var(--black);
    border-style: dotted;
  }
}

.simple {
  composes: root;
  composes: noBorder;
}

.spinner {
  margin-right: 0.5em;
}

.hasIcon {
  /* empty */
}

.iconContainer {
  /* empty */
}

.content {
  display: inline-block;
  vertical-align: middle;

  @nest .hasIcon & {
    margin-left: 0.5em;
  }
}

.icon {
  transform: scale(1.2);
}

.secondary {
  composes: default;
  composes: noBorder;
  color: var(--black);
  opacity: 0.6;

  @nest &:hover, &:focus {
    opacity: 1;
    background-color: color(var(--black) a(1%));
  }
}

.disabled {
  opacity: 0.3;
  cursor: var(--cursor-disabled);
}
