@import "part:@sanity/base/theme/variables-style";

:root {
  --button-inverted-color: var(--text-color);
  --button-focus-shadow:
    0 0 0 3px color(var(--input-border-color-focus) a(50%));
  --button-focus-shadow--danger:
    0 0 0 3px color(var(--state-danger-color) a(50%));
  --button-focus-shadow--success:
    0 0 0 3px color(var(--state-success-color) a(50%));
}

@keyframes focused {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.spacing {
  display: inline-flex;
}

.spacing + .spacing {
  margin-left: var(--small-padding);
}

.root {
  composes: spacing;
  display: inline-flex;
  vertical-align: middle;
  justify-content: stretch;
  margin: 0;
  position: relative;
  outline: none;
  border: none;
  color: inherit;
  font-weight: inherit;
  font-size: 1em;
  font-family: inherit;
  cursor: default;
  user-select: none;
  transition: background-color 0.15s, color 0.15s, opacity 0.15s, box-shadow 0.1s;
  border-radius: var(--button-border-radius);
  text-decoration: none;
  padding: 0;
}

.root.bleed {
  padding: 0 !important;
  display: flex;
  border-radius: 0;
  height: 100%;

  /* justify-self: stretch;
  width: stretch;
  align-self: stretch;
  align-items: stretch;
  justify-content: stretch;
   */
}

span.inner {
  outline: none;
  display: flex;
  justify-self: stretch;
  justify-content: stretch;
  align-items: stretch;
  width: stretch;
}

span.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: stretch;
}

.icon {
  display: flex;
  font-size: 1em;
  margin-right: var(--small-padding);

  @nest & > svg { display: block; }
}

.root:focus {
  box-shadow: var(--button-focus-shadow);

  @nest & .content {
    animation-name: focused;
    animation-duration: 0.2s;
  }
}

/* Handles fileupload buttons with focus-within */
.root:not(:focus):focus-within .inner:not(:focus) {
  box-shadow: var(--button-focus-shadow);
}

.root:not(:focus):focus-within .inner:not(:focus) .content {
  animation-name: focused;
  animation-duration: 0.2s;
}

.onlyIcon {
  @nest & .content {
    margin: 0.7em 0.7em !important;
  }

  @nest & .icon {
    margin-right: 0;
  }
}

.padding_default {
  @nest & .content {
    @nest :not(.onlyIcon) & {
      margin: 0.5em;

      @media (--screen-medium) {
        margin: 0.5em 1rem;
      }
    }
  }

  @nest &.simple .content {
    @nest :not(.onlyIcon) & {
      margin: calc(0.5em + 1px);

      @media (--screen-medium) {
        margin: calc(0.5em + 1px) calc(1rem + 1px);
      }
    }
  }
}

.padding_small {
  @nest & .content {
    @nest :not(.onlyIcon) & {
      margin: 0.7em;

      @media (--screen-medium) {
        margin: 0.5em 0.6em;
      }
    }
  }
}

.shadow {
  /* composes: shadow-1dp from "part:@sanity/base/theme/shadows-style"; */
}

.default {
  composes: root;
  composes: shadow;
  background-color: var(--default-button-color);
  color: var(--default-button-color--text);
  border: 1px solid var(--default-button-color);

  @nest & .spinner {
    background-color: var(--gray-lighter);
  }

  @nest &:not(.disabled) {
    @nest &:hover {
      background-color: var(--default-button-color--hover);
    }

    @nest &:active {
      background-color: var(--default-button-color--active);
      outline: 0;
    }
  }
}

.simple {
  composes: root;
  background-color: transparent;

  @nest & .spinner {
    background-color: var(--white);
  }

  @nest &:not(.disabled):hover {
    background-color: color(var(--default-button-color) a(90%));
  }

  @nest &:not(.disabled) {
    @nest &:hover {
      background-color: color(var(--default-button-color) lightness(- 5%) a(10%));
    }

    @nest &:active {
      background-color: color(var(--default-button-color) lightness(+ 10%) a(10%));
      outline: 0;
    }
  }
}

.inverted {
  border: 1px solid var(--button-inverted-color);
  border-color: var(--button-inverted-color);
  background-color: transparent;
  box-shadow: none;
  composes: default;

  @nest & .spinner {
    background-color: var(--white);
  }

  @nest &:not(.disabled):hover {
    background-color: color(var(--default-button-color) a(5%));
  }

  @nest &.root:focus {
    border-color: var(--input-border-color-focus);
    box-shadow: var(--button-focus-shadow);
  }
}

.secondary {
  composes: inverted;
}

.color__primary {
  border-color: var(--brand-primary);
  background-color: var(--brand-primary);
  color: var(--brand-primary--inverted);

  @nest &:not(.disabled):hover {
    background-color: color(var(--brand-primary) lightness(+ 5%));
    border-color: var(--brand-primary);
  }

  @nest & .spinner {
    color: var(--brand-primary--inverted);
    background-color: var(--brand-primary);
  }

  @nest &.inverted {
    border-color: var(--brand-primary);
    background-color: transparent;
    color: var(--brand-primary);

    @nest & .spinner {
      background-color: var(--brand-primary--inverted);
      color: var(--brand-primary);
    }

    @nest &:not(.disabled):hover {
      background-color: color(var(--brand-primary) a(10%));
      border-color: var(--brand-primary);
    }
  }

  @nest &.simple {
    background-color: transparent;
    color: var(--brand-primary);

    @nest &:not(.disabled) {
      @nest &:hover {
        background-color: color(var(--brand-primary) a(10%));
      }
    }
  }
}

.color__danger {
  border-color: var(--state-danger-color);
  background-color: var(--state-danger-color);
  color: var(--state-danger-color--inverted);

  @nest & .spinner {
    background-color: var(--state-danger-color);
    color: var(--state-danger-color--inverted);
  }

  @nest &.root:focus {
    /* outline-color: var(--state-danger-color); */
    border-color: var(--state-danger-color);
    box-shadow: var(--button-focus-shadow--danger);
  }

  @nest &:not(.disabled):hover {
    background-color: color(var(--state-danger-color) lightness(+ 5%));
  }

  @nest &.inverted {
    border-color: var(--state-danger-color);
    background-color: transparent;
    color: var(--state-danger-color);

    @nest & .spinner {
      background-color: var(--white);
      color: var(--state-danger-color);
    }

    @nest &:not(.disabled) {
      @nest &:hover {
        background-color: color(var(--state-danger-color) a(10%));
        border-color: var(--state-danger-color);
      }
    }
  }

  @nest &.simple {
    background-color: transparent;
    color: var(--state-danger-color);

    @nest &:not(.disabled) {
      @nest &:hover {
        background-color: color(var(--state-danger-color) a(10%));
      }
    }
  }
}

.color__success {
  border-color: var(--state-success-color);
  background-color: var(--state-success-color);
  color: var(--state-success-color--inverted);

  @nest & .spinner {
    background-color: var(--state-success-color);
    color: var(--state-success-color--inverted);
  }

  @nest &.root:focus {
    /* outline-color: var(--state-success-color); */
    border-color: var(--state-success-color);
    box-shadow: var(--button-focus-shadow--success);
  }

  @nest &:not(.disabled):hover {
    background-color: color(var(--state-success-color) lightness(+ 5%));
  }

  @nest &.inverted {
    border-color: var(--state-success-color);
    background-color: transparent;
    color: var(--state-success-color);

    @nest & .spinner {
      background-color: var(--white);
      color: var(--state-success-color);
    }

    @nest &:not(.disabled):hover {
      background-color: color(var(--state-success-color) a(10%));
      border-color: var(--state-success-color);
    }
  }

  @nest &.simple {
    background-color: transparent;
    color: var(--state-success-color);

    @nest &:not(.disabled):hover {
      background-color: color(var(--state-success-color) a(10%));
    }
  }
}

.color__white {
  background-color: var(--white);

  @nest &.root:focus {
    outline-color: var(--white);
  }

  @nest & .spinner {
    background-color: var(--white);
  }

  @nest &:not(.disabled):hover {
    background-color: color(var(--white) lightness(- 5%));
  }

  @nest &.inverted {
    border-color: var(--white);
    background-color: transparent;
    color: var(--white);

    @nest & .spinner {
      background-color: var(--white);
      color: var(--text-color);
    }

    @nest &:not(.disabled) {
      @nest &:focus {
        outline-color: var(--white);
        border-color: var(--white);
      }

      @nest &:hover {
        background-color: color(var(--white) a(40%));
        color: var(--white);
      }
    }
  }

  @nest &.simple {
    border-color: transparent;
    background-color: transparent;
    color: var(--white);

    @nest & .spinner {
      background-color: var(--white);
      color: var(--text-color);
    }

    @nest &:not(.disabled):hover {
      background-color: color(var(--white) a(40%));
      color: var(--white);
    }
  }
}

.save {
  composes: root;
}

.spinner {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.hasIcon {
  /* empty */
}

.iconContainer {
  /* empty */
}

.disabled {
  opacity: 0.2;
}
