@import 'part:@sanity/base/theme/variables-style';

.outer {
  display: inline-flex;
  composes: spacing from './DefaultButton.css';
}

.button {
  position: relative;
}

.inner {
  display: flex;
  align-items: center;
  outline: noene;
}

.arrow {
  margin-left: 0.5em;
}

.list {
  display: block;
}

.listItem {
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  white-space: pre;
}

.list .listItem {
  padding: 0.5em;
}

.popper {
  composes: shadow-6dp from 'part:@sanity/base/theme/shadows-style';
  position: fixed;
  box-sizing: border-box;
  background-color: var(--component-bg);
  overflow: auto;
  max-height: calc(100vh - var(--medium-padding) * 2);
}
