.root {
  position: relative;
}

.title {
  padding-right: 1em;
}

.arrow {
  @nest & svg {
    transform: scale(1.5);
  }
}

.sticky {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
}

.stickyTop {
  composes: sticky;
}

.stickyBottom {
  composes: sticky;
}

.stickyLeft {
  left: 0;
}

.stickyRight {
  right: 0;
}

.menu {
  width: 100%;
}

.menuBottomRight {
  composes: menu;
  transform: translateY(3em) translateX(-100%);
}

.menuTopRight {
  composes: menu;
  transform: translateY(-100%) translateX(-100%);
}

.menuBottomLeft {
  composes: menu;
  transform: translateY(3em);
}

.menuTopLeft {
  composes: menu;
  transform: translateY(-100%);
}
