@import 'part:@sanity/base/theme/variables-style';

.outer {
  display: inline-block;
  composes: spacing from './DefaultButton.css';
}

.button {
  position: relative;
}

.inner {
  display: flex;
  align-items: center;
  outline: noene;
}

.arrow {
  margin-left: 0.5em;
}

.list {
  display: block;
}

.listItem {
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  white-space: pre;
}

.list .listItem {
  padding: 0.5em;
}

.popper {
  position: relative;
  z-index: var(--zindex-portal);
  max-height: 80vh;
  overflow: auto;
  composes: shadow-8dp from 'part:@sanity/base/theme/shadows-style';
  box-sizing: border-box;
  background-color: var(--component-bg);
}
