@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
  display: inline-block;
  composes: spacing from 'part:@sanity/components/buttons/default-style';
}

.button {
  position: relative;
}

.title {
  padding-right: 1em;
}

.arrow {
  @nest & svg {
    transform: scale(1.5);
  }
}

.list {
  display: block;
}

.listItem {
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  white-space: pre;
}

.list .listItem {
  padding: 0.5em;
}

.popper {
  position: relative;
  z-index: var(--zindex-portal);
  max-height: 80vh;
  overflow: auto;
  composes: shadow-8dp from 'part:@sanity/base/theme/shadows-style';
  box-sizing: border-box;
  background-color: var(--component-bg);
}
