@import 'part:@sanity/base/theme/variables-style';

.root {
  position: relative;
}

.title {
  padding-right: 1em;
}

.arrow {
  @nest & svg {
    transform: scale(1.5);
  }
}

.menu {
  width: 100%;
}

.popper {
  position: relative;
  z-index: var(--zindex-portal);
}
