@import "part:@sanity/base/theme/variables-style";

.root {
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: var(--default-button-color);
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border: none;
  color: #000;
  outline: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  cursor: default;
}

.colored {
  composes: root;
  background-color: var(--brand-primary);
  color: #fff;
}

.content {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

.fixed {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
