@import 'part:@sanity/base/theme/variables-style';

.root {
  composes: root from 'part:@sanity/components/lists/default-style';
  margin: calc(0 - var(--small-padding)) calc(0 - var(--medium-padding)) !important;
}

.item {
}

.link {
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  text-decoration: none;
  display: block;
  padding: var(--small-padding) var(--medium-padding);
}
