@import 'part:@sanity/base/theme/variables-style';

.root {
}

.content {
  display: flex;
  flex-direction: column;

  @media (--screen-medium) {
    flex-direction: row;
  }
}

.assetWrapper {
  min-height: 10rem;
  position: relative;
  transition: background-color 0.1s linear;
  max-height: 18rem;
  overflow: hidden;
  flex-grow: 1;
  border-bottom: 1px;
  box-sizing: border-box;
  background-color: var(--body-bg);
  background-image:
    linear-gradient(45deg, var(--component-bg) 25%, transparent 25%),
    linear-gradient(-45deg, var(--component-bg) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--component-bg) 75%),
    linear-gradient(-45deg, transparent 75%, var(--component-bg) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0;

  @media (--screen-medium) {
    min-height: 12rem;
    max-height: 27rem;
    flex-basis: 30%;
    height: auto;

    @nest .noContent & {
      flex-basis: 100%;
    }
  }
}

.fieldsWrapper {
  margin-top: 1rem;
  margin-left: 1rem;
  flex-grow: 1;
}

.functions {
  line-height: 3em;
  font-size: 0.8rem;

  @media (--screen-medium) {
    font-size: 1rem;
  }
}
