@import 'part:@sanity/base/theme/variables-style';

:root {
  --side-menu-color: var(--component-bg);
  --side-menu-color-inverted: var(--component-text-color);
  --side-menu-margin-right: 49px;
}

.root {
  position: fixed;
  z-index: var(--zindex-drawer);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.root > div {
  position: relative;
  min-width: 200px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  background: var(--side-menu-color);
  color: var(--side-menu-color-inverted);
  height: 100%;
  transition: 200ms transform ease-in-out;
  transform: translate(-100%);
  pointer-events: all;
  padding-left: env(safe-area-inset-left);
  margin-right: var(--side-menu-margin-right);
}

.root.isOpen {
  @nest & > div {
    transform: translate(0);
  }
}

.header {
  border-bottom: 1px solid var(--hairline-color);
}

.headerMain {
  display: flex;
}

.closeButtonContainer {
  padding: calc(var(--medium-padding) - var(--extra-small-padding));
}

.userProfile {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  padding: calc(var(--medium-padding) - var(--extra-small-padding)) 0
    calc(var(--medium-padding) - var(--extra-small-padding))
    calc(var(--medium-padding) - var(--extra-small-padding));
}

.userAvatarContainer {
  margin: -1px;
}

.userProfileText {
  flex: 1;
  min-width: 0;
  padding: 0 var(--small-padding);
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.datasetSelectContainer {
  padding: 0 var(--small-padding) var(--small-padding);
}

.toolSwitcher {
  min-height: 0;
  flex: 1;
  overflow: auto;
  padding: var(--small-padding);
}

.menuBottom {
  margin-top: auto;
  border-top: 1px solid var(--hairline-color);
  padding: calc(var(--medium-padding) - var(--extra-small-padding)) var(--small-padding);
}

.signOutButton {
  @nest & > button {
    width: 100%;

    @nest & > span > span {
      justify-content: flex-start;
    }
  }
}
