.root {
  display: inline-flex;
  align-items: center;
  line-height: 1.5em;
}

.key {
  color: inherit;
  border: 1px solid currentColor;
  padding: 0 0.3em;
  border-radius: 0.2em;
  min-width: 1em;
  text-align: center;
}

.seperator {
  color: inherit;
  padding: 0 0.2em;
}
