.root {
  overflow: auto;
  height: 100%;
}

.header {
  padding: 1em;
  font-weight: 700;
}

.item {
  padding: 1em;

  @nest &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  @nest &[data-selected='true'] {
    background: #a6c8fd;
  }

  @nest &[data-selection-displayed='true'] {
    background: #06f;
    color: #fff;
  }
}

.item__typeName {
  /* display: block; */
}

.item__timestamp {
  font-size: 13px;
  line-height: 16px;
}
