@import 'part:@sanity/base/theme/variables-style';

.container {
  composes: container from "part:@sanity/dashboard/widget-styles";
}

.title {
  composes: title from "part:@sanity/dashboard/widget-styles";
}

.list {
  composes: listContainer from 'part:@sanity/dashboard/widget-styles';
}

.link {
  display: block;
  color: inherit;
  text-decoration: inherit;
  outline: none;
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  padding: var(--small-padding) var(--medium-padding);
  height: 100%;
}

.buttonContainer {
  composes: bottomButtonContainer from 'part:@sanity/dashboard/widget-styles';
  border-top: 1px solid var(--list-border-color);
}
