@import 'part:@sanity/base/theme/variables-style';

.title {
  composes: title from "part:@sanity/dashboard/widget-styles";
}

.list {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 10rem;

  @media (--screen-medium) {
    height: 24.5rem;
    overflow-y: auto;
  }
}

.link {
  display: block;
  color: inherit;
  text-decoration: inherit;
  outline: none;
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  padding: var(--small-padding) var(--medium-padding);
  height: 100%;
}

.buttonContainer {
  composes: bottomButtonContainer from 'part:@sanity/dashboard/widget-styles';
  border-top: 1px solid var(--list-border-color);
}
