@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  text-align: center;
  align-items: stretch;
  position: relative;
}

.intentLink {
  display: flex;
  outline: none;
  color: inherit;
  text-decoration: none;
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
}

.inner {
  display: flex;
  outline: none;
  padding: 0 var(--small-padding);
  position: relative;
}

.mobileContent {
  display: flex;
  text-decoration: none;
  padding: 0.75em;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  -webkit-font-smoothing: inherit;
  line-height: calc(25 / 16);
  margin: 0;
  height: 100%;

  @media (--screen-medium) {
    display: none;
    padding: 0.75em;
  }

  @media (hover: hover) {
    color: var(--main-navigation-color--inverted-muted);

    @nest &:hover {
      color: inherit;
    }
  }

  @nest &:focus {
    background-color: color(var(--focus-color) a(20%));
  }

  @nest & .icon {
    @nest & > svg {
      display: block;
      font-size: calc(17 / 16 * 1em);
      margin: calc(4 / 17 * 1em);

      @nest &[data-sanity-icon='true'] {
        font-size: calc(25 / 16 * 1em);
        margin: 0;
      }
    }
  }

  @nest & .statusIndicator {
    position: absolute;
    top: calc(1em - 1px);
    right: calc(1em - 1px);
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    border: 1px solid var(--main-navigation-color);
    background: var(--state-success-color);
    box-sizing: border-box;
  }
}

.avatars {
  position: relative;
  display: none;
  align-items: stretch;
  flex: 1;
  height: 100%;
  border: 0;
  background: none;
  box-shadow: 0;
  outline: none;

  @media (--screen-medium) {
    display: flex;
  }

  @nest & .avatars {
    display: flex;
    align-items: center;
    flex: 1;
    height: 100%;
    color: var(--main-navigation-color); /* For avatar border color */
  }
}

.avatarOverlap {
  display: flex;

  @nest & div[class*='Avatar_root'] {
    border: 1px solid var(--main-navigation-color);
  }
}

.avatarOverlap:not(:last-of-type) {
  margin-right: -5px;
}
