@import 'part:@sanity/base/theme/variables-style';

.root {
  /*  */
}

.button {
  position: relative;
  outline: none;
  background: none;
  border: 0;
  display: flex;
  font: inherit;
  padding: 0;
  color: inherit;
  align-items: center;
}

.globalButton {
  composes: button;
  @nest &:focus {
    background-color: color(var(--brand-primary) a(20%));
  }
}

.inner {
  position: relative;
  max-height: 250px;
  margin: -0.375rem -0.75rem; /* Needed to get rid of tooltip padding */
  outline: none;
}

.header {
  padding: var(--medium-padding) var(--medium-padding) var(--small-padding);
  text-align: left;
  max-width: 220px;

  @nest & .title {
    margin: 0;
    font-size: var(--font-size-base);
    font-weight: 700;
  }

  @nest & .subtitle {
    margin: 0;
    padding-bottom: var(--small-padding);
  }
}

.userList {
  list-style: none;
  color: var(--text-color);
  margin: 0;
  padding: var(--extra-small-padding) 0;
  overflow-x: auto;
  max-height: 180px;
}

.userList::-webkit-scrollbar {
  display: none;
}

.manageMembers {
  border-top: 1px solid var(--hairline-color);
  padding: var(--extra-small-padding) 0;
  position: sticky;
  bottom: 0;
  min-width: 190px;
}

.manageLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--medium-padding);
  line-height: 1;
  color: inherit;
  text-decoration: none;
  font-size: var(--font-size-base);
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  outline: none;
}
