@import 'part:@sanity/base/theme/variables-style';

.list {
  list-style: none;
  max-height: 230px;
  overflow-x: auto;
  color: var(--text-color);
  padding: var(--extra-small-padding) 0;
  margin: -0.375rem -0.75rem;

  @nest & .empty {
    padding: var(--small-padding) var(--medium-padding);
    color: var(--gray-dark);
    text-align: center;
    font-style: italic;
    font-size: var(--font-size-small);
  }
}
