@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  align-items: stretch;
}

.button {
  position: relative;
  outline: none;
  background: none;
  border: 0;
  display: flex;
  font: inherit;
  padding: 0;
  color: inherit;
  align-items: center;
}

.globalButton {
  composes: button;
  @nest &:focus {
    background-color: color(var(--brand-primary) a(20%));
  }
}

.inner {
  position: relative;
  outline: none;
}

.header {
  padding: var(--medium-padding) var(--medium-padding) var(--small-padding);
  text-align: left;

  @nest & .title {
    margin: 0;
    font-size: var(--font-size-base);
    font-weight: 700;
  }

  @nest & .subtitle {
    margin: 0;
    padding-bottom: var(--small-padding);
  }
}

.userList {
  list-style: none;
  color: var(--text-color);
  margin: 0;
  padding: var(--extra-small-padding) 0;
  overflow-x: auto;
  max-height: calc(100vh - 400px);
}

.globalUserList {
  min-height: 43px;
}

.userList::-webkit-scrollbar {
  display: none;
}

.manageMembers {
  border-top: 1px solid var(--hairline-color);
  padding: var(--extra-small-padding) 0;
  position: sticky;
  bottom: 0;
  min-width: 180px;
}

.manageLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--medium-padding);
  line-height: 1;
  color: inherit;
  text-decoration: none;
  composes: item from 'part:@sanity/base/theme/layout/selectable-style';
  outline: none;
  
  @nest & > svg {
    color: var(--gray);
    font-size: calc(17 / 16 * 1em); /* 17px */
    display: block;
    font-size: calc(17 / 16 * 1em); /* 17px */

    @nest &[data-sanity-icon='true'] {
      font-size: calc(25 / 16 * 1em); /* 25px */
      margin: calc(4 / 25 * -1em); /* -4px */
    }
  }
}
