@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
}

.root[data-tone='navbar'] {
  margin-right: -4px;
}

.counter {
  color: inherit;
  align-self: center;
  background: var(--component-bg);
  min-height: var(--avatar-height);
  min-width: var(--avatar-height);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--avatar-height) / 2);
  box-shadow: inset 0 0 0 1.5px var(--gray);
  padding: 0 calc(var(--small-padding) - 2px);
  box-sizing: border-box;
  user-select: none;

  @nest .root[data-tone='navbar'] & {
    background: var(--main-navigation-color);
    box-shadow: inset 0 0 0 1.5px
      color(var(--main-navigation-color) blend(var(--main-navigation-color--inverted) 30%));
  }

  /* text element */
  @nest & > span {
    font-size: var(--font-size-tiny);
    line-height: 1;
    margin-top: -1px;
    font-weight: 600;
  }
}

.isGlobal {
  border: 1px solid color(var(--main-navigation-color--inverted) a(70%));
  color: var(--main-navigation-color--inverted);
  font-size: var(--font-size-tiny--relative);
  background: var(--main-navigation-color);
}
