@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
}

.counter {
  color: inherit;
  align-self: center;
  background: var(--component-bg);
  min-height: var(--avatar-height);
  min-width: var(--avatar-height);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--avatar-height) / 2);
  box-shadow: inset 0 0 0 1.5px var(--gray);
  font-size: var(--font-size-tiny);
  padding: 0 calc(var(--small-padding) - 2px);
  box-sizing: border-box;
  font-weight: 600;
  user-select: none;

  @nest .root[data-tone='navbar'] & {
    background: var(--main-navigation-color);
  }
}

.isGlobal {
  border: 1px solid color(var(--main-navigation-color--inverted) a(70%));
  color: var(--main-navigation-color--inverted);
  font-size: var(--font-size-tiny--relative);
  background: var(--main-navigation-color);
}
