@import 'part:@sanity/base/theme/variables-style';

.menuItem {
  display: inline-flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.menuItemLabel {
  flex: 1;
  min-width: 0;
}

.hotkey {
  margin-left: var(--medium-padding);
}
