@import 'part:@sanity/base/theme/variables-style';

@use postcss-cssnext;

.root {
  display: block;
  position: relative;
}

.label {
  /* Nothing here yet */
}

.select {
  composes: textInput from 'part:@sanity/base/theme/forms/text-input-style';
  appearance: none;
  position: relative;
  overflow: hidden;
  margin-right: 1.5em;
}

.focused {
  /* focused */
}

.selectContainer {
  position: relative;
  color: var(--input-border-color);

  &:hover {
    color: var(--input-border-color-focus);
  }

  @nest .focused & {
    color: var(--input-border-color-focus);
  }
}

.icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 0.2em;
  transform: translateY(-50%);
  font-size: 1.2em;
  pointer-events: none;
  color: inherit;
  cursor: pointer;

  svg {
    color: inherit;
  }
}
