@import 'style:@sanity/base/theme/variables';
@use postcss-cssnext;

.root {
  composes: root from 'style:@sanity/components/selects/default';
}

.selectContainer {
  composes: selectContainer from 'style:@sanity/components/selects/default';
}

.selectContainer {
  composes: selectContainer from 'style:@sanity/components/selects/default';
}

.icon {
  composes: icon from 'style:@sanity/components/selects/default';
}

.listContainer {
  display: block;
  position: absolute;
  width: 100%;
  max-height: 10em;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid var(--input-border-color-focus);
  box-sizing: border-box;
  transform: translateY(-1px);
}

.listContainerHidden {
  display: none;
}
