@import 'part:@sanity/base/theme/variables-style';

@use postcss-cssnext;

.root {
  composes: root from 'part:@sanity/components/selects/default-style';
}

.selectContainer {
  composes: selectContainer from 'part:@sanity/components/selects/default-style';
}

.selectContainer {
  composes: selectContainer from 'part:@sanity/components/selects/default-style';
}

.icon {
  composes: icon from 'part:@sanity/components/selects/default-style';
  cursor: pointer;
  pointer-events: unset;
}

.listContainer {
  display: block;
  position: absolute;
  width: 100%;
  height: 10em;
  overflow: hidden;
  border: 1px solid var(--input-border-color-focus);
  box-sizing: border-box;
  transform: translateY(-1px);
}

.listContainerHidden {
  display: none;
}

.noResultText {
  text-align: center;
  padding: 0.5em;
}

.spinner {
  position: absolute;
  top: 0.5em;
  right: 0.75em;
}

.clearButton {
  composes: clearButton from 'part:@sanity/components/textinputs/default-style';
  right: 1.5em;
}
