@import 'part:@sanity/base/theme/variables-style';

@use postcss-cssnext;

.root {
  composes: root from 'part:@sanity/components/selects/default-style';
}

.inner {
  composes: textInput from 'part:@sanity/base/theme/forms/text-input-style';
  cursor: pointer;

  @nest .transparent & {
    transition: all 0.05s linear;
    background-color: transparent;
    border-color: transparent;

    @nest &:hover {
      background-color: #fff;
      border-color: #ccc;
    }
  }
}

.selectContainer {
  composes: selectContainer from 'part:@sanity/components/selects/default-style';
}

.icon {
  composes: icon from './SearchableSelect.css';
}

.listContainer {
  display: block;
  position: absolute;
  overflow: hidden;
  composes: shadow-4dp from "part:@sanity/base/theme/shadows-style";
  box-sizing: border-box;
  transform: translateY(-1px);
  background-color: color(var(--body-bg) a(90%));
  height: auto;
  width: auto;
  overflow-y: auto;

  @supports (backdrop-filter: blur(5px)) {
    backdrop-filter: blur(5px);
    background-color: color(var(--body-bg) a(70%));
  }
}

.text {
  color: var(--text-color);
}

.listContainerHidden {
  display: none;
}

.noResultText {
  text-align: center;
  padding: 0.5em;
}

.spinner {
  position: absolute;
  top: 0.5em;
  right: 0.75em;
}

.item {
  display: block;
  position: relative;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  overflow: hidden;
  min-height: 2em;
  cursor: pointer;
  padding-right: 1em;

  &:last-child {
    border: 0;
  }

  &:hover {
    background-color: var(--gray-lighter--transparent);
  }

  &:active {
    background-color: var(--gray-light--transparent);
  }
}

.itemContent {
  margin-left: 2em;
  padding: 0.5em 0;
}

.itemIcon {
  display: block;
  position: absolute;
  top: 50%;
  left: 0.5em;
  transform: translateY(-50%);
  font-size: 1em;
  width: 2em;
  overflow: hidden;
}
