@import 'part:@sanity/base/theme/variables-style';

.root {
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  display: inline-block;
  vertical-align: top;
  border: 0;
  background: none;
  color: var(--text-muted);
  font: inherit;
  padding: 0;
  border-radius: var(--border-radius-small);
  outline: none;

  /* Clickable focus container */
  @nest & > div {
    padding: var(--extra-small-padding) var(--small-padding);
    outline: none;
    display: flex;
  }

  @nest &:focus {
    background: var(--selectable-item-color-hover);
  }

  @media (hover: hover) {
    @nest &:hover {
      color: inherit;
    }
  }
}

.isActive {
  composes: root;
  color: var(--text-color);
}

.icon {
  display: block;
  margin: 0;

  @nest & > svg {
    display: block;
    font-size: calc(15 / 16 * 1em);

    @nest &[data-sanity-icon='true'] {
      font-size: calc(21 / 16 * 1em);
      margin: calc(3 / 21 * -1em);
    }
  }
}

.label {
  display: block;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: 600;
  margin: calc(1 / 16 * -1em) 0 0;

  @nest .icon + & {
    margin-left: var(--extra-small-padding);
  }
}
