@import 'part:@sanity/base/theme/variables-style';

.root {
  outline: none;

  /* TODO: find out if we should render some kind of focus indicator. */
  /* @nest &:focus {
    outline: 2px solid var(--focus-color);
    outline-offset: -2px;
  } */
}
