@import 'part:@sanity/base/theme/variables-style';

.label {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: 600;
  color: var(--label-color);
}

.headingLevel_1 {
  composes: label;
}

.headingLevel_2 {
  composes: label;
}

.headingLevel_3 {
  composes: label;
}

.headingLevel_4 {
  composes: label;
}

.headingLevel_5 {
  composes: label;
}
