@import 'part:@sanity/base/theme/variables/typography-style';

.root {
  text-align: left;
  display: block;
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  line-height: var(--headings-line-height);
  color: var(--headings-color);
  margin: 0;
  padding: 0;
}

.heading1 {
  composes: root;
  font-size: var(--font-size-h1);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.heading2 {
  composes: root;
  font-size: var(--font-size-h2);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.heading3 {
  composes: root;
  font-size: var(--font-size-h3);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.heading4 {
  composes: root;
  font-size: var(--font-size-h4);
  /* line-height: calc(22 / 16); */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.heading5 {
  composes: root;
  font-size: var(--font-size-h5);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.heading6 {
  composes: root;
  font-size: var(--font-size-h6);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
