@import 'part:@sanity/base/theme/variables-style';

.default {
  display: block;
}

.root {
  font-size: 100%;
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.base {
  composes: root;
}

.lead {
  composes: base;
  font-size: var(--font-size-large);
  padding-bottom: 1rem;
}

.small {
  composes: base;
  font-size: var(--font-size-small);
}

.description {
  composes: small;
  color: var(--text-color-secondary);
}

.paragraph {
  composes: base;
  padding-bottom: 1rem;
}

.blockquote {
  position: relative;
  color: var(--blockquote-color);
  font-size: var(--blockquote-font-size);
  font-family: var(--font-family-serif);
  font-style: italic;
  margin: 0;
  padding: 0.5em;
  padding-left: 2.5em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 400 300'><polygon opacity='0.15' fill='currentColor' points='184,40 108,150 166,150 166,300 0,300 16,139 103,40'/><polygon opacity='0.15' fill='currentColor' points='216,260 292,150 234,150 234,0 400,0 384,161 297,260'/></svg>");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: border-box;
  background-size: 2em;
}

.blockquoteSmall {
  composes: blockquote;
  color: var(--blockquote-small-color);
}
