@import 'part:@sanity/base/theme/variables-style';

.default {
  display: block;
}

.root {
  font-size: 100%;
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.base {
  composes: root;
}

.lead {
  composes: base;
  font-size: var(--font-size-large);
  padding-bottom: 1rem;
}

.small {
  composes: base;
  font-size: var(--font-size-small);
}

.description {
  composes: small;
  color: var(--text-color-secondary);
}

.paragraph {
  composes: base;
  padding-bottom: 1rem;
}

.blockquote {
  position: relative;
  color: var(--blockquote-color);
  font-size: var(--blockquote-font-size);
  font-family: var(--font-family-serif);
  font-style: italic;
  padding-left: 1.1rem;

  @nest &:before {
    content: "“";
    font-size: 5em;
    font-family: var(--font-family-serif);
    position: absolute;
    left: -3rem;
    top: -2rem;
    opacity: 0.5;
    height: 4rem;
    width: 4rem;
    overflow: hidden;
  }
}

.blockquoteSmall {
  composes: blockquote;
  color: var(--blockquote-small-color);
}
