@import 'part:@sanity/base/theme/variables-style';

.default {
  display: block;
}

.root {
  font-family: var(--font-family-base);
  margin: 0;
  padding: 0;
}

.base {
  composes: root;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.lead {
  composes: base;
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  margin: var(--medium-padding) 0;
}

.small {
  composes: base;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

.description {
  composes: small;
  color: var(--text-muted);
}

.paragraph {
  composes: base;
  margin: var(--medium-padding) 0;
}

.blockquote {
  position: relative;
  color: var(--blockquote-color);
  font-family: var(--blockquote-font-family);
  font-size: var(--blockquote-font-size);
  line-height: var(--blockquote-line-height);
  font-style: var(--blockquote-font-style);
  margin: var(--medium-padding) 0;
  padding-left: calc(var(--medium-padding) - 1px);
  border-left: 1px solid var(--hairline-color);
}
