@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  padding: var(--extra-small-padding) var(--small-padding);
  border-radius: var(--border-radius-small);
  flex: 1;

  @nest del & {
    text-decoration: line-through;
  }
}
