@import 'part:@sanity/base/theme/variables-style';

.item {
  display: flex;
  align-items: center;
  @nest &:not(:last-child) {
    margin-bottom: var(--small-padding);
  }
}

.label {
  display: flex;
  align-items: center;
}

.itemPreview {
  margin-left: var(--small-padding);
  line-height: 1;
}
