@import 'part:@sanity/base/theme/variables-style';

:root {
  --radio-select-padding-narrow: calc(var(--medium-padding) - var(--extra-small-padding));
}

.root {
  display: flex;
  border: 1px solid var(--hairline-color);
  border-radius: var(--border-radius-small);
  padding: var(--radio-select-padding-narrow) var(--radio-select-padding-narrow) 0;

  @media (--screen-medium) {
    padding: var(--medium-padding) var(--medium-padding) 0;
  }
}

.vertical {
  @nest & .item + .item {
    margin-top: var(--small-padding);
  }
}

.horizontal {
  @nest & .radioContainer {
    display: flex;
    flex-wrap: wrap;
  }
}

.item {
  margin-right: var(--radio-select-padding-narrow);
  margin-bottom: var(--radio-select-padding-narrow);

  @media (--screen-medium) {
    margin-right: var(--medium-padding);
    margin-bottom: var(--medium-padding);
  }
}
