@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  user-select: none;
  height: 5em;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
}

.top {
  display: flex;
  min-width: 0;
  justify-content: space-between;
  align-items: center;
}

.heading {
  display: block;
  min-width: 0;
}

.content {
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @nest & > * {
    min-width: 0;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  composes: base from 'part:@sanity/base/theme/typography/text-blocks-style';
  composes: ellipsis;
  text-transform: none;
  color: inherit;
  font: inherit;
  margin: 0;
  min-width: 0;
}

.subtitle {
  margin: 0;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.75;
}

.description {
  margin: var(--small-padding) 0 0;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  overflow: hidden;
  max-height: calc(var(--line-height-small) * 2em);
  opacity: 0.75;
}

.media {
  flex-basis: 5em;
  flex-grow: 1;
  min-width: 5em;
  width: 5em;
  max-width: 5em;
  overflow: hidden;
  position: relative;
  margin-right: var(--small-padding);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  @nest & > img {
    display: block;
    width: 5em;
    height: 5em;
    object-fit: contain;
  }

  @nest & svg {
    font-size: 3rem;
    color: inherit;
  }
}

.status {
  white-space: nowrap;
  padding-left: var(--small-padding);
}

.mediaString {
  composes: absoluteCenter from 'part:@sanity/base/theme/layout/positioning-style';
  padding: 5px;
  font-size: var(--font-size-small);
  color: var(--gray);
}

.placeholder {
  composes: root;

  @nest & .top {
    flex-direction: column;
    height: 100%;
  }

  @nest & .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  @nest & .title {
    width: 80%;
    color: transparent;
    background-color: var(--preview-placeholder-color);
  }

  @nest & .subtitle {
    width: 70%;
    color: transparent;
    background-color: var(--preview-placeholder-color);
  }

  @nest & .description {
    width: 90%;
    color: transparent;
    background-color: var(--preview-placeholder-color);
  }

  @nest & .media {
    border-color: transparent;
    color: transparent;
    background-color: var(--preview-placeholder-color);
  }
}
