@import 'part:@sanity/base/theme/variables-style';

.root {
  display: inline-block;
  position: relative;
  line-height: 1;
}

.media {
  display: inline-block;
  vertical-align: top;
  position: relative;

  @nest & > img {
    height: calc(14 / 16 * 1em);
    margin: 1px 0;
    display: block;
    object-fit: cover;
  }

  @nest & > svg {
    display: block;
    font-size: calc(14 / 16 * 1em);
    margin: 1px 0;

    @nest &[data-sanity-icon='true'] {
      font-size: calc(18 / 16 * 1em);
      margin: calc(1px + (2 / 18 * -1em)) 0;
    }
  }

  @nest & > div {
    display: inline-block;
  }
}

.title {
  vertical-align: top;
}

.title:empty {
  display: none;
}

.media:not(:empty) + .title:not(:empty) {
  padding-left: calc(var(--extra-small-padding) / 2);
}

.children {
  /* @todo */
}
