@import 'part:@sanity/base/theme/variables-style';

.card {
  border-radius: 2px;
  background-color: color(var(--component-bg) blend(var(--state-danger-color) 10%));
}

.cardHeader {
  padding: var(--medium-padding) var(--medium-padding) var(--extra-small-padding);
}

.cardTitle {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin: 0;
}

.cardContent {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  padding: var(--extra-small-padding) var(--medium-padding) var(--medium-padding);

  @nest & p, & ul {
    margin: var(--small-padding) 0;
  }
}

.stack {
  margin: 0 auto;

  @nest & pre {
    border: 1px solid var(--hairline-color);
    padding: var(--medium-padding);
    background: var(--pre-bg);
    color: var(--pre-color);
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    overflow: auto;
  }
}
