@import 'part:@sanity/base/theme/variables-style';

.root {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  flex-wrap: nowrap;
  border-radius: var(--border-radius-small);

  @nest &.selected {
    opacity: 1;
    box-shadow: 0 0 0 1px var(--component-bg), 0 0 0 3px var(--body-text);
  }

  @nest &:not(.selected) {
    @media (hover: hover) {
      @nest &:hover {
        box-shadow: 0 0 0 1px var(--component-bg), 0 0 0 3px var(--selected-item-color);
      }
    }
  }
}

.imageContainer {
  position: relative;
  z-index: 1;
  padding-bottom: 100%;
  background-color: var(--body-bg);
  background-image: linear-gradient(45deg, var(--checkerboard-color) 25%, transparent 25%),
    linear-gradient(-45deg, var(--checkerboard-color) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--checkerboard-color) 75%),
    linear-gradient(-45deg, transparent 75%, var(--checkerboard-color) 75%);
  background-size: 16px 16px;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0;
}

.image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.spinnerContainer {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color(var(--component-bg) a(50%));
  color: var(--text-color);
}

.menuContainer {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  top: var(--extra-small-padding);
  right: var(--extra-small-padding);
  border-radius: var(--border-radius-base);

  @media (hover: hover) {
    display: none;

    @nest .root:hover & {
      display: block;
    }
  }
}
