@import 'part:@sanity/base/theme/variables-style';

.content {
  display: grid;
  grid-gap: var(--medium-padding);
}

.field {
  composes: root from '../ObjectInput/styles/Field.css';
}

.assetWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  position: relative;
  max-height: 18rem;
  overflow: hidden;
  flex-grow: 1;
  border-bottom: 1px;
  box-sizing: border-box;
  background-color: color(var(--gray-lightest) alpha(50%));
  background-image: linear-gradient(45deg, var(--checkerboard-color) 25%, transparent 25%),
    linear-gradient(-45deg, var(--checkerboard-color) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--checkerboard-color) 75%),
    linear-gradient(-45deg, transparent 75%, var(--checkerboard-color) 75%);
  background-size: 16px 16px;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0;
  border-radius: var(--input-border-radius);

  @media (--screen-medium) {
    min-height: 12rem;
    max-height: 27rem;
    min-width: 12rem;
    height: auto;

    @nest .noContent & {
      flex-basis: 100%;
    }
  }

  @nest &.readOnly {
    background-image: none;
    background: var(--input-bg-disabled);
  }

  @nest &.focused {
    box-shadow: 0 0 0 1px var(--component-bg), 0 0 0 3px color(var(--brand-primary) alpha(50%));
  }
}

.progress {
  composes: flexCenter from 'part:@sanity/base/theme/layout/positioning-style';
}

.uploadState {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: color(var(--body-bg) a(90%));
  z-index: 1;
}

.functions {
  composes: functions from 'part:@sanity/components/fieldsets/default-style';
}

.content + .functions {
  margin-top: var(--small-padding);

  @media (--screen-medium) {
    margin-top: var(--medium-padding);
  }
}

.advancedEditFields {
  margin-bottom: var(--medium-padding);

  @nest & .field {
    padding-bottom: var(--large-padding);
  }
}

.selectDropDownAssetSourceItem {
  color: inherit;
  text-decoration: none;
  display: flex;
}

.selectDropDownAssetSourceIcon {
  display: flex;
  align-items: left;
  justify-content: center;
  align-self: center;
  font-size: var(--font-size-large);
  margin-right: var(--small-padding);
}
