@import 'part:@sanity/base/theme/variables-style';

.root {
}

.content {
  position: relative;
  padding-bottom: calc(2 / 3 * 100%);

  @nest &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1px var(--hairline-color);
    pointer-events: none;
    border-radius: var(--input-border-radius);
  }

  @nest .root.focused &::after {
    box-shadow: inset 0 0 0 1px var(--focus-color), 0 0 0 1px var(--focus-color);
  }
}

.assetWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: color(var(--gray-lightest) alpha(50%));
  background-image: linear-gradient(45deg, var(--checkerboard-color) 25%, transparent 25%),
    linear-gradient(-45deg, var(--checkerboard-color) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--checkerboard-color) 75%),
    linear-gradient(-45deg, transparent 75%, var(--checkerboard-color) 75%);
  background-size: 16px 16px;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0;
  border-radius: var(--input-border-radius);
  overflow: hidden;

  @nest .root.readOnly & {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    background: var(--input-bg-disabled);
    color: var(--gray-dark);
  }
}

.fieldWrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: var(--large-padding) var(--medium-padding);
}

.field {
  composes: root from '../ObjectInput/styles/Field.css';
}

.progress {
  composes: flexCenter from 'part:@sanity/base/theme/layout/positioning-style';
}

.uploadState {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: color(var(--body-bg) a(90%));
  z-index: 1;
}

.functions {
  composes: functions from 'part:@sanity/components/fieldsets/default-style';
  margin-top: var(--small-padding);

  @media (--screen-medium) {
    margin-top: var(--medium-padding);
  }
}

.selectDropDownAssetSourceItem {
}

.selectDropDownAssetSourceItem__inner {
  display: flex;
  align-items: center;
  padding: calc(var(--medium-padding) - var(--extra-small-padding)) var(--medium-padding);
}

.selectDropDownAssetSourceItem__iconContainer {
  height: 17px;

  @nest & > svg {
    font-size: calc(17 / 16 * 1em);

    @nest &[data-sanity-icon='true'] {
      font-size: calc(25 / 16 * 1em);
      margin: calc(4 / 25 * -1em);
    }
  }
}

.selectDropDownAssetSourceItem__label {
  margin: -2px 0 -1px;

  @nest .selectDropDownAssetSourceItem__iconContainer + & {
    margin-left: var(--small-padding);
  }
}
