@use postcss-cssnext;

.root {
  border: 1px solid red;
  box-shadow: 2px 2px 10px #ccc;
}

.inner {
  display: block;
}

.top {
  display: block;
  overflow: hidden;
}

.title {
  composes: heading2 from 'part:@sanity/base/theme/typography/headings-style';
}

.content {
  overflow: hidden;
}
