@import "part:@sanity/base/theme/variables-style";

.root {
  font-size: 0.6rem;
  margin-bottom: 0.5em;

  @media (--screen-medium) {
    font-size: 0.8rem;
  }

  @nest &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.dividerLeft {
  border-left: 1px solid #ccc;
}

.dividerRight {
  border-right: 1px solid #ccc;
}

.insertContainer {
  float: right;
}

.textFormatContainer {
  composes: dividerLeft;
  float: left;
  padding-left: 0.5em;
}

.listFormatContainer {
  composes: dividerLeft;
  float: left;
  padding-left: 0.5em;
}

.blockFormatContainer {
  max-width: 5em;
  float: left;
  min-width: 4em;
  padding-right: 0.5em;

  @media (--screen-medium) {
    max-width: none;
    min-width: 8em;
    padding-top: 0.2em;
  }
}

.linkContainer {
  composes: dividerRight;
  composes: dividerLeft;
  float: left;
}

.formatButtons {
  display: block;
}

.fullscreenButtonContainer {
  float: right;
  composes: dividerLeft;

  @nest & svg {
    transform: scale(1.5);
  }
}
