name: CLI Unit tests

on:
  # Build on pushes branches that have a PR (including drafts)
  pull_request:
  # Build on commits pushed to branches without a PR if it's in the allowlist
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  cli-test:
    timeout-minutes: 60
    name: CLI Tests (${{ matrix.os }} / node ${{ matrix.node }})
    runs-on: ${{ matrix.os }}
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node: [18, 20, 22]
        experimental: [false]
        # include:
        #   - os: windows-latest
        #     node: 16
        #     experimental: true

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: ${{ matrix.node }}

      # Do not run cli tests on release PRs or when the release PR is merged because
      # the CLI tests will attempt to install the not-yet-released packages from npm
      # Note: we can't skip, because this is a required status check, but exit 0 will report success
      - name: Skip for release PR or commit
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            if [[ "${{ github.event.pull_request.title }}" == chore:\ release* ]]; then
              echo "✅ Skipping test on release PR"
              exit 0
            fi
          fi
          if [[ "${{ github.event_name }}" == "push" ]]; then
            if [[ "${{ github.event.head_commit.message }}" == chore:\ release* ]]; then
              echo "✅ Skipping test on release commit"
              exit 0
            fi
          fi
      - name: Install project dependencies
        run: pnpm install

      - name: Build CLI
        run: pnpm build --output-logs=full --log-order=grouped # Needed for CLI tests

      - name: Test
        id: test
        run: pnpm test:vitest --retry 4 --silent --project=@sanity/cli
        env:
          # Update token in github and change below to ${{ secrets.SANITY_CI_CLI_AUTH_TOKEN }} after merge to main
          SANITY_CI_CLI_AUTH_TOKEN_STAGING: ${{ secrets.SANITY_CI_CLI_AUTH_TOKEN_STAGING }}
