name: CLI Unit tests

on:
  # Build on pushes branches that have a PR (including drafts)
  pull_request:
  # Build on commits pushed to branches without a PR if it's in the allowlist
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  cli-test:
    timeout-minutes: 60
    name: CLI Tests (node ${{ matrix.node }})
    runs-on: ubuntu-8core
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
      GITHUB_JOB_INDEX: ${{ strategy.job-index }} # For uniqueness in integration tests
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # For rate limiting with GitHub API
      SANITY_CLI_API_RATE_LIMIT_BYPASS: ${{ secrets.SANITY_CLI_API_RATE_LIMIT_BYPASS }}
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      fail-fast: false
      matrix:
        node: [20.19.0, 20, 22.14.0, 22, 24.0.0, 24]
        experimental: [false]
        # include:
        #   - os: windows-latest
        #     node: 16
        #     experimental: true

    steps:
      - name: Check if this is a release PR or commit
        # Provide a way to skip running cli tests on release PRs or when the release PR is merged because
        # the CLI tests will attempt to install the not-yet-released packages from npm
        id: check_release
        run: |
          SKIP="false"
          if [[ $MESSAGE =~ ^chore\(release\):\ publish\  ]]; then
            SKIP="true"
          fi
          echo "skip=$SKIP" >> $GITHUB_OUTPUT
        env:
          MESSAGE: ${{ (github.event_name == 'pull_request' && github.event.pull_request.title) ||  (github.event_name == 'push' && github.event.head_commit.message)  }}

      - uses: actions/checkout@v6
        if: steps.check_release.outputs.skip != 'true'
        with:
          fetch-depth: 0

      - name: Check if only examples files changed
        if: steps.check_release.outputs.skip != 'true'
        id: check_examples
        uses: ./.github/actions/check-path-only
        with:
          path: examples/

      - uses: ./.github/actions/setup
        if: steps.check_release.outputs.skip != 'true' && steps.check_examples.outputs.path_only != 'true'
        with:
          node-version: ${{ matrix.node }}

      - name: Build CLI
        if: steps.check_release.outputs.skip != 'true' && steps.check_examples.outputs.path_only != 'true'
        run: pnpm build --output-logs=full --log-order=grouped # Needed for CLI tests

      - name: Test
        if: steps.check_release.outputs.skip != 'true' && steps.check_examples.outputs.path_only != 'true'
        id: test
        run: pnpm test:vitest --retry 4 --silent --project=@sanity/cli
        env:
          # Update token in github and change below to ${{ secrets.SANITY_CI_CLI_AUTH_TOKEN }} after merge to main
          SANITY_CI_CLI_AUTH_TOKEN_STAGING: ${{ secrets.SANITY_CI_CLI_AUTH_TOKEN_STAGING }}
