name: Depcheck

on: [push, pull_request]

jobs:
  depcheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          # added -vX just to reset the cache, feel free to up it if you need
          # to reset the cache again
          cache-name: cache-node-modules-v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-

      - name: Install npm dependencies
        env:
          PUPPETEER_SKIP_DOWNLOAD: 'true'
        run: yarn install

      # Required for import lint rules to work - packages pointing to ex
      # `lib/index.js`, where `src/index.ts` gets compiled to `lib/index.js`
      - name: Build modules
        id: buildResolver
        run: yarn gulp js

      - name: Check for unused or missing dependencies
        id: depcheck
        run: yarn depcheck
