name: Create Documentation Report

on:
  # Build on pushes branches that have a PR (including drafts)
  pull_request:
  # Build on commits pushed to branches without a PR if it's in the allowlist
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  report:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: lts/*

      - name: Install project dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm build --output-logs=full --log-order=grouped
        env:
          NODE_OPTIONS: --max_old_space_size=8192

      - name: Create Docs Report on main
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        env:
          DOCS_REPORT_TOKEN: ${{ secrets.DOCS_REPORT_DATASET_TOKEN }}
          DOCS_REPORT_DATASET: 'production'
        run: pnpm docs:report:create

      - name: Create Docs Report on PR
        if: ${{ github.event_name == 'pull_request' }}
        env:
          DOCS_REPORT_TOKEN: ${{ secrets.DOCS_REPORT_DATASET_TOKEN }}
          DOCS_REPORT_DATASET: pr-${{ github.event.number }}
        run: pnpm docs:report:create

      - name: Compare Docs Coverage on PR
        if: ${{ github.event_name == 'pull_request' }}
        env:
          DOCS_REPORT_TOKEN: ${{ secrets.DOCS_REPORT_DATASET_TOKEN }}
          DOCS_REPORT_DATASET: pr-${{ github.event.number }}
        run: pnpm docs:report

      - name: PR comment with report
        uses: thollander/actions-comment-pull-request@fabd468d3a1a0b97feee5f6b9e499eab0dd903f6 # v2
        if: ${{ github.event_name == 'pull_request' }}
        with:
          comment_tag: "docs-report"
          filePath: ${{ github.workspace }}/scripts/docs-report.md
