name: Extract, Transform & Load

on: [push, pull_request]

jobs:
  etl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-modules-${{ env.cache-name }}-
            ${{ runner.os }}-modules-
            ${{ runner.os }}-

      - name: Install project dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        env:
          # Keep the Cypress binary in ./node_modules/.cypress
          CYPRESS_CACHE_FOLDER: './node_modules/.cypress'
          CYPRESS_INSTALL_BINARY: '0'
          PUPPETEER_SKIP_DOWNLOAD: 'true'
        run: yarn install

      - name: Build packages
        run: yarn build
        env:
          NODE_OPTIONS: --max_old_space_size=8192

      - name: Extract API docs
        env:
          EXTRACT_SANITY_API_TOKEN: ${{ secrets.EXTRACT_SANITY_API_TOKEN }}
        run: yarn etl --quiet
