name: Extract, Transform & Load

on:
  # Build on pushes branches that have a PR (including drafts)
  pull_request:
  # Build on commits pushed to branches without a PR if it's in the allowlist
  push:
    branches: [next]

jobs:
  etl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3

      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@58c146cc91c5b9e778e71775dfe9bf1442ad9a12 # v3
        env:
          cache-name: cache-node-modules
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-modules-${{ env.cache-name }}-
            ${{ runner.os }}-modules-
            ${{ runner.os }}-

      - name: Install project dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        env:
          # Keep the Cypress binary in ./node_modules/.cypress
          CYPRESS_CACHE_FOLDER: './node_modules/.cypress'
          CYPRESS_INSTALL_BINARY: '0'
          PUPPETEER_SKIP_DOWNLOAD: 'true'
        run: yarn install

      - name: Build packages
        run: yarn build
        env:
          NODE_OPTIONS: --max_old_space_size=8192

      - name: Extract API docs
        env:
          EXTRACT_SANITY_API_TOKEN: ${{ secrets.EXTRACT_SANITY_API_TOKEN }}
        run: yarn etl --quiet
