name: Extract, Transform & Load

on:
  # allow this workflow to be ran manually
  workflow_dispatch:
  # Build on pushes branches that have a PR (including drafts)
  pull_request:
  # Build on release publishes
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  etl:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: lts/*

      - name: Install project dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm build --output-logs=full --log-order=grouped
        env:
          NODE_OPTIONS: --max_old_space_size=8192

      - name: Extract API docs
        env:
          # Use production environment only for release builds
          EXTRACT_SANITY_PROJECT_ID: "${{ github.event_name == 'release' && vars.EXTRACT_SANITY_PROJECT_ID || vars.DEV_EXTRACT_SANITY_PROJECT_ID }}"
          EXTRACT_SANITY_DATASET: "${{ github.event_name == 'release' && vars.EXTRACT_SANITY_DATASET || vars.DEV_EXTRACT_SANITY_DATASET }}"            
          EXTRACT_SANITY_API_TOKEN: "${{ github.event_name == 'release' && secrets.EXTRACT_SANITY_API_TOKEN || secrets.DEV_EXTRACT_SANITY_API_TOKEN }}"
        run: pnpm etl sanity
