name: "Cleanup: PR Merge/Closed"

on:
  # Build on closed or merged PRs
  pull_request:
    types: [closed]

jobs:
  docs-cleanup:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: lts/*

      - name: Install project dependencies
        run: pnpm install

      - name: Remove docs report datasets for closed PRs
        env:
          DOCS_REPORT_TOKEN: ${{ secrets.DOCS_REPORT_DATASET_TOKEN }}
          DOCS_REPORT_DATASET: pr-${{ github.event.number }}
        run: pnpm docs:report:cleanup

  e2e-cleanup:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    strategy:
      matrix:
        project: [chromium, firefox]

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: lts/*

      - name: Install project dependencies
        run: pnpm install

      - name: Remove E2E datasets for closed PRs
        env:
          SANITY_E2E_SESSION_TOKEN: ${{ secrets.SANITY_E2E_SESSION_TOKEN_NEW_STAGING }}
          SANITY_E2E_PROJECT_ID:
            ${{ vars.SANITY_E2E_PROJECT_ID_STAGING }}
            # the id is based on the PR number and the workflow run id
          SANITY_E2E_DATASET: pr-${{ matrix.project }}-${{ github.event.number }}-${{ github.run_id }}
        run: pnpm e2e:cleanup
