name: Check if release is in progress

on:
  pull_request:

permissions:
  contents: read

jobs:
  update-release-status:
    name: "Update release status check suite"
    runs-on: ubuntu-latest

    if: |
      github.event_name == 'pull_request' &&
      (github.head_ref == 'ci/release-main' || github.head_ref == 'block-merge-when-release-in-progress-test') &&
      (github.event.action == 'ready_for_review' || github.event.action == 'converted_to_draft' || github.event.action == 'closed')

    steps:
      - name: Test
        run: echo "TODO"

  check-release-status:
    runs-on: ubuntu-latest
    name: "Check release status"

    if: |
      github.event_name == 'pull_request' &&
      github.head_ref != 'ci/release-main'

    steps:
      - name: Check if release is in progress
        run: echo "No release in progress"
