name: Test

on: [push]

jobs:
  test:
    name: Test (${{ matrix.os }} / node ${{ matrix.node }})
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [12, 14, 16]
        experimental: [false]
        include:
          - os: windows-latest
            node: 16
            experimental: true

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          # added -vX just to reset the cache, feel free to up it if you need
          # to reset the cache again
          cache-name: cache-node-modules-v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-

      - name: Install npm dependencies
        env:
          CYPRESS_INSTALL_BINARY: '0'
        run: yarn install

      - name: Test individual modules
        run: npx jest && lerna run --scope groq --scope '@sanity/{client,generate-help-url,plugin-loader}' test

      - name: Build modules
        run: yarn build

      - name: Build CLI
        run: |
          # Build CLI to a single file
          cd packages/@sanity/cli
          yarn pack

      - name: Test CLI
        working-directory: ${{ env.GITHUB_WORKSPACE }}
        run: |
          node scripts/testCli.js

      - name: Notify Slack about build failure
        if: failure() && github.ref == 'refs/heads/ui/main'
        env:
          SLACK_BOT_TOKEN: ${{ secrets.ACTIONS_SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: studio-internal
          status: FAILED
          color: danger
