name: test-gh-release.yml
on:
  push:
    branches:
      - test-gh-release

permissions:
  contents: write

jobs:
  build-and-validate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      version: ${{ steps.release-as.outputs.version }}
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup

      - name: Get version from lerna.json
        id: release-as
        run: |
          version=$(jq -r .version lerna.json)
          echo "version=$version" >> "$GITHUB_OUTPUT"
  npm-publish:
    runs-on: ubuntu-latest
    needs: [build-and-validate]
    permissions:
      contents: read

    steps:
      - name: Publish packages to npm
        run: echo "OK (debug)"

  publish-github-release:
    needs: [npm-publish, build-and-validate]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.ECOSPARK_APP_ID }}
          private-key: ${{ secrets.ECOSPARK_APP_PRIVATE_KEY }}

      - name: Generate GitHub release
        id: generate-github-release
        run: |
          pnpm --silent release-notes generate-gh-release-notes --targetVersion="${{needs.build-and-validate.outputs.version}}" > ${{ runner.temp }}/notes.md

        env:
          RELEASE_NOTES_SANITY_PROJECT_ID: ${{ vars.RELEASE_NOTES_SANITY_PROJECT_ID }}
          RELEASE_NOTES_SANITY_DATASET: ${{ vars.RELEASE_NOTES_SANITY_DATASET }}
          RELEASE_NOTES_ADMIN_STUDIO_URL: ${{ vars.RELEASE_NOTES_ADMIN_STUDIO_URL }}
          RELEASE_NOTES_SANITY_TOKEN: ${{ secrets.RELEASE_NOTES_SANITY_TOKEN }}
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Create GitHub Release
        run: |
          gh release create v${{ needs.build-and-validate.outputs.version }} --draft -F ${{ runner.temp }}/notes.md
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
