name: Test exports works in native node ESM and CJS and TypeScript DTS
on:
  push:
jobs:
  testExports:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Check if only examples files changed
        id: check_examples
        uses: ./.github/actions/check-path-only
        with:
          path: examples/

      - uses: ./.github/actions/setup
        if: steps.check_examples.outputs.path_only != 'true'

      - name: Check export conditions in native node ESM and CJS, and TypeScript DTS
        if: steps.check_examples.outputs.path_only != 'true'
        run: pnpm test:exports
