name: Test

on: [push, pull_request]

jobs:
  test:
    name: Test (${{ matrix.os }} / node ${{ matrix.node }})
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [14, 16, 18]
        experimental: [false]
        # include:
        #   - os: windows-latest
        #     node: 16
        #     experimental: true

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-modules-${{ env.cache-name }}-
            ${{ runner.os }}-modules-
            ${{ runner.os }}-

      - name: Install project dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        env:
          # Keep the Cypress binary in ./node_modules/.cypress
          CYPRESS_CACHE_FOLDER: './node_modules/.cypress'
          CYPRESS_INSTALL_BINARY: '0'
          # PUPPETEER_SKIP_DOWNLOAD: 'true'
        run: yarn install

      - name: Check formatting
        run: yarn check:format

      - name: Check type system
        # If TypeScript project references is set up properly, `tsc --build` should work right after dependencies
        # has been installed, no extra build/compile step required
        id: typeCheckModules
        run: yarn type-check
        env:
          NODE_OPTIONS: --max_old_space_size=8192

      - name: Check for unused/missing dependencies
        id: depcheck
        run: yarn depcheck
        env:
          NODE_OPTIONS: --max_old_space_size=8192

      # (for puppeteer tests)
      - name: Install Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: stable

      - name: Test
        id: test
        run: yarn test

      # Required for import lint rules to work - packages pointing to ex
      # `lib/index.js`, where `src/index.ts` gets compiled to `lib/index.js`
      - name: Build modules
        id: buildResolver
        run: yarn build
        env:
          NODE_OPTIONS: --max_old_space_size=8192

      - name: Test CLI
        working-directory: ${{ env.GITHUB_WORKSPACE }}
        run: |
          node scripts/testCli.js
