name: Unit tests

on:
  # Build on pushes branches that have a PR (including drafts)
  pull_request:
  # Build on commits pushed to branches without a PR if it's in the allowlist
  push:
    branches: [next]

jobs:
  # install:
  #   timeout-minutes: 60
  #   name: Install (${{ matrix.os }} / node ${{ matrix.node }})
  #   runs-on: ${{ matrix.os }}
  #   env:
  #     TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  #     TURBO_TEAM: ${{ vars.TURBO_TEAM }}
  #   continue-on-error: ${{ matrix.experimental }}

  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       os: [ubuntu-latest]
  #       node: [18, 20]
  #       experimental: [false]
  #       # include:
  #       #   - os: windows-latest
  #       #     node: 16
  #       #     experimental: true

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4

  #     - name: Setup node
  #       uses: actions/setup-node@v4
  #       with:
  #         node-version: ${{ matrix.node }}

  #     - name: Cache node modules
  #       id: cache-node-modules
  #       uses: actions/cache@v3
  #       env:
  #         cache-name: cache-node-modules
  #       with:
  #         path: '**/node_modules'
  #         key: ${{ runner.os }}-modules-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
  #         restore-keys: |
  #           ${{ runner.os }}-modules-${{ env.cache-name }}-
  #           ${{ runner.os }}-modules-
  #           ${{ runner.os }}-

  #     - name: Cache build
  #       id: cache-build
  #       uses: actions/cache@v3
  #       env:
  #         cache-name: cache-build
  #       with:
  #         path: './*'
  #         key: ${{ runner.os }}-build-${{ matrix.node }}-${{ env.cache-name }}-${{ github.run_id }}
  #         restore-keys: |
  #           ${{ runner.os }}-build-${{ env.cache-name }}-
  #           ${{ runner.os }}-build-
  #           ${{ runner.os }}-

  #     - name: Install project dependencies
  #       if: steps.cache-node-modules.outputs.cache-hit != 'true'
  #       run: yarn install --frozen-lockfile

  #     - name: Store Playwright's Version
  #       run: |
  #         PLAYWRIGHT_VERSION=$(npx playwright --version | sed 's/Version //')
  #         echo "Playwright's Version: $PLAYWRIGHT_VERSION"
  #         echo "PLAYWRIGHT_VERSION=$PLAYWRIGHT_VERSION" >> $GITHUB_ENV

  #     - name: Cache Playwright Browsers for Playwright's Version
  #       id: cache-playwright-browsers
  #       uses: actions/cache@v3
  #       with:
  #         path: ~/.cache/ms-playwright
  #         key: playwright-browsers-${{ env.PLAYWRIGHT_VERSION }}

  #     - name: Install Playwright Browsers
  #       if: steps.cache-playwright-browsers.outputs.cache-hit != 'true'
  #       run: npx playwright install --with-deps

  #     - name: Build CLI
  #       run: yarn build:cli # Needed for CLI tests

  test:
    timeout-minutes: 60
    name: Test (${{ matrix.os }} / node ${{ matrix.node }})
    runs-on: ${{ matrix.os }}
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    continue-on-error: ${{ matrix.experimental }}
    # needs: [install]

    strategy:
      # we want to know if a test fails on a specific node version
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node: [18, 20]
        experimental: [false]
        # shardIndex: [1, 2, 3, 4]
        # shardTotal: [4]
        # include:
        #   - os: windows-latest
        #     node: 16
        #     experimental: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-modules-${{ env.cache-name }}-
            ${{ runner.os }}-modules-
            ${{ runner.os }}-

      - name: Cache build
        id: cache-build
        uses: actions/cache@v3
        env:
          cache-name: cache-build
        with:
          path: './*'
          key: ${{ runner.os }}-build-${{ matrix.node }}-${{ env.cache-name }}-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install project dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Store Playwright's Version
        run: |
          PLAYWRIGHT_VERSION=$(npx playwright --version | sed 's/Version //')
          echo "Playwright's Version: $PLAYWRIGHT_VERSION"
          echo "PLAYWRIGHT_VERSION=$PLAYWRIGHT_VERSION" >> $GITHUB_ENV

      - name: Cache Playwright Browsers for Playwright's Version
        id: cache-playwright-browsers
        uses: actions/cache@v3
        with:
          path: ~/.cache/ms-playwright
          key: playwright-browsers-${{ env.PLAYWRIGHT_VERSION }}

      - name: Install Playwright Browsers
        if: steps.cache-playwright-browsers.outputs.cache-hit != 'true'
        run: npx playwright install --with-deps

      - name: Build CLI
        run: yarn build:cli # Needed for CLI tests

      - name: Test
        id: test
        run: yarn test:ci
        env:
          SANITY_CI_CLI_AUTH_TOKEN: ${{ secrets.SANITY_CI_CLI_AUTH_TOKEN }}
          GITHUB_SHARD_IDENTIFIER: ${{ matrix.shardIndex }}-${{ matrix.shardTotal }}
