name: Type check
on:
  push:

jobs:
  typeCheck:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Check if only examples files changed
        id: check_examples_only
        uses: ./.github/actions/check-examples-only

      - uses: ./.github/actions/setup
        if: steps.check_examples_only.outputs.examples_only != 'true'
      - name: Check type system
        if: steps.check_examples_only.outputs.examples_only != 'true'
        # Turbo will run type checks on all files in the project
        # and ensure that dependencies are built with @sanity/pkg-utils to output dts
        # used by other packages as they are type checked
        id: typeCheckModules
        run: pnpm check:types --log-prefix=none
        env:
          NODE_OPTIONS: --max_old_space_size=8192
