name: Verify format

on: push

jobs:
  verify_format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          # added -vX just to reset the cache, feel free to up it if you need
          # to reset the cache again
          cache-name: cache-node-modules-v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-

      - name: Install npm dependencies
        env:
          CYPRESS_INSTALL_BINARY: '0'
          PUPPETEER_SKIP_DOWNLOAD: 'true'
        # --ignore-scripts disables postinstall because it's not needed
        # in this CI step and takes a long time
        run: yarn install --ignore-scripts

      - name: Verify format
        run: yarn verify-format

      - name: Notify Slack about build failure
        if: failure() && github.ref == 'refs/heads/ui/main'
        env:
          SLACK_BOT_TOKEN: ${{ secrets.ACTIONS_SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: studio-internal
          status: FAILED
          color: danger
