@import "part:@sanity/base/theme/variables-style";

.input {
  composes: textInput from 'part:@sanity/base/theme/forms/text-input-style';
  width: 100%;
}

.datepicker {
  composes: shadow-6dp from 'part:@sanity/base/theme/shadows-style';
  position: relative;
}

.root {
  position: relative;
}

.rootWithTime {
  composes: root;
}

.deprecationWarning {
  padding: var(--medium-padding);
  border: 3px dashed var(--state-warning-color);

  @nest & > code {
    font-weight: bold;
  }
}
