@import "part:@sanity/base/theme/variables-style";

.root {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  border-radius: 50%;
  background-size: 100%;
  background-color: var(--text-color);
  border: calc(1em / 16) solid transparent;
  transition: transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 100ms ease;
  cursor: default;
  user-select: none;
}

.root.hoverAnimation:hover {
  box-shadow: 1px 1px 10px #00000033;
  transform: scale(1.7);
}

.initials {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--brand-primary--inverted);
  font-size: var(--font-size-tiny);
}
