.root {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-size: 100%;
  transition: 0.1s linear transform;

  @nest &:hover {
    transform: scale(2);
  }
}

.root + .root {
  margin-left: 0.5em;
}
