@import 'part:@sanity/base/theme/variables-style';

.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 0.5em;

  @media (--screen-medium) {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 1em;
  }
}

.loadMore {
  margin: var(--medium-padding) 0 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--small-padding);

  @nest &:empty {
    display: none;
  }
}

.noAssets {
  composes: absoluteCenter from 'part:@sanity/base/theme/layout/positioning-style';
  font-size: var(--font-size-large);
}
