@import 'part:@sanity/base/theme/shadows-style';
@import 'part:@sanity/base/theme/variables-style';

.root {
  border: var(--input-border-size) solid var(--input-border-color);
  outline: none;
  border-radius: var(--input-border-radius);
  color: var(--input-color);
  background-color: var(--input-bg);
  box-shadow: var(--input-box-shadow);
  display: flex;
  padding: 0;
  position: relative;
  overflow: hidden;

  @nest & > div {
    flex-grow: 1;
  }

  @nest &:hover {
    box-shadow: var(--input-box-shadow--hover);
    border-color: var(--input-border-color-hover);
  }

  @nest &:active {
    border-color: var(--input-border-color-active);
  }

  @nest &:focus, &:focus-within {
    box-shadow: var(--input-box-shadow-thin--focus);
    background-color: var(--input-bg-focus);
    border-color: var(--input-border-color-focus);

    @nest &:invalid {
      box-shadow: var(--input-box-shadow--invalid-focus);
    }
  }

  @nest &:not(:focus):not(:focus-within):invalid {
    border-color: var(--input-border-color-invalid);
  }

  @nest &:invalid {
    background-color: var(--input-bg-invalid);
    box-shadow: var(--input-box-shadow--invalid);
  }

  @nest & :global(.react-datepicker-wrapper) {
    position: relative;
    display: block;
    width: 100%;
  }

  @nest & :global(.react-datepicker__input-container) {
    width: 100%;
    display: block;
  }
}

.rootInvalid {
  composes: root;
  border-color: var(--input-border-color-invalid);
  background-color: var(--input-bg-invalid);
  box-shadow: var(--input-box-shadow--invalid);

  @nest &:focus, &:focus-within {
    box-shadow: var(--input-box-shadow--invalid-focus) !important;
  }
}

.inputWrapper {
  width: 100%;
  position: relative;
}

.buttonWrapper {
  margin: -1px -1px -1px 0;
}

.input {
  -webkit-font-smoothing: inherit;
  appearance: none;
  font: inherit;
  line-height: var(--input-line-height);
  box-sizing: border-box;
  padding: calc(var(--input-padding-horizontal) - var(--input-border-size) - 2px)
    calc(var(--input-padding-vertical) - var(--input-border-size))
    calc(var(--input-padding-horizontal) - var(--input-border-size) - 1px);
  width: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;

  @nest &::placeholder {
    color: var(--input-color-placeholder);
  }

  @nest &:disabled {
    color: var(--input-color-disabled);
  }
}

.portal {
  composes: frosted from 'part:@sanity/base/theme/layout/backgrounds-style';
  z-index: var(--zindex-portal);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.portalClosed {
  display: none;
}

.popper {
  background-color: transparent;

  @nest &[data-placement^='bottom'] :global(.react-datepicker__triangle) {
    border-bottom-color: var(--main-navigation-color) !important;

    @nest &::before {
      display: none;
    }
  }
}

.datepicker {
  composes: shadow-12dp from 'part:@sanity/base/theme/shadows-style';
  font-family: var(--font-family-base);
  border: 0;

  @nest & :global(.react-datepicker__current-month) {
    display: none;
  }

  @nest & :global(.react-datepicker__header) {
    background-color: transparent;
    color: var(--main-navigation-color);
    border: 0;
    border-top-right-radius: 0 !important;
  }

  @nest & :global(.react-datepicker__navigation) {
    border: 1px solid var(--gray);
    transform: rotate(45deg);
    height: 8px;
    width: 8px;
    margin-top: 8px;
  }
  
  @nest & :global(.react-datepicker__navigation--previous) {
    border-width: 0 0 1px 1px;
    margin-left: 4px;
  }
  
  @nest & :global(.react-datepicker__navigation--next) {
    border-width: 1px 1px 0 0;
    margin-right: 4px;
  }
  
  @nest & :global(.react-datepicker__month-select) {
    font-weight: 600;
  }
  
  @nest & :global(.react-datepicker__year-select) {
    font-weight: 600;
  }

  @nest & :global(.react-datepicker__day-names) {
    border-bottom: 1px solid var(--hairline-color);
    font-weight: 600;
  }

  @nest & :global(.react-datepicker__day--selected) {
    border-radius: 50%;
  }

  @nest & :global(.react-datepicker__day--keyboard-selected) {
    border-radius: 50%;
    background: var(--brand-primary);
  }
  
  @nest & :global(.react-datepicker__day:hover) {
    border-radius: 50%;
  }

  @nest & :global(.react-datepicker__today-button) {
    background: transparent;
    border-top: 1px solid var(--hairline-color);
  }
    
  @nest & :global(.react-datepicker-time__header) {
    color: var(--main-navigation-color);
    background: transparent;
    font-size: 0.8rem;
  }

  @nest & :global(.react-datepicker__time-container) {
    border-color: var(--gray-lighter);
    border-radius: 6px;
    overflow: hidden;
  }
  @nest & :global(.react-datepicker__time-list-item--selected) {
    background: var(--brand-primary) !important;
  }

  @nest & :global(.react-datepicker__header--time), & :global(.react-datepicker__time-container) {
    background-color: var(--main-navigation-color--inverted);
  }

  @nest & :global(.react-datepicker__header--time) {
    border-bottom:  1px solid var(--hairline-color);
    background: transparent;
  }

  @nest & :global(.react-datepicker__day-name) {
    color: var(--main-navigation-color);
  }

  @nest & :global(.react-datepicker__day--selected) {
    background-color: var(--selected-item-color);
    color: var(--selected-item-color--inverted);
  }

  @nest & :global(li.react-datepicker__time-list-item) {
    height: 2em !important;
    line-height: 2em !important;
  }

  @nest & :global(.react-datepicker__month-dropdown-container),
    & :global(.react-datepicker__year-dropdown-container) {
    position: relative;

    @nest &::before {
      z-index: 2;
      content: '';
      position: absolute;
      height: 2em;
      width: 2em;
      top: 2px;
      right: 2px;
      color: var(--input-color);
      background-color: var(--input-bg);
      transform: scale(0.8);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z' fill='currentColor' /%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
      pointer-events: none;
    }
  }

  @nest & :global(.react-datepicker__month-select), & :global(.react-datepicker__year-select) {
    position: relative;
    appearance: none;
    padding: 0.5em;
    padding-right: 2.5em;
    border: var(--input-border-size) solid var(--input-border-color);
    display: block;
    outline: none;
    font-size: inherit;
    box-sizing: border-box;
    border-radius: var(--input-border-radius);
    color: var(--input-color);
    background-color: var(--input-bg);

    @nest &:hover {
      border-color: var(--input-border-color-hover);
    }

    @nest &:focus {
      border-color: var(--input-border-color-focus);
    }
  }
}

.deprecationWarning {
  padding: var(--medium-padding);
  border: 3px dashed var(--state-warning-color);

  @nest & > code {
    font-weight: bold;
  }
}
