@import "part:@sanity/base/theme/shadows-style";
@import "part:@sanity/base/theme/variables-style";

.selectButton {
  font-size: 0.75rem;

  @nest & > span {
    padding: 0.5em !important;
  }
}

.root {
  composes: root from 'part:@sanity/base/theme/forms/text-input-style';
  width: 100%;
  display: flex;
  align-items: stretch;
  opacity: 1 !important;
  padding: 0;
  justify-content: space-between;

  @nest & > div {
    flex-grow: 1;
  }

  /* from text-input in base */
  @nest &:hover {
    box-shadow: var(--input-box-shadow--hover);
    border-color: var(--input-border-color-hover);
  }

  @nest &:focus, &:focus-within {
    box-shadow: var(--input-box-shadow--focus);
  }

  @nest &:active {
    border-color: var(--input-border-color-active);
  }

  @nest & :global(.react-datepicker-wrapper) {
    position: relative;
    display: block;
    width: 100%;
  }

  @nest & :global(.react-datepicker__input-container) {
    width: 100%;
    display: block;
  }
}

.rootInvalid {
  composes: root;
  border-color: var(--input-border-color-invalid);
  background-color: var(--input-bg-invalid);
  box-shadow: var(--input-box-shadow--invalid);

  @nest &:focus, &:focus-within {
    box-shadow: var(--input-box-shadow--invalid-focus) !important;
  }
}

.inputWrapper {
  width: 100%;
}

.buttonWrapper {
  margin-left: auto;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
  padding: 0.7em;
}

.popper {
  background-color: transparent;
  z-index: var(--zindex-portal);

  @nest &[data-placement^="bottom"] :global(.react-datepicker__triangle) {
    border-bottom-color: var(--main-navigation-color) !important;

    @nest &::before {
      display: none;
    }
  }
}

.datepicker {
  composes: shadow-16dp from 'part:@sanity/base/theme/shadows-style';
  /* border-radius: var(--react-datepicker-border-radius); */
  font-family: var(--font-family-sans-serif);
  border: 0;

  @nest & :global(.react-datepicker__current-month) {
    color: var(--main-navigation-color--inverted);
  }

  @nest & :global(.react-datepicker__header) {
    background-color: var(--main-navigation-color);
    color: var(--main-navigation-color--inverted);
    border: 0;
    border-top-right-radius: 0 !important;
  }

  @nest & :global(.react-datepicker-time__header) {
    color: var(--main-navigation-color--inverted);
    border: 0;
  }

  @nest & :global(.react-datepicker__time-container) {
    border-color: color(var(--main-navigation-color) a(50%));
  }

  @nest & :global(.react-datepicker__header--time) {
    border-top-left-radius: 0 !important;
  }

  @nest & :global(.react-datepicker__day-name) {
    color: var(--main-navigation-color--inverted);
  }

  @nest & :global(.react-datepicker__day--selected) {
    background-color: var(--selected-item-color);
    color: var(--selected-item-color--inverted);
  }

  @nest
  & :global(.react-datepicker__month-dropdown-container),
  & :global(.react-datepicker__year-dropdown-container) {
    position: relative;

    @nest &::before {
      z-index: 2;
      content: '';
      position: absolute;
      height: 2em;
      width: 2em;
      top: 2px;
      right: 2px;
      color: var(--input-color);
      transform: scale(0.8);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z' fill='#fff' /%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
      pointer-events: none;
    }
  }

  @nest
  & :global(.react-datepicker__month-select),
  & :global(.react-datepicker__year-select) {
    position: relative;
    appearance: none;
    padding: 0.5em;
    padding-right: 2.5em;
    border: var(--input-border-size) solid var(--input-border-color);
    display: block;
    outline: none;
    font-size: inherit;
    box-sizing: border-box;
    border-radius: var(--input-border-radius);
    color: var(--input-color);
    background-color: var(--input-bg);

    @nest &:hover {
      border-color: var(--input-border-color-hover);
    }

    @nest &:focus {
      border-color: var(--input-border-color-focus);
    }
  }
}

.deprecationWarning {
  padding: var(--medium-padding);
  border: 3px dashed var(--state-warning-color);

  @nest & > code {
    font-weight: bold;
  }
}
