@import 'part:@sanity/base/theme/variables-style';

:root {
  --react-datepicker-border-color: var(--gray-light);
  --react-datepicker-background-color: var(--component-bg);
  --react-datepicker-selected-color: var(--brand-primary);
  --react-datepicker-muted-color: var(--gray-light);
  --react-datepicker-text-color: var(--black);
  --react-datepicker-header-background-color: var(--brand-primary);
  --react-datepicker-header-text-color: var(--white);
  --react-datepicker-border-radius: var(--border-radius-large);
  --react-datepicker-padding: 3px;
  --react-datepicker-item-size: 16px;
  --react-datepicker-day-margin: 2px;
  --react-datepicker-triangle-size: 8px;
  --react-datepicker-datepicker__margin: 5px;
  --react-datepicker-navigation-size: 6px;
}
