@import 'part:@sanity/base/theme/variables-style';

.root {
  display: grid;
  box-sizing: border-box;
  /* prettier-ignore */
  grid-template-areas:  'hamburger   createButton branding       sidecarStatus presence    searchButton';
  /* prettier-ignore */
  grid-template-columns: min-content min-content  minmax(0, 1fr) min-content   min-content min-content;

  @media (--screen-medium) {
    /* prettier-ignore */
    grid-template-areas:  'hamburger   branding    createButton search              presence    sidecarStatus extras';
    /* prettier-ignore */
    grid-template-columns: max-content max-content min-content  minmax(240px, 100%) max-content min-content   max-content;

    @nest &.withToolSwitcher {
      /* prettier-ignore */
      grid-template-areas:  'branding    datasetSelect createButton search                toolSwitcher extras      sanityStatus presence    sidecarStatus loginStatus';
      /* prettier-ignore */
      grid-template-columns: max-content max-content   min-content  minmax(240px, 400px)  auto         max-content max-content  max-content min-content   min-content;
    }
  }
}

.branding {
  grid-area: branding;
  padding: 4px;
}

.brandingLink {
  text-decoration: none;
  color: inherit;
  outline: none;
  border-radius: 4px;

  @nest &:focus {
    background-color: color(var(--focus-color) a(20%));
  }
}

.hamburger {
  grid-area: hamburger;
  padding: 4px;

  @media (--screen-medium) {
    @nest .withToolSwitcher & {
      display: none;
    }
  }
}

.datasetSelect {
  display: none;
  grid-area: datasetSelect;
  font-size: calc(13 / 16 * 1em);
  padding: var(--small-padding);
  box-sizing: border-box;

  @media (--screen-medium) {
    @nest .withToolSwitcher & {
      display: flex;
    }
  }
}

.toolSwitcher {
  display: none;
  grid-area: toolSwitcher;
  padding: 4px;

  @media (--screen-medium) {
    @nest .withToolSwitcher & {
      display: flex;
    }
  }
}

.sanityStatus {
  grid-area: sanityStatus;
  display: none;
  padding: 4px;

  @media (--screen-medium) {
    @nest .withToolSwitcher & {
      display: block;
    }
  }
}

.presenceStatus {
  grid-area: presence;
  padding: 4px;
}

.loginStatus {
  grid-area: loginStatus;
  display: none;
  padding: 4px;

  @media (--screen-medium) {
    @nest .withToolSwitcher & {
      display: block;
    }
  }
}

.sidecarStatus {
  grid-area: sidecarStatus;
}

.extras {
  grid-area: extras;
  display: none;

  @media (--screen-medium) {
    display: block;
  }
}

.search {
  grid-area: search;

  @media (--max-screen-medium) {
    position: absolute;
    z-index: var(--zindex-drawer);
    width: 100%;

    @nest & > div {
      display: none;
      background: var(--body-bg);
      color: var(--gray-base);
    }

    @nest &.searchIsOpen > div {
      display: block;
    }
  }

  @media (--screen-medium) {
    position: relative;
    padding: var(--small-padding);

    @nest &.searchIsOpen {
      z-index: var(--zindex-drawer);
    }
  }
}

.createButton {
  grid-area: createButton;
  padding: 4px;
}

.createButtonInner {
  display: flex;
  align-items: center;
  text-align: center;
  padding: calc(var(--medium-padding) - var(--extra-small-padding));
}

.createButtonIcon {
  display: inline-block;
  font-size: calc(25 / 16 * 1em);
  line-height: 1;

  @nest & > svg {
    display: block;
  }

  @media (--screen-medium) {
    display: block;
  }
}

.createButtonText {
  display: none;
  font-size: 1em;
}

.createButtonTooltipContent {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  white-space: nowrap;
  display: block;
  padding: calc(var(--small-padding) - 2px) var(--small-padding);
}

.searchButton {
  grid-area: searchButton;
  padding: 4px;

  @media (--screen-medium) {
    display: none;
  }
}
