@import 'part:@sanity/base/theme/variables-style';

.parentWrapper {
  height: 100%;

  @nest & > * + * {
    margin-top: var(--medium-padding);
  }
}

.container {
  composes: container from 'part:@sanity/dashboard/widget-styles';
}

.header {
  composes: header from 'part:@sanity/dashboard/widget-styles';
}

.title {
  composes: title from 'part:@sanity/dashboard/widget-styles';
}

.apiError {
  color: var(--state-danger-color);
}

.table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  word-break: break-word;

  @nest & .sectionHeaderRow + tr {
    @nest & td, & th {
      padding-top: var(--small-padding);
    }
  }

  @nest & tr:last-child {
    @nest & td, & th {
      padding-bottom: var(--small-padding);
    }
  }

  @nest & td, & th {
    min-width: 5em;
    padding: calc(var(--small-padding) / 2) var(--small-padding);
  }

  @nest & td:first-child, & th:first-child {
    padding-left: var(--medium-padding);
  }

  @nest & td:last-child, & th:last-child {
    padding-right: var(--medium-padding);
  }

  @nest & td {
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-small);
  }

  @nest & a {
    color: var(--default-button-primary-color);
    text-decoration: inherit;

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }
  }
}

.rowTitle {
  font-weight: 500;
}

.sectionHeaderRow {
  @nest & > th {
    text-align: left;
    text-transform: uppercase;
    padding: var(--small-padding) var(--medium-padding);
    font-size: var(--font-size-xsmall);
    font-weight: 300;
    letter-spacing: 0.5px;
    color: var(--text-color-secondary);
    width: 100%;

    /* TODO: figure out why this won't work, then remove hard-coded color: */
    /* border-bottom: 1px solid var(--hairline-color); */
    border-bottom: 1px solid #e7e7e7;

    @nest .table > tbody:first-child & {
      padding-top: 0;
    }
  }
}

.footer {
  composes: footer from 'part:@sanity/dashboard/widget-styles';
  border-top: 1px solid var(--hairline-color);
}
