@import 'part:@sanity/base/theme/variables-style';

.missingInput {
  composes: root from 'part:@sanity/components/fieldsets/default-style';
  padding: var(--medium-padding);
  border: 5px dashed var(--brand-warning);

  @nest & > h3 {
    color: var(--brand-warning);
  }
}
